/*
    1 - Defaults
    2 - input container
    3 - form subtitle
    4 - form row
*/

//[1] - defaults
    label {
        display: inline-block;
        @include rem(18);
        display: block;
        margin-bottom: $space/4;
    }


    input[type="text"],
    input[type="mail"],
    textarea,
    input[type="password"],
    input[type="search"]{
        -webkit-appearance: none;
    }


    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="number"],
    input[type="search"],
    textarea,
    .input
    {
        display:block;
        padding:0  $space/1.5;
        //border: 1px solid darken($dviderColor,5%);
        color: $inputPLC;
        height: 44px;
        line-height: 44px;
        box-sizing: border-box;
        width:100%;
        max-width:100%;
        font-family: $bodyFont;
        margin-bottom: 15px;
        @include placeholder(#bdbdbd);
        @include rem(16);
        border-radius:10px;
        font-weight: 100;
        transition: 0.2s;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #bdbdbd;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #bdbdbd;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #bdbdbd;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #bdbdbd;
          }
        &:focus{
            outline: none;
            //border: 1px solid lighten($primaryColor,10%);
            background: $offWhite;
            color: $bk;
        }
    }
    textarea{
        height: auto;
        min-height: 4*$space;
        max-width: 100%;
    }
//[2] - input container
    .input-container{
        position: relative;
        &--required &:after{
            content:"*";
            position: absolute;
            top: 0;
            bottom: 0;
            left:-5px;
            color:$midGry;
            @include rem(25);
        }

        &__tip{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            bottom:0;
            margin: auto;
            left:15px;
            color:$secondaryText;
            input:focus + &{
                color:$primaryColor;
            }
        
        }
        svg.input-container__tip{
            width: 15px;
            height: 15px;
        }
    }
// [3] - checkbox 
    .input-checkbox{
        position: relative;
        flex-basis: 25px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        &__input{
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
            height:100%;
            z-index: 1;
            cursor: pointer;
        }
        &__preview{
            background:$wh;
            border:2px solid $dviderColor;
            width:100%;
            height:100%;
            border-radius: 50%;
            display: block;
            &:after{
                transition:0.2s;
                content:"";
                display: block;
                height:9px;
                width: 4px;
                border-right: 1px solid $primaryText;
                border-bottom: 1px solid $primaryText;
                transition:0.2s;
                transform:translateY(-2px) rotate(45deg) scale(0);
                opacity: 0;
                position: absolute;
                @include absoluteCenter();
            }
        }
       
        &__input:checked + &__preview{

            background:$primaryColor;
            border-color:$primaryColor;
        }
        &__input:checked + &__preview:after{
            border-right: 2px solid $wh;
            border-bottom: 2px solid $wh;
            transform:translateY(-2px) rotate(45deg) scale(1);
            opacity: 1;
            
        }
        &--radio &__preview:after{
            border:none;
            width: 9px;
            height: 9px;
            border-radius: 50%;
        }
        &--radio &__input:checked + &--radio &__preview{
            background: $wh;
        }
        &--radio &__input:checked + &--radio &__preview:after{
            background: $primaryColor;
        }


        &_-row{// _-_ => optional parent
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }
        &_-_label{ // _-_ => optional sibling
            flex-grow: 1;
            padding-right:10px;
            text-align:left;
            margin-bottom: 0;
            @include rem(15);
            font-family:$titleFont;
        }
    } 
//[3] - form subtitle
    .form-subtitle{
        font-weight:400;
        @include rem(16);
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        &__text{
            flex-grow: 1;
        }
        &__icon{
            height: 34px;
            margin-left:10px;
            fill:$primaryColor;
        }
    }

//[3] - form row
    .form-row{
        display: flex;
        & > *{
            flex-grow: 1;
            & + & {
                margin-right:20px;
            }   
        }
    }
