
.all-competitions{

    &__title{
        font-size: 17px;
        font-weight: 600;
        margin-top: 20px;
    }
}
.competition-card{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &:hover{

        .competition-card__name{
            color: $primaryColor;
        }
        .competition-card__logo{
            transform: scale(1.1);
        }
    }

    &__logo{

        transition: .3s;
        margin: 15px auto;
        img{
            // width: 50px;
            height: 50px;
        }
    }
    &__name{
        font-weight: 600;
        transition: .3s;
        // font-size: 17px;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    }
    &__date{
        width: 100%;
        font-size: 10px;
        margin-top: 15px;
        height: 28px;
    }
    &__start{
        color: #444444;
        
    }
    &__end{
        
        color: #8f8f8f;

    }
    &__progress{
        margin-top: 5px;
        position: relative;
        width: 100%;
        height: 3px;
        background: #eee;
    }
    &__progress-value{
        position: absolute;
        top: 0px;
        height: 100%;
        right: 0px;
        background: $yellow3;


    }
}