footer{
    // top: 100%;
    // position: absolute;
    // width: 100%;
    // left: 0px;
    // right: 0px;
}
.footer{
    margin: 50px auto;
    &__body{
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1024px;
        margin: auto;
        @include mediaMin(1400px){
            max-width: 1180px;
        }
        @include mediaMin(1700px){
            max-width: 1280px;
        }
        @include mediaMin(1024px){
            padding: 10px 20px 30px 20px;
        }
        @include mediaMax(1024px){
            padding: 10px 20px 30px 20px;
        }
        


    }
    &__top{
        padding-bottom: 15px;
        border-bottom: 2px solid #eee;
        margin-bottom: 15px;

    }
    &__col{

    }
    &__col-head{
        padding: 15px ;
        position: relative;
        margin-bottom: 20px;
        &::after{
            content: '';
            position: absolute;
            height: 2px;
            right: 15px;
            top: 100%;
            background: #eee;
            width: 70%;
            @include mediaMax(992px){
                width: 100%;
            }
            @include mediaMax(1024px){
                width: 100%;
                right: 0px;
            }
            
        }
        h6{
            font-size: 16px;
            line-height: 25px;
        }
    }
    &__item{
        margin-bottom: 5px;
        @include mediaMax(1024px){
           font-size: 12px;
        }
        
        a{
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 5px 15px;
            transition: .2s;
            border-radius: 5px;
            width: fit-content;
            &:hover{
                
                    color: $primaryColor;
                    // background: $grad;
                    
                
                
            }
            @include mediaMax(1024px){
                padding: 5px;
            }

            .icon{
                margin-left: 10px;
                
                display: flex;
                align-items: center;
                justify-content: center;
                svg{
                    height: 15px;
                    width: 15px;
                    
                }
                .facebook{
    
                }
                .twitter{
    
                }
                .instagram{
    
                }
                .snapchat{
    
                }
                .youtube{
    
                }
    
    
            }
        }
        
        span{

        }
    }

    &__bottom{
        display: flex;
        @include mediaMax(1024px){
            position: relative;
            padding-bottom: 20px;
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 125px;
        padding-left: 20px;
        border-left: 2px solid #eee;
        margin-left: 10px;
        @include mediaMax(1024px){
            position: absolute;
            bottom: -12px;
            width: 95px;
        }
        img{

        }

    }
    &__terms{
        display: flex;
        .footer__item{
            margin: 0px;
        }
        @include mediaMax(1024px){
            width: 100%;
            justify-content: space-between;
        }
    }
    &__rights{

        @include mediaMax(1024px){
            position: absolute;
            white-space: nowrap;
            bottom: -13px;
            font-size: 12px;
            right: 115px;
        }
    }
}