.formation-side{


    &__head{
        position: relative;
        padding: 10px 15px;
        display: flex;
        font-weight: 600;
        @include mediaMax(767px){
            font-size: 12px;
        }
    }
    &__switch{
        padding: 15px;
        display: flex;
        justify-content: center;

    }
    &__switch-tab{
        display: flex;
        padding: 3px 7px;
        align-items: center;
        justify-content: center;
        background: #e9e9e9;
        width: 50%;
        transition: .3s;
        cursor: pointer;
        
        &:first-of-type{
            border-radius: 0px 5px 5px 0px;
        }
        &:last-of-type{
            border-radius:  5px 0px 0px 5px ;
        }
        &.active{
            background: $yellow3;
            cursor: text;
        }
    }
    &__switch-logo{
        width: 20px;
        height: 20px;
        margin-left: 5px;
        min-width: 20px;

        img{

        }
    }
    &__switch-name{
        width: 90px;
        max-width: 90px;
        min-width: 90px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 11px;
        text-align: center;
    }
    &__player{
        display: flex;
        padding: 15px;
        border-top: 1px solid #eee;
        align-items: center;
        font-size: 13px;
        transition: .3s;
        background: #fff;
        
        &:hover{

            color: $primaryColor;

        }
    }
    &__player-img{
        height: 40px;
        width: 40px;
        border: 1px solid $primaryColor;
        border-radius: 50%;
        overflow: hidden;
    }
    &__player-num{
        margin: 0px 10px;
        font-weight: 600;
    }
    &__player-name{

    }
    &__icon{

        svg{
            height: 20px;
            width: 20px;
        }
    }
    
    &--match &__switch{

        max-width: 295px;
        margin: auto;
        // margin-top: 30px;
    }
    .side-switch{
        position: absolute;
        top: 0px;
        width: 100%;
        background: #f2f2f2;
        transition: 0.0s;
        visibility: hidden;
       
        transform: translateY(50px);
        opacity: 0;

        &.active{
            position: relative;
            
            transition: .5s ease;
            
            transform: translateY(0px);
            opacity: 1;
            visibility: visible;
        }
    }
    
}