.header{
        position: fixed;
        top: 0px;
        box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.04);
        background: #fff;
        width: 100%;
        height: 75px;
        z-index: 9999;
        @include mediaMax(1024px){
            background: $primaryColor;
            height: 55px;
        }

    &__body{
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        @include mediaMax(1024px){

        }
    }
    &__burger{
        display: none;
        span{
            width: 15px;
            height: 2px;
            position: relative;
            background: $wh;
            
            transition: .3s;
            &::after{
                content: "";
                width: 25px;
                position: absolute;
                top: -10px;
                height: 2px;
                background: $wh;
                transition: .2s;
          
            }
            &::before{
                content: "";
                width: 25px;
                position: absolute;
                bottom: -10px;
                height: 2px;
                background: $wh;
                border-radius: 5px;
                transition: .2s;
            }
            
            }

        @include mediaMax (1024px){
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0px;
            bottom: 0px;
            margin: auto;
            right: 15px;
        }
        &.active{
            span{
                background: transparent;
                width: 0px;
                &::before{
                    transform: rotate(45deg);
                    bottom: 0px;
                    right: 0px;
                    width: 25px;
                    

                }
                &::after{
                    transform: rotate(-45deg);
                    top: 0px;
                    right: 0px;
                    width: 25px;
                    
                }
            }
            
        }
    }
    &__logo{
        background: linear-gradient(to left, #24A557, #24A557);
        padding: 10px 35px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        &:hover{
            background: $grad;
           
        }
        img{
            height: 35px;
        }
        @include mediaMax(1024px){
            position: absolute;
            left: 0px;
            right: 0px;
            margin: auto;
            width: fit-content;
            padding: 10px;
            img{
                height: 28px;
            }
            &:hover{
                background: linear-gradient(to left, #24A557, #24A557);
               
            }
        }
    }
    &__nav{
        display: flex;
        align-items: center;
        margin-right: 50px;
        transition: .3s;
        height: 100%;
        @include mediaMax(1024px){
            position: absolute;
            right: -105%;
            flex-direction: column;
            margin: 0px;
            padding: 10px 15px;
            // top: 100%;
            top: 0px;
            // width: 70%;
            width: 100%;
            background: #fff;
            box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.04);
            // height: calc(100vh - 65px);
            align-items: baseline;
            height: 100vh;
            padding: 0;
            &.active{
                // position: fixed;
                // top: 0px;
                right: 0px;
                overflow: auto;
            }
            &::-webkit-scrollbar{
                width: 0px;
                height: 0px;
              }
        }
    }
    &__mobile-close{
        display: none;
        margin: 15px;
        @include mediaMax(1024px){
            display: block;
        }
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            // padding: 5px;
            overflow: hidden;
            // border: 2px solid $primaryColor;
            // border-radius: 7px;
            width: 30px;
            height: 30px;
            svg{
                fill: $primaryColor;
                height: 24px;
                width: 24px;
            }
        }
    }
    &__link{
       font-family: $boldFont;
        margin-left: 50px;
       
        a{
            transition: .2s;
            .icon-home{
                fill: $primaryColor;
            }
            .icon-news{
                fill: url(#linear-gradient);
            }
            .icon-videos{
                fill: $red;
            }
            .icon-competitions{

            }
            .icon-matches{
                fill: $primaryColor;
            }
            
            &.active{

                color: $primaryColor;
                
                
            }
            @include mediaMax(1024px){
                width: 100%;
                border: 1px solid #eee;
                border-radius: 5px;
                display: inline-block;
                padding: 10px;
                color: $gry;
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;
                &.active{

                    background-color: $primaryColor;
                    color: white;
                    svg{
                
                        fill: $wh;
                        
                    }
                }
            }
           
        }
         
        &:hover{

            &>a{
                color: $primaryColor;
            }
            @include mediaMax(1024px){
                &>a{
                    color: $primaryColor;
                }
            }
            
        }

        @include mediaMax(1024px){
            padding: 0px 15px;
            margin: 0px;
            margin-top: 15px;
            width: 100%
        }
    }

    &__more-links{
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        @include mediaMax(1024px){
            height: auto;
            // flex-grow: 1;
        }
        span{
            display: flex;
            @include mediaMax(1024px){
                width: 100%;
                border: 1px solid #eee;
                border-radius: 5px;
                display: inline-block;
                padding: 10px;
                color: $gry;
                transition: .3s;
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;
                .icon-more{
                    fill: $primaryColor;
                }
                &.active{

                    background-color: $primaryColor;
                    color: white;
                    svg{
                        fill: #fff;
                    }
                }
            }
            
            svg{
                width: 15px;
                margin-right: 5px;
                position: relative;
                top: 2px;
                transition: .3s;
                @include mediaMax(1024px){
                    // display: none;
                }
            }
            
            
        }
        &:hover{
            @include mediaMin(1025px){
                span{
                    color: $primaryColor;
                    svg{
                        fill: $primaryColor;
                    }
                }
            }
            .header__megamenu{
                @include mediaMin(1025px){
                    display: flex;
                }
            }
        }
        .arrow{
            position: absolute;
            left: 25px;
            display: none;
            
            svg{
                width: 12px;
                height: 12px;
                fill: $gry;
                transition: 0.3s;
                transform: rotate(-90deg);

            }
            
            @include mediaMax(1024px){
                display: initial;
            }
            
        }
        &.active{
            @include mediaMax(1024px){
                span{
                    background-color: #17A654;
                    color: white;
                }
            }
                
            svg{
                
                fill: $wh;
                
            }
            .icon-arrow{
                fill: $wh;
                transform: rotate(90deg);
            }
            // .icon-more{
            //     fill: $wh;
            // }
        }
        
        // font-family: $boldFont;
        // padding: 10px 15px;
        // a{

        // }
        // @include mediaMax(1024px){
        //     padding: 10px 15px;
        //     margin: 0px;
        // }
    }
    &__section-icon{
        display: none;
        @include mediaMax(1024px){
            display: flex ;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
        }
        svg{
            width: 22px;
            height: 22px;
        }

    }
    &__megamenu{
        display: none;
        background: $wh;
        // position: absolute;
        position: fixed;
        width: 100%;
        min-height: 150px;
        // top: 100%;
        top: 75px;
        right: 0;
        // max-width: calc(100% - 180px);
        // max-width: 1025px;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        box-shadow: 0px 2px 1px 2px rgba(0,0,0,0.04);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 15px;
        
        @include mediaMax(1024px){
            display: flex;
            min-height: unset;
            // max-width: none;
            // top: 0;
            // width: calc(100% - 150px);
            // right: auto;
            box-shadow: none;
            // border-left: 1px solid #eee;
            padding: 0;
            width: 100%;
            left: auto;
            border-left: 0;
            position: absolute;
            height: 0px;
            // background: #F9F9F9;
            overflow: hidden;
            width: 100%;
            top: 100%;
            transition: .3s;
        }
        &.active{
            @include mediaMax(1024px){
                display: flex;
                height: calc(100vh - 55px);
                height: 760px;
                overflow: visible;
                z-index: 1;
                background: #fff;
            }
            
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        width: 150px;
        @include mediaMax(1024px){
            display: none;
        }
        a{
            display: flex;
            padding: 10px;
            color: $bk;
            border-radius: 3px;
            font-family: $titleFont;
            &.active{
                background: $primaryColor;
                color: $wh;
                &:hover{
                    color: $wh;
                }
            }
            &:hover{
                color: $primaryColor;
            }
        }
    }
    &__wrap{
        background: #F9F9F9;
        display: inline-flex;
        flex-grow: 1;
        flex-basis: 0;
        margin-right: 15px;
        border-radius: 3px;
        padding: 20px;
        @include mediaMax(1024px){
            margin-right: 0;
            background: transparent;
        }
        @include mediaMax(1023px){
            flex-direction: column;
        }
    }
    &__column{
        flex-basis: 0;
        flex-grow: 1;
        @include mediaMax(1023px){
            &:last-of-type{
                margin-top: 15px;
                border-top: 1px solid #eee;
                padding-top: 15px;
            }
        }
        
        &-title{
            margin-bottom: 30px;
        }
        &-box{
            display: flex;
            flex-wrap: wrap;
            @include mediaMax(767px){
                flex-direction: column;
                padding-bottom: 15px;
            }
            
            .img-beside-text{
                margin-bottom: 20px;
                // margin-left: 15px;
                flex-basis: 0;
                flex-grow: 1;
                max-width: 50%;
                min-width: 50%;
                @include mediaMax(767px){
                    max-width: 100%;
                    min-width: 100%;
                }
                p{
                    font-weight: 100;
                    font-size: 13px;
                    font-family: $titleFont;
                    max-width: 25ch;
                }
                a{
                    border: none;
                }
            }
            .all{
                color: $primaryColor;
                font-size: 12px;
            }
        }
    }
    &__follow{
        display: none ;
        margin-top: 25px;
        width: 100%;
        @include mediaMax(1024px){
            display: flex ;
        }
        p{
            font-size: 13px;
            font-weight: 600;
            margin-right: 15px;
            white-space: nowrap;

        }
       


    }
    &__follow-icons{
        flex-grow: 1;
        justify-content: space-evenly;
    }
    &__follow-link{
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            height: 20px;
            width: 20px;
        }

    }
    &__search{
        margin-right: auto;
        box-shadow: 1px -1px 2px 2px rgba(0,0,0,0.04);
        
        height: 100%;
        background: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 18px;
        transition: .5s;
        min-width: 90px;

        position: relative;
        @include mediaMax(340px){
            padding: 15px 5px 15px 10px;
        }
        .icon{
            // background: #eee;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            // width: 100%;
        
            svg{
                width: 22px;
                height: 22px;
                fill: $primaryColor;
            }
            .search-icon{

            }
            .close-icon{
                display: none;
            }
            
        }
        .enter-search{
            width: 35px;
            display: flex;
            height: 30px;
            align-items: center;
            justify-content: center;
            margin-left: -10px;

            svg{
                width: 15px;
                height: 15px;
                fill:lightgray ;
                transform: translateX(-50px);
                cursor: pointer;
                transition: .3s;
                
            }  
            &:hover{
                svg{
                    fill: #000;
                }
            } 
        }
        @include mediaMax (1024px){
            z-index: 1;
            box-shadow: none;
            min-width: unset;
            background: #fff;
            padding-right: 60px;
            .icon{
                // background: #fff;
                padding: 0px;
                width: 30px;
                    svg{
                        
                        width: 18px;
                        height: 18px;
                    }
            }
        }
        &.active{

            input{
                
                
            }
            
            .header__search-box{
                background: #fff;
                margin-left: 15px;
                max-width: 220px;
                padding: 0px 10px;
                opacity: 1;
            }
            .icon{
                width: unset;
                .search-icon{
                    display: none;
                }
                .close-icon{
                    display: unset;
                }
            }
            .enter-search{
                svg{
                    transform: translateX(0px);
                }
                
            }
            @include mediaMax (1024px){
                background: #eee;
               
            }
        }
    }
    &__search-box{
        display: flex;
        background: #eee;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        padding: 0px;
        overflow: hidden;
        max-width: 0px;
        transition: .5s;
        opacity: 0;

        input{
            outline: 0;
            margin: 0;
            border: none;
            height: 35px;
            background: #fff;
            padding: 0px;
            
            font-size: 12px;
            &:focus{
                outline: none;
                background: #fff;
                color: #000;
            }
        }
    }
    &__discount{
        position: absolute;
        top: 0;
        width: 24px;
        height: 24px;
        bottom: 0;
        margin: auto;
        right: -40px;
        @include mediaMax(1024px){
            // right: -8px;
            right: 20px;
        }
        @include mediaMax(340px){
            // right: -8px;
            right: 10px;
        }
        a{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            
            
            
            img{
                width: 100%;
                height: 100%;
            }
        }
    }


    .menu-footer{
        display: none;
        background: #eee;
        margin: 15px;
        width: calc(100% - 30px);
        margin-top: auto;
        border-radius: 10px;
        .footer__bottom{
            padding-top: 5px;
            padding-bottom: 50px;
        }
        .footer__logo{
            width: 100px;
            bottom: 5px;
        }
        .footer__rights{
            bottom: 16px;
        }
        @include mediaMax(1024px){
            display: block;
        }

    }
}