.knock-out{
    padding: 15px;
    background: #f5f5f5;
    position: relative;
    height: 1000px;
    
    &::after{
        position: absolute;
        right: 15px;
        height: 90%;
        width: 3px;
        content: "";
        top: 65px;
        background: linear-gradient(to bottom,#24A557, #BAFB3C);;
    }
    &__user-notice{
        color: #797979;
        margin-left: auto;
        margin-right: 15px;
        font-size: 11px;
        font-weight: 100;
    }
    &__board{
        display: flex;
        height: calc( 100% - 30px);
        margin-right: 15px;
        position: relative;
        overflow-x: auto;
        padding-top: 15px;
    }
    &__round{
        min-width: 220px;
        margin-left: 60px;
        height: 100%;
        position: relative;
        height: calc(100% - 150px);
    }
    &__round-col{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .round-16{

        .knock-out__round-col{
            justify-content: space-between;
            
        }
        .knock-out__round-name{
            position: absolute;
            top: -15px;
        }
    }
    .round-8{

        .knock-out__matches-box{
            height: 225px;
            &:first-of-type{
                margin-top: -55px;
            }
            &:last-of-type{
                margin-bottom: -55px;
            }

        }
        .knock-out__round-col{
            justify-content: space-around;
        }
        .knock-out__round-name{
            position: absolute;
            top: 4%;
        }
    }
    .round-4{

        .knock-out__round-col{
            
        }
        .knock-out__matches-box{
            height: 440px;
            margin-top: 168px;
        }
        .knock-out__round-name{
            position: absolute;
            top: 19%;
        }
    }
    .final{

        .knock-out__round-col{
            justify-content: center;

            
        }
        .knock-out__match-card{
            position: unset;
            margin-top: 115px;
        }
        .knock-out__round-name{
            position: absolute;
            top: 47%;
        }
    }
    &__round-name{

    }
    &__matches-box{
        position: relative;
        height: 110px;
        right: 50px;
        top: 50px;
        border-style: dashed none dashed dotted;
        border-width: thin;
        border-color: green;
        width: 180px;
        &::before{
            content: "";
            position: absolute;
            left: -50px;
            height: 1px;
            width: 50px;
            background: $primaryColor;
            top: 0px;
            bottom: 0px;
            margin: auto;
        }
    }
    &__match-card{
        height: 74px;
        max-width: 260px;
        background: #fff;
        border-radius: 5px;
        position: absolute;
        right: -50px;

        &:first-of-type{
            top: -37px;
        }
        &:last-of-type{
            bottom: -37px;
        }
        .side-match-box{
            border: none;
        }
        .side-match-box__teamA{
            flex-direction: column-reverse;
            &:hover{
                p{
                    color: unset;
                }
               
            }
        }
        .side-match-box__status{

        }
        .side-match-box__teamB{
            flex-direction: column-reverse;
            &:hover{
                p{
                    color: unset;
                }
               
            }
        }
        .side-match-box__result{
            height: 20px;
            min-width: 35px;
            max-width: 35px;

        }
        .side-match-box__result-box{
            display: flex;
            flex-direction: column; 
            align-items: center;
        }
        .side-match-box__progress-bar{
            width: 35px;
        }
        img{

        }
        p{
            font-size: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            min-width: 70px;
            max-width: 75px;
        }
        .side-match-box__progress-point{
            width: 100%;
        }
    }

}