.table-box{
    
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;;
    .img-beside-text p{
        font-size: 12px;
    }
    .inner-body{
        overflow-x: auto;
        display: flex;
        flex-direction: column;;
    }
    &__row{
        display: flex;
        border-bottom: 1px solid #eeeeee;
        // padding: 10px 0px;
        &:last-of-type{
            border-bottom: 0;
        }
        @include mediaMax(768px){
            border-bottom: 0px;
            
        }
        &--head{
            .table-box__col{
                color:#444444;
                font-size: 13px;
                white-space: nowrap;
                @include mediaMax(768px){
                    border-top: 0px;
                    background: #eee;
                    font-size: 10px;
                }
            }
            &--large{
                padding: 5px 15px 5px 0px;
            }
            .table-box__col--first{

            }
        }
        
    }
    &__row--head{

        background: #eee;
        z-index: 1;
        @include mediaMax(768px){
            background: transparent;
        }
        .table-box__col{

            padding: 10px 0px;
        }
    }
    &--common &__row{
        border-bottom: 0;
        padding: 0 10px;
        border:1px solid #eee;
        margin-top: 15px;
        border-radius: 3px;
        @include mediaMax(768px){
            border-left: 0;
            border-right: 0;
            border-top: 0;
            border-bottom: 0;
            padding-right: 0;
            padding-left: 0;

        }
        &--head{
            background: #F9F9F9;
            border:0;
            margin-top: 0;
            @include mediaMax(768px){
                .table-box__col{
                    // background: transparent;
                    background: #F9F9F9 !important;
                    // border-bottom: 0;
                    // border-top:0;
                    // border-bottom: 0;
                    border:0 !important;
                }
                
            }
        }
        @include mediaMax(768px){
            .table-box__col{
                background: transparent;
                // background: #F9F9F9;
                border-bottom: 0;
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
                &:first-of-type{
                    border-right: 1px solid #eee;
                }
                &:last-of-type{
                    border-left: 1px solid #eee;
                }
            }
            
        }
    }
    .number{
        
        font-size: 15px;
        font-family: sans-serif;
        @include mediaMax(768px){
            font-size: 12px;
        }
    
    }
    
    &--wh &__row{
        border-bottom: 1px solid $gry3;
    }
    &__col{
        padding: 25px 0px;
        font-size: 18px;;
        // min-width: 45px;
        min-width: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mediaMax(768px){
            padding: 15px 0px;
        }
       

        &--first{
            min-width: 35px;
            max-width: 35px;
            padding-right: 15px;
            @include mediaMax(768px){
                padding-right: 5px;
            }
            
        }
        &--large{
            flex-basis: 0;
            flex-grow: 1;
            justify-content: end;
            display: block;
            min-width: 150px;
            padding-right: 15px !important;
            @include mediaMax(768px){
                padding-right: 5px !important;
            }
            
        }
        &--last{
            padding-left: 10px;
        }
        &--paddingright{
            padding-right: 10px;
        }
        &--mini{
            min-width: 30px;
            max-width: 30px;
        }
        .number{
            width: 20px;
            height: 20px;
            font-size: 12px;
            font-weight: 600;
            font-family: sans-serif;
            background: $yellow3;
            color: #444444;
            display: flex;
            align-items: center;
            justify-content: center;
            
            border-radius: 3px;
            @include mediaMax(768px){
                width: 16px;
                height: 16px;
                font-size: 10px;
            }
        }
        
  
        // }
        @include mediaMax(768px){
            font-size: 11px;
            border-bottom: 1px solid #eee;
        }
    }
    &--common &__col{
        font-weight: bold;
        flex-grow: 1;
        flex-basis: 0;
        display: inline-flex;
        justify-content: flex-start;
        @include mediaMax(768px){
            min-width: 150px;
        }
        .number{
            background: transparent;
            width: auto;
            height: auto;
        }
        &:last-of-type,&:first-of-type{
            max-width: 50px;
            min-width: 50px;
            @include mediaMax(768px){
                max-width: 50px;
                min-width: 50px;
            }
        }
        &:first-of-type{
            margin-right: 15px;
            @include mediaMax(768px){
                margin-right: 0;
                padding-right: 15px;
            }
        }
    }
    .last-results{

        svg{
            margin-left: 3px;
            height: 12px;
            width: 12px;
            &:last-of-type{
                margin: 0px;
            }

        }
    }
    &__icon{
        padding-right: 10px;
        display: flex;
        align-items: center;
        svg{
            fill: $primaryColor;
        }
        p{
            margin-right: 10px;
            font-size: 18px;
        }
        
    }
    &--wh{
        background: $wh;
    }
    .mark{
        color: $primaryColor;
        font-weight: 600;
    }
    .mini{
        font-size: 12px;
        font-weight: 100;
        color: #a2a2a2;
    }
}

  


.img-beside-text{
    display: flex;
    position: relative;
    align-items: center;
    width: fit-content;
    transition: .2s;
    img{
        width: 30px;
        height: 30px;
        margin-left: 15px;
        @include mediaMax(768px){
            width: 20px;
            height: 20px;
            margin-left: 5px; 
        }
        
        
    }
    a{
      position: absolute;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;  
    }
    p{
        color: #444444;
        // max-width: 15ch;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 14px;
        @include mediaMax(768px){
            font-size: 11px;
        }
    }

    
    &:hover{

        p{
            color: $primaryColor;
        }
    }
}
.switch-content{
    // max-height: 0px;
    position: absolute;
    opacity: 0;
    transition: .0s ease-in;
    overflow: hidden;
    visibility: hidden;
    top: 0px;
    transform: translateY(-50px) ;
    &.active{
        // max-height: 2200px;
        position: unset;
        transition: .5s ease-out;
        opacity: 1;
        visibility: visible;
        transform: translateY(0px) ;
    }
}
.player-transfer{
    padding-top: 15px;
    .table-box--common .table-box__col:first-of-type{
        max-width: unset;
    }
    
}