.line-up{

    
    position: relative;
    height: 500px;
    overflow: hidden;
    padding-bottom: 30px;


    @include mediaMax(450px){
        height: 335px;
    }

    &__img{
        min-width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        height: 100%;

        img{
            max-width: 150%;
            min-width: 100%;


            @include mediaMax(1024px){
                width: 110%;
                min-width: 125%;
            }
            @include mediaMax(767px){
                width: 140%;
            }
            @include mediaMax(450px){
                width: 150%;
                min-width: 135%;
            }
        }

    }
    .events{
        height: 100%;
    }
}

.lineup{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    &__background{
        width: 100%;
        @include mediaMax(767px){
           width: 125%;
        }
        @include mediaMax(575px){
            width: 150%;
        }
    }
    &__player{
        // position: absolute;
    //     width: 25%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // min-height: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    &__pos{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    &__forward{
        top: 0%;
        width: 70%
    }
    &__attacker-midfielders{
        top: 20%;
        width: 75%;
    }
    &__midfielders{
        top: 27%;

        width: 80%;
        flex-wrap: wrap;
        .lineup__player{
            // width: 25%;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // min-height: 75px;
        }
        @include mediaMax(767px){
            width: 88%;
        }
        @include mediaMax(450px){
            
            width: 98%;
        }
        
    }
    &__defender-midfielders{
        bottom: 44%;

    }
    &__defenders{
        bottom: 33%;
        width: 90%;
        @include mediaMax(450px){
            bottom: 31%;
            width: 120%;
        }
    }
    &__gk{
        bottom: 6%;
    }



    &__player-holder{
        position: relative;
        width: 42px;
        height: 40px;
        @include mediaMax(767px){
            width: 40px;
            height: 38px;
        }
        @include mediaMax(450px){
            width: 33px;
            height: 31px;
        }

    }
    &__pl-img{
        border-radius: 50%;
        background: #fff;
        overflow: hidden;
        border: 1px solid $yellow3;
        img{
            height: 100%;
            width: 100%;
        }
    }
    &__name{
        
        white-space: nowrap;
        background: $yellow3;
        margin-top: 5px;
        color: #000;
        max-width: 68px;
        min-width: 68px;
        width: 68px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0px 5px;
        height: 20px;
        border-radius: 5px;
        line-height: 18px;
        font-size: 9px;
        text-align: center;
        @include mediaMax(767px){
            // font-size: 11px;
        }
        @include mediaMax(450px){
            font-size: 8px;
            max-width: 48px;
            min-width: 48px;
            overflow: hidden;
            width: unset;
            justify-content: flex-start;
            
        }
    }
    &__number{
        position: absolute;
        bottom: 0px;
        background: #444444;
        color: #fff;
        border-radius: 3px;
        height: 15px;
        width: 15px;
        display: flex;
        align-items: center;
        font-size: 12px;
        justify-content: center;
        @include mediaMax(767px){
            height: 12px;
            width: 12px;
            font-size: 10px;
        }
        
    }
    &__event-icon{
        position: absolute;
        top: 0px;
        left: 3px;
        background: #fff;
        border-radius: 3px;
        height: 15px;
        width: 15px;
        display: flex;
        align-items: center;
        font-size: 20px;
        justify-content: center;
        svg{
            height: 12px;
        }
    }
}
.switch{

    transition: .5s ease ;
    overflow: hidden;
    max-height: 0px;
    max-width: 0px;
    opacity: 0;
    // display: none;
    transform: scale(0);
     
    
    &.active{
        transition: 1s ease ;
        max-height: 2250px;
        max-width: 2250px;
        // max-width: 2250px;
        opacity: 1;
        // display: unset;
        transform: scale(1);
              
    }
}