.events-tab{
    padding-bottom: 15px;
    display: flex;
    flex-direction: column-reverse;
}
.event-box{
    // background: $wh;
    // border-radius: 10px;
    // margin: 15px;
    // box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.06);
    // padding: 20px 12px;
    padding-top: 15px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
   // margin-top: 160px;
    // min-height: 67px;
    

    .match-time{
        text-align: center;
        color: $primaryColor;
        font-size: 14px;
        margin-bottom: 5px;
        height: 20px;
        font-weight: 600;
    }
    .match-hours{
        text-align: center;
        // color: $primaryColor;
        font-size: 14px;
        // margin-bottom: 15px;
        height: 20px;
        font-weight: 600;
    }
    
    .event-row{    
        display: flex;
        position: relative;
        padding-bottom: 15px;
        align-items: center;
        &:last-of-type{
            padding-bottom: 0px
        }

        .team-event{
            display: flex;
            margin-left: auto;
            // width: calc(50% - 20px);
            // flex-direction: row-reverse;
            position: relative;
            margin-right: auto;
            margin-left: 54%;
            padding: 5px 10px;
            border-radius: 20px;
            z-index: 1;

            
            @include mediaMax(768px){
                margin-left: 55%;
                padding: 7px;
            }
            @include mediaMax(380px){
                margin-left: 56%;
                padding: 5px;
                border-radius: 12px;
            }
            

            .minutes{
                padding: 3px 5px 3px 10px;
                // font-size: 14px;
                font-weight: bold;
                color: $primaryColor;
                display: flex;

                flex-direction: column;
                // align-items: flex-start;
                align-items: center;
                @include mediaMax(400px){
                    padding: 5px 0px 3px 5px;
                    
                 }
                 svg{
                     height: 15px;
                     width: 15px;
                 }
            }
            .event-details{
                display: flex;
                flex-direction: column;
                // padding: 1px 7px;
                padding-left: 10px;
                position: relative;
                justify-content: center;
                // &:after{
                //     content: "";
                //     width: 1px;
                //     // background: rgba(68, 68, 68 ,.8);
                //     background: #d6d6d6cc;
                //     position: absolute;
                //     left: 0;
                //     display: block;
                //     height: 90%;
                // }
                            
                .event-type{
                    // white-space: nowrap;
                    font-size: 11px;
                    font-weight: bold;
                    line-height: 25px;
                    // color: #eeeeee;
                    
                    // @include mediaMax(400px){
                    //     display: none;
                    // }
                }
                .event-player{
                    // color: gray;
                    white-space: nowrap;
                    font-size: 10px;
                    font-weight: bold;
                    line-height: 24px;
                    // margin-right: 5px;
                    @include mediaMax(400px){
                        margin-right: 0px;
                    }
                }
                .main-event{

                    @include mediaMax(400px){
                       color: #444444;
                       
                    }
                }

            }
        }
        .team-B-event{
            // flex-direction: row;
            margin-left: auto;
            margin-right: 54%;
            background: #eee;
            width: fit-content;
            
            &::after{
                position: absolute;
                height: 1px;
                content: "";
                width: 30px;
                top: 0px;
                bottom: 0px;
                margin: auto;
                background: #eee;
                left: 100%;
            }
            @include mediaMax(768px){
                margin-right: 55%;
            }
            @include mediaMax(380px){
                margin-right: 56%;
            }

            .minutes{
                
                // position: relative;
                // padding: 5px 10px 3px 0px;
                // &:after{
                //     content: "";
                //     width: 1px;
                //     // background: rgba(68, 68, 68 ,.8);
                //     background: #d6d6d6cc;
                //     position: absolute;
                //     left: 0;
                //     display: block;
                //     height: 90%;
                // }
                
            }
            .event-details{
                // padding-left: 0;
                // padding-right: 10px;
                &:after{
                    display: none;
                    // background: #d6d6d6cc;
                }

                .event-type{
                    font-size: 11px;
                    padding: 0px;
                    line-height: 10px;
                    color: gray;
                }
                .event-player{

                }

            }
        }
        .team-A-event{
            background: #eee;
            width: fit-content;
           
            &::after{
                position: absolute;
                height: 1px;
                content: "";
                width: 30px;
                top: 0px;
                bottom: 0px;
                margin: auto;
                background: #eee;
                right: 100%;
            }
        }

        .event-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            font-family: sans-serif;
            font-weight: bold;
            color: #444444;
            font-size: 10px;
            max-width: 38px;
            z-index: 2;
            // background: white;
            // border-radius: 50%;
            @include mediaMax(400px){
                font-size: 10px;
            }
            
            
            
        }

    }
    .center-line{
    left: 0;
    right: 0;
    top: 15px;
    bottom: 50px;
    margin: auto;
    width: 25px;
    //height: 70%;
    // background: rgba(68,68,68,0.8);
    background: $yellow3;
    position: absolute;
    border-radius: 10px;
    z-index: 2;
    @include mediaMax(400px){
        width: 20px;
    }

    }
    .red{
        color: $red !important;
    }
    .green{
        color: $primaryColor !important;
    }
    .gray{
        color: gray !important;
    }
    .event-type{
        font-size: 11px;
        padding: 0px;
        line-height: 10px;
        color: gray;
    }
}

.team-A-event{

}
.team-B-event{
    
}