.matches-page{

}
.matches{

    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mediaMax(767px){
            flex-direction: row;
            justify-content: center;
        }
    }
    &__navDays{
        display: flex;
        flex-grow: 1;
    }
    &__btn{
        margin-left: 11px;
        color: #797979;
        background: #e5e5e5;
        padding: 0px 15px;
        height: 40px;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-size: 13px;
        border-radius: 5px;
        cursor: pointer;
        transition: .2s;
        @include mediaMax(767px){
            height: 35px;
            width: 65px;
            font-size: 11px;
            flex-grow: 1;
            &:last-of-type{
                margin: 0px;

            }
        }
        @include mediaMax(367px){
            height: 32px;
            width: unset;
            font-size: 10px;
        }
        &.active{
            background: $primaryColor;
            color: $wh;
            cursor: text;
            
        }
        &:hover{
            background: $primaryColor;
            color: $wh;
            
        }

    }
    .live-btn{
        
        cursor: pointer;
        &:hover{
            color: $wh;
            background:$red3
        }
        &.active{
            background:$red3;
            color: $wh;
            
            
        }
    }
    &__calender{
        display: flex;
        align-items: center;
        @include mediaMax(767px){
            margin-bottom: 0px;
            margin-right: 15px;
        }
        @include mediaMax(367px){
            
            margin-right: 10px;
        }

    }
    &__date{
        margin-left: 15px;
        margin-right: 4px;
        color: $gry2;
        font-size: 12px;
        line-height: 20px;
        @include mediaMax(1111px){
            margin-left: 5px;
            margin-right: 0px;
        }
    }
    &__num{
        height:25px;
        width: 25px;
        background: $wh;
        color: #797979 ;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
        transition: .2s;
        cursor: pointer;
        &.active{
            background: $yellow;
            color: $gry2;
            cursor: text;
        }
        &:hover{
            background: $yellow;
            color: $gry2;
        }

        @include mediaMax(1111px){
            margin-left: 4px;
        }


        .icon{

            svg{
                height: 12px;
                width: 12px;
                fill: #797979;
            }
        }
    }
    &__calenderIcon{
        display: flex;
        cursor: pointer;
        position: relative;
        svg{
            fill: $primaryColor;
        }
        .icon{
            display: flex;
            align-items: center;
            svg{
                width: 23px;
                height: 23px;
            }
        }
        .icon-arrow{
            display: flex;
            align-items: center;
            svg{
                width: 8px;
                height: 8px;
                margin-right: 5px;
            }
        }
    }
    &__filter{

        display: flex;

        .select{
            position: relative;
            &:first-of-type{
                margin-left: 11px;

            }
            &::after{
                content: "";
                width: 13px;
                height: 7px;
                background-color: #17A654;
                clip-path: polygon(100% 0%, 0 0%, 50% 100%);
                position: absolute;
                left: 15px;
                top: 0px;
                bottom: 0px;
                margin: auto;
            }

            select{
                -webkit-appearance: none;
                -moz-appearance: none;
                text-indent: 1px;
                text-overflow: '';
                height: 40px;
                padding: 10px 15px;
                min-width: 191px;
                border-radius: 5px;
                border: none;
                color: #797979;
                font-family: inherit;
                cursor: pointer;
                
                &:focus{
                    outline: none;
                }
                @include mediaMax(767px){
                    font-size: 11px;
                    line-height: 20px;
                    min-width: 140px;
                    height: 35px;
                    line-height: 16px;
                    padding: 0px 15px;
                }
                


                
            }
            
        }
        .select-theme{
            width: 189px;
            &:first-of-type{
                margin-left: 15px;
            }
            &:last-of-type{
                // margin-right: 15px;
            }
            &__current{
                box-shadow: none;
            }
            &__input{
                &-text{
                    padding: 8px 15px;
                    @include mediaMax(767px){
                        padding: 5px 15px;
                    }
                }
            }
            @include mediaMax(767px){
                width: 50%;
            }
        }
        @include mediaMax(767px){
            justify-content: center;
        }
    }

    








}
.live-matches{

    &__topRow{
        display: flex;
        margin-top: 40px;
        p{
            color: #444;
            font-weight: 600;
        }
        a{
            color: $primaryColor;
        }
    }
    &__row{
        display: flex;
        overflow: auto;
        padding-bottom: 10px;
    }


}
.live-box{
    padding: 10px;
    // background: $wh;
    // border-radius: 10px;
    display: flex;
    width: 25%;
    flex-direction: column;
    margin-left: 15px;
    min-width: 220px;
    // box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.04);

    @include mediaMax(1024px){

        min-width: 200px;
    }
    &:last-of-type{
        margin-left: 0px;
    }
    &__head{
        display: flex;
        align-items: center;
        span{
            font-size: 9px;
            border-radius: 3px;
            background: $red2;
            line-height: 18px;
            padding: 0px 8px;
            height: 18px;
            color: white;
            text-align: center;
        }
    }
    &__competition{
        display: flex;
        white-space: nowrap;
        align-items: center;
        max-width: calc(100% - 40px);
        &:hover{

            p{
                color: $primaryColor;
            }
        }
    }
    &__comp-logo{
        width: 22px;
        margin-left: 7px;
        // img{

        // }
    }
    &__comp-name{
        font-size: 10px;
        max-width: 78%;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: .2s;
    }
    &__center{
        display: flex;
        margin-top: 10px;
        border-top: 1px solid #eee;
        padding-top: 10px;
        align-items: center;
        justify-content: space-between;

    }
    &__team{
        
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    &:hover{

        .live-box__team-name{

            color: $primaryColor;
        }
    }

    }
    &__team-logo{
        width: 40px;
        // img{

        // }
    }
    &__team-name{
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        margin-top: 5px;
        transition: .2s;
        max-height: 30px;
        overflow: hidden;
        white-space: nowrap;
        max-width: 65px;
        text-overflow: ellipsis;
    }
    &__result{
        background: #eee;
        border-radius: 5px;
        padding: 2px 8px;
        white-space: nowrap;
        line-height: 21px;
        font-weight: 600;
    }
    &__minutes{
        margin-top: 5px;
        font-size: 9px;
        display: flex;
        justify-content: center;
        span{
            color: $red3;
            margin-right: 3px;
            &:first-of-type{
                color: #797979;
            }
        }

    }
    &__progress{
        background: #eee;
        height: 3px;
        position: relative;
    }
    &__redLine{
        position: absolute;
        top: 0px;
        height: 100%;
        background: $red;
    }
    &__btn{
        width: 100%;
        border-radius: 3px;
    }
}
.matches-today{
    
    margin-top: 20px;
    &__side-text{
        display: flex;
    }
    &__bold{
        font-size: 13px;
        font-weight: 600;
        margin-left: 15px;
        color: #444444;
    }
    &__date{
        font-size: 13px;
        color: #444444;
    }
    .comp-title{
        background: transparent;
        a{
            .comp-title__img{
                margin-left: 10px;
            }
            &:hover{
                p:first-of-type{
                    color: $primaryColor;
                }
            }
        }
        p{
            color: #444444;
            &:first-of-type{
                color: #797979;
                // margin-right: 10px;
            }
        }
    }
}

.match-card-wide{


    @include mediaMax(767px){
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    display: flex;
    &__match{
        display: flex;
        width: 80%;
        height: 150px;
        align-items: center;
        @include mediaMax(767px){
            width: 100%;
            height: 60px;

        }
    }
    &__team{
        display: flex;
        align-items: center;
        width: 40%;
        
        &:hover{

            p{
                color: $primaryColor;
            }
        }
        
    }
    .teamA{
        justify-content: flex-end;
        .match-card-wide__team-logo{
            margin-right: 15px;
            @include mediaMax(767px){
                margin-right: 5px;
            }
        }
        svg{
            margin-left: 5px;
            &:last-of-type{
                margin: 0px;
            }
        }
        .match-card-wide__text{
            text-align: left;
        }
    }
    .teamB{
        justify-content: flex-end;
        flex-direction: row-reverse;
        .match-card-wide__team-logo{
            margin-left: 15px;
           
            @include mediaMax(767px){
                margin-left: 5px;
            }
        }
        svg{
            margin-left: 5px;
            &:last-of-type{
                margin: 0px;
            }
        }
    }
    &__team-name{

        p{
            font-weight: 600;
            color: #444;
            transition: .2s;
        }
        @include mediaMax(767px){

            max-width: calc(100% - 30px);
            p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
                font-size: 11px;
            }
        }
    }
    &__icons{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        svg{
            height: 14px;
            width: 14px;
        }
        @include mediaMax(767px){

            margin-top: 0px;

            svg{
                height: 10px;
                width: 10px;
                margin-left: 2px;
            }
        }
        
    }
    &__team-logo{
        width: 50px;
        height: 50px;
        @include mediaMax(767px){
        margin-right: 5px ;
        height: 28px;
        min-width: 28px;
        width: 28px;
        }
    }
    &__center{
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    &__result-box{
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 3px;
        // overflow: hidden;
    }
    
    &__result{
        
        background: #eee;
        width: 50px;
        padding: 5px 10px;
        white-space: nowrap;
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        margin-top: 15px;
        border-radius: 5px;
        padding-bottom: 6px;
        position: relative;
        overflow: hidden;

        @include mediaMax(767px){

            font-size: 11px;
            width: 35px;
            padding: 5px 5px;
            height: 20px;
            

        }
    }
    &__bottom-line{
        width: 100%;
        height: 3px;
        background: $midGry2;
        position: absolute;
        bottom: 0px;
    }
    &__time{
        color: gray;
        font-size: 13px;
        white-space: nowrap;
        max-width: 72px;
        overflow: hidden;
        @include mediaMax(767px){

            font-size: 11px;
            width: 35px;
            padding: 0px 5px;
            height: 20px;
            font-size: 11px;

        }
    }
    .match-ended{

        .match-card-wide__time{
            
            color: $primaryColor;
        }
        .match-card-wide__bottom-line{
            background: $primaryColor;
        }
        .match-card-wide__result{
            color: #444444;
        }
    }
    .match-live{

        .match-card-wide__time{
            
            color: $red3;
        }
        .match-card-wide__bottom-line{
            background: $red3;
        }
        .match-card-wide__result{
            color: $red3;
        }
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #eee;
        width: 20%;
        @include mediaMax(767px){
            width: 100%;
            border-top: 1px solid #eee;
            padding-top: 10px;
            border-right:none;
        }
    }
    &__btn{
        border-radius: 3px;
        @include mediaMax(767px){
            height: 25px;
            width: 110px;
            font-size: 11px;
        }
    }
    
    
}