.moments{


    &__box{
        padding: 15px;
        display: flex;
        align-items: center;
    @include mediaMax(767px){
        flex-direction: column;
        }
    }
    &__info{
        display: flex;
        align-items: center;
        padding-left: 20px;
        border-left: 1px solid #cfcfcf;
    @include mediaMax(767px){
        border-left:none;
        padding-left: 0px;
        
        padding-bottom: 10px;
        width: 100%;
            }
    }
    &__min{
        background: $grad;
        height: 30px;
        width: 30px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $wh;
        margin-left: 15px;
        @include mediaMax(767px){
            height: 23px;
            width: 23px;
            margin-left: 10px;
        }
        
    }
    &__action{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include mediaMax(767px){
            // justify-content: space-evenly;
            width: 100%;
            // flex-direction: row-reverse;
        }
    }
    &__action-type{
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        @include mediaMax(767px){
            margin: 0px;
            max-width: 43%
        }
    }
    &__type-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        svg{
            height: 25px;
            width: 25px;
            fill: $wh;
        }
        @include mediaMax(767px){

            margin-left: 10px;

            svg{
                height: 20px;
                width: 20px;
            }

        }
    }
    &__type-text{
        color: #444444;
        white-space: nowrap;
        font-weight: 600;
        font-size: 12px;
        @include mediaMax(767px){
            font-size: 10px;
            text-overflow: ellipsis;
            max-width: 100%;
            overflow: hidden;
        }
    }
    &__team{
        display: flex;
        align-items: center;
    }
    &__team-logo{
        width: 25px;
        height: 25px;
        margin-left: 15px;
        img{

        }
        @include mediaMax(767px){
            width: 20px;
            height: 20px;
            margin-left: 10px;
        }
    }
    &__pl{
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        font-weight: 600;
        font-size: 12px;
        span{

        }
    }
    &__pl-name{
        @include mediaMax(767px){
            font-size: 10px;
        }
    }
    &__text{
        color: #444444;
        padding-right: 20px;
        @include mediaMax(767px){
            padding-right: 0px;
            padding-top: 10px;
            font-size: 12px;
            border-top: 1px solid #cfcfcf;
        }
        
    }
    

&__end{
display: flex;
align-items: center;
}
&__timer{
    display: flex;
    align-items: center;
    svg{
        height: 25px;
        width: 25px;
    }
    span{
        font-weight: 600;
        margin-right: 15px;
    }
}
&__end-teams{
    margin-right: 15%;
    @include mediaMax(767px){
        margin: unset;
        margin-top: 15px;
        border-top: 1px solid #eee;
        padding-top: 15px;
        width: 100%;
        font-size: 12px;
    }
}
&__team{
    @include mediaMax(767px){
        max-width: 50%;
    }
}

&__team-img{
    margin: 0px 10px;
    img{
        height: 25px;
        width: 25px;
    }
}
&__team-name{
    color: #797979; 
    font-weight: 600;

}
&__score{
    font-weight: 600;
    margin: 0px 15px;
    color: #797979;
    font-size: 17px;
    line-height: 19px;
}
.red{
    color: $red3;
}
.green{
    color: $primaryColor;
}
.bg-red{
    background: $red;
    .moments__type-text{
        color: $wh;
    }
    .moments__pl-name{
        color: $wh;
    }
    .moments__text{
        color: $wh;
    }
    .moments__min{
        background: $wh;
        color: #444444;
    }
}
.bg-green{
    
    background: $primaryColor;
    .moments__type-text{
        color: $wh;
    }
    .moments__pl-name{
        color: $wh;
    }
    .moments__text{
        color: $wh;
    }
    .moments__min{
        background: $wh;
        color: #444444;
    }


}
.gray{
    fill: #797979;
}
.red-icon{
    fill: $red3;
}
.green-icon{
    fill: $primaryColor;
}
.yellow-icon{
    fill: $yellow3;
}


}
    
    .goal{
        fill:$green;
        
    }
    .own-goal{
        fill:$red;
    }
    .squad-in{
        fill:$green;
        transform: rotate(180deg);
    }
    .squad-out{
        fill:$red;
    }