.most-players{
    margin-top: -15px;
}
.players-list{
    margin-top: -15px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;

    @include mediaMax(767px){
        
    }

}
.most-players-card{



    .first{

        .most-players-card__info{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            max-width: 50%;
            min-width: 50%;
        }
        .most-players-card__info-row{
            text-align: center;
            // max-width: 100%;
        }
        .most-players-card__name{
            font-size: 12px;
            font-weight: 600;
            white-space: nowrap;
            max-height: 40px;
            // max-width: 100;
            line-height: 20px;
            overflow: hidden;
        }
        .most-players-card__score{
            font-size: 17px;
            font-weight: 600;
            margin: 10px 0px;
            color: $primaryColor;
        }
        .most-players-card__club{
            display: flex;
            align-items: center;
            margin-right: 15px;
        }
        .most-players-card__club-logo{
            margin-left: 5px;
            img{
                width: 20px;
                height: 20px;
                min-width: 20px;
            }
        }
        .most-players-card__img{
            margin-right: auto;
            width: 50px;
            height: 50px;
            min-width: 50px;
            
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
    .second{
        
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid #eee;
        &:first-of-type{
            border: none;
        }
        .most-players-card__info{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: calc(100% - 60px);
        }
        .most-players-card__info-row{
            text-align: center;
            display: flex;
            align-items: center;
            width: 100%;
        }
        .most-players-card__name{
            font-size: 11px;
            // font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 70%;
            
        }
        .most-players-card__score{
            font-size: 13px;
            font-weight: 600;
            
            color: $primaryColor;
            margin-right: auto;
        }
        .most-players-card__club{
            display: flex;
            align-items: center;
            
        }
        .most-players-card__club-logo{
            margin-left: 5px;
            img{
                width: 16px;
                height: 16px;
            }
        }
        .most-players-card__img{
            width: 45px;
            height: 45px;
            min-width: 45px;
 
            img{
                width: 45px;
                height: 45px;
            }
        }
    }
    .single-player{
        flex-direction: column-reverse;
        min-width: 160px;
        margin-left: 20px;
        margin-left: 20px;
        width: calc(20% - 20px);

        @include mediaMax(1405px){
            width: calc(25% - 20px);
        }
        @include mediaMax(1065px){
            width: calc(100% / 3 - 20px);
        }
        @include mediaMax(1023px){
            width: calc(25% - 20px);
        }
        @include mediaMax(720px){
            width: calc(100% / 3 - 20px);
        }
        @include mediaMax(540px){
            width: calc(50% - 20px);
        }
        @include mediaMax(360px){

            // width: calc(100% - 20px);
            min-width: 145px;
            margin-left: 10px;
            padding: 5px 8px;
            
            .most-players-card__score{
                font-size: 8px;
            }
            .most-players-card__name{
                font-size: 9px;
            }
            .most-players-card__club-name{
                font-size: 8px;
            }
        }

        
    
        &::after{
            top: 0px;
            width: 80%;
            right: 0px;
            margin: auto;
            bottom: unset;
        }
        
        .most-players-card__info{
            width: 100%;
            padding-top: 5px;
            &::after{
                top: 0px;
                width: 130%;
                left: -20px;
                margin: auto;
                height: 1px;
            }
        }
        .most-players-card__info-row{
            display: flex;
            width: 100%;
        }
        .most-players-card__name{
            font-size: 9px;
            font-weight: 600;
            max-width: 90px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .most-players-card__score{
            margin-right: auto;
            font-size: 10px;
            white-space: nowrap;
            color: #797979;
        }
        .most-players-card__club{
            display: flex;
            align-items: center;
        }
        .most-players-card__club-logo{
            margin-left: 5px;
            img{
                width: 15px;
                height: 15px
            }
        }
        .most-players-card__img{
            margin: 10px 0px 15px 0px;
            width: 60px;
            height: 60px;
            display: flex;
        }
        .most-players-card__pl-num{
            font-weight: 600;
            font-size: 13px;
        }
    }
    &__head{
        font-size: 12px;
        font-weight: 600;
        padding: 5px 15px;
        margin-bottom: 2px;
    }
    
    &__name{
        transition: .3s;
    }

    &__club-name{
        font-size: 11px;
    }
    &__img{
        border: 1px solid $primaryColor;
        border-radius: 50%;
        overflow: hidden;
        img{

        }
    }
    &__btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primaryColor;
        transition: .3s;
        min-height: 40px;
        border-top: 2px solid #eee;
        &:hover{
            background: $yellow3;
            color: #000;
        }
    }
    &--teams &__img{
        border: none;
        
    }
    &--teams{
        .first{
            .most-players-card__img{
                width: 55px;
                height: 55px;
                min-width: 55px;
                img{
                    width: 55px;
                height: 55px;
                }
            }
        }
        .second{
            .most-players-card__img{
                width: 35px;
                height: 35px;
                min-width: 35px;
                margin-right: 10px;
                img{
                    width: 35px;
                    height: 35px;
                }
            }
            .most-players-card__name{
                font-size: 11px;
                font-weight: 600;
                color: #313131;
            }
        }
    }
    &__player{
        display: flex;
        padding: 10px ;
        align-items: center;
        transition: .3s;
        &:hover{
            background: #f3f3f3;
            .most-players-card__name{
                color: $primaryColor;
            }
        }
    }

}