.post-news{
    position: relative;
    &__link{
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 1;
    }
    &__img{
       position: relative;
       padding-top: 57%;
       overflow: hidden;
       transition: .3s;
       img{
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           transition: 0.3s;
           background-color: #eee;
           background-image: url(../img/lazy.png);
           background-position: center center;
           background-repeat: no-repeat;
       } 
    //    img:not([src]):not([srcset]) {
    //     visibility: hidden;
    //   }
    }
    &--over &__img{
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 75%;
            // background: rgba(0,0,0,0.2);
            // z-index: 1;
            bottom: 0;
            left: 0;

            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
        }
    }
    &--large &__img{
        border-radius: 20px;
        // padding-top: 68%;
        // padding-top: 63%;
        padding-top: 0;
        height: 100%;
        @include mediaMax(1169px){
            height: auto;
            padding-top: 70%;
            border-radius: 15px;
        }
    }
    &--horizontal &__img{
        min-width: 100px;
        max-width: 100px;
        padding-top: 0;
        height: 100px;
        border-radius: 10px;
        margin-left: 10px;
        // background: #000;
        @include mediaMax(639px){
            min-width: 135px;
            max-width: 135px;
            border-radius: 5px;
        }
    }
    &--mini &__img{
        min-width: 30px;
        max-width: 30px;
        // height: auto;
        height: 30px;
    }
    &--card &__img{
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 5px;
            // background: rgba(0,0,0,0.2);
            // z-index: 1;
            right: 0;
            left: 0;
            bottom: 0;
            @extend %horizontal_gradient;
        }
    }
    &--video &__img{
        // padding-top: ;
        overflow: initial;
        &:after{
            display: none;
        }
        img{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        @include mediaMax(639px){
            
        }
    }
    &--mobile &__img{
        @include mediaMax(639px){
            min-width: 135px;
            max-width: 135px;
            padding-top: 0;
            height: 100px;
            border-radius: 5px;
            overflow: hidden;
            // margin-left: 10px;
            &:after{
                display: none;
            }
            img{
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 10px;
            }
        }
        
    }
    &--playlist &__img{

        overflow: hidden;
        margin: 10px 0px 10px 10px;
        border-radius: 10px;
        min-width: 40%;
        background: #000;
        img{

        }
        
    }
    &--transfers &__img{
        min-width: 120px;
        max-width: 120px;
    }
    &__data{
        background: $wh;
    }
    &--over &__data{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        // z-index: 2;
    }
    &--large &__data{
        padding: 30px;
        background: unset;
        @include mediaMax(479px){
            padding: 15px;
        }
    }
    &--card &__data{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        padding-bottom: 10px;
    }
    &--horizontal &__data{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &--mobile &__data{
        @include mediaMax(639px){
            display: flex;
            margin-top: 0;
            padding-top: 5px;
            // padding-left: 0;
        }
    }
    &--playlist &__data{
        max-width: 52%;
        justify-content: center;
        flex-direction: column-reverse;


    }
    &--transfers &__data{
        justify-content: flex-end;
        position: relative;
    }

    &__category{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 3;
        .icon{
            display: flex;
        }
        p{
            margin-right: 10px;
        }
    }
    &--over &__category{
        margin-bottom: 15px;
        width: fit-content;
        p{
            color: #BAFB3C;
        }
    }
    &--horizontal &__category{
        order:2;
        p{
            color: $primaryColor;
            background: transparent;
            -webkit-text-fill-color:initial;
            font-size: 12px;
        }
    }
    &--card &__category{
        margin-top: 20px;
        order:2;
        p{
            color: $primaryColor;
            background: transparent;
            -webkit-text-fill-color:initial;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @include mediaMax(1380px){
                
                max-width: 63px;
            }
            @include mediaMax(1310px){
                max-width: 55px;
            }
            @include mediaMax(1280px){
                max-width: 63px;
            }
            @include mediaMax(1140px){
                max-width: 50px;
            }
            @include mediaMax(1024px){
                max-width: unset;
            }
        }
    }
    &--large &__category{
        @include mediaMax(479px){
            margin-bottom: 5px;
            p{
                font-size: 12px;
            }
        }
    }
    &--mobile &__category{
        @include mediaMax(639px){
            order: 1;
            margin-top: 0;
            margin-bottom: 10px;
        }
    }

    &__title{
        font-family: $boldFont;
        font-weight: bold;
        transition: 0.2s;
    }
    &--over &__title{
        color: $wh;
    }
    &--large &__title{
        font-size: 25px;
        line-height: 45px;
        padding-left: 100px;
        margin-bottom: 15px;
        @include mediaMax(1366px){
            padding-left: 0px;
        }
        @include mediaMax(569px){
            font-size: 20px;
            line-height: 35px;
        }
        @include mediaMax(479px){
            font-size: 16px;
            line-height: 27px;
            // margin-bottom: 5px;
        }
    }
    &--horizontal &__title{
        max-height: 53px;
        overflow: hidden;
        // font-size: 12px;
        line-height: 24px;
        padding-top: 5px;
        order:1;
    }
    &--mini &__title{
        font-size: 12px;
        line-height: 23px;
    }
    &--card &__title{
        max-height: 53px;
        height: 53px;
        line-height: 27px;
        overflow: hidden;
    }
    
    &--mobile &__title{
        @include mediaMax(639px){
            order: 2;
        }
    }
    &--video &__title{
        padding-left: 50px;
        @include mediaMax(639px){
            padding-left: 0;
            order: 1;
            margin-bottom: 8px;
        }
    }
    &--playlist &__title{
        padding: 0px;
        font-size: 13px;
        max-height: 48px;
        line-height: 24px;

    }
    &--transfers &__title{
        // padding-top: 10px;
        margin-top: 15px;
    }
    &__readmore{
        z-index: 2;
        position: relative;
        @include mediaMax(479px){
            height: 25px;
            line-height: 25px;
            width: 80px;
            border-radius: 3px;
        }
    }
    &__video{
        position: absolute;
        width: 40px;
        height: 40px;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        pointer-events: none;    
        svg{
            width: 40px;
            height: 40px;
        }  
        &_keyword{
            display: flex;
            align-items: center;
            color: rgb(217, 29, 29);
            margin-bottom: 5px;
            svg{
                margin-left: 5px;
                width: 12px;
                height: 12px;
            }
            p{
                font-size: 12px;
            }
        }    
    }
    &--mini &__video{
        width: 25px;
        height: 25px;
        svg{
            width: 25px;
            height: 25px;
        }
    }
    &--video &__video{
        top: auto;
        bottom: -18px;
        right: auto;
        left: 15px;
    }
    &--mobile &__video{
        @include mediaMax(639px){
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 30px;
            height: 30px;
            svg{
                width: 30px;
                height: 30px;
            }
        }
       
    }
    &__info{
        display: flex;
        align-items: center;
        position: absolute;
        left: 15px;
        bottom: 15px;
        font-size: 10px;
        white-space: nowrap;
    }
    
    &--mobile &__info{
        @include mediaMax(639px){
            display: none;
        }

    }
    &--video &__info{
        position: initial;
        margin-top: 15px;
        @include mediaMax(639px){
            display: flex;
            order: 2;
            margin-top: 0;
        }
    }
    &--transfers &__info{
        left: auto;
        right: 0;
    }
    &__time{
        color: #9B9B9B;
    }
    
    &__views{
        display: flex;
        align-items: center;
        margin-right: 20px;
        p{
            color: $primaryColor;
            margin-right: 5px;
        }
        span{
            display: flex;
        }
    }
    &__length{
        display: flex;
        align-items: center;
        margin-right: 20px;
        p{
            color: #D91D1D;
            margin-right: 5px;
        }
        @include mediaMax(639px){
            display: none;
        }
    }
    &__abstract{
        color: #9B9B9B;
        @include mediaMax(639px){
            display: none;
        }
    }



    &--horizontal{
        display: flex;

        
    }
    &--mini{
        align-items: center;
    }
    &--card{
        padding: 7px;
        background: $wh;
        border-radius: 10px;
        box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.04);
        margin-bottom: 20px;
        @include mediaMax(639px){
            margin-bottom: 10px;
        }
    }
    &--video{
        padding: 0;
    }
    &--mobile{
        
        @include mediaMax(639px){
            display: flex;
            margin-bottom: 10px;
            padding: 7px;
        }
    }
    &--playlist{
        box-shadow: none;
        border-radius: 0px;
        margin: 0px;
        
        border-bottom: 1px solid #eee ;
       
        // background: #fff;
        padding: 0 10px;

        &:hover{
            .post-news__video{
                display: block;
            }
            img{
                
                opacity: .7;
            }
        }
        &:last-of-type{
            border-bottom: 0;
        }
        
    }
   
    &--playlist &__info{
        margin-top: 10px;
    }
    &--playlist &__img{

        overflow: hidden;
        margin: 10px 0px 10px 10px;
        border-radius: 10px;
        min-width: 40%;
        background: #000;
        img{

        }
        
    }
    &--playlist &__video{
        display: none;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        width: 35px;
        height: 35px;
        svg{
            width: 35px;
            height: 35px;
        }
    }
    
    &:hover{
        .post-news__title{
            color: $primaryColor;
        }
        // img{
        //     transform: scale(1.1);
        // }

    }
    &--over{
        &:hover{
            .post-news__title{
                color: $wh;
            }
            .post-news__img{
                transition: 0.4s;
                img{
                    transform: scale(1.05);
                }
            }
        }
    } 
}
.result-cards{
    .post-news--card{
        height: calc(100% - 20px);
        @include mediaMax(639px){
            height: auto;
        }
    }
}