.profile-intro{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    overflow: initial;
    @include mediaMax(767px){
        padding: 15px;
        margin-bottom: 55px;
    }
    &__info{
        display: flex;
        // align-items: center;
        // justify-content: space-between;  
        flex-grow: 1;
        margin-bottom: 20px;
        @include mediaMax(767px){
            flex-direction: column;
            margin-bottom: 15px;
        }
    }
    &__main{
        display: flex;
        align-items: center;
        @include mediaMax(767px){
            position: relative;
        padding-right: 65px;
        margin: 0px 0px 20px 0px;
        width: 100%;
        }
        &>img{
            width: 70px;
            height: 70px;
            margin-left: 15px;
            @include mediaMax(767px){
                width: 50px;
                height: 50px;
                position: absolute;
                right: 0px;
                top: 2px;
                
            }
        }
        .img-beside-text{
            img{
                width: auto;
                height: 20px;
                border-radius: 3px;
                margin-left: 10px;
            }
            @include mediaMax(767px){

                display: none;
            }
        }
    }
    &__data{
        
    }
    &__title{
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 20px;
        @include mediaMax(767px){
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0px;
            max-height: 40px;
            overflow: hidden;
            padding-top: 15px;
        }
    }
    &__side{
        margin-bottom: auto;
        margin-right: auto;
        @include mediaMax(767px){
            position: absolute;
            bottom: -50px;
            left: 0px;
            right: 0px;
            margin: auto;
            width: 100%;

            .select-theme--mini{
                width: 50%;
                font-size: 12px;
                p{
                    font-size: 12px;
                }
            }
        }
        .select-theme--mini{
            &:first-of-type{
                width: 200px;
            }
        }
    }
    .player-intro >img{
        
            border: 1px solid $primaryColor;
            border-radius: 50%;
            padding: 2px;
    
        

    }
    .select-box{

        select{
            padding: 0px 15px;
            min-width: 125px;
        }
        @include mediaMax(767px){
            
            
            height: 22px;
            select{
                min-width: 50px;
                width: 100%;
                height: 20px;
                padding: 0px 8px;
            }
            &::after{
                width: 10px;
                height: 5px;
                left: 8px;
            }
        }
    }
    &__team-info{
        display: flex;
        position: relative;
        padding-top: 10px;
        margin-bottom: -15px;
        flex-wrap: wrap;
        @include mediaMax(767px){
            margin-bottom: 0px;
        }
        &::after{
            content: "";
            height: 1px;
            
            background: $grad;
            width: calc(100% + 40px);
            position: absolute;
            top: 0px;
            left: -20px;
            @include mediaMax(767px){
                width: calc(100% + 30px);
                left: -15px;
            }
            
        }
    }
    &__item{
        display: flex;
        margin-left: 5%;
    }
    &__type{
        color: #444444;
        white-space: nowrap;
        font-size: 12px;
    }
    &__type-green{
        margin-right: 3px;
        color: $primaryColor;
        white-space: nowrap;
        font-size: 12px;
    }
}

