.side-matches{
    font-family: $bodyFont;
    line-height: 20px;
    

    &__holder{
        position: relative;
    }
    &__btn{
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // padding: 15px;
        // border-top: 2px solid #eee;
        // color: $primaryColor;
        // font-weight: 700;
        @extend .btn;
        @extend .btn--primary;
        @extend .btn--viewall;
        min-width: auto;
        margin: 15px 15px;
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        width: auto;
        @include mediaMax(1024px){
            margin: 15px auto;
        }
        @include mediaMax(767px){
            margin: 15px 15px;
        }
    }



}
.calender{
    display: flex;
    position: relative;
    padding: 15px;
    &__live{
        position: relative;
        font-weight: 100;
        color: $wh;
        background: $gry;
        padding: 2px 15px 2px 10px;
        border-radius: 3px;
        font-size: 13px;
        cursor: pointer;
        &::after{
            content: '';
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background: $wh;
            position: absolute;
            right: 6px;
            top: 0px ;
            bottom: 0px;
            margin: auto;
            transition: .3s;
        }
        &.active{
            background: $red3;
        }
        &:hover{
            background: $red3;
        }
    }
    &__days{
        display: flex;
    }
    &__days-link{
        display: block;
        padding: 2px 10px;
        margin-right: 5px;
        font-weight: 100;
        font-size: 12px;
        transition: .3s;
        border-radius: 3px;
        &:hover{
            background: $grad;
            color: $wh;
        }
        &.active{
            background: $grad;
            color: $wh;
        }
    }
}
.comp-title{

    align-items: center;
    display: flex;
    background: #eee;
    padding: 15px;
    &__img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        img{
            width: 25px;
            height: 25px;
        }
    }
    p{
        font-weight: 100;
        font-size: 13px;
        transition: .2s;
        white-space: nowrap;
        max-width: 85%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a{
        display: flex;
        &:hover{
            p{
                color: $primaryColor;
            }
        }
    }
    &--side{
        &:hover{

            p{
                color: $primaryColor;
            }
        }
    }
    &--matches{
        padding: 15px 0px;
        .mr-max{
            color: #444444 !important;
        }
    }
    &--single-match{
        padding: 0px;
        background: transparent;
    }
    &--single-match &__img{
        margin-left: 10px;
    }
}
.side-match-box{
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    border-bottom: 2px solid #eee;
    position: relative;
    &:last-of-type{
        // border: none;
    }
    &__teamA{
        display: flex;
        align-items: center;
        p{
            font-size: 12px;
            // text-align: center;
            min-width: 85px;
            max-width: 85px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
    text-align: left;
        }
        img{
            width: 25px;
            height: 25px;
            margin: 0px 10px;
        }
        &:hover{
            p{
                color: $primaryColor;
            }
        }
    }
    &__teamB{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        p{
            font-size: 12px;
            // font-weight: 100;
            min-width: 85px;
            max-width: 85px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
        }
        img{
            width: 25px;
            height: 25px;
            margin: 0px 10px;
        }
        &:hover{
            p{
                color: $primaryColor;
            }
        }
    }
    &__status{

        &:hover{
            color: $wh;
            .side-match-box__result{
                // background: $grad;
                background: #dedede;
            }
        }
    }
    &__result-box{

    }
    &__result{
        text-align: center;
        font-size: 10px;
        background: #eee;
        margin-top: 10px;
        border-radius: 3px 3px 0px 0px;
        min-width: 40px;
        max-width: 40px;
        transition: .2s;
        height: 22px;
        line-height: 22px;
    }
    &__progress-bar{
        height: 3px;
        background: gray;
        border-radius: 0px 0px 3px 3px;
        overflow: hidden;
    }
    &__progress-point{
        background: $red3;
        height: 100%;
        
        margin-right: auto;
        &.ended{
            background: $green;
        }
        &.live{
            background: $red3;
        }
        &.fixtrue{
            background: $gry;
        }
    }
    &__time{
        font-size: 10px;
        text-align: center;
        min-width: 40px;
        max-width: 40px;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        &.live{
            color: $red3;
        }
        &.ended{
            color: $green;
        }
        &.fixtrue{
            color: #444444
        }
    }
    &__comp{
        position: absolute;
        right: 15px;
        top: 0px ;
        bottom: 0px ;
        margin: auto;
        display: flex;
        align-items: center;
        transition: .2s;
        
        &:hover{

            p{
                color: $primaryColor
            }
        }

        img{
            height: 20px;
            width: 20px;
            margin-left: 10px;
        }
        p{
            color: #797979;
            font-size: 12px;
        }
    }
    &--fulldata &__comp{
        @include mediaMax(767px){
            bottom: auto;
            top: 15px;
            img{
                display: none;
            }
        }
    }
    &__date{
        color: #797979;
        position: absolute;
        left: 15px;
        top: 0px ;
        bottom: 0px ;
        margin: auto;
        display: flex;
        align-items: center;
        font-size: 12px;
        @include mediaMax(767px){
            // display: none;
        }
    }
    &--fulldata &__date{
        @include mediaMax(767px){
            bottom: auto;
            top: 15px;
        }
    }
    &--fulldata{
        @include mediaMax(767px){
            padding-top: 40px;
        }
        
    }
}
.scroll-matches-vertical{
    max-height: 445px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}