.single-wrapper{
    display: flex;
    position: relative;
    @include mediaMax(1024px){
        margin-top: -15px;
    }
}
.social-share,.social-share-story{
    // margin-left: 40px;
    margin-right: -60px;
    // margin-top: 60px;
    @include mediaMax(1280px){
        // margin-right: 20px;
        margin-right: -30px;
    }
    @include mediaMax(1024px){

        position: fixed;
        bottom: -2px;
        width: 100%;
        margin: 0px;
        z-index: 10;
        right: 0px;
        max-height: 45px;
    }
    .float-box{
        @include mediaMax(1024px){

            display: flex;
            width: 100%;
            align-items: baseline;
            justify-content: center;
            flex-direction: row-reverse;

        }
    }
    &__item{
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.04);
        margin-bottom: 15px;
        cursor: pointer;

        a,input{
            opacity: 0;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        
        &:last-of-type{
            margin-bottom: 0px;
            @include mediaMax(1024px){
                margin-bottom: 0px;
            }
        }
        @include mediaMax(1024px){

            border-radius: 0px;
            width: 20%;
            height: 45px;

        }
        &:hover{

            .icon{
                background: rgba(0,0,0,0.2);
            }
        }

        .icon{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s;
            svg{
                width: 20px;
                height: 20px;
                fill: $wh;
            }
        }
       
        
    }
    .fb-share{
        background: $instagram;
    }
    .tw-share{
        background: $twitter ;
    }
    .wt-share{ 
        background: $whatsapp;

    }
    .msg-share{
        background: $red2;
    }
    .cp-share{
        background: $wh;
        svg{
            fill: $primaryColor;
        }
        
    }

}

.main-content{
    width: 100%;

    @include mediaMin(1280px){
        margin-right: auto;
        max-width: calc(100% - 30px);
    }
    @include mediaMax(1280px){
        margin-right: auto;
        max-width: calc(100% - 35px);
    }
    @include mediaMax(1024px){
        margin: auto;
        max-width: 100%;
    }
    


}
.single-content{
    
    padding: 15px;
    position: relative;

    &__top{
        padding: 0px 15px 0px 0px; 
        @include mediaMax(1024px){
            padding: 0px;
        } 
          
    }
    &__heading{
        display: flex;
        align-items: center;
        @include mediaMax(767px){
            display: none;
        }
        .icon{
            margin-left: 10px;
            position: relative;
            top: -2px;
        }
    }


        &__top-icon{
            width: fit-content;
            margin-bottom: 15px;
            a{
                &:hover{

                    p{
                        text-decoration:underline;
                    }
                }
                .icon{

                    svg{

                    }
                }
                p{
                    font-size: 16px;
                }
            }
        }

        &__title{
            display: flex;
            margin-bottom: 10px;
            span{
                margin-left: 20px;
                @include mediaMax(768px){
                    margin-left: 10px;
                }
                svg{
                    width: 40px;
                    height: 40px;
                    @include mediaMax(768px){
                        width: 25px;
                        height: 25px;
                        margin-top: 7px;
                    }
                }
            }

            h1{
                font-size: 26px;
                line-height: 45px;
                @include mediaMax(1024px){
                    font-size: 22px;
                    line-height: 40px;
                }
            }
        }

        &__status-bar{
            display: flex;
            flex-wrap: wrap;
        }
        &__video-status{
            padding-right: 60px;
            @include mediaMax(768px){
                padding-right: 35px;
            }
        }
        .bold{
            font-family: $boldFont;
        }
        &__writter{
            color: $gry;
            margin-left: 20px;
            &:last-of-type{
                margin-left: 0px;
            }
        }
        &__hits{
            display: flex;
            align-items: center;
            

            .icon{
                margin-left: 5px;
                display: flex;
            align-items: center;
            justify-content: center;
                svg{
                    width: 15px;
                    height: 15px;
                }
            }
            span{
                color: $primaryColor;
            }
        }
        &__img{
            position: relative;
            img{
                width: 100%;
                min-width: 100%;
            }
            &::after{
                position: absolute;
                content: "";
                top: 0px;
                right: 0px;
                left: 0px;
                height: 5px;
                background: $grad;
                width: 93%;
                margin: auto;
            }
            &::before{
                position: absolute;
                content: "";
                bottom: 0px;
                right: 0px;
                left: 0px;
                height: 5px;
                background: $grad;
                width: 93%;
                margin: auto;
            }  
            @include mediaMax(1024px){
                margin-left: -15px;
                margin-right: -15px;
            } 
        }
        &__video{
            margin-top: 15px;
            position: relative;

            iframe{
                position: relative;
                max-width: 100%;
                min-width: 100%;
            }

            video{
                min-width: 100%;
                max-width: 100%;
            }
            @include mediaMax(1024px){
                margin-left: -15px;
                margin-right: -15px;
            }
        }
        // &__imgs-group{
        //     width: 100%;
        //     margin-top: 15px;
            
        //     .view-all{

        //         img{

        //         }
        //         &__btn-layer{
        //             background: rgba(0,0,0,0.4);
        //             position: absolute;
        //             top: 0px;
        //             right: 0px;
        //             width: 100%;
        //             height: 100%;
        //             display: flex;
        //             align-items: center;
        //             justify-content: center;
        //         }
        //         &__btn{
        //             svg{
        //                 width: 15px;
        //                 height: 15px;
        //                 margin-left: 5px;

        //             }
        //             span{
        //                 font-size: 13px;
        //                 font-weight: 600;
        //                 white-space: nowrap;
        //             }



        //             @include mediaMax(767px){
        //                 width: 100%;
        //                 height: 100%;
        //                 border-radius: 0px;
        //                 svg{
        //                     display: none;
        //                 }
        //                 span{
        //                     font-size: 10px;
        //                 }
        //             }
                    
        //         }

        //     }
        // }
        // &__img-group-holder{
        //     position: relative;
        //     overflow: hidden;
        //     padding-top: 11%;
        //     margin-left: 15px;
        //     width: 25%;
        //     cursor: pointer;
        //     &:last-of-type{
        //         margin-left: 0px;
        //     }
        //     img{
        //         position: absolute;
        //         top: 0px;
        //         bottom: 0px;
        //         right: 0px;
        //         left: 0px;
        //         margin: auto;

        //     }
        // }


        &__tags{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 20px 0px;
            flex-wrap: wrap;

        }
        &__tags-item{
            background: #0e314c;
            color: $wh;
            padding: 5px 10px;
            margin-left: 10px;
            border-radius: 5px;
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 125px;
            transition: .3s;
           
            &:hover{
                color: $green;
            }
            @include mediaMax(1024px){
                font-size: 11px;
                min-height: 30px;
                min-width: 85px;
                padding: 3px;
                

            }
        }
        &__article{
            
            h2,h3,h4,h5,h6{
                color: $green;
                // margin-bottom: 30px;
                font-size: 18px;
                line-height: 40px;
            }
            p{
            margin-bottom: 15px;
            line-height: 40px;
            font-size: 18px;
            }
            img{
                width: 100% !important;
            }
        }
        

}


