.match-events{
    margin-top: 15px;
    // padding: 15px 20px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    overflow: initial !important; 
    position: relative;
    &__teams{
        display: flex;
        flex-direction: column;
        position: absolute;
        background: $wh;
        z-index: 3;
        padding-left: 5px;
        height: 100%;
        justify-content: center;
        img{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: #eee;
            padding: 5px;
            &:first-of-type{
                margin-bottom: 5px;
            }
            &:last-of-type{
                margin-top: 5px;
            }
        }
    }
    &__content{
        flex-grow: 1;
        display: flex;
        align-items: center;
        // min-width: 120%;
        padding-right: 35px;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-top: 31px;
        padding-bottom: 30px;
        
    }
    &__limit{
        color: $primaryColor;
        display: inline-flex;
        margin: 0 10px;
        font-weight: bold;
        font-size: 12px;
        &:last-of-type{
            margin-left: 0;
        }
    }
    &__track{
        display: inline-flex;
        
        height: 20px;
        
        
        position: relative;
        justify-content: space-between;
        flex-grow: 1;
        // min-width: calc(50% - 113px);
        // @include mediaMax()
        &:before{
            position: absolute;
            background: $yellow3;
            border-radius: 10px;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            content: '';
        }
    }
    &__event{
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        min-width: 15px;
        margin: 0 10px;
        .icon{
            svg{
                width: 15px;
                height: 15px;
            }
        }
        .minute{
            font-size: 11px;
            font-weight: 600;
        }
        &--home{
            // top:2px;
            
            // top: -26px;
            top: -32px;
            @include mediaMax(1024px){
                // top: -24px;
                top: -26px;
            }
            .icon{
                // margin-bottom: 7px;
            }
        }
        &--away{
            // top: 26px;
            top: 32px;
            @include mediaMax(1024px){
                // top: 24px;
                top: 26px;
            }
            flex-direction: column-reverse;
            // top: -3px;
            .icon{
                // margin-top: 7px;
            }
        }
    }
}
.match-events__content{
    scrollbar-width: thin;
}
.match-events__content::-webkit-scrollbar{
    height: 5px !important;
    width: 5px !important;
    // overflow:scroll
    
}
.match-events__content::-webkit-scrollbar-track{
    height: 5px !important;
    width: 5px !important;
}