.single-match{
position: relative;
    .post-news--video{

        .post-news__title{
            font-size: 16px;
            line-height: 27px !important;
        }
        .post-news__abstract{
            font-size: 12px;
            line-height: 25px;
        }
    }
    &__tab-content{
        position: absolute;
        // left: 5000px;
        // display: none;
        top: 0px;
        // left: 0px;
        // right: 0px;
        width: 100%;
        transition: 0.0s;
        // max-height: 0px;
        visibility: hidden;
        // overflow: hidden;
        transform: translateY(50px);
        opacity: 0;
        // display: inline-flex;
        // z-index: -10;
        &.active{
            position: relative;
            // left: 0px;
            // display: block;
            transition: .5s ease;
            transform: translateY(0px);
            // max-height: 100%;
            opacity: 1;
            visibility: visible;
            // z-index: 1;
        }
    }
}
.on-bench{

    padding: 15px;

    &__head{
        background: #f3f3f3;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 5px 0px;
        display: flex;
        justify-content: center;
    }
    &__sub{
        font-size: 13px;
        color: #797979;
        font-weight: 600;

    }
    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        svg{
            fill: #9d9d9d;
            height: 20px;
            width: 20px;
        }
    }
    &__row{
        
    display: flex;
    padding: 15px 10px;
    border-top: 1px solid #eee;
    &:last-of-type{
        padding-bottom: 0px;
    }
    }
    &__team{
        width: 50%;
        display: flex;
        align-items: center;
        .formation-side__player{
            padding: 0px;
            border: none;
        }
        .formation-side__player-name{
            margin-right: 5px;
            font-size: 12px;
            // font-weight: 600;
            color: #444444;
            max-width: 75px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .formation-side__player-img{
            @include mediaMax(450px){
                height: 30px;
                width: 30px;
            }
        }
        
    }
    .team-A{

    }
    .team-B{

        flex-direction: row-reverse;
        .on-bench__player-num{
            margin-right: 15px;
            margin-left: 0px;
        }
        .on-bench__holder{
            flex-direction: row-reverse;
            @include mediaMax(576px){
                flex-direction: column;
            }
        }
        .on-bench__player-name{
            margin-right: 5px;
            margin-left: 0px;
            @include mediaMax(576px){
                margin-right: 0px;
            }
        }
    }
    &__player-num{
        font-weight: 600;
        margin-left: 15px;
        color: $primaryColor;
    }
    &__holder{
        display: flex;
        @include mediaMax(576px){
            flex-direction: column;
        }
        
        
    }
    &__player-name{
        margin-left: 5px;
        white-space: nowrap;
        @include mediaMax(576px){
            font-size: 12px;
            line-height: 15px;
            
        }
    }
    &__position{
        color: #778899;
        font-size: 13px;
        white-space: nowrap;
        @include mediaMax(576px){
            font-size: 11px;
            margin-top: 5px;
            line-height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.tab-switch2{
        // transition: .5s;
        // max-height: 0px;
        // overflow: hidden;
        // opacity: 0;
        &.active{
            // position: relative;
            // left: 0px;
            // display: block;
            // transition: 1s;
            // max-height: 100%;
            // opacity: 1;
        }

        
}