.single-story{
    margin-top: -15px;
    width: 100vw;
    max-height: calc(100vh - 75px);
    overflow: hidden;
    position: relative;
    height: calc(100vh - 75px);
    background: #000;
    &__bg{
        min-width: 100%;
        height: 100vh;
        filter: blur(25px);
        position: absolute;
        opacity: .7;
        img{
            
            min-width: 100%;
            min-height: 100%;
            max-width: unset;
        }
    }
    
    &__top-progress{
        position: relative;
        height: 4px;
        width: 100%;
        top: 0px;
        background: #19840a94;
        

    }
    &__progress-bar{
        height: 100%;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 70%;
        background: rgb(167,241,64);

    }
    &__img-holder{
        max-height: calc(100vh - 230px);
        min-height: calc(100vh - 230px);
        overflow: hidden;
        position: relative;

        img{
         max-height: 100%;
         max-width: 100%;
         min-width: 100%;   
         min-height: 100%;
        }
    }
    &__img{
        max-height: calc(100vh - 75px);
        overflow: hidden;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0px;
        
        .relative{
            max-height: 100vh;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            top: 45px;
            // margin-top: 90px;
            @include mediaMax(485px){
                // justify-content: center;
                margin-top: 0px;
            }
            
            
        }
        h1{
            color: #fff;
            max-width: 430px;
            font-size: 16px;
            line-height: 27px;
            margin-bottom: 15px;
            padding-right: 0px;
            margin-right: -30px;
            min-width: 275px;
            width: 100%;
            @include mediaMax(1367px){
                padding-right: 100px
            }
            @include mediaMax(1024px){
                padding-right: 48px;
            }
        }
    }
    &__nav{
        position: absolute;
        left: 0px;
        right: 0px;
        width: 750px;
        top: 0px;
        bottom: 0px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        @include mediaMax(767px){
            width: 87%;
        }
    }
    &__nav-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background: rgba(255,255,255,.3);
        cursor: pointer;
        transition: .3s;
        &:hover{
            transform: scale(1.1);
            background: rgba(0,0,0,.3);

        }
        svg{
            width: 20px;
            height: 20px;
            fill: #fff;
        }
        &:last-of-type{


            svg{
                transform: rotate(180deg);

            }
        }
        @include mediaMax(767px){

            height: 40px;
            width: 40px;
            svg{
                width: 15px;
                height: 15px;
            }
        }
    }
    &__logo{

        position: absolute;
        top: -45px;
        right: 0px;
        display: flex;
        @include mediaMax(1367px){
            right: 100px;
        }
        @include mediaMax(1024px){
            right: 50px;
        }
        @include mediaMax(485px){
            right: 15px;
        }
            p{
                font-size: 12px;
                margin-right: 10px;
                color: $wh;
                max-width: 77px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        
    }
    &__logo-holder{
            border-radius: 50%;
            border: 2px solid $primaryColor;
            width: 30px;
            height: 30px;
            overflow: hidden;
        img{

        }
    }
    &__open-share{
        position: absolute;
        right: 15px;
        top: -80px;
        z-index: 1;
        cursor: pointer;
        
        .icon{
            height: 38px;
            max-height: 0px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $yellow3;
            border-radius: 50%;
            width: 38px;
            

            
            &:first-of-type{
                max-height: 40px;
            }

            svg{
                width: 23px;
                height: 23px;
                padding-right: 3px;
            }
            
            

        }
        &.active{
            
            .single-story__open{
                max-height: 0px;

            }
            .single-story__close{
                max-height: 40px;
                svg{
                    width: 15px;
                    height: 15px;
                    padding: 0px;
                }
                
                
            }
        }
        @include mediaMax(1024px){
            top: -80px;
            
        }
        @include mediaMax(485px){
            top: -70px;
            
        }
    }


    .social-share-story{
        display: flex;
        max-width: 100%;
        align-items: center;
        position: absolute;
        
        justify-content: center;
        width: 100%;
        padding: 50px 15px;
        background: rgba(0,0,0,.7);
        bottom: -170px;
        transition: .3s ease;
        left: 0px;
        right: 0px;
        margin: auto;
        &.active{
        bottom: 0px;
        .single-story__open-share{
            top: -20px
        }
        }
        @include mediaMax(1024px){
            bottom: -110px;
        }
        @include mediaMax(485px){
            bottom: -100px;
            &.active{
                bottom: 0px;
                }
        }

    }

    .social-share__item{
        min-width: 40px;
        margin-bottom: 0px;
        margin-left: 10px;
        height: 40px;
        width: 40px;
        &:last-of-type{
            margin: 0px;
        }
        
        @include mediaMax(1024px){
            // margin: 0px;
            // min-width: unset;
            // height: 50px;
            // width: 20%;
            border-radius: 12px !important;
        }
        @include mediaMin(1400px){
            height: 50px;
            width: 50px;
        }
    }
    .action-message{
        left: 0px;
        right: 0px;
    }
}
@-moz-document url-prefix() {
    .single-story__img-holder{
        @include mediaMax(1367px){
            max-width: 275px;
        } 
        @include mediaMax(1024px){
            max-width: unset;
        } 
    }
    .single-story__logo{

        @include mediaMax(1367px){
            right: 65px;
        }
        @include mediaMax(1025px){
            right: 15px;
        }  
    }
    .single-story__img h1{
        
        @include mediaMax(1025px){
            padding-right: 15px;
        }
        @include mediaMax(450px){
            padding-right: 15px;
            margin-right: 0px;
        }
    }
}