
    .statistics{
        padding: 15px;
        &__row{
            // display: flex;
        }
        &__head{
            padding: 5px 0px;
            text-align: center;
            background: #f1f1f1;
            color: #797979;
            border-radius: 5px;
            font-weight: 600;
            font-size: 13px;
        }
        &__line{
            display: flex;
            justify-content: space-evenly;
        }
        &__team{
            display: flex;
            width: 50%;
            align-items: center;
            padding: 5px 0px;

        }
        .team-A{
                
            .statistics__progress-value{
                left: 0px;
            }
            .statistics__progress-bar{
                margin-left: 6px;
                margin-right: auto;
                border-radius: 0px 10px 10px 0px ;
            }
            .statistics__progress-value{
                border-radius: 0px 10px 10px  0px;
            }
            .statistics__value{
                margin: 0px 15px;
            }
        }
        .team-B{
            
            flex-direction: row-reverse;
            .statistics__progress-value{
                right: 0px;
            }
            .statistics__progress-bar{
                margin-right: 6px;
                margin-left: auto;
                border-radius: 10px 0px 0px 10px ;
                
            }
            .statistics__progress-value{
                border-radius: 10px  0px 0px 10px ;
                    background: $gradRev;
            }
            .statistics__value{
                margin: 0px 15px;
                
            }
        }
        &__value{
            color: #444444;
            font-weight: 600;
            font-size: 13px;
        }
        &__progress-bar{
            position: relative;
            height: 10px;
            background: #eee;
            width: 100%;
            
        }
        &__progress-value{
            background: $grad;
            position: absolute;
            height: 100%;
            top: 0px;


        }


    }