.stories{
    display: flex;
    width: 100%;
    @include mediaMax(1024px){
        overflow: auto;
        padding-bottom: 10px;
        
    }
    .story-card{
        @include mediaMax(1024px){
            
            min-width: 150px;
            min-height: 230px;
        }
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        margin-left: 15px;
        // padding-top: 230px;
        padding-top: 30%;
        width: 20%;
        &>img{
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin: auto;
            max-width: 100%;
            min-height: 100%;
            transition: .3s;
        }
        &:last-of-type{
            margin-left: 0px;
        }
        &::after{
            left: 0;
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 0;
            opacity: 1;
            background: linear-gradient(0deg,#1d1d1b 0%,rgba(29,29,27,0.7) 50%,rgba(255,255,255,0) 100%);
            border-radius: 10px;
            backface-visibility: hidden;
        }
        &:hover{

            .story-card__img{
                transform: scale(1.1);
            }
        }
           
            // &__img{
            //     position: absolute;
            //     top: 0px;
            //     bottom: 0px;
            //     left: 0px;
            //     right: 0px;
            //     margin: auto;
            //     max-width: 100%;
            //     min-height: 100%;
            //     transition: .3s;
                
            // }
        
        &__title{
            position: absolute;
            bottom: 55px;
            right: 8px;
            z-index: 1;
            color: $wh;
            padding: 0px 10px;
            width: 88%;
            p{
                font-size: 15px;
                font-family: $boldFont;
                line-height: 22px;
                max-height: 44px;
                overflow: hidden;
                white-space: nowrap;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__time{
            font-size: 9px;
            color: #eee;
            // opacity: .6;
            position: absolute;
            bottom: 18px;
            right: 18px;
            z-index: 1;
        }
        &__logo{
            position: absolute;
            top: 12px;
            right: 12px;
            display: flex;
            p{
                font-size: 12px;
                margin-right: 10px;
                color: $wh;
                max-width: 77px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        &__logo-holder{
            border-radius: 50%;
            border: 2px solid $primaryColor;
            width: 30px;
            height: 30px;
            img{

            }
        }
    }

    &--page{
        flex-wrap: wrap;
        @include mediaMax(1024px){
            overflow: unset;
            padding-bottom: 10px;
            
        }
        @include mediaMax(514px){
            justify-content: space-evenly;
            
            
        }


    }
    &--page .story-card{
        width: calc(20% - 15px);
        @include mediaMax(1120px){
            width:  calc(25% - 15px) ;
            margin-top: 15px;
            
        }
        @include mediaMax(679px){
            width:  calc(100% / 3 - 15px) ;
            
            
        }
        @include mediaMax(514px){
            width:  calc(100% / 2 - 18px) ;
            margin-left: 0px;
            
        }
        @include mediaMax(320px){
            
            margin-left: 2px;
            min-width: 140px;
        }
    }
}