.summary-box{

    ///////// head of box
        &__head{
            
            position: relative;
            padding: 10px 15px;
            display: flex;
            @include mediaMax(767px){
                flex-direction: column;
            }
            
    
    
        }
        &__info{
            margin-right: auto;
            display: flex;
            align-items: center;
            @include mediaMax(767px){
                flex-wrap: wrap;
                margin-top: 15px;
                border-top: 1px solid #eee;
                padding-top: 10px;
                margin-right: unset;
                // flex-direction: column;
                justify-content: space-between;
                align-items: flex-start
    
            }
        }
        &__info-item{
            display: flex;
            margin-left: 25px;
            &:last-of-type{
    
                margin: 0px;
            }
            @include mediaMax(767px){
                
    
    
            }
        }
        &__info-icon{
    
            display: flex;
            align-items: center;
            margin-left: 10px;
            svg{
    
                fill: $primaryColor;
                width: 15px;
                height: 15px;
            }
        }
        &__info-text{
            font-size: 12px;
            @include mediaMax(767px){
                font-size: 10px;
            }
            
        }
    ///////// result box
        &__result{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 30px 0px;
        }
        &__team{
            display: flex;
            align-items: center;
            width: 35%;
            justify-content: flex-end;
            transition: .3s;
            &:hover{
                color: $primaryColor
            }
        }
        .home{
    
        }
        .away{
            flex-direction: row-reverse;
        }
        &__team-name{
            font-size: 18px;
            @include mediaMax(767px){
                font-size: 11px;
                text-align: center;
                line-height: 17px;
                // font-weight: 600;
                max-height: 36px;
                overflow: hidden;
            }
        }
        &__team-logo{
            margin: 0px 15px;
            width: 50px;
            height: 50px;
            @include mediaMax(767px){
                margin: 0px 5px;
                width: 30px;
                height: 30px;
                min-width: 30px;
                overflow: hidden;
                
            }
            img{
                
            }
        }
        &__team-score{
            font-size: 25px;
            font-weight: 600;
            text-align: center;
            width: 25px;
        }
        &__status{
            width: 20%;
            display: flex;
            justify-content: center;
            @include mediaMax(767px){
                font-size: 9px;
                
            }
            .score-A{
                margin-left: auto;
                @include mediaMax(767px){
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    width: 25px;
                }
            }
            .score-B{
                margin-right: auto;
                
                @include mediaMax(767px){
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    width: 25px;
                }
            }
            
            .live{
                color: $red3;
            }
            .ended{
                color: $primaryColor;
            }
            
    
        }
        &__match-status{
            font-weight: 600;
            color: #797979;
            font-weight: 600;
            @include mediaMax(767px){
                margin-top: -30px
            }
            
            
        }
        &__events{
            display: flex;
            justify-content: center;
            width: 100%;
            margin: auto;
            padding-bottom: 20px;
            position: relative;
            
        }
        &__team-event{
            display: flex;
            width: 50%;
            
            flex-direction: column;
            
        }
        .event-A{
            margin-right: auto;
            padding-left: 8%;
            border-left: 2px dashed #eee;
            .summary-box__event-row{
                flex-direction: row-reverse;
            }
            .summary-box__event-icon{
                margin-right: 15px;
            }
            @include mediaMax(767px){
                padding-left: 5%;
            }
        }
        .event-B{
            
            margin-left: auto;
            padding-right: 8%;
            border-right: 2px dashed #eee;
            .summary-box__event-icon{
                margin-left: 15px;
            }
            @include mediaMax(767px){
                padding-right: 5%;
            }
        }
        &__event-row{
            display: flex;
            align-items: center;
        }
        &__event-icon{
            
            svg{
                width: 14px;
                height: 14px;
                @include mediaMax(767px){
                    width: 12px;
                    height: 12px;
                }
            }
        }
        &__event-maker{
            white-space: nowrap;
            font-size: 12px;
            color: #797979;
            @include mediaMax(767px){
                font-size: 10px;
            }
    
            
        }
    
        &__page-tabs{
            display: flex;
            align-items: center;
            @include mediaMax(767px){
                justify-content: space-evenly;
            }
            
        }
        &__tab{
            color: #797979;
            padding: 10px 15px;
            transition: .3s;
            cursor: pointer;
            position: relative;
            white-space: nowrap;
            &.active , &:hover{
    
                color: $primaryColor;
                &::after{
                    content: "";
                    width: 80%;
                    position: absolute;
                    background: $grad ;
                    top: calc(100% - 3px);
                    height: 3px;
                    left: 0px;
                    left: 0px;
                    right: 0px;
                    margin: auto;
                }
            }
            
            
            @include mediaMax(767px){
                font-size: 12px;
                padding: 10px;
                
            }
        }
    
    }