.survey{

    &__head{
        
    }
    &__content{
        padding: 15px;

    }
    &__img{
        border-radius: 5px;
        overflow: hidden;
        img{
            min-width: 100%;
        }
    }
    &__text{

        p{
            line-height: 22px;
            font-family: $boldFont;
            font-size: 13px;

        }
    }
    &__btns-box{
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
    }
    &__btn{
        border: 1px solid #eee;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin-top: 12  px;
        font-family: $boldFont;
        margin-bottom: 15px;
        cursor: pointer;
        transition: .2s;
        &:hover{
            color: $wh;
            background: $grad;
        }
    }
    &__graph{
        font-size: 13px;
        font-family: $boldFont;
        margin-bottom: 20px;
        &:last-of-type{
            margin-bottom: 35px;
        }
    }
    &__text{

    }
    &__num{

    }
    &__result-line{
        
    }
    &__prog-line{
        height: 10px;
        // width: 100%;
        position: relative;
        background: #eee;
        border-radius: 10px;
    }
    &__prog-color{
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        width: 50%;
        background: #acd8bf;
        border-radius: 10px;
    }
    .high{
        color: $primaryColor;
        .survey__prog-color{
            background: $primaryColor;
        }
    }
}