.trend{
    
    &__head{
        
    }
    &__box{
        position: relative;
        display: flex;
        // padding: 12px 15px;
        border-bottom: 1px solid #eee;
        min-height: 95px;
    }
    &__link{
        position: absolute;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        padding: 12px 15px;
        &:hover{
            p{
                color: $primaryColor;
            }
        }

    }
    &__cat-link{
        position: absolute;
        bottom: 10px;
        right: 45px;
        z-index: 2;
        span{
            display: block;
            margin-right: 10px;
            font-size: 12px;
            transition: .2s;
            
        }
        &:hover{
            span{
                text-decoration:underline;
            }
        }

    }
    &__num{
        border-radius: 3px;
        background: $primaryColor;
        color: $wh;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 12px
    }
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 22px;
        margin-right: 10px;
        p{
            font-size: 13px;
            max-height: 44px;
            min-height: 44px;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: .2s;
            
        }
       
    }
    &__article{
        display: flex;
        margin-top: 5px;
        margin-bottom: -5px;
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                height: 8px;
                width: 8px;
                fill: $primaryColor;

            }
        }
        span{
            
            color: $primaryColor;
        }
        
    }
    &__info{
        display: flex;
        margin-top: 5px;
        margin-bottom: -5px;
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                height: 15px;
                width: 15px;

            }
        }
        
    }
    &__video{
        display: flex;
        margin-top: 5px;
        margin-bottom: -5px;
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                fill: $red;
                height: 10px;
                width: 10px;

            }
        }
        span{
            
                color: $red;
        }
    }
    &--search{
        

        p{
            
            
        }
    }
    &--search &__box{
        min-height: 50px;
    }
    
    &--search &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            width: 15px;
            height: 15px;
            fill: #bfbfbf;

        }
    }
    &--search &__text{
        margin-right: 15px
    }
}