

@font-face {
    font-family: 'Almarai';
    src: url('fonts/Almarai/Almarai-Regular.ttf');
    font-weight:100;
}
@font-face {
    font-family: 'Almarai-b';
    src: url('fonts/Almarai/Almarai-Bold.ttf');
    font-weight:900;
}




body{
    //font-size:1rem;
    font-family:$bodyFont;
    //line-height:1.2em;
    // font-weight:700;

}
@each $num in 1,2,3,4,5,6{
    h#{$num}{
        font-family: $boldFont;        
        font-weight: 700;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
}
h1{
    @include rem(32);
    font-weight: 700;
}
h3{
    @include rem(28);
    font-weight: 700;
}
h4{
    @include rem(20);
    font-weight: 700;
}

