/*
    # Layout is customized for every project
    1 - layout
    1 - section
    3 - grid
*/
//[1] - layout
.flex{
     display: flex;
    &--wrap{
        flex-wrap: wrap;
    }
}
// #app{
//     position: relative;
// }
.col-xs-6{
    @include mediaMax(479px){
        flex-basis: 100% !important;
        max-width: 100% !important;
    }
}

.layout{
    display: flex;
    position: relative;
    margin-top: 15px;
    @include mediaMax(1024px){
        flex-direction: column;
    }
    &__item{
        &--mini{
            min-width: 330px;
            max-width: 330px;
            @include mediaMax(1024px){
                min-width: auto;
                max-width: none;
                // margin-top: 25px;
            }
            &-single{
                    // min-width: 400px;
                    // max-width: 400px
            }
        }
        &--large{
            // .post-news{
            //     height: 100%;
            // }
            flex-basis: 0;
            flex-grow: 1;
            margin-left: 15px;
            
            @include mediaMax(1024px){
                margin-left: 0;
                max-width: 100%;
            }
            &-single{
                margin-right: 60px;
                @include mediaMax(1279px){
                    margin-right: 30px;
                }
                @include mediaMax(1025px){
                    margin-right: 0;
                }
            }
        }
        &--maxwidth{
            max-width: calc(100% - 345px);
            @include mediaMax(1024px){
                max-width: 100%;
            }
        }
        
        &--tab{
            @include mediaMax(1024px){
                display: none;
            }
        }
        &--nomobile{
            @include mediaMax(1024px){
                display: none;
            }
        }
        &.active{
            display: block;
        }
    }
    // flex-direction: column;
     
    // @include mediaMin(1024px){
    //     flex-direction: row;
    //     &--column{
    //         flex-direction:column;
    //     }
    //     &--wrap{
    //         flex-wrap: wrap;
    //     }
    //     &__item{

    //         &--grow{
    //             flex-grow:1;
    //         }
    //         &--content{
    //             flex-grow:1;
    //             padding:0 15px;
    //         }
    //         &--aside{
    //             padding:0 15px;
    //             flex-basis:330px;
    //         }
    //     }
    // }
}






//[3] Container
  

  .container {
    // max-width: 1410px;
    // max-width: 1280px;
    max-width: calc(100% - 160px);
    // max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-right: $grid-space;
    padding-left: $grid-space;
    @include mediaMax(1279px){
        max-width: none;
    }
    &-fluid{
        @include mediaMax(1024px){
            width: 100%;
            max-width: none !important;
        }
    }
    &--height100{
        height: 100%;
    }
    &--main{
     
      min-height: calc(100vh - 247px);
     
    }
    &--center{
        align-items: center;
        justify-content: center;
        display: flex;
    }
    @include mediaMin(480px) {
        // max-width: 480px;
        // max-width: 100%;
    }
    @include mediaMin(640px) {
        // max-width: 640px;
        // max-width: 100%;
    }
    // @include mediaMin(960px) {
    //     // max-width: 960px;
    //     //max-width: 100%;
    //     max-width: calc(100% - 320px);
    // }
    @include mediaMin(1024px){
        //max-width: 704px;
    }
    @include mediaMin(1280px) {
        // max-width: 1280px;
    }
    @include mediaMin(1367px) {
        //max-width: calc(100% - 320px);
        //max-width: 1430px;
        //width: 1170px;
    }
    // @include mediaMin(1280px) {
    //     // max-width: 960px;
    //     max-width: 100%;
    // }
    // @include mediaMin(1366px) {
    //     max-width: calc(100% - 320px);
    // }
    @include mediaMax(1600px){
        // max-width: calc(100% - 240px) !important;
        // max-width: 1280px;
        // max-width: 960px !important;
    }
  }


//[4] Rows
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1*$grid-space ;
    margin-left: -1*$grid-space ;
    
  }
 


//[5] Grid columns

  //[5.1] - column defaults
    %col-basic-setting{
      position: relative;
      flex-basis: 100%;
      max-width: 100%;
      min-height: 1px;
        padding-right: $grid-space;
        padding-left: $grid-space;
        
    }
    @for $i from 1 through 12 {
      .col-xs-#{$i},
      .col-ls-#{$i},
      .col-sm-#{$i},
      .col-md-#{$i},
      .col-lg-#{$i}{
        @extend %col-basic-setting;
      }
    }

  //[5.2] - Mobile
    @include groupSelectors(12, "xs");
    @include initGrid("xs", false, false, false);
  
  //[5.3] - Phablet
    @include mediaMin(480px) {
      @include groupSelectors(12, "ls");
      @include initGrid("ls", false, false, false);
    }

  //[5.4] - Tablet-portrait
    @include mediaMin(640px) {
      @include groupSelectors(12, "sm");
      @include initGrid("sm", false, false, false);
    }
  
  //[5.5] - Tablet-landscape
    @include mediaMin(960px) {
      @include groupSelectors(12, "md");
      @include initGrid("md", false, false, false);
    }
  
  //[5.5] - Desktop
    @include mediaMin(1280px) {
      @include groupSelectors(12, "lg");
      @include initGrid("lg", false, false, false);
    }



    .text-center{
        text-align: center;
    }


    .no-touch{
        @include mediaMax(1024px){
            display: none !important;
        }
    }
    .touch{
        @include mediaMin(1025px){
            display: none !important;
        }
    }
    .no-touch-sm{
        @include mediaMax(767px){
            display: none !important;
        }
    }
    



    .twitter{
        background: $twitter;
        &:hover{
            background: #548db8;
        }
    }
    .facebook{
        background: $facebook;
        &:hover{
            background: #526691;
        }
    }
    .google{
        background: $googlePlus;
        &:hover{
            background: #e96565;
        }
    }
    .whatsapp{
        background: $whatsapp;
        &:hover{
            background: #299a54;
        }
    }





    .success{
        color: #299a54
    }
    .warning{
        color: red;
    }


    .box-theme{
        background: $wh;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.04);

    }
    .recommended-teams{
        display: flex;
        padding: 15px 30px;
        justify-content: space-between;
        margin-top: 15px;
        // margin-bottom: 15px;
        @include mediaMax(1024px){
            display: none;
        }
        a{
            img{
                width: 40px;
                height: 40px;
                transition: 0.3s;
                position: relative;
                @include mediaMax(1169px){
                    width: 35px;
                    height: 35px;
                }
            }
            &:hover{
                img{
                    transform: translateY(-5px);
                }
            }
        }
    }
    
    .text-gradient{
        // background: -webkit-linear-gradient(#24A557, #BAFB3C);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        color: $primaryColor;
    }

    .group-grid{
        display: flex;
        flex-direction: column;
        &__top{
            display: flex;
            margin-bottom: 15px;
            @include mediaMax(1169px){
                flex-direction: column;
            }
        }
        &__main{
            flex-basis: 0;
            flex-grow: 1;
            margin-left: 15px;
            @include mediaMax(1169px){
                margin-left: 0;
                margin-bottom: 15px;
            }
            .post-news{
                height: 100%;
            }
        }
        &__aside{
            // min-width: 324px;
            // max-width: 324px;
            // min-width: 375px;
            // max-width: 375px;
            min-width: 32.33%;
            max-width: 32.33%;
            background: $wh;
            border-radius: 20px;
            box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.04);
            @include mediaMax(1169px){
                min-width: auto;
                max-width: none;
            }
        }
        &__video{
            position: relative;
            padding-bottom: 1px;
            .post-news{
                margin: 15px;
                padding: 0;
                box-shadow: none;
                &__img{
                    border-radius: 10px !important;
                    padding-top: 65%;
                    @include mediaMax(1169px){
                        padding-top: 57%;
                    }
                    &:after{
                        display: none !important;
                    }
                }
                &__title{
                    font-size: 16px;
                }
                &__data{
                    padding: 0 !important;
                }
            }
            &:after{
                content: '';
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                @extend %horizontal_gradient;
            }
        }
        &__others{
            padding: 15px;
            .post-news{
                &:first-of-type{
                    margin-bottom: 10px;
                }
            }
        }
        &__bottom{
            display: flex;
            @include mediaMax(1169px){
                flex-direction: column;
            }
        }
        &__wrap{
            background: $wh;
            border-radius: 20px;
            box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.04);
            flex-basis: 0;
            flex-grow: 1;
            padding: 10px;
            margin-left: 15px;
            position: relative;
            // padding-right: 15px;
            @include mediaMax(1169px){
                margin-left: 0;
                margin-bottom: 15px;
            }
            @include mediaMax(1024px){
                border-radius: 10px;
            }
            &:last-of-type{
                margin-left: 0;
            }
            &:before{
                content: '';
                width: 5px;
                height: 90px;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                @extend %vertical_gradient;
            }
        }
    }
    
    .bottom-grad{
        position: relative;
        
        &::after{
            content: "";
            width: 100%;
            position: absolute;
            background: $grad ;
            // top: 100%;
            height: 3px;
            left: 0px;
            bottom: 0;

        }
    }
    .bottom-grad1{
        position: relative;
        &::after{
            content: "";
            width: 100%;
            position: absolute;
            background: $grad ;
            top: 100%;
            height: 1px;
            left: 0px;

        }
    }
    .bottom-grad2{
        position: relative;
        &::after{
            content: "";
            width: 100%;
            position: absolute;
            background: $grad ;
            top: 100%;
            height: 2px;
            left: 0px;

        }
    }
    .m-auto{
        margin: auto;
    }
    .ads-card{
        img{
            margin: auto;
        }
    }
    .p-15{
        padding: 15px;
    }
    .mr-max{
        margin-right: auto;
    }
    .mt-15{
        margin-top: 15px;
    }
    .mb-15{
        margin-bottom: 15px;
    }
    .mr-15{
        margin-right: 15px;
    }
    .mt--15{
        margin-top: -15px;
    }
    .mr-10{
        margin-right: 10px;
    }
    .relative{
        position: relative;
    }
    .bg-fff{
        background: $wh !important;
    }
    .no-bg{
        background: transparent !important;
    }
    .bborder{
        border-bottom: 1px solid #eee;
    }
    .main-title{
        display: flex;
        margin: 30px 0;
        color: #252E29;
        border-bottom: 1px solid #cbcbcb;
        padding-bottom: 10px;
        height: 45px;
        p{
            font-family: $boldFont;
            font-size: 20px;
            @include mediaMax(768px){
                font-size: 16px;
            }
        }
        
        &__side{
            margin-right: auto;
            &>span{
                border-bottom: 1px solid transparent;
                padding:0 15px;
                margin-left: 10px;
                padding-bottom: 16px;
                cursor: pointer;
                color: #252E29;
                display: inline-block;
                &.active{
                    border-bottom: 1px solid $primaryColor;
                    color: $primaryColor;
                }
                &:last-of-type{
                    margin-left: 0;
                }
                @include mediaMax(1024px){
                   
                    padding: 0 10px;
                    padding-bottom: 14px;
                }
                // @include mediaMax(768px){
                //     padding: 0 10px;
                //     padding-bottom: 14px;
                // }
            }
            a{

            }
            a{
                color: $primaryColor;
                display: block;
                padding:0 15px;
                // margin-left: 10px;
                // padding-bottom: 16px;
            }
        }
        .select-theme__input-text{
            font-size: 12px;
        }
    }

    .competition_view{
        // background: $wh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        padding-bottom: 13px;
        justify-content: space-around;
        border-radius: 5px;
        position: relative;
        transition: .3s;
        &:hover{
            background: #f1f1f1;
            color: $primaryColor;
        }
        @include mediaMax(959px){
            margin-bottom: 15px;
        }
        @include mediaMax(479px){
            height: 100px;
        }
        a{
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        img{
            margin-bottom: 5px;
            width: 40px;
            height: 40px;
        }
        p{
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
            max-width: 20ch;
            text-overflow: ellipsis;
            font-family: $boldFont;
            padding: 0 10px;
            @include mediaMax(1366px){
                max-width: 15ch;
            }
            @include mediaMax(959px){
                max-width: none;
            }
            @include mediaMax(479px){
                display: none;
            }
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: calc(100% - 20px);
            height: 3px;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            @extend %horizontal_gradient;
        }
    }
.side-title{
        position: relative;
        padding: 12px 15px;
        font-family: $boldFont;
}


.videos-grid{
    display: flex;
    margin-bottom: 30px;
    @include mediaMax(1169px){
        flex-direction: column;
    }
    @include mediaMax(1024px){
        margin-bottom: 15px;
    }
    &__box{
        // display: flex;
        flex-basis: 0;
        flex-grow: 1;
        &:first-of-type{
            margin-left: 10px;
        }
        &:last-of-type{
            margin-right: 10px;
        }
        @include mediaMax(1169px){
            &:first-of-type{
                margin-left: 0;
                margin-bottom: 20px;
                
            }
            &:last-of-type{
                margin-right: 0;
            }
            
           
        }
        @include mediaMax(639px){
            &:first-of-type{
                margin-bottom: 10px;
            }
        }
        &--main{
            .post-news{
                height: 100%;
                margin-bottom: 0;
                @include mediaMax(639px){
                    // margin-bottom: 10px;
                }
                &:nth-of-type(1){
                    img{
                        @include mediaMax(639px){
                            // border-radius: 10px !important;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            border-bottom-left-radius: 0px ;
                            border-bottom-right-radius: 0px ;
                        }
                    }
                }
                &__data{
                    padding-left: 20px !important;
                    padding-right: 20px !important;
                }
                &__title{
                    font-size: 25px;
                    line-height: 45px !important;
                    padding-left: 100px;
                    margin-bottom: 15px;
                    max-height: 84px !important;
                    height: auto !important;
                    @include mediaMax(569px){
                        font-size: 20px;
                        line-height: 35px !important;
                        padding-left: 0 !important;
                        max-height: 70px !important;
                    }
                    @include mediaMax(479px){
                        font-size: 16px;
                        line-height: 29px !important;
                        max-height: 55px !important;
                    }
                }
                &__img{
                    padding-top: 61%;
                    // &:after{
                    //     display: none !important;
                    // }
                }
                &__video{
                    width: 50px;
                    height: 50px;
                    top: 0 !important;
                    left: 0 !important;
                    right: 0 !important;
                    bottom: 0 !important;
                    svg{
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        &--others{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .post-news{
                min-width: calc(50% - 10px);
                max-width: calc(50% - 10px);
                @include mediaMax(639px){
                    min-width: auto;
                    max-width: none;
                    flex-grow: 1;
                }
                
                &:nth-of-type(2){
                    
                }
                &:nth-of-type(3){
                    margin-bottom: 0;
                    @include mediaMax(639px){
                        margin-bottom: 10px;
                    }
                }
                &:nth-of-type(4){
                    margin-bottom: 0;
                }
            }
        }
    }
}

.main-tabs{
    display: flex;
    margin-bottom: 15px;
    margin-top: 5px;
    background: #fff;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.04);
    border-radius: 5px;
    overflow: hidden;
    @include mediaMin(1025px){
        display: none;
    }
    li{
        flex-basis: 0;
        flex-grow: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
        background: $wh;
        font-weight: bold;
        &:first-of-type{
            border-radius: 0px 5px 5px 0px;
        }
        &:last-of-type{
            border-radius: 5px 0px 0px 5px;
        }
        
        
        &.active{
            background: $primaryColor;
            color: $wh;

        }
    }
}

.sticky-box{
    min-width: 330px;
    max-width: 330px;
    @include mediaMax(1024px){
        min-width: auto;
        max-width: none;
    }
    &--lg{
        min-width: 400px;
        max-width: 400px;
    }
}

.breadcrumb{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    &__category{
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: 1px;
        
        &:after{
            content: '';
            width: 100%;
            height: 1px;
            @extend %horizontal_gradient;
            position: absolute;
            display: block;
            bottom: -1px;
            right: 0;
            transform: rotate(180deg);
        }
        @include mediaMax(1024px){
            &:after{
                // display: none;
                bottom: 0;
            }
        }
        @include mediaMax(767px){
            &:after{
                bottom: -2px;
            }
        }
        a{
            display: inline-flex;
            padding: 10px;
            margin-left: 15px;
            padding-bottom: 0;
            position: relative;
            color: #7B7B7B;
            &:last-of-type{
                margin-left: 0;
            }
            &:hover{
                color: $primaryColor;
            }
            &.active{
                color: $primaryColor;
                &:after{
                    content: '';
                    width: 100%;
                    height: 4px;
                    @extend %horizontal_gradient;
                    position: absolute;
                    display: block;
                    bottom: -8px;
                    right: 0;
                    transform: rotate(180deg);
                }
                @include mediaMax(767px){
                    &:after{
                        display: none;
                    }
                   
                }
            }
        }
        h1{
            font-size: 20px;
            line-height: 51px;
            @include mediaMax(767px){
                font-size: 20px;
                line-height: 40px;
                margin-left: 50px;
                white-space: nowrap;
            }
        }
    }
    &__others{
        margin-right: auto;
        z-index: 1;
        @include mediaMax(1024px){
            // display: none;
        }
        @include mediaMax(767px){
            overflow-x: auto;
            white-space: nowrap;
            overflow-y: hidden;
            padding-bottom: 10px;
            // margin-right: 50px;
        }
    }
    &__section{
        display: flex;
        align-items: center;
        padding-top: 15px;
        li{
            &:first-of-type{
                a{
                    &:before{
                        display: none;
                    }
                }
            }
            
            &>*{
                &:before{
                    content: '/';
                    display: inline-flex;
                    margin-left: 5px;
                    color: $bk;
                }
                
            }
            // &:nth-child(1){
            //     &:before{
            //         display: none;
            //     }
            // }

            a{
                color: $primaryColor;
               
            }
            span{
                position: relative;
                display: flex;
                align-items: center;
                
            }
            margin-left: 10px;
        }
    }
}
.video-layout{
    margin-left: 0px;
}
.video-box-theme{
        background: $wh;
        // border-radius: 0px 10px 10px 0px ;
        border-radius: 10px;
        box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.04);
        @include mediaMax(1024px){
            border-radius: 10px ; 
        }


        &--side{
            border-radius: 10px 0px 0px 10px ;
            overflow: hidden;
            box-shadow:  0px 0px 1px 2px rgba(0,0,0,0.04);
            height: fit-content;
            position: relative;
            // max-width: 400px;
            padding-right: 20px;
            background: $wh;
            @include mediaMax(1024px){
                max-width: 100%;
                border-radius: 10px ; 
            }

            &::after{
                content: "";
                position: absolute;
                right: 0;
                height: calc(100% + 3px);
                width: 5px;
                background: linear-gradient(to bottom,#24A557, #BAFB3C);;
                top: -2px;

            }
        }
    }

    .home-competitions{
        @include mediaMax(1024px){
            overflow: auto;
            white-space: nowrap;
            display: block;
            // padding-bottom: 5px;
            &>*{
                min-width: 40%;
                max-width: 40%;
                display: inline-block;
            }
        }
    }
    //////////// page preloader
    .pre-loader{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        width: 100%;
        top: 70px;
        height: calc(100vh - 70px);
        background: #eee;
        visibility: hidden;
        opacity: 0;
        transition: .5s;
        overflow: hidden;
        @include mediaMax(1024px){
            top: 55px;
            height: calc(100vh - 55px);
        }
        &.active{
            opacity: 1;
            visibility: visible;
        }
        }
    ///////////////////////// preloader
.lds-ellipsis {
    // display: inline-block;
    margin: 20px auto;
    
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $primaryColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.4s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.4s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.4s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.4s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }


  .select-box{
    position: relative;
    border: 1px solid #eee;
    border-radius: 5px;
      select{
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        // width: 100%;
        height: 40px;
        padding: 10px 15px;
        min-width: 150px;
        border-radius: 5px;
        border: none;
        color: #797979;
        font-family: inherit;
        position: relative;
        color: $primaryColor;
        cursor: pointer;
        &:focus{
            outline: none;
        }
      }
      &:after{
        content: "";
            width: 13px;
            height: 7px;
            background-color: #17A654;
            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
            position: absolute;
            left: 15px;
            top: 0px;
            bottom: 0px;
            margin: auto;
        }
    
  }
//   .img-beside-text{
//       display: flex;
//       align-items: center;
//       img{
//           width: 70px;
//           margin-left: 10px;
//       }
//   }

.icon{
    svg{

    }
    &--large{
        svg{
            height: 35px;
            width: 35px;
            @include mediaMax(767px){
                width: 35px;
                height: 35px;
            }
        }
    }
    &.yellow{
        svg{
            fill: #FED831;
        }
    }
    &.red{
        svg{
            fill: #FF2121;
        }
    }
    &.green{
        svg{
            fill: $primaryColor;
        }
    }
    &.grey{
        svg{
            fill: #e3e3e3;
        }
    }
}

.line-under{
    position: relative;
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: calc(100% - 40px);
        height: 3px;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        @extend %horizontal_gradient;
    }
}

.progress-bar{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    @include mediaMax(767px){
        font-size: 11px;
    }
    
    .start{

    }
    .end{
        color: #c5c5c5;
    }
    div{
        flex-basis: 0;
        flex-grow: 1;
        background: #eee;
        margin: 0 10px;
        border-radius: 5px;
        position: relative;
        height: 7px;
        overflow: hidden;
        span{
            position: absolute;
            // width: 100%;
            height: 100%;
            right: 0;
            display: block;
            background: $yellow3;
        }
    }
}

.statistics-box{
    padding: 15px;
    height: 100%;
    min-height:119px;
    &__title{
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: bold;
        @include mediaMax(767px){
            font-size: 13px;
            margin-bottom: 5px;
        
        }
    }
    &__info{
        display: flex;
        align-items: center;
    }
    &__icon{
        margin-left: 10px;
    }
    &__data{
        font-size: 12px;
        span{
            max-width: 100px;
            min-width: 100px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            @include mediaMax(1366px){
                max-width: 82px;
                min-width: 82px;
            }
            @include mediaMax(1280px){
                max-width: 85px;
                min-width: 85px;
            }
            @include mediaMax(1280px){
                max-width: 100px;
                min-width: 100px;
            }
            @include mediaMax(1200px){
                max-width: 75px;
                min-width: 75px;
            }
            @include mediaMax(1200px){
                max-width: 75px;
                min-width: 75px;
            }
            @include mediaMax(1110px){
                max-width: 60px;
                min-width: 60px;
            }
            @include mediaMax(1023px){
                max-width: 100px;
                min-width: 100px;
            }
            @include mediaMax(959px){
                max-width: 120px;
                min-width: 120px;
            }
            @include mediaMax(959px){
                max-width: 120px;
                min-width: 120px;
            }
        }
        .green{
            color:$primaryColor;
        }
        .slash{
            color: #797979;
            margin: 0px 3px;
        }
    }
    &--search{
        display: flex;
        min-height: unset;
        height: unset;
        padding: 12px;
        border-radius: 5px;
        transition: .3s;
        &::after{
            width: calc(100% - 14px);
        }
        p{
            line-height: 20px;
            font-weight: 600;
            transition: .3s;
        }
        span{
        color: #797979; 
        line-height: 20px;
        font-size: 10px;
        }

        &:hover{
            background: #eee;
            p{
                color: $primaryColor;
            }
        }
    }
    &--search &__data{
        margin-right: 10px;
    }
    &--search &__img{

        img{
            height: 40px;
            width: 40px;
        }
    }
}

.competition-matches{
    margin-bottom: 30px;
    &__head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border-bottom:2px solid #e6e6e6;
        padding: 10px 15px 10px 0px;
        // background: $wh;
        p{
            &:first-of-type{
                font-weight: 600;
            }
            span{
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
    &__body{
        background: $wh;
        .match-card-wide{
            border-bottom: 1px solid #eee;
            &:last-of-type{
                border-bottom: 0;
            }
            &__match{
                height: auto;
                padding: 15px 0;
            }
        }
    }
}



.competition-table{
    margin-top: 15px;
    &--common{
        padding: 0 15px;
        margin-top: 0;
    }
}
.table-tabs{
    overflow: auto;
    background: $wh;
    z-index: 1;

    &__tab{
        padding: 5px 15px;
        font-weight: 600;
        color: #b4b4b4;
        font-size: 12px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        transition: .3s;
        min-width: 119px;
        max-width: 119px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after{
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            margin: auto;
            background: #eee;
            width: 1px;
            height: 60%;
        }
        &:last-of-type{
            &::after{
                display: none;
            }
        }
        &.active{
            color: $primaryColor;
            background: #fff;

        }
        &:hover{
            color: $primaryColor;
            background: #fff;
        }
    }
}
.common-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    // padding: 15px 0;
    margin-bottom: 15px;
    a{
        color: $primaryColor;
        transition: .3s;
        &:hover{
            text-decoration: underline;
        }
    }
    p{
        white-space: nowrap;
        @include mediaMax(767px){
            font-size: 11px;
        }
    }
}
  .yellow-card{
      fill: $yellow !important;
  }
  .red-card{
    fill: $red !important;
}
.scored-goal,.penalty_goal{
    fill: $primaryColor !important;
}
.own-goals,.penalty_miss{
    fill: $red !important;
}
.assist{
    fill: $primaryColor !important;
}
.competition-head-tabs{
    padding-bottom: 5px;
    align-items: center;
    overflow: auto;
    z-index: 1;
    
}
.competition-tab{
    border: 1px solid transparent;
    background: $wh;
    color: #b4b4b4;
    padding: 3px 10px;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    margin-left: 15px;
    max-width: unset;
    min-width: fit-content;
    &:last-of-type{
        margin-left: 0px;
    }
    .img-beside-text{
        
        &>img{
            height: 25px;
            width: 25px;
            margin-left: 5px;
            filter: grayscale(1);
        }
        &>p{
            font-size: 11px;
            transition: .3s;
            font-weight: 100;
        }
    }

    &.active{
        border-color: $primaryColor;
        cursor: text;
        p{
            color: $primaryColor;
            // color: $primaryColor;
            background: #fff;
            cursor: text;
            text-overflow: unset;
            

        }
        img{
            filter: grayscale(0);
        }
    }
    &:hover{
        border-color: $primaryColor;
    }
}

.stat-score{

    &__head{
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 600;

    }
    &__cell{
        padding: 5px 10px;
        border-bottom: 1px solid #eee;
        &:last-of-type{
            border: none;
        }
    }
    &__text{
        font-size: 12px;
    }
    &__score{
        margin-right: auto;
        
    }
    &__main{
        margin-right: 5px;
        color: $primaryColor;
    }
    &__gry{
        color: lightgray;
        font-size: 11px;
    }
}

.mobile-horizontal-scroll{
    
    @include mediaMax(767px){
        white-space: nowrap;
        overflow-x: auto;
        display: block;
        &>*{
            min-width: 75%;
            max-width: 75%;
            flex-basis: 75%;
            display: inline-block;
        }
    }
}

.custom-title{
    background: $wh;

}

.primary-title{
    margin-top: 15px;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px;
    @include mediaMax(1024px){
        margin-top: 0;
        h1{
            font-size: 24px;
            line-height: 24px;
        }
    }
    @include mediaMax(767px){
        h1{
            font-size: 19px;
            line-height: 19px;
        }
    }
    &:after{
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        right: 0;
        @extend %horizontal_gradient;
    }
}

.select-group{
    display: flex;
    padding: 15px;
    &>div{
        margin-left: 15px;
    }
    @include mediaMax(539px){
        flex-direction: column;
        &>div{
            margin-bottom: 15px;
            margin-left: 0;
            width: 100%;
            &:nth-of-type(1){
                z-index: 14;
            }
            &:nth-of-type(2){
                z-index: 13;
            }
            &:nth-of-type(3){
                    z-index: 12;
            }
            &:nth-of-type(4){
                z-index: 11;
            }
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
}


//styling
$borderWidth: 4px;
$animationTime: 1.5s;
$border-color-default: #eee;
$border-color-fill: $primaryColor;
$size: 35px;
$border-size:calc(100% - 8px);

//Create how many steps
$howManySteps: 10; //this needs to be even. 
//for fun try using 20 and changine in the HTML the data-percentage to 15 or 85

.progress-circle {
  width: $size;
  height: $size;
  line-height: $size;
  background: none;
//   margin: 0 auto;
margin-left: 10px;
  box-shadow: none;
  position: relative;
  &:after {
    content: "";
    width: $border-size;
    height: $border-size;
    border-radius: 50%;
    border: $borderWidth solid $border-color-default;
    position: absolute;
    top: 0;
    left: 0;
  }
  > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress-left {
    left: 0;
  }
  .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: $borderWidth;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: $border-color-fill;
  }
  .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: ($size/2);;
    border-bottom-right-radius: ($size/2);;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    //animation: loading-2 1.5s linear forwards 1.8s;
  }
  .progress-right {
    right: 0;
    .progress-bar {
      left: -100%;
      border-top-left-radius: ($size/2);;
      border-bottom-left-radius: ($size/2);;
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
      //animation: loading-1 1.8s linear forwards;
    }
  }
  .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 36px;
    text-align: center;
    // line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    //font-family: $work-sans;
    font-weight: 300;
    line-height: 14px;
    div {
    //   margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
    padding-top: 2px;
    
    }
    span {
      font-size: 12px;
      font-weight: 100;
    //   text-transform: uppercase;
    }
  }
}

/* This for loop creates the 	necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
@for $i from 1 through $howManySteps {
	$stepName: ($i*(100 / $howManySteps));

	//animation only the left side if below 50%
	@if $i <= ($howManySteps/2) { 
		.progress-circle[data-percentage="#{$stepName}"] {
			.progress-right .progress-bar {
				 animation: loading-#{$i} $animationTime linear forwards;
			}
			.progress-left .progress-bar {animation: 0;}
		}
	}
	//animation only the right side if above 50%
	@if $i > ($howManySteps/2)  {  
		.progress-circle[data-percentage="#{$stepName}"] {
			.progress-right .progress-bar {
				animation: loading-#{($howManySteps/2)} $animationTime linear forwards; //set the animation to longest animation
			}
			.progress-left .progress-bar {
      animation: loading-#{$i - ($howManySteps/2)} $animationTime linear forwards $animationTime;
    }
		}
	}
}

//animation
@for $i from 1 through ($howManySteps/2) { 
	$degrees: (180/($howManySteps/2));
	$degrees: ($degrees*$i);
	@keyframes loading-#{$i}{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate($degrees);
			transform: rotate(#{$degrees}deg);
    }
	}
}
//additional styling
// .progress-circle {
// 		margin-bottom: 1em;
// 	}

.transfers-box{
    .competition-table{
        .table-box__row{
            .table-box__col{
                &:nth-of-type(6){
                    max-width: 100px;
                    min-width: 100px;
                }
            }
        }
    }
}


.select-theme {
    position: relative;
    left: 0;
    display: block;
    width: 150px;
    z-index: 10;
    &__current {
        position: relative;
        //box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
        cursor: pointer;
        outline: none;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        overflow: hidden;
        // height: 40px;
      &:focus {
        & + .select-theme__list {
          opacity: 1;
  
          // We have to set "animation-name: none;" to make the list visible (read below how it works)
  
          animation-name: none;
          
          .select-theme__option {
            cursor: pointer;
          }
        }
        
        .select-theme__icon {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
    &--noshadow &__current{
        box-shadow: none;
    }
    &--bordered &__current{
        border:1px solid #eee;
    }
    
    &__icon {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      width: 12px;
    //   opacity: 0.3;
      transition: 0.2s ease;
      svg{
          fill: $primaryColor;
          width: 12px;
          height: 12px;
          path{
              fill: $primaryColor;
          }
      }
    }
    
    &__value {
      display: flex;
      background: #fff;
    }
    
    &__input {
      display: none;
      
      &:checked + .select-theme__input-text {
        display: block;
        white-space: nowrap;
        @include mediaMax(767px){
            max-width: 123px;
            overflow: hidden;
            text-overflow: ellipsis
        }

      }
    }
    
    &__input-text {
      display: none;
      width: 100%;
      margin: 0;
      padding: 5px 15px;
      background-color: #fff;
    }
    
    &__list {
      position: absolute;
      width: 100%;
    // width: 200px;
      padding: 0;
      list-style: none  ;
      opacity: 0;
      z-index: 1;
      background: $wh;
      border-radius: 5px;
      top: calc(100% + 10px);
      // We need to use animation with delay.
      // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
      // This delay will not be noticed because we set "opacity" to "0".
      // We also use "animation-fill-mode: forwards" to make the list stay hidden.
      
      animation-name: HideList;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: step-start;
      box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
      max-height: 340px;
        overflow-y: auto;
        li{
            // padding: 5px;
            padding: 7px 10px;
            &:hover{
                background: $primaryColor;
                label{
                    
                    color: $wh;
                }
            }
            label{
                margin-bottom: 0px;
                font-size: 12px;
                font-weight: bold;
                width: 100%;
            }
        }
    }
    
    &__option {
        display: block;
        padding: 10px 15px;
        background-color: #fff;
        font-size: 14px;
        cursor: pointer;
      &:hover,
      &:focus {
        // color: #546c84;
        // background-color: #fbfbfb;
        background: $primaryColor;
        color: $wh;
      }
    }
    // &--mini {
    //     @include mediaMax(767px){
    //         width: 85px;

    //         .icon{
    //             left: 5px;
    //         }
    //         svg{
    //             width: 9px;
    //             height: 9px;
    //         }
    //     }
        
    // }
    // &--mini &__current{
    //     @include mediaMax(767px){
    //         height: 25px;
    //         width: 100%;
    //     } 
        
    // }
    // &--mini &__input-text{
    //     @include mediaMax(767px){
    //         line-height: 100%;
    //     } 
        
    // }
    &--img &__input:checked+.select-theme__input-text  {
        display: inline-flex;
        align-items: center;
        img{
            width: 25px;
            height: 25px;
            margin-left: 5px;
        }
    }

    &--img .select-box__option{
        display: inline-flex;
        align-items: center;
        img{
            width: 25px;
            height: 25px;
            margin-left: 5px;
        }
    }
  }
  
  @keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }


  .box-404{
    display: flex;
    background: #fff;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    border-radius: 5px;
    
  }
  .inner-404{
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 15px;
      width: 430px;
    @include mediaMax(500px){
        max-width: 100%;
    }
      img{
        max-width: 100%;
        border-radius: 5px;
        margin-bottom: 15px;
      }
  }

  .search-results{

    &__input{
        align-items: center;
        max-width: 40%;
        border: 1px solid #bfbfbf;
        border-radius: 30px;
        padding: 2px 20px;
        @include mediaMax(767px){
            max-width: 100%;
        }
        input{
            flex-grow: 1;
            border: none;
            background: transparent;
            margin: 0px !important;
            font-size: 12px !important;
            position: relative;
            

        }
    }
    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            svg{
                fill: $primaryColor;
            }
        }
        svg{
            width: 20px;
            height: 20px;
            cursor: pointer;
            fill: #c5c5c5;
            transition: 0.3s;
        }
    }
  }
  #date-picker{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    top: 0px;
}
  .date-picker-x {
    background:$wh;
    box-sizing: content-box;
    color: $green;
    display: none;
    // font: 12px/1 Arial;
    font-size: 12px;
    //padding: 10px;
    position: absolute;
    //top: 100%;
    top: 25px;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // width: 275px;
    width: 300px;
    z-index: 40;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.20);
    left: -10px;
    padding: 10px;
    border-radius: 5px;
    padding-bottom: 0;
}

.date-picker-x::before {
    bottom: 100%;
    content: "";
    position: absolute;
    left: 33px;
    position: absolute;
    border: 8px solid #fff;
    border-color: transparent transparent #fff #fff;
    -webkit-transform: translateX(-50%) rotate(135deg);
    transform: translateX(-50%) rotate(135deg);
    -webkit-box-shadow: -1px 2px 3px rgba(130,130,130,.29);
    box-shadow: 0px 1px 0px rgba(130,130,130,.29);
    top: -7px;
}

// .date-picker-x.to-top {
//     bottom: 100%;
//     top: 30px;
//     -webkit-transform: translateY(-15px);
//     transform: translateY(-15px);
// }

// .date-picker-x.to-top::before {
//     border-width: 10px 10px 0;
//     bottom: auto;
//     top: 100%;
// }

.date-picker-x.active {
    display: block;
}

.date-picker-x * {
    box-sizing: border-box;
}

.date-picker-x .dpx-title-box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    //padding-bottom: 10px;
}

.date-picker-x .dpx-prev,
.date-picker-x .dpx-next {
    color: $primaryColor;
    cursor: pointer;
    display: block;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    transition: .2s;
    width: 50px;
}

.date-picker-x .dpx-prev:hover,
.date-picker-x .dpx-next:hover {
    color: #333;
}

.date-picker-x .dpx-title {
    display: block;
    font-size: 13px;
    line-height: 40px;
    padding: 0 10px;
}

.date-picker-x:not([data-dpx-type="year"]) .dpx-title {
    cursor: pointer;
}

.date-picker-x .dpx-content-box {
    box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 288px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10px;
}

.date-picker-x .dpx-btns {
    border-top: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
}

.date-picker-x .dpx-btns .dpx-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    height: 30px !important;
}

.date-picker-x .dpx-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 25%;
    flex: 1 0 25%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: $primaryColor;
    border-radius: 3px;
}

.date-picker-x .dpx-item:not(.dpx-weekday) {
    cursor: pointer;
}

.date-picker-x .dpx-item:not(.dpx-weekday):hover {
    // box-shadow: inset 0 0 0 2px #3385ff, inset 0 0 0 4px #444;
    border: 2px solid $green;
}

.date-picker-x .dpx-weekday {
    font-size: 13px;
    height: 24px !important;
    color: $primaryColor;
}

.date-picker-x[data-dpx-type="day"] .dpx-item {
    -ms-flex-preferred-size: 35px;
    // flex-basis: 35px;
    flex-basis: 40px;
    height: 35px;
}

.date-picker-x .dpx-current {
    //box-shadow: inset 0 0 0 2px #66a3ff;
    box-shadow: inset 0 0 0 2px $primaryColor;
}

.date-picker-x .dpx-selected {
    background: #06f;
    background: $primaryColor;
    color: $wh !important;
}

.date-picker-x .dpx-weekend {
    //color: #f99;
    color: #333;
}

.date-picker-x .dpx-out {
    color: #bbb;
}

.date-picker-x .dpx-disabled {
    color: #666 !important;
    cursor: default !important;
    box-shadow: none !important;
}

.date-picker-x .dpx-disabled.dpx-current {
    box-shadow: inset 0 0 0 2px #66a3ff !important;
}

#date-picker{
    cursor: pointer;
}

.date-picker-x .dpx-title{
    color: $primaryColor;
}


.text-page{
    @include mediaMax(1024px){
margin-bottom: 15px;
    }
h1{
    margin: 10px 0px;
}
p{
    margin: 20px 0px;
    font-size: 15px;
    font-weight: 600;
    line-height: 35px;
}
}
.usage-rules__logo{
    img{
    margin: 15px auto;
    }
}

.usage-rules__adress{
    font-weight: 600;
}
.usage-rules__contactRow{

    span{
        color: $primaryColor;
        // font-weight: 600;
        line-height: 40px;
        &:first-of-type{
            color: #000;
                
        }

    }
}

.break-news{
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    color: $wh;
    z-index: 15;
    &__head{
        min-width: 120px;
        max-width: 120px;
        background: #28903f;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @include mediaMax(1023px){
            min-width: 60px;
            max-width: 60px;
        }
        p{
            color: $wh;
            font-weight: bold;
        }
    }
    &__title{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: $primaryColor;
        flex-basis: 0;
        flex-grow: 1;
        padding: 0 15px;
        a{
            color: $wh;
            font-weight: bold;
            &:hover{
                color: $wh;
            }
            @include mediaMax(1023px){
                font-size: 14px;
                line-height: 21px;
                max-height: 41px;
                overflow: hidden;
            }
        }
    }
    &__close{
        min-width: 60px;
        max-width: 60px;
        // background: #2da448;
        background: #0d141b;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .icon{
            svg{
                width: 20px;
                height: 20px;
                fill: $wh;
                position: relative;
                top: 4px;
            }
        }
        @include mediaMax(767px){
            min-width: 35px;
            max-width: 35px;
            .icon{
                svg{
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}
.matches-switcher{
    background: #e0e0e0;
    border-radius: 5px;
    width: 140px;
    font-size: 12px;
    cursor: text;

    &__tab{
        cursor: pointer;
        color: #797979;
        border-radius: 5px;
        width: 50%;
        text-align: center;
        transition: .3s ease-out;
        &.active{
            color: $wh;
            background: $primaryColor;
        }
    }
}
.d-none{
    display: none !important;
}
.al-center{
    align-items: center;
}
.home-matches{

    @include mediaMax(1024px){
        margin-bottom: 15px;
        
    }
}

.row .lds-ellipsis{
    margin: 10px auto;
    height: 30px;
    div{
        // &:nth-of-type(1){
            top: 0;
            bottom: 0;
            margin: auto
        // }
    }
}
.action-message{
    position: fixed;
    margin: auto;
    top: 435px;
    // bottom: 0px;
    right: 65px;
    height: 35px;
    border-radius: 5px;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100px;
    transition: .3s;
    opacity: 0;
    transform: translateY(50px);
    visibility: hidden;
    &.active{
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }
    @include mediaMax(1280px){
        left: 0px;
        right: 0px;
    }
}
.matches__filter{
    .disabled{

        p{
            background: #eee;
        }
    }
}
.no-matches{
    text-align: center;
    font-size: 20px;
    background: #fff;
    padding: 15px;
}
[page-type~="single-story"] {
    max-width: unset !important;
    margin-left: unset !important;
    margin-right: unset !important;
    padding-right: unset !important;
    padding-left: unset !important;
}

////////// single pages follow us btns

.follow-us{
    margin-top: 10px;
    align-items: flex-start;
    margin-bottom: 25px;
    &__p{
        font-size: 16px;
        margin-left: 15px;
        font-weight: 600;
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-top: 20px;
        @include mediaMax(576px){
            font-size: 14px;
            margin-left: 10px;
            margin-top: 12px;
        }

    }
    &__box{
        flex-wrap: nowrap;
        align-items: center;
        flex-grow: 1;
        overflow: auto;
        padding-bottom: 5px;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 15px;
        border-radius: 5px;
        border: 1px solid #d1ebff;
        margin-left: 15px;
        box-shadow: 0px 0px 2px 0px #d1ebff;
        transition: .3s;
        margin-top: 15px;
        &:last-of-type{
            margin-left: 0px;
        }
        @include mediaMax(576px){
            margin-top: 10px;
            margin-left: 10px;
            padding: 3px 10px;
        }
        &:hover{
            background: #eee;
            border-color: #eee;
        }

        a{
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0px;
        top: 0px;
        }
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                width: 20px;
                height: 20px;
                @include mediaMax(576px){
                    width: 18px;
                    height: 18px;
                }
            }
        }
        .icon-img{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mediaMax(576px){
                width: 18px;
                height: 18px;
            }
            img{

            }
        }
        span{
            font-weight: 600;
            margin-right: 10px;
            white-space: nowrap;
            @include mediaMax(576px){
                font-size: 12px;
            }
            
        }
    }

    
}
.news-grad{
    background: $grad;
    border-radius: 3px;
}