//colors
		
	//pallet
		$bk      : #000000;
		$blue    : #2095f2;
		$green   : #17A654;
		$green2	 : #00C853;
		$orange  : #ff4422;
		$orange2 : #f96145;
		$purple  : #9b26af;
		$red     : #f34235;
		$red2    : #d60107;
		$red3    : #d22323;
		$teal    : #009688;
		$pink    : #e91e63;
		$ts      : transparent;
		$ts-bk-15: rgba(0,0,0,0.15);
		$ts-bk-50: rgba(0,0,0,0.5);
		$wh      : #fff;
		$yellow  : #feea3a;
		$yellow2 : #fff59d;
		$yellow3 : #FED831;

		//Grys
			$darkGry : #080808;
			$gry     : #A2A8B1;
			$gry2     : #444444;
			$gry3 : #f5f5f5;
			$midGry  : #E8E7ED;
			$midGry2 : #d8d8d8;
			$midGry3 : #f4f4f4;
			$midGry4: #ECEFF5;
			$midGry5: #E7E9EC;
			$lightGry: #BDBDBD;
			$lightGry2: #eeeeee;
			$offWhite: #F2F3F5;
			$lightGreen:#b9f6ca;
			$inputPLC : #A3A9B2;
			$bodyBG	: #F2F2F2;
			$abstractColor : #999999;

	//Socials
		$facebook        : #3b5998;
		$googlePlus      : #e02f2f;
		$instagram       : #405de6;
		$twitter         : #55acee;
		$youtube         : #cd201f;
		$rss             : #f26522;
		$whatsapp		 : #25D366;

	//theme
		$accentColor    : $bk;
		$dviderColor    : $offWhite;
		$primaryColor   : #17A654;
		$grad      : linear-gradient(to left,#24A557, #BAFB3C);
		$gradRev      : linear-gradient(to right,#24A557, #BAFB3C);
		$primaryText	: $darkGry;
		$secondaryText	: $gry;
		$borderColor : $lightGry2;
		$greyText : $gry2;
		$orangeHover : #f34449;

//screens
	$mobile    : 321px;
	$phablet   : 481px;
	$tablet-PRT: 769px;
	$tablet-LS : 1025px;
	$desktop   : 1281px;

//spaces
	$fontSize  		:	 14;
	$lineHeight		:	1.5555556;
	$space     		:	20px ;
	$space-sm  		:	10px ;
	$grid-space		:	10px;
	$grid-space-sm  :	$space-sm/2 ;
	$pPercent       :	7.6%;


//fonts
	


		
	$titleFont: 'Almarai';
	$boldFont: 'Almarai-b';
	$bodyFont : $titleFont;
