a(href="#comp").competition-card.box-theme
    .competition-card__logo
        img(src="./img/logos/226.png", alt="")
    p.competition-card__name الدوري السعودي للمحترفين
    .competition-card__date.flex
        .competition-card__start 12 ديسمبر
        .competition-card__end.mr-max 15 مايو
    .competition-card__progress
        .competition-card__progress-value(style="width:70%")
