.events-tab.box-theme.mt-15.tab-switch2.active
    .event-box
        .center-line
        .match-hours  07:00 PM 
        .match-time بداية المبارة
        
        -for(let i=0;i<1;i++)
            .event-row
                .team-event.team-A-event
                    .minutes
                        span.icon
                            svg.normal( id="swap bordered" xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 512.001 512.001', style='enable-background:new 0 0 512.001 512.001;', xml:space='preserve')
                                path(style='fill:#1BBC86;', d='M497.027,370.464L343.664,249.703c-4.589-3.606-11.326-0.329-11.326,5.499v80.302H157.785  c-42.095,0-85.252-11.674-117.128-39.355c-4.993-4.336-12.689,0.081-11.464,6.579c2.167,11.508,6.581,28.841,15.314,46.05  c22.407,44.165,60.519,66.558,113.277,66.558h173.2v76.663c0,2.65,1.497,5.073,3.867,6.258c2.327,1.168,5.177,0.955,7.326-0.661  l154.719-116.039c1.739-1.303,2.774-3.341,2.799-5.515C499.721,373.87,498.735,371.809,497.027,370.464z')
                                path(style='fill:#149362;', d='M497.027,370.464l-19.999-15.747C331.305,464.008,341.318,457.254,337.98,457.254  c-3.839,0-6.996-3.111-6.996-6.998V492c0,2.65,1.497,5.073,3.867,6.258c2.327,1.168,5.177,0.955,7.326-0.661l154.719-116.039  c1.739-1.303,2.774-3.341,2.799-5.515C499.721,373.87,498.735,371.809,497.027,370.464z')
                                path(style='fill:#E22437;', d='M482.579,209.965C469.749,141.783,426.92,97.356,353.987,97.356h-173.2V20.693  c0-5.76-6.594-9.05-11.194-5.598L14.875,131.134c-3.67,2.752-3.743,8.252-0.13,11.096  c165.202,130.081,154.221,122.26,157.693,122.26c3.832,0,6.996-3.106,6.996-6.998V177.19h174.553  c42.193,0,85.331,11.731,117.128,39.354C476.12,220.886,483.806,216.452,482.579,209.965z')
                                g
                                    path(style='fill:#C61A33;', d='M172.439,225.758c-3.465,0,6.739,7.216-139.654-108.055l-17.91,13.431   c-3.67,2.752-3.743,8.252-0.13,11.096l153.365,120.761c4.574,3.599,11.325,0.34,11.325-5.499V218.76   C179.434,222.649,176.274,225.758,172.439,225.758z')
                                    path(style='fill:#C61A33;', d='M482.579,209.965c-1.515-8.047-4.135-18.941-8.553-30.647   c-4.667-1.152-39.836-40.859-120.038-40.859H222.251c-1.804,0.407-4.514,0.633-8.323,0.633c-25.43,0-32.706,13.977-34.493,24.999   v13.099h174.553c42.193,0,85.331,11.731,117.128,39.354C476.12,220.886,483.806,216.452,482.579,209.965z')
                                path(style='fill:#149362;', d='M292.899,373.594H157.785c-58.482,0-98.165-27.756-118.656-78.434  c-5.198-2.534-10.994,1.949-9.935,7.568c12.84,68.192,55.659,112.609,128.592,112.609h173.2v-9.923  C329.712,393.067,322.942,373.594,292.899,373.594z')
                                path(d='M507.797,369.349L336.724,234.646c-4.877-3.839-12.081-0.366-12.081,5.864v86.829H204.155c-4.123,0-7.464,3.341-7.464,7.464  c0,4.123,3.341,7.464,7.464,7.464h127.951c4.123,0,7.464-3.341,7.464-7.464v-78.916l151.363,119.184l-152.71,114.532v-75.324  c0-4.123-3.341-7.464-7.464-7.464h-172.42c-67.113,0-107.673-39.768-120.413-104.623c4.437,3.774,9.82,7.871,16.204,11.958  c45.851,29.344,93.546,28.118,120.669,28.118c4.123,0,7.464-3.341,7.464-7.464s-3.341-7.464-7.464-7.464  c-21.165,0-68.127,2.364-111.948-25.334c-19.828-12.534-28.984-25.257-29.06-25.363c-4.23-6.041-13.776-2.891-13.576,4.481  c0.038,1.43,1.142,35.401,18.474,69.833c16.256,32.292,50.208,70.786,119.648,70.786h164.957v82.787  c0,6.143,7.033,9.651,11.942,5.971l172.42-129.315c1.854-1.39,2.958-3.565,2.984-5.883  C510.669,372.983,509.618,370.783,507.797,369.349z')
                                path(d='M187.355,271.491v-86.829h166.303c45.796,0,77.205,13.778,95.488,25.334c19.828,12.534,28.984,25.257,29.06,25.363  c4.227,6.04,13.776,2.891,13.576-4.481c-0.038-1.43-1.142-35.401-18.475-69.833c-16.256-32.292-50.209-70.786-119.649-70.786  h-19.147c-4.123,0-7.464,3.341-7.464,7.464s3.341,7.464,7.464,7.464h19.147c67.116,0,107.674,39.77,120.414,104.623  c-32.846-27.932-76.806-40.075-120.414-40.075H179.892c-4.123,0-7.464,3.341-7.464,7.464v78.916L21.067,136.932L173.776,22.4v75.324  c0,4.123,3.341,7.464,7.464,7.464h124.913c4.123,0,7.464-3.341,7.464-7.464s-3.341-7.464-7.464-7.464H188.703V7.473  c0-6.135-7.027-9.657-11.942-5.971L4.342,130.818c-3.919,2.939-3.988,8.804-0.139,11.835l171.072,134.702  C180.166,281.206,187.355,277.706,187.355,271.491z')
                        span.event-type تبديل
                    .event-details
                        .flex
                            
                            span.event-player.main-event.green داني الفيش
                        .flex
                            //- span.event-type خروج
                            span.event-player.red داني الفيش
                    
                .team-event.event-icon '90

                
            .event-row
                .team-event.team-B-event
                    .minutes
                        span.icon
                            svg.yellow-card(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 10.263 15.316')
                                g(transform='translate(-5.842 -2.842)')
                                    rect#Rectangle_1534.cls-1(data-name='Rectangle 1534', width='10.105', height='15.158', rx='2', transform='translate(5.921 2.921)')
                                    rect#Rectangle_1535.cls-2(data-name='Rectangle 1535', width='9.263', height='14.316', rx='2', transform='translate(6.342 3.342)')
                        span.event-type انذار
                    .event-details
                        .flex
                            
                            span.event-player.main-event رياض محرز
                .team-event.event-icon '15
            .event-row
                .team-event.team-A-event
                    .minutes 
                        span.icon
                            svg.red-card(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 10.263 15.316')
                                g(transform='translate(-5.842 -2.842)')
                                    rect#Rectangle_1534.cls-1(data-name='Rectangle 1534', width='10.105', height='15.158', rx='2', transform='translate(5.921 2.921)')
                                    rect#Rectangle_1535.cls-2(data-name='Rectangle 1535', width='9.263', height='14.316', rx='2', transform='translate(6.342 3.342)')
                        span.event-type طرد
                    .event-details
                        .flex
                            
                            span.event-player.main-event داني الفيش
                .team-event.event-icon '88
            .event-row
                .team-event.team-A-event
                    .minutes 
                        span.icon
                            svg.goal( id="football" xmlns='http://www.w3.org/2000/svg', height='480pt', viewBox='0 0 480 480', width='480pt')
                                path(d='m240 0c-132.546875 0-240 107.453125-240 240s107.453125 240 240 240 240-107.453125 240-240c-.148438-132.484375-107.515625-239.851562-240-240zm8.566406 69.191406 83.433594-33.351562c9.46875 4.285156 18.628906 9.222656 27.414062 14.777344l.21875.136718c8.632813 5.46875 16.882813 11.519532 24.695313 18.109375l.671875.585938c3.503906 2.984375 6.910156 6.074219 10.222656 9.261719.417969.410156.855469.800781 1.273438 1.21875 3.472656 3.390624 6.835937 6.886718 10.089844 10.484374.269531.304688.527343.625.796874.929688 2.855469 3.199219 5.601563 6.511719 8.265626 9.878906.640624.800782 1.28125 1.601563 1.902343 2.402344 2.890625 3.742188 5.6875 7.550781 8.328125 11.480469l-16.632812 70.703125-81.832032 27.28125-78.828124-63.074219zm-186.125 34.480469c.621094-.800781 1.253906-1.601563 1.894532-2.398437 2.632812-3.339844 5.355468-6.597657 8.167968-9.777344.304688-.335938.585938-.679688.886719-1.015625 3.234375-3.605469 6.582031-7.097657 10.050781-10.480469.398438-.390625.796875-.800781 1.214844-1.160156 3.285156-3.167969 6.664062-6.238282 10.136719-9.207032l.800781-.671874c7.742188-6.542969 15.914062-12.554688 24.460938-18l.3125-.199219c8.734374-5.542969 17.835937-10.472657 27.25-14.761719l83.816406 33.191406v80.800782l-78.832032 63.0625-81.832031-27.230469-16.632812-70.703125c2.664062-3.921875 5.429687-7.722656 8.304687-11.449219zm-9.640625 259.089844c-2.351562-3.585938-4.601562-7.238281-6.746093-10.960938l-.519532-.898437c-2.132812-3.703125-4.152344-7.46875-6.054687-11.292969l-.066407-.121094c-4.007812-8.046875-7.527343-16.328125-10.535156-24.800781v-.078125c-1.421875-4-2.71875-8.097656-3.917968-12.21875l-.433594-1.519531c-1.097656-3.871094-2.09375-7.785156-2.984375-11.742188-.078125-.386718-.175781-.753906-.253907-1.136718-1.964843-8.9375-3.375-17.984376-4.226562-27.097657l48.839844-58.605469 81.265625 27.085938 23.585937 94.335938-38.753906 51.5625zm240.472657 94.78125c-4 .992187-8.105469 1.847656-12.210938 2.617187-.574219.113282-1.160156.207032-1.734375.3125-3.496094.625-7.03125 1.160156-10.574219 1.597656-.945312.121094-1.882812.25-2.824218.363282-3.289063.382812-6.609376.671875-9.9375.910156-1.046876.070312-2.082032.175781-3.128907.242188-4.253906.261718-8.542969.414062-12.863281.414062-3.957031 0-7.890625-.105469-11.800781-.3125-.472657 0-.925781-.078125-1.398438-.113281-3.480469-.199219-6.945312-.460938-10.402343-.796875l-.398438-.074219c-7.574219-.820313-15.105469-2.023437-22.558594-3.597656l-47.320312-74.089844 38.144531-50.863281h111.46875l38.769531 51.199218zm165.496093-169.542969c-.082031.382812-.175781.753906-.257812 1.136719-.894531 3.953125-1.890625 7.867187-2.984375 11.742187l-.429688 1.519532c-1.203125 4.121093-2.496094 8.203124-3.921875 12.21875v.078124c-3.007812 8.472657-6.523437 16.753907-10.535156 24.800782l-.066406.121094c-1.914063 3.828124-3.929688 7.59375-6.054688 11.292968l-.519531.898438c-2.132812 3.734375-4.378906 7.378906-6.734375 10.945312l-78.929687 12.445313-39.023438-51.519531 23.574219-94.3125 81.265625-27.085938 48.839844 58.605469c-.847657 9.117187-2.257813 18.171875-4.222657 27.113281zm0 0')
                        span.event-type هدف
                    .event-details
                        .flex
                            
                            span.event-player داني الفيش
                        .flex
                            //- span.event-type اسيست
                            span.event-player.gray محمد صلاح
                .team-event.event-icon '50
            .event-row
                .team-event.team-B-event
                    .minutes 
                        span.icon
                            svg.own-goal( id="football" xmlns='http://www.w3.org/2000/svg', height='480pt', viewBox='0 0 480 480', width='480pt')
                                path(d='m240 0c-132.546875 0-240 107.453125-240 240s107.453125 240 240 240 240-107.453125 240-240c-.148438-132.484375-107.515625-239.851562-240-240zm8.566406 69.191406 83.433594-33.351562c9.46875 4.285156 18.628906 9.222656 27.414062 14.777344l.21875.136718c8.632813 5.46875 16.882813 11.519532 24.695313 18.109375l.671875.585938c3.503906 2.984375 6.910156 6.074219 10.222656 9.261719.417969.410156.855469.800781 1.273438 1.21875 3.472656 3.390624 6.835937 6.886718 10.089844 10.484374.269531.304688.527343.625.796874.929688 2.855469 3.199219 5.601563 6.511719 8.265626 9.878906.640624.800782 1.28125 1.601563 1.902343 2.402344 2.890625 3.742188 5.6875 7.550781 8.328125 11.480469l-16.632812 70.703125-81.832032 27.28125-78.828124-63.074219zm-186.125 34.480469c.621094-.800781 1.253906-1.601563 1.894532-2.398437 2.632812-3.339844 5.355468-6.597657 8.167968-9.777344.304688-.335938.585938-.679688.886719-1.015625 3.234375-3.605469 6.582031-7.097657 10.050781-10.480469.398438-.390625.796875-.800781 1.214844-1.160156 3.285156-3.167969 6.664062-6.238282 10.136719-9.207032l.800781-.671874c7.742188-6.542969 15.914062-12.554688 24.460938-18l.3125-.199219c8.734374-5.542969 17.835937-10.472657 27.25-14.761719l83.816406 33.191406v80.800782l-78.832032 63.0625-81.832031-27.230469-16.632812-70.703125c2.664062-3.921875 5.429687-7.722656 8.304687-11.449219zm-9.640625 259.089844c-2.351562-3.585938-4.601562-7.238281-6.746093-10.960938l-.519532-.898437c-2.132812-3.703125-4.152344-7.46875-6.054687-11.292969l-.066407-.121094c-4.007812-8.046875-7.527343-16.328125-10.535156-24.800781v-.078125c-1.421875-4-2.71875-8.097656-3.917968-12.21875l-.433594-1.519531c-1.097656-3.871094-2.09375-7.785156-2.984375-11.742188-.078125-.386718-.175781-.753906-.253907-1.136718-1.964843-8.9375-3.375-17.984376-4.226562-27.097657l48.839844-58.605469 81.265625 27.085938 23.585937 94.335938-38.753906 51.5625zm240.472657 94.78125c-4 .992187-8.105469 1.847656-12.210938 2.617187-.574219.113282-1.160156.207032-1.734375.3125-3.496094.625-7.03125 1.160156-10.574219 1.597656-.945312.121094-1.882812.25-2.824218.363282-3.289063.382812-6.609376.671875-9.9375.910156-1.046876.070312-2.082032.175781-3.128907.242188-4.253906.261718-8.542969.414062-12.863281.414062-3.957031 0-7.890625-.105469-11.800781-.3125-.472657 0-.925781-.078125-1.398438-.113281-3.480469-.199219-6.945312-.460938-10.402343-.796875l-.398438-.074219c-7.574219-.820313-15.105469-2.023437-22.558594-3.597656l-47.320312-74.089844 38.144531-50.863281h111.46875l38.769531 51.199218zm165.496093-169.542969c-.082031.382812-.175781.753906-.257812 1.136719-.894531 3.953125-1.890625 7.867187-2.984375 11.742187l-.429688 1.519532c-1.203125 4.121093-2.496094 8.203124-3.921875 12.21875v.078124c-3.007812 8.472657-6.523437 16.753907-10.535156 24.800782l-.066406.121094c-1.914063 3.828124-3.929688 7.59375-6.054688 11.292968l-.519531.898438c-2.132812 3.734375-4.378906 7.378906-6.734375 10.945312l-78.929687 12.445313-39.023438-51.519531 23.574219-94.3125 81.265625-27.085938 48.839844 58.605469c-.847657 9.117187-2.257813 18.171875-4.222657 27.113281zm0 0')
                        span.event-type هدف ذاتي 
                    .event-details
                        .flex
                            
                            span.event-player داني الفيش
                        
                        
                .team-event.event-icon '65
            .event-row
                .team-event.team-A-event
                    .minutes 
                        span.icon
                            //- svg.goal(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 300 300' style='enable-background:new 0 0 300 300;' xml:space='preserve')
                            //-     g
                            //-         path(d='M150,0C67.29,0,0,67.29,0,150s67.29,150,150,150s150-67.29,150-150S232.71,0,150,0z M150,270c-66.168,0-120-53.832-120-120   S83.832,30,150,30s120,53.832,120,120S216.168,270,150,270z')
                            //-         path(d='M195.031,75.387C183.477,66.802,169.331,65,159.5,65h-38.846c-5.522,0-10,4.478-10,10v150c0,5.523,4.478,10,10,10h7.691   c5.522,0,10-4.477,10-10v-53.46H159.5c9.831,0,23.977-1.802,35.531-10.388c8.355-6.207,18.314-18.352,18.314-40.961v-3.843   C213.346,93.739,203.387,81.594,195.031,75.387z M185.27,119.809c0,10.484-2.671,24.424-25.77,24.424h-21.154V92.308H159.5   c23.099,0,25.77,13.939,25.77,24.424V119.809z')
                        
                            svg#Group_2107(xmlns='http://www.w3.org/2000/svg' data-name='Group 2107' width='32' height='32' viewBox='0 0 32 32')
                                circle#Ellipse_178(data-name='Ellipse 178' cx='16' cy='16' r='16' fill='#fed831')
                                text#P(transform='translate(35 23)' fill='#2d2d2d' font-size='20' font-family='Almarai-Bold, Almarai' font-weight='700')
                                    tspan(x='-13.12' y='0') P

                        span.event-type هدف  
                    .event-details
                        .flex
                            
                            span.event-player داني الفيش
                        
                        
                .team-event.event-icon '65
            .event-row
                .team-event.team-A-event
                    .minutes 
                        span.icon
                            //- svg.goal(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 300 300' style='enable-background:new 0 0 300 300;' xml:space='preserve')
                            //-     g
                            //-         path(d='M150,0C67.29,0,0,67.29,0,150s67.29,150,150,150s150-67.29,150-150S232.71,0,150,0z M150,270c-66.168,0-120-53.832-120-120   S83.832,30,150,30s120,53.832,120,120S216.168,270,150,270z')
                            //-         path(d='M195.031,75.387C183.477,66.802,169.331,65,159.5,65h-38.846c-5.522,0-10,4.478-10,10v150c0,5.523,4.478,10,10,10h7.691   c5.522,0,10-4.477,10-10v-53.46H159.5c9.831,0,23.977-1.802,35.531-10.388c8.355-6.207,18.314-18.352,18.314-40.961v-3.843   C213.346,93.739,203.387,81.594,195.031,75.387z M185.27,119.809c0,10.484-2.671,24.424-25.77,24.424h-21.154V92.308H159.5   c23.099,0,25.77,13.939,25.77,24.424V119.809z')
                        
                            svg#Group_2109(xmlns='http://www.w3.org/2000/svg' data-name='Group 2109' width='32' height='32' viewBox='0 0 32 32')
                                circle#Ellipse_180(data-name='Ellipse 180' cx='16' cy='16' r='16' fill='#27a757')
                                path#football(d='M448.282,453.324a4.513,4.513,0,0,1,1.586-1.023,5.031,5.031,0,0,1,1.94-.4,5.19,5.19,0,0,1,1.94.4,4.661,4.661,0,0,1,1.587,1.044,4.778,4.778,0,0,1,1.064,1.524,4.553,4.553,0,0,1,.4,1.9,4.456,4.456,0,0,1-.4,1.879,4.642,4.642,0,0,1-1.064,1.545,5.371,5.371,0,0,1-1.587,1.044,5.185,5.185,0,0,1-1.94.376,5.033,5.033,0,0,1-1.94-.376,5.206,5.206,0,0,1-1.607-1.044,4.627,4.627,0,0,1-1.069-1.545,4.8,4.8,0,0,1-.4-1.879,4.9,4.9,0,0,1,.4-1.9,5.168,5.168,0,0,1,1.085-1.545Zm6.282-.313c-.042-.042-.083-.064-.125-.1a5.739,5.739,0,0,0-.793-.417,5.049,5.049,0,0,0-1.837-.355,5.333,5.333,0,0,0-1.272.167,2.378,2.378,0,0,1,.689.459,2.8,2.8,0,0,1,.835,0,4.015,4.015,0,0,1,1.085.23,3.246,3.246,0,0,1,.751.334,8.028,8.028,0,0,1,.772-.25.279.279,0,0,1-.1-.064Zm-4.55,1.21.856,2.254,2.046.4c1.169-1.169,2.276-1.607,1.044-3.152a3.822,3.822,0,0,0-.918-.438,4.5,4.5,0,0,0-1.023-.229,3.538,3.538,0,0,0-.814.021Zm6.366,2.38a4.189,4.189,0,0,1,.042,1.023,1.881,1.881,0,0,0,.1-.209c.021-.209.042-.438.042-.647a4.536,4.536,0,0,0-.418-1.92,5.575,5.575,0,0,1-.021.856A3.394,3.394,0,0,1,456.38,456.6Zm-.417,1.774a4.508,4.508,0,0,0,.146-.731,4.029,4.029,0,0,0-.229-1.712c-1.253-1.044-1.691.1-2.714,1.128l.168,1.839c1.5.48,1.65.876,2.631-.522Zm-3.277,2.943a5.67,5.67,0,0,0,1.19-.376,6.161,6.161,0,0,0,.918-.584c-.459-.793.668-.459-1.607-1.19l-1.9.793c-.335,1.4-.4,1.294,1.4,1.357Zm-4.8-1.92a4.423,4.423,0,0,0,1.023,1.043c1.42.96,1.795.564,2.087-.564l-1.335-1.356c-1.544-.126-1.732-.564-1.859.751a.423.423,0,0,1,.084.125Zm1.754-1.19.939-1.607-.856-2.255-1.211.064a4.224,4.224,0,0,0-.668.689,3.376,3.376,0,0,0-.563,1.044c.271,2.254.375,1.9,2.359,2.067Zm-2.4-2.735a4.109,4.109,0,0,1,.355-.564,4.492,4.492,0,0,1,.772-.772,2.131,2.131,0,0,1,.585-1.085.02.02,0,0,1-.006.015.02.02,0,0,1-.015.006c-.021.021-.042.042-.064.042a5.939,5.939,0,0,0-.751.71,4.484,4.484,0,0,0-.877,1.649Z' transform='translate(-430.799 -440.757)' fill='#fff' fill-rule='evenodd')
                                text#P(transform='translate(28 21.5)' fill='#fff' font-size='16' font-family='Almarai-Bold, Almarai' font-weight='700')
                                    tspan(x='-10.496' y='0') P

                        span.event-type هدف  
                    .event-details
                        .flex
                            
                            span.event-player داني الفيش
                        
                        
                .team-event.event-icon '65
            .event-row
                .team-event.team-B-event
                    .minutes 
                        span.icon
                            //- svg.own-goal(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 300 300' style='enable-background:new 0 0 300 300;' xml:space='preserve')
                            //-     g
                            //-         path(d='M150,0C67.29,0,0,67.29,0,150s67.29,150,150,150s150-67.29,150-150S232.71,0,150,0z M150,270c-66.168,0-120-53.832-120-120   S83.832,30,150,30s120,53.832,120,120S216.168,270,150,270z')
                            //-         path(d='M195.031,75.387C183.477,66.802,169.331,65,159.5,65h-38.846c-5.522,0-10,4.478-10,10v150c0,5.523,4.478,10,10,10h7.691   c5.522,0,10-4.477,10-10v-53.46H159.5c9.831,0,23.977-1.802,35.531-10.388c8.355-6.207,18.314-18.352,18.314-40.961v-3.843   C213.346,93.739,203.387,81.594,195.031,75.387z M185.27,119.809c0,10.484-2.671,24.424-25.77,24.424h-21.154V92.308H159.5   c23.099,0,25.77,13.939,25.77,24.424V119.809z')
                            svg#Group_2108(xmlns='http://www.w3.org/2000/svg' data-name='Group 2108' width='32' height='32' viewBox='0 0 32 32')
                                circle#Ellipse_179(data-name='Ellipse 179' cx='16' cy='16' r='16' fill='#ff2121')
                                text#P(transform='translate(25.815 21.5)' fill='#fff' font-size='16' font-family='Almarai-Bold, Almarai' font-weight='700')
                                    tspan(x='-10.496' y='0') P
                                g#Group_1997(data-name='Group 1997' transform='translate(16 10.806)')
                                    line#Line_69(data-name='Line 69' x1='5.061' y2='9.399' transform='matrix(0.966, 0.259, -0.259, 0.966, 3.966, 0)' fill='none' stroke='#fff' stroke-width='2')
                                    line#Line_70(data-name='Line 70' x1='5.061' y2='9.399' transform='matrix(0.259, -0.966, 0.966, 0.259, 0, 6.422)' fill='none' stroke='#fff' stroke-width='2')

                        span.event-type ركلة جزاء ضائعة 
                    .event-details
                        .flex
                             
                            span.event-player داني الفيش
                        
                        
                .team-event.event-icon '65
        
    .event-box.mt15
        .center-line
        .match-time الشوط الثاني 1 / 0 
        -for(let i=0;i<1;i++)
            .event-row
                .team-event.team-A-event
                    .minutes
                        span.icon
                            //- svg.normal( id="swap bordered" xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 512.001 512.001', style='enable-background:new 0 0 512.001 512.001;', xml:space='preserve')
                            //-     path(style='fill:#1BBC86;', d='M497.027,370.464L343.664,249.703c-4.589-3.606-11.326-0.329-11.326,5.499v80.302H157.785  c-42.095,0-85.252-11.674-117.128-39.355c-4.993-4.336-12.689,0.081-11.464,6.579c2.167,11.508,6.581,28.841,15.314,46.05  c22.407,44.165,60.519,66.558,113.277,66.558h173.2v76.663c0,2.65,1.497,5.073,3.867,6.258c2.327,1.168,5.177,0.955,7.326-0.661  l154.719-116.039c1.739-1.303,2.774-3.341,2.799-5.515C499.721,373.87,498.735,371.809,497.027,370.464z')
                            //-     path(style='fill:#149362;', d='M497.027,370.464l-19.999-15.747C331.305,464.008,341.318,457.254,337.98,457.254  c-3.839,0-6.996-3.111-6.996-6.998V492c0,2.65,1.497,5.073,3.867,6.258c2.327,1.168,5.177,0.955,7.326-0.661l154.719-116.039  c1.739-1.303,2.774-3.341,2.799-5.515C499.721,373.87,498.735,371.809,497.027,370.464z')
                            //-     path(style='fill:#E22437;', d='M482.579,209.965C469.749,141.783,426.92,97.356,353.987,97.356h-173.2V20.693  c0-5.76-6.594-9.05-11.194-5.598L14.875,131.134c-3.67,2.752-3.743,8.252-0.13,11.096  c165.202,130.081,154.221,122.26,157.693,122.26c3.832,0,6.996-3.106,6.996-6.998V177.19h174.553  c42.193,0,85.331,11.731,117.128,39.354C476.12,220.886,483.806,216.452,482.579,209.965z')
                            //-     g
                            //-         path(style='fill:#C61A33;', d='M172.439,225.758c-3.465,0,6.739,7.216-139.654-108.055l-17.91,13.431   c-3.67,2.752-3.743,8.252-0.13,11.096l153.365,120.761c4.574,3.599,11.325,0.34,11.325-5.499V218.76   C179.434,222.649,176.274,225.758,172.439,225.758z')
                            //-         path(style='fill:#C61A33;', d='M482.579,209.965c-1.515-8.047-4.135-18.941-8.553-30.647   c-4.667-1.152-39.836-40.859-120.038-40.859H222.251c-1.804,0.407-4.514,0.633-8.323,0.633c-25.43,0-32.706,13.977-34.493,24.999   v13.099h174.553c42.193,0,85.331,11.731,117.128,39.354C476.12,220.886,483.806,216.452,482.579,209.965z')
                            //-     path(style='fill:#149362;', d='M292.899,373.594H157.785c-58.482,0-98.165-27.756-118.656-78.434  c-5.198-2.534-10.994,1.949-9.935,7.568c12.84,68.192,55.659,112.609,128.592,112.609h173.2v-9.923  C329.712,393.067,322.942,373.594,292.899,373.594z')
                            //-     path(d='M507.797,369.349L336.724,234.646c-4.877-3.839-12.081-0.366-12.081,5.864v86.829H204.155c-4.123,0-7.464,3.341-7.464,7.464  c0,4.123,3.341,7.464,7.464,7.464h127.951c4.123,0,7.464-3.341,7.464-7.464v-78.916l151.363,119.184l-152.71,114.532v-75.324  c0-4.123-3.341-7.464-7.464-7.464h-172.42c-67.113,0-107.673-39.768-120.413-104.623c4.437,3.774,9.82,7.871,16.204,11.958  c45.851,29.344,93.546,28.118,120.669,28.118c4.123,0,7.464-3.341,7.464-7.464s-3.341-7.464-7.464-7.464  c-21.165,0-68.127,2.364-111.948-25.334c-19.828-12.534-28.984-25.257-29.06-25.363c-4.23-6.041-13.776-2.891-13.576,4.481  c0.038,1.43,1.142,35.401,18.474,69.833c16.256,32.292,50.208,70.786,119.648,70.786h164.957v82.787  c0,6.143,7.033,9.651,11.942,5.971l172.42-129.315c1.854-1.39,2.958-3.565,2.984-5.883  C510.669,372.983,509.618,370.783,507.797,369.349z')
                            //-     path(d='M187.355,271.491v-86.829h166.303c45.796,0,77.205,13.778,95.488,25.334c19.828,12.534,28.984,25.257,29.06,25.363  c4.227,6.04,13.776,2.891,13.576-4.481c-0.038-1.43-1.142-35.401-18.475-69.833c-16.256-32.292-50.209-70.786-119.649-70.786  h-19.147c-4.123,0-7.464,3.341-7.464,7.464s3.341,7.464,7.464,7.464h19.147c67.116,0,107.674,39.77,120.414,104.623  c-32.846-27.932-76.806-40.075-120.414-40.075H179.892c-4.123,0-7.464,3.341-7.464,7.464v78.916L21.067,136.932L173.776,22.4v75.324  c0,4.123,3.341,7.464,7.464,7.464h124.913c4.123,0,7.464-3.341,7.464-7.464s-3.341-7.464-7.464-7.464H188.703V7.473  c0-6.135-7.027-9.657-11.942-5.971L4.342,130.818c-3.919,2.939-3.988,8.804-0.139,11.835l171.072,134.702  C180.166,281.206,187.355,277.706,187.355,271.491z')
                            svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')
                                g#icon(transform='translate(0 0)')
                                    g#Group_198(data-name='Group 198')
                                        path#Path_170.cls-1(style='fill: #17a654;' data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                                g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                    g#Group_198-2(style='fill: #ff2121;' data-name='Group 198' transform='translate(0 0)')
                                        path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')
                        span.event-type تبديل
                    .event-details
                        .flex
                            //- span.event-type دخول
                            span.event-player.main-event.green داني الفيش
                        .flex
                            //- span.event-type خروج
                            span.event-player.red داني الفيش
                    
                .team-event.event-icon '90

                
            .event-row
                .team-event.team-B-event
                    .minutes
                        span.icon
                            svg.yellow-card(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 10.263 15.316')
                                g(transform='translate(-5.842 -2.842)')
                                    rect#Rectangle_1534.cls-1(data-name='Rectangle 1534', width='10.105', height='15.158', rx='2', transform='translate(5.921 2.921)')
                                    rect#Rectangle_1535.cls-2(data-name='Rectangle 1535', width='9.263', height='14.316', rx='2', transform='translate(6.342 3.342)')
                        span.event-type انذار
                    .event-details
                        .flex
                            
                            span.event-player.main-event رياض محرز
                .team-event.event-icon '15
            .event-row
                .team-event.team-A-event
                    .minutes 
                        span.icon
                            svg.red-card(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 10.263 15.316')
                                g(transform='translate(-5.842 -2.842)')
                                    rect#Rectangle_1534.cls-1(data-name='Rectangle 1534', width='10.105', height='15.158', rx='2', transform='translate(5.921 2.921)')
                                    rect#Rectangle_1535.cls-2(data-name='Rectangle 1535', width='9.263', height='14.316', rx='2', transform='translate(6.342 3.342)')
                        span.event-type طرد
                    .event-details
                        .flex
                            
                            span.event-player.main-event داني الفيش
                .team-event.event-icon '88
            .event-row
                .team-event.team-A-event
                    .minutes 
                        span.icon
                            svg.goal( id="football" xmlns='http://www.w3.org/2000/svg', height='480pt', viewBox='0 0 480 480', width='480pt')
                                path(d='m240 0c-132.546875 0-240 107.453125-240 240s107.453125 240 240 240 240-107.453125 240-240c-.148438-132.484375-107.515625-239.851562-240-240zm8.566406 69.191406 83.433594-33.351562c9.46875 4.285156 18.628906 9.222656 27.414062 14.777344l.21875.136718c8.632813 5.46875 16.882813 11.519532 24.695313 18.109375l.671875.585938c3.503906 2.984375 6.910156 6.074219 10.222656 9.261719.417969.410156.855469.800781 1.273438 1.21875 3.472656 3.390624 6.835937 6.886718 10.089844 10.484374.269531.304688.527343.625.796874.929688 2.855469 3.199219 5.601563 6.511719 8.265626 9.878906.640624.800782 1.28125 1.601563 1.902343 2.402344 2.890625 3.742188 5.6875 7.550781 8.328125 11.480469l-16.632812 70.703125-81.832032 27.28125-78.828124-63.074219zm-186.125 34.480469c.621094-.800781 1.253906-1.601563 1.894532-2.398437 2.632812-3.339844 5.355468-6.597657 8.167968-9.777344.304688-.335938.585938-.679688.886719-1.015625 3.234375-3.605469 6.582031-7.097657 10.050781-10.480469.398438-.390625.796875-.800781 1.214844-1.160156 3.285156-3.167969 6.664062-6.238282 10.136719-9.207032l.800781-.671874c7.742188-6.542969 15.914062-12.554688 24.460938-18l.3125-.199219c8.734374-5.542969 17.835937-10.472657 27.25-14.761719l83.816406 33.191406v80.800782l-78.832032 63.0625-81.832031-27.230469-16.632812-70.703125c2.664062-3.921875 5.429687-7.722656 8.304687-11.449219zm-9.640625 259.089844c-2.351562-3.585938-4.601562-7.238281-6.746093-10.960938l-.519532-.898437c-2.132812-3.703125-4.152344-7.46875-6.054687-11.292969l-.066407-.121094c-4.007812-8.046875-7.527343-16.328125-10.535156-24.800781v-.078125c-1.421875-4-2.71875-8.097656-3.917968-12.21875l-.433594-1.519531c-1.097656-3.871094-2.09375-7.785156-2.984375-11.742188-.078125-.386718-.175781-.753906-.253907-1.136718-1.964843-8.9375-3.375-17.984376-4.226562-27.097657l48.839844-58.605469 81.265625 27.085938 23.585937 94.335938-38.753906 51.5625zm240.472657 94.78125c-4 .992187-8.105469 1.847656-12.210938 2.617187-.574219.113282-1.160156.207032-1.734375.3125-3.496094.625-7.03125 1.160156-10.574219 1.597656-.945312.121094-1.882812.25-2.824218.363282-3.289063.382812-6.609376.671875-9.9375.910156-1.046876.070312-2.082032.175781-3.128907.242188-4.253906.261718-8.542969.414062-12.863281.414062-3.957031 0-7.890625-.105469-11.800781-.3125-.472657 0-.925781-.078125-1.398438-.113281-3.480469-.199219-6.945312-.460938-10.402343-.796875l-.398438-.074219c-7.574219-.820313-15.105469-2.023437-22.558594-3.597656l-47.320312-74.089844 38.144531-50.863281h111.46875l38.769531 51.199218zm165.496093-169.542969c-.082031.382812-.175781.753906-.257812 1.136719-.894531 3.953125-1.890625 7.867187-2.984375 11.742187l-.429688 1.519532c-1.203125 4.121093-2.496094 8.203124-3.921875 12.21875v.078124c-3.007812 8.472657-6.523437 16.753907-10.535156 24.800782l-.066406.121094c-1.914063 3.828124-3.929688 7.59375-6.054688 11.292968l-.519531.898438c-2.132812 3.734375-4.378906 7.378906-6.734375 10.945312l-78.929687 12.445313-39.023438-51.519531 23.574219-94.3125 81.265625-27.085938 48.839844 58.605469c-.847657 9.117187-2.257813 18.171875-4.222657 27.113281zm0 0')
                        span.event-type هدف
                    .event-details
                        .flex
                            
                            span.event-player داني الفيش
                        .flex
                            //- span.event-type اسيست
                            span.event-player.gray داني الفيش
                .team-event.event-icon '50
            .event-row
                .team-event.team-B-event
                    .minutes 
                        span.icon
                            svg.own-goal( id="football" xmlns='http://www.w3.org/2000/svg', height='480pt', viewBox='0 0 480 480', width='480pt')
                                path(d='m240 0c-132.546875 0-240 107.453125-240 240s107.453125 240 240 240 240-107.453125 240-240c-.148438-132.484375-107.515625-239.851562-240-240zm8.566406 69.191406 83.433594-33.351562c9.46875 4.285156 18.628906 9.222656 27.414062 14.777344l.21875.136718c8.632813 5.46875 16.882813 11.519532 24.695313 18.109375l.671875.585938c3.503906 2.984375 6.910156 6.074219 10.222656 9.261719.417969.410156.855469.800781 1.273438 1.21875 3.472656 3.390624 6.835937 6.886718 10.089844 10.484374.269531.304688.527343.625.796874.929688 2.855469 3.199219 5.601563 6.511719 8.265626 9.878906.640624.800782 1.28125 1.601563 1.902343 2.402344 2.890625 3.742188 5.6875 7.550781 8.328125 11.480469l-16.632812 70.703125-81.832032 27.28125-78.828124-63.074219zm-186.125 34.480469c.621094-.800781 1.253906-1.601563 1.894532-2.398437 2.632812-3.339844 5.355468-6.597657 8.167968-9.777344.304688-.335938.585938-.679688.886719-1.015625 3.234375-3.605469 6.582031-7.097657 10.050781-10.480469.398438-.390625.796875-.800781 1.214844-1.160156 3.285156-3.167969 6.664062-6.238282 10.136719-9.207032l.800781-.671874c7.742188-6.542969 15.914062-12.554688 24.460938-18l.3125-.199219c8.734374-5.542969 17.835937-10.472657 27.25-14.761719l83.816406 33.191406v80.800782l-78.832032 63.0625-81.832031-27.230469-16.632812-70.703125c2.664062-3.921875 5.429687-7.722656 8.304687-11.449219zm-9.640625 259.089844c-2.351562-3.585938-4.601562-7.238281-6.746093-10.960938l-.519532-.898437c-2.132812-3.703125-4.152344-7.46875-6.054687-11.292969l-.066407-.121094c-4.007812-8.046875-7.527343-16.328125-10.535156-24.800781v-.078125c-1.421875-4-2.71875-8.097656-3.917968-12.21875l-.433594-1.519531c-1.097656-3.871094-2.09375-7.785156-2.984375-11.742188-.078125-.386718-.175781-.753906-.253907-1.136718-1.964843-8.9375-3.375-17.984376-4.226562-27.097657l48.839844-58.605469 81.265625 27.085938 23.585937 94.335938-38.753906 51.5625zm240.472657 94.78125c-4 .992187-8.105469 1.847656-12.210938 2.617187-.574219.113282-1.160156.207032-1.734375.3125-3.496094.625-7.03125 1.160156-10.574219 1.597656-.945312.121094-1.882812.25-2.824218.363282-3.289063.382812-6.609376.671875-9.9375.910156-1.046876.070312-2.082032.175781-3.128907.242188-4.253906.261718-8.542969.414062-12.863281.414062-3.957031 0-7.890625-.105469-11.800781-.3125-.472657 0-.925781-.078125-1.398438-.113281-3.480469-.199219-6.945312-.460938-10.402343-.796875l-.398438-.074219c-7.574219-.820313-15.105469-2.023437-22.558594-3.597656l-47.320312-74.089844 38.144531-50.863281h111.46875l38.769531 51.199218zm165.496093-169.542969c-.082031.382812-.175781.753906-.257812 1.136719-.894531 3.953125-1.890625 7.867187-2.984375 11.742187l-.429688 1.519532c-1.203125 4.121093-2.496094 8.203124-3.921875 12.21875v.078124c-3.007812 8.472657-6.523437 16.753907-10.535156 24.800782l-.066406.121094c-1.914063 3.828124-3.929688 7.59375-6.054688 11.292968l-.519531.898438c-2.132812 3.734375-4.378906 7.378906-6.734375 10.945312l-78.929687 12.445313-39.023438-51.519531 23.574219-94.3125 81.265625-27.085938 48.839844 58.605469c-.847657 9.117187-2.257813 18.171875-4.222657 27.113281zm0 0')
                        span.event-type هدف ذاتي
                    .event-details
                        //- span.event-type هدف ذاتي
                        span.event-player داني الفيش
                .team-event.event-icon '65
        
    //- .event-line
    //-         .event-block.flex.center
    //-             span.event-block__icon.icon
    //-                 svg.red-card(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 10.263 15.316')
    //-                     g(transform='translate(-5.842 -2.842)')
    //-                         rect#Rectangle_1534.cls-1(data-name='Rectangle 1534', width='10.105', height='15.158', rx='2', transform='translate(5.921 2.921)')
    //-                         rect#Rectangle_1535.cls-2(data-name='Rectangle 1535', width='9.263', height='14.316', rx='2', transform='translate(6.342 3.342)')
    //-             .event-block__text
    //-                 .event-block__text-line
    //-                     .event-block__event هدف
    //-                     .event-block__player كيفين دي بروين
    //-                 .event-block__text-line
    //-                     .event-block__event أسيست
    //-                     .event-block__player مندي
                    