.formation-side
    .box-theme
        .formation-side__head.bottom-grad2 تشكيل الفريفين
        
        .formation-side__switch
            .formation-side__switch-tab.switch3.active
                .formation-side__switch-logo
                    img(src="img/logos/1.png", alt="")
                .formation-side__switch-name مانشستر سيتي
            .formation-side__switch-tab.switch3
                .formation-side__switch-logo
                    img(src="img/logos/4.png", alt="")
                .formation-side__switch-name مانشستر يونايتد
    .side-switch.inside-tab.active
        .box-theme.mt-15
            -for(let i = 0; i < 11 ; i++)
                a(href='player.html').formation-side__player
                    .formation-side__player-img
                        img(src="img/logos/99.png", alt="")
                    .formation-side__player-num 5.
                    .formation-side__player-name محمد صلاح
                    .formation-side__icon.mr-max
                        svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                            g#icon(transform='translate(0 0)')
                                g#Group_198(data-name='Group 198')
                                    path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                            g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                    path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')

        .formation-side.box-theme.mt-15
            .formation-side__head.bottom-grad2 البدلاء 
            
            -for(let i = 0; i < 7 ; i++)
                a(href='player.html').formation-side__player
                    .formation-side__player-img
                        img(src="img/logos/99.png", alt="")
                    .formation-side__player-num 5.
                    .formation-side__player-name محمد صلاح
                    .formation-side__icon.mr-max
                        svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                            g#icon(transform='translate(0 0)')
                                g#Group_198(data-name='Group 198')
                                    path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                            g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                    path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')

    .side-switch.inside-tab
        .box-theme.mt-15
            -for(let i = 0; i < 11 ; i++)
                a(href='player.html').formation-side__player
                    .formation-side__player-img
                        img(src="img/logos/99.png", alt="")
                    .formation-side__player-num 5.
                    .formation-side__player-name محمد صلاح
                    .formation-side__icon.mr-max
                        svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                            g#icon(transform='translate(0 0)')
                                g#Group_198(data-name='Group 198')
                                    path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                            g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                    path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')

        .formation-side.box-theme.mt-15
            .formation-side__head.bottom-grad2 البدلاء 
            
            -for(let i = 0; i < 7 ; i++)
                a(href='player.html').formation-side__player
                    .formation-side__player-img
                        img(src="img/logos/99.png", alt="")
                    .formation-side__player-num 5.
                    .formation-side__player-name محمد صلاح
                    .formation-side__icon.mr-max
                        svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                            g#icon(transform='translate(0 0)')
                                g#Group_198(data-name='Group 198')
                                    path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                            g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                    path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')








