.box-theme.knock-out-full
    .common-title
        p مرحلة خروج المغلوب
    .knock-out-holder
        .knock-out.knock-out--right
            .knock-out__main-box
                .knock-out__matches-box.top-box
                    .relative
                        .knock-out__match-card.flex
                            .knock-out__match-teams
                                .knock-out__team
                                    .knock-out__team-logo
                                        img(src="img/2.png", alt="")
                                    .knock-out__team-name ماشستر يونايتد
                                    .knock-out__score.green  3
                            
                                .knock-out__team
                                    .knock-out__team-logo
                                        img(src="img/1.png", alt="")
                                    .knock-out__team-name ماشستر سيتي
                                    .knock-out__score3
                            .knock-out__result
                                .flex
                                    .gray ذهاب
                                    .green (فوز مانشتر سيتي 2-0)
                                .flex
                                    .gray اياب
                                    .green (نعادل الفريقين 0-0)
                        .knock-out__match-card.flex
                            .knock-out__match-teams
                                .knock-out__team
                                    .knock-out__team-logo
                                        img(src="img/2.png", alt="")
                                    .knock-out__team-name ماشستر يونايتد
                                    .knock-out__score.green  3
                            
                                .knock-out__team
                                    .knock-out__team-logo
                                        img(src="img/1.png", alt="")
                                    .knock-out__team-name ماشستر سيتي
                                    .knock-out__score3
                            .knock-out__result
                                .flex
                                    .gray ذهاب
                                    .green (فوز مانشتر سيتي 2-0)
                                .flex
                                    .gray اياب
                                    .green (نعادل الفريقين 0-0)
                .knock-out__matches-box.bottom-box
                    .knock-out__match-card.flex
                        .knock-out__match-teams
                            .knock-out__team
                                .knock-out__team-logo
                                    img(src="img/2.png", alt="")
                                .knock-out__team-name ماشستر يونايتد
                                .knock-out__score.green  3
                        
                            .knock-out__team
                                .knock-out__team-logo
                                    img(src="img/1.png", alt="")
                                .knock-out__team-name ماشستر سيتي
                                .knock-out__score3
                        .knock-out__result
                            .flex
                                .gray ذهاب
                                .green (فوز مانشتر سيتي 2-0)
                            .flex
                                .gray اياب
                                .green (نعادل الفريقين 0-0)
                    .knock-out__match-card.flex
                        .knock-out__match-teams
                            .knock-out__team
                                .knock-out__team-logo
                                    img(src="img/2.png", alt="")
                                .knock-out__team-name ماشستر يونايتد
                                .knock-out__score.green  3
                        
                            .knock-out__team
                                .knock-out__team-logo
                                    img(src="img/1.png", alt="")
                                .knock-out__team-name ماشستر سيتي
                                .knock-out__score3
                        .knock-out__result
                            .flex
                                .gray ذهاب
                                .green (فوز مانشتر سيتي 2-0)
                            .flex
                                .gray اياب
                                .green (نعادل الفريقين 0-0)
                .knock-out__match-card.flex
                        .knock-out__match-teams
                            .knock-out__team
                                .knock-out__team-logo
                                    img(src="img/2.png", alt="")
                                .knock-out__team-name ماشستر يونايتد
                                .knock-out__score.green  3
                        
                            .knock-out__team
                                .knock-out__team-logo
                                    img(src="img/1.png", alt="")
                                .knock-out__team-name ماشستر سيتي
                                .knock-out__score3
                        .knock-out__result
                            .flex
                                .gray ذهاب
                                .green (فوز مانشتر سيتي 2-0)
                            .flex
                                .gray اياب
                                .green (نعادل الفريقين 0-0)
                .knock-out__match-card.flex
                        .knock-out__match-teams
                            .knock-out__team
                                .knock-out__team-logo
                                    img(src="img/2.png", alt="")
                                .knock-out__team-name ماشستر يونايتد
                                .knock-out__score.green  3
                        
                            .knock-out__team
                                .knock-out__team-logo
                                    img(src="img/1.png", alt="")
                                .knock-out__team-name ماشستر سيتي
                                .knock-out__score3
                        .knock-out__result
                            .flex
                                .gray ذهاب
                                .green (فوز مانشتر سيتي 2-0)
                            .flex
                                .gray اياب
                                .green (نعادل الفريقين 0-0)
                .knock-out__match-card-final
                    .knock-out__match-card.flex
                            .knock-out__match-teams
                                .knock-out__team
                                    .knock-out__team-logo
                                        img(src="img/2.png", alt="")
                                    .knock-out__team-name ماشستر يونايتد
                                    .knock-out__score.green  3
                            
                                .knock-out__team
                                    .knock-out__team-logo
                                        img(src="img/1.png", alt="")
                                    .knock-out__team-name ماشستر سيتي
                                    .knock-out__score3
                            .knock-out__result
                                .flex
                                    .gray ذهاب
                                    .green (فوز مانشتر سيتي 2-0)
                                .flex
                                    .gray اياب
                                    .green (نعادل الفريقين 0-0)
        .knock-out.knock-out--left
            .knock-out__main-box
                .knock-out__matches-box.top-box
                    .knock-out__match-card
                    .knock-out__match-card
                .knock-out__matches-box.bottom-box
                    .knock-out__match-card
                    .knock-out__match-card
                .knock-out__match-card
                .knock-out__match-card
                