.box-theme.knock-out.mt-15
    .common-title.flex
        p مرحلة خروج المغلوب
        span.knock-out__user-notice لمشاهدة كل الأدوار قم بتحريك اللوحة يمينا
    .knock-out__board
        .knock-out__round.round-16
            .knock-out__round-name  ثمن النهائي
            .knock-out__round-col
                -for(let x = 0 ; x < 4 ; x++)
                    .knock-out__matches-box
                        .knock-out__match-card
                            .side-match-box
                                .side-match-box__teamA
                                    p مانشستر يونايتد
                                    img(src="./img/logos/4.png", alt="")
                                .side-match-box__status
                                    .side-match-box__result-box
                                        .side-match-box__result 0 : 0
                                        .side-match-box__progress-bar
                                            .side-match-box__progress-point.ended
                                        .side-match-box__time.ended مجموع
                                .side-match-box__teamB
                                    p مانشستر سيتي
                                    img(src="./img/logos/1.png", alt="")
                        .knock-out__match-card
                            .side-match-box
                                .side-match-box__teamA
                                    p مانشستر يونايتد
                                    img(src="./img/logos/4.png", alt="")
                                .side-match-box__status
                                    .side-match-box__result-box
                                        .side-match-box__result 0 : 0
                                        .side-match-box__progress-bar
                                            .side-match-box__progress-point.ended
                                        .side-match-box__time.ended مجموع
                                .side-match-box__teamB
                                    p مانشستر سيتي
                                    img(src="./img/logos/1.png", alt="")
        .knock-out__round.round-8
            .knock-out__round-name ربع النهائي
            .knock-out__round-col
                -for(let x = 0 ; x < 2 ; x++)
                    .knock-out__matches-box
                        .knock-out__match-card
                            .side-match-box
                                .side-match-box__teamA
                                    p مانشستر يونايتد
                                    img(src="./img/logos/4.png", alt="")
                                .side-match-box__status
                                    .side-match-box__result-box
                                        .side-match-box__result 0 : 0
                                        .side-match-box__progress-bar
                                            .side-match-box__progress-point.ended
                                        .side-match-box__time.ended مجموع
                                .side-match-box__teamB
                                    p مانشستر سيتي
                                    img(src="./img/logos/1.png", alt="")
                        .knock-out__match-card
                            .side-match-box
                                .side-match-box__teamA
                                    p مانشستر يونايتد
                                    img(src="./img/logos/4.png", alt="")
                                .side-match-box__status
                                    .side-match-box__result-box
                                        .side-match-box__result 0 : 0
                                        .side-match-box__progress-bar
                                            .side-match-box__progress-point.ended
                                        .side-match-box__time.ended مجموع
                                .side-match-box__teamB
                                    p مانشستر سيتي
                                    img(src="./img/logos/1.png", alt="")
            
        .knock-out__round.round-4
            .knock-out__round-name نصف النهائي
            .knock-out__round-col
                .knock-out__matches-box
                    .knock-out__match-card
                        .side-match-box
                            .side-match-box__teamA
                                p مانشستر يونايتد
                                img(src="./img/logos/4.png", alt="")
                            .side-match-box__status
                                .side-match-box__result-box
                                    .side-match-box__result 0 : 0
                                    .side-match-box__progress-bar
                                        .side-match-box__progress-point.ended
                                    .side-match-box__time.ended مجموع
                            .side-match-box__teamB
                                p مانشستر سيتي
                                img(src="./img/logos/1.png", alt="")
                    .knock-out__match-card
                        .side-match-box
                            .side-match-box__teamA
                                p مانشستر يونايتد
                                img(src="./img/logos/4.png", alt="")
                            .side-match-box__status
                                .side-match-box__result-box
                                    .side-match-box__result 0 : 0
                                    .side-match-box__progress-bar
                                        .side-match-box__progress-point.ended
                                    .side-match-box__time.ended مجموع
                            .side-match-box__teamB
                                p مانشستر سيتي
                                img(src="./img/logos/1.png", alt="")

        .knock-out__round.final
            .knock-out__round-name نصف النهائي
            .knock-out__round-col
                .knock-out__match-card
                    .side-match-box
                        .side-match-box__teamA
                            p مانشستر يونايتد
                            img(src="./img/logos/4.png", alt="")
                        .side-match-box__status
                            .side-match-box__result-box
                                .side-match-box__result 0 : 0
                                .side-match-box__progress-bar
                                    .side-match-box__progress-point.ended
                                .side-match-box__time.ended مجموع
                        .side-match-box__teamB
                            p مانشستر سيتي
                            img(src="./img/logos/1.png", alt="")
                

