.table-box.box-theme.mt-15
    .formation-side
        .formation-side__head.bottom-grad2 ترتيب الفريفين
    .inner-body
        .table-box__row.table-box__row--head
            .table-box__col.table-box__col--first #
            .table-box__col.table-box__col--large الفريق
            .table-box__col لعب 
            .table-box__col فوز 
            .table-box__col تعادل
            .table-box__col خسارة 
            .table-box__col فرق أهداف
            .table-box__col أخر مباريات
            .table-box__col.mark نقاط
        -for(let i = 1 ; i < 3 ; i++)
            .table-box__row
                .table-box__col.table-box__col--first
                    span.number #{i}
                .table-box__col.table-box__col--large 
                    .img-beside-text
                        a(href='team.html')
                        img(src="img/logos/1.png")
                        p باريس سان جيرمان
                .table-box__col.number 25 
                .table-box__col.number 25
                .table-box__col.number 25
                .table-box__col.number 25 
                .table-box__col.number 25
                .table-box__col.last-results
                    svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                            path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                            path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                    svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                        path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                        path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                    svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                        g
                            g#remove-circle
                                path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                    svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                        g
                            g#remove-circle
                                path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                    svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                        path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                        path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                

                .table-box__col.number.mark 25
