.formation-side.formation-side--match
    .formation-side__switch
        .formation-side__switch-tab.switch1.active
            .formation-side__switch-logo
                img(src="img/logos/1.png", alt="")
            .formation-side__switch-name مانشستر سيتي
        .formation-side__switch-tab.switch1
            .formation-side__switch-logo
                img(src="img/logos/4.png", alt="")
            .formation-side__switch-name مانشستر يونايتد
.line-up.mt-15
    .line-up__img
        img.lineup_background(src="img/Image-409.png", alt="")
    .inside-tab2.events.switch.mt-15.active
        .lineup
            .lineup__pos.lineup__forward
                -for(let i = 0 ; i < 2 ; i++)
                    .lineup__player
                        .lineup__player-holder
                            .lineup__pl-img
                                img(src="img/logos/99.png", alt="")
                        .lineup__name 1. محمد صلاح
                            //- .lineup__number 11
                        .lineup__event-icon
                            svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                                g#icon(transform='translate(0 0)')
                                    g#Group_198(data-name='Group 198')
                                        path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                                g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                    g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                        path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')

            //- .lineup__pos.lineup__attacker-midfielders
                .lineup__player
                        .lineup__player-holder
                            .lineup__pl-img
                                img(src="img/logos/99.png", alt="")
                        .lineup__name 1. محمد صلاح
                            //- .lineup__number 11
                            .lineup__event-icon
                                svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                                    g#icon(transform='translate(0 0)')
                                        g#Group_198(data-name='Group 198')
                                            path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                                    g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                        g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                            path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')

            
            //- .lineup__pos.lineup__defender-midfielders
                .lineup__player
                        .lineup__player-holder
                            .lineup__pl-img
                                img(src="img/logos/99.png", alt="")
                        .lineup__name 1. محمد صلاح
                            //- .lineup__number 11
                            .lineup__event-icon
                                svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                                    g#icon(transform='translate(0 0)')
                                        g#Group_198(data-name='Group 198')
                                            path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                                    g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                        g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                            path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')

            
            .lineup__pos.lineup__midfielders
                -for(let i = 0 ; i < 3 ; i++)
                    .lineup__player
                        .lineup__player-holder
                            .lineup__pl-img
                                img(src="img/logos/99.png", alt="")
                        .lineup__name 1. محمد صلاح
                            //- .lineup__number 11
                        .lineup__event-icon
                            svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                                g#icon(transform='translate(0 0)')
                                    g#Group_198(data-name='Group 198')
                                        path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                                g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                    g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                        path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')

            .lineup__pos.lineup__defenders
                -for(let i = 0 ; i < 4 ; i++)
                    .lineup__player
                        .lineup__player-holder
                            .lineup__pl-img
                                img(src="img/logos/99.png", alt="")
                        .lineup__name 1. محمد صلاح
                            //- .lineup__number 11
                            .lineup__event-icon
                                svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                                    g#icon(transform='translate(0 0)')
                                        g#Group_198(data-name='Group 198')
                                            path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                                    g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                        g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                            path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')

            .lineup__pos.lineup__gk
                .lineup__player
                    .lineup__player-holder
                        .lineup__pl-img
                            img(src="img/logos/99.png", alt="")
                    .lineup__name 1. محمد صلاح
                        //- .lineup__number 11
                        .lineup__event-icon
                            svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                                g#icon(transform='translate(0 0)')
                                    g#Group_198(data-name='Group 198')
                                        path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                                g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                    g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                        path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')

    .inside-tab2.events.switch
        .lineup
            .lineup__pos.lineup__forward
                -for(let i = 0 ; i < 1 ; i++)
                    .lineup__player
                        .lineup__player-holder
                            .lineup__pl-img
                                img(src="img/logos/99.png", alt="")
                        .lineup__name 1. محمد صلاح
                            //- .lineup__number 11
                            .lineup__event-icon
                                svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                                    g#icon(transform='translate(0 0)')
                                        g#Group_198(data-name='Group 198')
                                            path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                                    g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                        g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                            path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')

            //- .lineup__pos.lineup__attacker-midfielders
                .lineup__player
                        .lineup__player-holder
                            .lineup__pl-img
                                img(src="img/logos/99.png", alt="")
                        .lineup__name 1. محمد صلاح
                            //- .lineup__number 11
                            .lineup__event-icon
                                svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                                    g#icon(transform='translate(0 0)')
                                        g#Group_198(data-name='Group 198')
                                            path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                                    g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                        g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                            path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')

            
            //- .lineup__pos.lineup__defender-midfielders
                .lineup__player
                        .lineup__player-holder
                            .lineup__pl-img
                                img(src="img/logos/99.png", alt="")
                        .lineup__name 1. محمد صلاح
                            //- .lineup__number 11
                            .lineup__event-icon
                                svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                                    g#icon(transform='translate(0 0)')
                                        g#Group_198(data-name='Group 198')
                                            path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                                    g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                        g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                            path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')

            
            .lineup__pos.lineup__midfielders
                -for(let i = 0 ; i < 5 ; i++)
                    .lineup__player
                        .lineup__player-holder
                            .lineup__pl-img
                                img(src="img/logos/99.png", alt="")
                        .lineup__name 1. محمد صلاح
                            //- .lineup__number 11
                            .lineup__event-icon
                                svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                                    g#icon(transform='translate(0 0)')
                                        g#Group_198(data-name='Group 198')
                                            path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                                    g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                        g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                            path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')

            .lineup__pos.lineup__defenders
                -for(let i = 0 ; i < 3 ; i++)
                    .lineup__player
                        .lineup__player-holder
                            .lineup__pl-img
                                img(src="img/logos/99.png", alt="")
                        .lineup__name 1. محمد صلاح
                            //- .lineup__number 11
                            //- .lineup__event-icon
                                svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                                    g#icon(transform='translate(0 0)')
                                        g#Group_198(data-name='Group 198')
                                            path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                                    g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                        g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                            path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')

            .lineup__pos.lineup__gk
                .lineup__player
                    .lineup__player-holder
                        .lineup__pl-img
                            img(src="img/logos/99.png", alt="")
                    .lineup__name 1. محمد صلاح
                        //- .lineup__number 11
                        .lineup__event-icon
                            svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')    
                                g#icon(transform='translate(0 0)')
                                    g#Group_198(data-name='Group 198')
                                        path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                                g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                    g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                        path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')

.on-bench.box-theme.mt-15 
    .on-bench__head
        .on-bench__sub البدلاء
        .on-bench__icon
            svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 505.589 505.589' style='enable-background:new 0 0 505.589 505.589;' xml:space='preserve')
                g
                    g
                        g
                            polygon(points='115.652,503.076 252.795,503.076 389.938,503.076 389.938,484.79 115.652,484.79    ')
                            path(d='M401.813,41.281c-4.569-3.518-9.766-6.136-15.313-7.714l-53.928-15.411c-1.495-0.428-2.857-1.23-3.955-2.33     L315.304,2.514c-19.258,10.252-40.694,15.736-62.509,15.991c-21.815-0.255-43.251-5.739-62.509-15.991l-13.313,13.312     c-1.099,1.101-2.46,1.903-3.955,2.331L119.09,33.567c-5.547,1.578-10.743,4.196-15.313,7.714L0,121.112l62.866,94.313     l17.476-13.983l-45.44-68.151c-2.741-4.199-1.588-9.823,2.585-12.605s9.807-1.683,12.629,2.462l44.557,66.827l6.122-4.898     c2.745-2.196,6.506-2.623,9.675-1.1s5.183,4.728,5.183,8.243v274.286h274.286V192.219c0-3.516,2.014-6.72,5.183-8.243     c3.168-1.523,6.929-1.095,9.675,1.1l6.122,4.898l44.556-66.827c2.812-4.174,8.467-5.291,12.655-2.499s5.331,8.442,2.56,12.642     l-45.44,68.151l17.476,13.983l62.866-94.313L401.813,41.281z')
    -for(let i = 0 ; i < 7 ; i++)
        .on-bench__row
            .on-bench__team.team-A
                .on-bench__player-num 3
                .on-bench__holder
                    .on-bench__player-name محمد شريف
                    .on-bench__position  (مدافع) 
            .on-bench__team.team-B
                .on-bench__player-num 3
                .on-bench__holder
                    .on-bench__player-name محمد شريف
                    .on-bench__position  (مهاجم) 
    .on-bench__head
        .on-bench__sub المدربين
        .on-bench__icon
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='-42 0 512 512.002')
                path(d='m210.351562 246.632812c33.882813 0 63.222657-12.152343 87.195313-36.128906 23.972656-23.972656 36.125-53.304687 36.125-87.191406 0-33.875-12.152344-63.210938-36.128906-87.191406-23.976563-23.96875-53.3125-36.121094-87.191407-36.121094-33.886718 0-63.21875 12.152344-87.191406 36.125s-36.128906 53.308594-36.128906 87.1875c0 33.886719 12.15625 63.222656 36.132812 87.195312 23.976563 23.96875 53.3125 36.125 87.1875 36.125zm0 0')
                path(d='m426.128906 393.703125c-.691406-9.976563-2.089844-20.859375-4.148437-32.351563-2.078125-11.578124-4.753907-22.523437-7.957031-32.527343-3.308594-10.339844-7.808594-20.550781-13.371094-30.335938-5.773438-10.15625-12.554688-19-20.164063-26.277343-7.957031-7.613282-17.699219-13.734376-28.964843-18.199219-11.226563-4.441407-23.667969-6.691407-36.976563-6.691407-5.226563 0-10.28125 2.144532-20.042969 8.5-6.007812 3.917969-13.035156 8.449219-20.878906 13.460938-6.707031 4.273438-15.792969 8.277344-27.015625 11.902344-10.949219 3.542968-22.066406 5.339844-33.039063 5.339844-10.972656 0-22.085937-1.796876-33.046874-5.339844-11.210938-3.621094-20.296876-7.625-26.996094-11.898438-7.769532-4.964844-14.800782-9.496094-20.898438-13.46875-9.75-6.355468-14.808594-8.5-20.035156-8.5-13.3125 0-25.75 2.253906-36.972656 6.699219-11.257813 4.457031-21.003906 10.578125-28.96875 18.199219-7.605469 7.28125-14.390625 16.121094-20.15625 26.273437-5.558594 9.785157-10.058594 19.992188-13.371094 30.339844-3.199219 10.003906-5.875 20.945313-7.953125 32.523437-2.058594 11.476563-3.457031 22.363282-4.148437 32.363282-.679688 9.796875-1.023438 19.964844-1.023438 30.234375 0 26.726562 8.496094 48.363281 25.25 64.320312 16.546875 15.746094 38.441406 23.734375 65.066406 23.734375h246.53125c26.625 0 48.511719-7.984375 65.0625-23.734375 16.757813-15.945312 25.253906-37.585937 25.253906-64.324219-.003906-10.316406-.351562-20.492187-1.035156-30.242187zm0 0')
    .on-bench__row
        .on-bench__team.team-A
            .formation-side__player
                .formation-side__player-img
                    img(src="img/logos/99.png", alt="")
                .formation-side__player-name جوزيه مورينيو 
            
        .on-bench__team.team-B
            .formation-side__player
                .formation-side__player-img
                    img(src="img/logos/99.png", alt="")
                .formation-side__player-name زين الدين زيدان 
            
        