.moments.tab-switch2
    .moments__box.box-theme.mt-15.bottom-grad
        .moments__end
            .moments__timer.icon
                svg.green-icon(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512')
                    path(d='m479.451 112.98-53.74-53.74c-7.811-7.811-20.474-7.811-28.284 0s-7.811 20.474 0 28.284l12.728 12.728-26.102 26.102c-33.978-28.346-75.292-45.458-119.362-49.441v-36.913h18c11.046 0 20-8.954 20-20s-8.954-20-20-20h-76c-11.046 0-20 8.954-20 20s8.954 20 20 20h18v36.913c-109.724 9.916-198 102.055-198 217.087 0 120.482 97.501 218 218 218 120.482 0 218-97.501 218-218 0-51.511-17.756-100.286-50.354-139.362l26.102-26.102 12.728 12.728c7.81 7.81 20.473 7.811 28.284 0 7.81-7.81 7.81-20.473 0-28.284zm-234.76 359.02c-98.149 0-178-79.851-178-178s79.851-178 178-178 178 79.851 178 178-79.85 178-178 178zm103.923-178c0 11.046-8.954 20-20 20h-83.922c-11.046 0-20-8.954-20-20v-117.675c0-11.046 8.954-20 20-20s20 8.954 20 20v97.675h63.922c11.046 0 20 8.954 20 20z')
                span نهاية المباراة
        .moments__end-teams.flex
            .moments__team.flex
                .moments__team-img
                    img(src="img/logos/1.png", alt="")
                .moments__team-name مانشستر سيتي
                .moments__score.green  3

            .moments__team.flex.mr-max
                .moments__score 3
                .moments__team-name مانشستر سيتي
                .moments__team-img
                    img(src="img/logos/1.png", alt="")
                
                    
                    
    .moments__box.box-theme.mt-15
        .moments__info
            .moments__min '22
            
            .moments__action
                .moments__action-type
                    .moments__type-icon
                        svg.yellow-card(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.263 15.316')
                            g(transform='translate(-5.842 -2.842)')
                                rect#Rectangle_1534.cls-1(data-name='Rectangle 1534' width='10.105' height='15.158' rx='2' transform='translate(5.921 2.921)')
                                rect#Rectangle_1535.cls-2(data-name='Rectangle 1535' width='9.263' height='14.316' rx='2' transform='translate(6.342 3.342)')

                    .moments__type-text بطاقة صفراء
                .moments__team
                    .moments__team-logo
                        img(src="img/logos/4.png", alt="")
                    .moments__pl 
                        span.moments__pl-name.green ماركوس رشافورد
                        //- span.moments__second-pl.red اشرف حكيمي
        .moments__text  انتهت منافسات الدور ربع نهائي ببطولة كوبا أمريكا، بتأهل الرباعي البرازيل، بيرو، كولومبيا، الأرجنتين ، للدور نصف النهائي.وتأهل البرازيل بالفوز على تشيلي بهدف دون مقابل، كما .
    
    .moments__box.box-theme.mt-15
        .moments__info
            .moments__min '22
            
            .moments__action
                .moments__action-type
                    .moments__type-icon
                        svg.red-card(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.263 15.316')
                            g(transform='translate(-5.842 -2.842)')
                                rect#Rectangle_1534.cls-1(data-name='Rectangle 1534' width='10.105' height='15.158' rx='2' transform='translate(5.921 2.921)')
                                rect#Rectangle_1535.cls-2(data-name='Rectangle 1535' width='9.263' height='14.316' rx='2' transform='translate(6.342 3.342)')

                    .moments__type-text بطاقة حمراء
                .moments__team
                    .moments__team-logo
                        img(src="img/logos/4.png", alt="")
                    .moments__pl 
                        span.moments__pl-name.green ماركوس رشافورد
                        //- span.moments__second-pl.red اشرف حكيمي
        .moments__text  انتهت منافسات الدور ربع نهائي ببطولة كوبا أمريكا، بتأهل الرباعي البرازيل، بيرو، كولومبيا، الأرجنتين ، للدور نصف النهائي.وتأهل البرازيل بالفوز على تشيلي بهدف دون مقابل، كما .

    .moments__box.box-theme.mt-15
        .moments__info
            .moments__min '22
            
            .moments__action
                .moments__action-type
                    .moments__type-icon
                        svg(id='swap bordered' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve')
                            path(style='fill:#1BBC86;' d='M497.027,370.464L343.664,249.703c-4.589-3.606-11.326-0.329-11.326,5.499v80.302H157.785  c-42.095,0-85.252-11.674-117.128-39.355c-4.993-4.336-12.689,0.081-11.464,6.579c2.167,11.508,6.581,28.841,15.314,46.05  c22.407,44.165,60.519,66.558,113.277,66.558h173.2v76.663c0,2.65,1.497,5.073,3.867,6.258c2.327,1.168,5.177,0.955,7.326-0.661  l154.719-116.039c1.739-1.303,2.774-3.341,2.799-5.515C499.721,373.87,498.735,371.809,497.027,370.464z')
                            path(style='fill:#149362;' d='M497.027,370.464l-19.999-15.747C331.305,464.008,341.318,457.254,337.98,457.254  c-3.839,0-6.996-3.111-6.996-6.998V492c0,2.65,1.497,5.073,3.867,6.258c2.327,1.168,5.177,0.955,7.326-0.661l154.719-116.039  c1.739-1.303,2.774-3.341,2.799-5.515C499.721,373.87,498.735,371.809,497.027,370.464z')
                            path(style='fill:#E22437;' d='M482.579,209.965C469.749,141.783,426.92,97.356,353.987,97.356h-173.2V20.693  c0-5.76-6.594-9.05-11.194-5.598L14.875,131.134c-3.67,2.752-3.743,8.252-0.13,11.096  c165.202,130.081,154.221,122.26,157.693,122.26c3.832,0,6.996-3.106,6.996-6.998V177.19h174.553  c42.193,0,85.331,11.731,117.128,39.354C476.12,220.886,483.806,216.452,482.579,209.965z')
                            g
                                path(style='fill:#C61A33;' d='M172.439,225.758c-3.465,0,6.739,7.216-139.654-108.055l-17.91,13.431   c-3.67,2.752-3.743,8.252-0.13,11.096l153.365,120.761c4.574,3.599,11.325,0.34,11.325-5.499V218.76   C179.434,222.649,176.274,225.758,172.439,225.758z')
                                path(style='fill:#C61A33;' d='M482.579,209.965c-1.515-8.047-4.135-18.941-8.553-30.647   c-4.667-1.152-39.836-40.859-120.038-40.859H222.251c-1.804,0.407-4.514,0.633-8.323,0.633c-25.43,0-32.706,13.977-34.493,24.999   v13.099h174.553c42.193,0,85.331,11.731,117.128,39.354C476.12,220.886,483.806,216.452,482.579,209.965z')
                            path(style='fill:#149362;' d='M292.899,373.594H157.785c-58.482,0-98.165-27.756-118.656-78.434  c-5.198-2.534-10.994,1.949-9.935,7.568c12.84,68.192,55.659,112.609,128.592,112.609h173.2v-9.923  C329.712,393.067,322.942,373.594,292.899,373.594z')
                            path(d='M507.797,369.349L336.724,234.646c-4.877-3.839-12.081-0.366-12.081,5.864v86.829H204.155c-4.123,0-7.464,3.341-7.464,7.464  c0,4.123,3.341,7.464,7.464,7.464h127.951c4.123,0,7.464-3.341,7.464-7.464v-78.916l151.363,119.184l-152.71,114.532v-75.324  c0-4.123-3.341-7.464-7.464-7.464h-172.42c-67.113,0-107.673-39.768-120.413-104.623c4.437,3.774,9.82,7.871,16.204,11.958  c45.851,29.344,93.546,28.118,120.669,28.118c4.123,0,7.464-3.341,7.464-7.464s-3.341-7.464-7.464-7.464  c-21.165,0-68.127,2.364-111.948-25.334c-19.828-12.534-28.984-25.257-29.06-25.363c-4.23-6.041-13.776-2.891-13.576,4.481  c0.038,1.43,1.142,35.401,18.474,69.833c16.256,32.292,50.208,70.786,119.648,70.786h164.957v82.787  c0,6.143,7.033,9.651,11.942,5.971l172.42-129.315c1.854-1.39,2.958-3.565,2.984-5.883  C510.669,372.983,509.618,370.783,507.797,369.349z')
                            path(d='M187.355,271.491v-86.829h166.303c45.796,0,77.205,13.778,95.488,25.334c19.828,12.534,28.984,25.257,29.06,25.363  c4.227,6.04,13.776,2.891,13.576-4.481c-0.038-1.43-1.142-35.401-18.475-69.833c-16.256-32.292-50.209-70.786-119.649-70.786  h-19.147c-4.123,0-7.464,3.341-7.464,7.464s3.341,7.464,7.464,7.464h19.147c67.116,0,107.674,39.77,120.414,104.623  c-32.846-27.932-76.806-40.075-120.414-40.075H179.892c-4.123,0-7.464,3.341-7.464,7.464v78.916L21.067,136.932L173.776,22.4v75.324  c0,4.123,3.341,7.464,7.464,7.464h124.913c4.123,0,7.464-3.341,7.464-7.464s-3.341-7.464-7.464-7.464H188.703V7.473  c0-6.135-7.027-9.657-11.942-5.971L4.342,130.818c-3.919,2.939-3.988,8.804-0.139,11.835l171.072,134.702  C180.166,281.206,187.355,277.706,187.355,271.491z')

                    .moments__type-text تبديل 
                .moments__team
                    .moments__team-logo
                        img(src="img/logos/4.png", alt="")
                    .moments__pl 
                        span.moments__pl-name.red ماركوس رشافورد
                        span.moments__second-pl.green اشرف حكيمي
        .moments__text  انتهت منافسات الدور ربع نهائي ببطولة كوبا أمريكا، بتأهل الرباعي البرازيل، بيرو، كولومبيا، الأرجنتين ، للدور نصف النهائي.وتأهل البرازيل بالفوز على تشيلي بهدف دون مقابل، كما .

    .moments__box.box-theme.mt-15.bg-green
        .moments__info
            .moments__min '22
            
            .moments__action
                .moments__action-type
                    .moments__type-icon
                        svg(xmlns='http://www.w3.org/2000/svg' height='480pt' viewBox='0 0 480 480' width='480pt')
                            path(d='m240 0c-132.546875 0-240 107.453125-240 240s107.453125 240 240 240 240-107.453125 240-240c-.148438-132.484375-107.515625-239.851562-240-240zm8.566406 69.191406 83.433594-33.351562c9.46875 4.285156 18.628906 9.222656 27.414062 14.777344l.21875.136718c8.632813 5.46875 16.882813 11.519532 24.695313 18.109375l.671875.585938c3.503906 2.984375 6.910156 6.074219 10.222656 9.261719.417969.410156.855469.800781 1.273438 1.21875 3.472656 3.390624 6.835937 6.886718 10.089844 10.484374.269531.304688.527343.625.796874.929688 2.855469 3.199219 5.601563 6.511719 8.265626 9.878906.640624.800782 1.28125 1.601563 1.902343 2.402344 2.890625 3.742188 5.6875 7.550781 8.328125 11.480469l-16.632812 70.703125-81.832032 27.28125-78.828124-63.074219zm-186.125 34.480469c.621094-.800781 1.253906-1.601563 1.894532-2.398437 2.632812-3.339844 5.355468-6.597657 8.167968-9.777344.304688-.335938.585938-.679688.886719-1.015625 3.234375-3.605469 6.582031-7.097657 10.050781-10.480469.398438-.390625.796875-.800781 1.214844-1.160156 3.285156-3.167969 6.664062-6.238282 10.136719-9.207032l.800781-.671874c7.742188-6.542969 15.914062-12.554688 24.460938-18l.3125-.199219c8.734374-5.542969 17.835937-10.472657 27.25-14.761719l83.816406 33.191406v80.800782l-78.832032 63.0625-81.832031-27.230469-16.632812-70.703125c2.664062-3.921875 5.429687-7.722656 8.304687-11.449219zm-9.640625 259.089844c-2.351562-3.585938-4.601562-7.238281-6.746093-10.960938l-.519532-.898437c-2.132812-3.703125-4.152344-7.46875-6.054687-11.292969l-.066407-.121094c-4.007812-8.046875-7.527343-16.328125-10.535156-24.800781v-.078125c-1.421875-4-2.71875-8.097656-3.917968-12.21875l-.433594-1.519531c-1.097656-3.871094-2.09375-7.785156-2.984375-11.742188-.078125-.386718-.175781-.753906-.253907-1.136718-1.964843-8.9375-3.375-17.984376-4.226562-27.097657l48.839844-58.605469 81.265625 27.085938 23.585937 94.335938-38.753906 51.5625zm240.472657 94.78125c-4 .992187-8.105469 1.847656-12.210938 2.617187-.574219.113282-1.160156.207032-1.734375.3125-3.496094.625-7.03125 1.160156-10.574219 1.597656-.945312.121094-1.882812.25-2.824218.363282-3.289063.382812-6.609376.671875-9.9375.910156-1.046876.070312-2.082032.175781-3.128907.242188-4.253906.261718-8.542969.414062-12.863281.414062-3.957031 0-7.890625-.105469-11.800781-.3125-.472657 0-.925781-.078125-1.398438-.113281-3.480469-.199219-6.945312-.460938-10.402343-.796875l-.398438-.074219c-7.574219-.820313-15.105469-2.023437-22.558594-3.597656l-47.320312-74.089844 38.144531-50.863281h111.46875l38.769531 51.199218zm165.496093-169.542969c-.082031.382812-.175781.753906-.257812 1.136719-.894531 3.953125-1.890625 7.867187-2.984375 11.742187l-.429688 1.519532c-1.203125 4.121093-2.496094 8.203124-3.921875 12.21875v.078124c-3.007812 8.472657-6.523437 16.753907-10.535156 24.800782l-.066406.121094c-1.914063 3.828124-3.929688 7.59375-6.054688 11.292968l-.519531.898438c-2.132812 3.734375-4.378906 7.378906-6.734375 10.945312l-78.929687 12.445313-39.023438-51.519531 23.574219-94.3125 81.265625-27.085938 48.839844 58.605469c-.847657 9.117187-2.257813 18.171875-4.222657 27.113281zm0 0')

                    .moments__type-text هدف 
                .moments__team
                    .moments__team-logo
                        img(src="img/logos/4.png", alt="")
                    .moments__pl 
                        span.moments__pl-name.green ماركوس رشافورد
                        
        .moments__text  انتهت منافسات الدور ربع نهائي ببطولة كوبا أمريكا، بتأهل الرباعي البرازيل، بيرو، كولومبيا، الأرجنتين ، للدور نصف النهائي.وتأهل البرازيل بالفوز على تشيلي بهدف دون مقابل، كما .

    .moments__box.box-theme.mt-15.bg-red
        .moments__info
            .moments__min '22
            
            .moments__action
                .moments__action-type
                    .moments__type-icon
                        svg(xmlns='http://www.w3.org/2000/svg' height='480pt' viewBox='0 0 480 480' width='480pt')
                            path(d='m240 0c-132.546875 0-240 107.453125-240 240s107.453125 240 240 240 240-107.453125 240-240c-.148438-132.484375-107.515625-239.851562-240-240zm8.566406 69.191406 83.433594-33.351562c9.46875 4.285156 18.628906 9.222656 27.414062 14.777344l.21875.136718c8.632813 5.46875 16.882813 11.519532 24.695313 18.109375l.671875.585938c3.503906 2.984375 6.910156 6.074219 10.222656 9.261719.417969.410156.855469.800781 1.273438 1.21875 3.472656 3.390624 6.835937 6.886718 10.089844 10.484374.269531.304688.527343.625.796874.929688 2.855469 3.199219 5.601563 6.511719 8.265626 9.878906.640624.800782 1.28125 1.601563 1.902343 2.402344 2.890625 3.742188 5.6875 7.550781 8.328125 11.480469l-16.632812 70.703125-81.832032 27.28125-78.828124-63.074219zm-186.125 34.480469c.621094-.800781 1.253906-1.601563 1.894532-2.398437 2.632812-3.339844 5.355468-6.597657 8.167968-9.777344.304688-.335938.585938-.679688.886719-1.015625 3.234375-3.605469 6.582031-7.097657 10.050781-10.480469.398438-.390625.796875-.800781 1.214844-1.160156 3.285156-3.167969 6.664062-6.238282 10.136719-9.207032l.800781-.671874c7.742188-6.542969 15.914062-12.554688 24.460938-18l.3125-.199219c8.734374-5.542969 17.835937-10.472657 27.25-14.761719l83.816406 33.191406v80.800782l-78.832032 63.0625-81.832031-27.230469-16.632812-70.703125c2.664062-3.921875 5.429687-7.722656 8.304687-11.449219zm-9.640625 259.089844c-2.351562-3.585938-4.601562-7.238281-6.746093-10.960938l-.519532-.898437c-2.132812-3.703125-4.152344-7.46875-6.054687-11.292969l-.066407-.121094c-4.007812-8.046875-7.527343-16.328125-10.535156-24.800781v-.078125c-1.421875-4-2.71875-8.097656-3.917968-12.21875l-.433594-1.519531c-1.097656-3.871094-2.09375-7.785156-2.984375-11.742188-.078125-.386718-.175781-.753906-.253907-1.136718-1.964843-8.9375-3.375-17.984376-4.226562-27.097657l48.839844-58.605469 81.265625 27.085938 23.585937 94.335938-38.753906 51.5625zm240.472657 94.78125c-4 .992187-8.105469 1.847656-12.210938 2.617187-.574219.113282-1.160156.207032-1.734375.3125-3.496094.625-7.03125 1.160156-10.574219 1.597656-.945312.121094-1.882812.25-2.824218.363282-3.289063.382812-6.609376.671875-9.9375.910156-1.046876.070312-2.082032.175781-3.128907.242188-4.253906.261718-8.542969.414062-12.863281.414062-3.957031 0-7.890625-.105469-11.800781-.3125-.472657 0-.925781-.078125-1.398438-.113281-3.480469-.199219-6.945312-.460938-10.402343-.796875l-.398438-.074219c-7.574219-.820313-15.105469-2.023437-22.558594-3.597656l-47.320312-74.089844 38.144531-50.863281h111.46875l38.769531 51.199218zm165.496093-169.542969c-.082031.382812-.175781.753906-.257812 1.136719-.894531 3.953125-1.890625 7.867187-2.984375 11.742187l-.429688 1.519532c-1.203125 4.121093-2.496094 8.203124-3.921875 12.21875v.078124c-3.007812 8.472657-6.523437 16.753907-10.535156 24.800782l-.066406.121094c-1.914063 3.828124-3.929688 7.59375-6.054688 11.292968l-.519531.898438c-2.132812 3.734375-4.378906 7.378906-6.734375 10.945312l-78.929687 12.445313-39.023438-51.519531 23.574219-94.3125 81.265625-27.085938 48.839844 58.605469c-.847657 9.117187-2.257813 18.171875-4.222657 27.113281zm0 0')

                    .moments__type-text هدف ذاتي 
                .moments__team
                    .moments__team-logo
                        img(src="img/logos/4.png", alt="")
                    .moments__pl 
                        span.moments__pl-name.green ماركوس رشافورد
                        
        .moments__text  انتهت منافسات الدور ربع نهائي ببطولة كوبا أمريكا، بتأهل الرباعي البرازيل، بيرو، كولومبيا، الأرجنتين ، للدور نصف النهائي.وتأهل البرازيل بالفوز على تشيلي بهدف دون مقابل، كما .

    .moments__box.box-theme.mt-15
        .moments__info
            .moments__min '22
            
            .moments__action
                .moments__action-type
                    .moments__type-icon
                        svg(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='-30 0 512 512.00001' width='512pt')
                            path(d='m0 0h301.808594v426.628906h-301.808594zm0 0' fill='#fffa17')
                            path(d='m150.90625 0h150.902344v426.628906h-150.902344zm0 0' fill='#fffa17')
                            path(d='m150.90625 85.371094h301.808594v426.628906h-301.808594zm0 0' fill='#dd0039')
                            path(d='m301.808594 85.371094h150.902344v426.628906h-150.902344zm0 0' fill='#dd0039')

                    .moments__type-text إنذار ثاني - طرد  
                .moments__team
                    .moments__team-logo
                        img(src="img/logos/4.png", alt="")
                    .moments__pl 
                        span.moments__pl-name.green ماركوس رشافورد
                        
        .moments__text  انتهت منافسات الدور ربع نهائي ببطولة كوبا أمريكا، بتأهل الرباعي البرازيل، بيرو، كولومبيا، الأرجنتين ، للدور نصف النهائي.وتأهل البرازيل بالفوز على تشيلي بهدف دون مقابل، كما .

    .moments__box.box-theme.mt-15
        .moments__info
            .moments__min '22
            
            .moments__action
                .moments__action-type
                    .moments__type-icon
                        svg.gray(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 512.009 512.009' style='enable-background:new 0 0 512.009 512.009;' xml:space='preserve')
                            g
                                g
                                    path(d='M510.307,319.266c-1.327-1.843-3.334-3.08-5.576-3.439c-2.242-0.359-4.535,0.191-6.371,1.527l-132.574,96.017    c-30.776-18.098-65.635-28.103-101.325-29.082V187.648c2.901,0.085,6.485,0.171,10.496,0.171    c35.413,0,110.336-5.205,157.184-45.312c1.885-1.629,2.974-3.994,2.987-6.485V8.533c0.008-3.333-1.925-6.366-4.949-7.765    c-3.037-1.359-6.584-0.862-9.131,1.28c-47.445,40.619-130.816,41.728-156.587,40.96V8.533c0-4.713-3.82-8.533-8.533-8.533    c-4.713,0-8.533,3.82-8.533,8.533V384.29c-35.689,0.978-70.549,10.984-101.325,29.082L13.462,317.355    c-3.818-2.634-9.04-1.735-11.759,2.022c-2.719,3.758-1.938,8.999,1.758,11.802l137.267,99.422l0.171,0.12l109.909,79.573    l0.102,0.094c0.06,0,0.154,0.051,0.213,0.094c0.846,0.565,1.785,0.975,2.773,1.212c0.12,0,0.222,0.12,0.341,0.145    c1.126,0.228,2.287,0.228,3.413,0c0.119,0,0.222-0.119,0.341-0.145c0.989-0.237,1.928-0.647,2.773-1.212    c0.06,0,0.154-0.051,0.213-0.094l0.068-0.094l247.347-179.115C512.212,328.416,513.067,323.084,510.307,319.266z M282.415,90.857    c1.472-2.671,4.256-4.353,7.305-4.414c5.12-0.256,10.752-0.597,16.64-1.109c4.707-0.405,8.859,3.062,9.301,7.765    c0.377,4.698-3.076,8.833-7.765,9.301c-6.229,0.512-12.032,0.853-17.493,1.109h-0.341c-3.049,0.061-5.898-1.509-7.475-4.119    C281.009,96.781,280.944,93.528,282.415,90.857z M289.72,129.109c5.12-0.256,10.752-0.597,16.64-1.109    c4.713-0.424,8.877,3.052,9.301,7.765c0.424,4.713-3.052,8.877-7.765,9.301c-6.229,0.512-12.032,0.853-17.493,1.109h-0.341    c-4.713,0.094-8.61-3.65-8.704-8.363C281.263,133.101,285.007,129.204,289.72,129.109z M247.395,486.75l-86.306-62.498    c26.633-14.148,56.163-21.981,86.306-22.895V486.75z M264.461,401.357c30.128,0.913,59.643,8.74,86.265,22.874l-86.265,62.519    V401.357z')

                    .moments__type-text  ضربة ركنية   
                .moments__team
                    .moments__team-logo
                        img(src="img/logos/4.png", alt="")
                    .moments__pl 
                        span.moments__pl-name.green ماركوس رشافورد
                        
        .moments__text  انتهت منافسات الدور ربع نهائي ببطولة كوبا أمريكا، بتأهل الرباعي البرازيل، بيرو، كولومبيا، الأرجنتين ، للدور نصف النهائي.وتأهل البرازيل بالفوز على تشيلي بهدف دون مقابل، كما .
    .moments__box.box-theme.mt-15
        .moments__info
            .moments__min '22
            
            .moments__action
                .moments__action-type
                    .moments__type-icon
                        svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512')
                            g
                                g
                                path(d='m199.02 110.57h-45.653l-65.26-40.648 112.017 7.461c8.727.581 15.508 7.829 15.508 16.575 0 9.175-7.437 16.612-16.612 16.612z' fill='#fed2a4')
                                path(d='m161.837 80.279-11.907-6.239-61.823-4.118 65.26 40.648h45.653c3.651 0 7.017-1.192 9.759-3.189z' fill='#ffbd86')
                                g
                                    g
                                    path(d='m285.245 442.077c-12.567-22.189-26.928-55.953-23.129-95.407 4.09-42.477 26.124-59.299 31.876-101.168 3.355-24.423 1.631-60.723-24.648-108.439h209.235c26.28 47.717 28.004 84.016 24.648 108.439-5.752 41.869-27.786 58.69-31.876 101.168-3.799 39.454 10.562 73.218 23.129 95.407z' fill='#fd4755')
                                    path(d='m389.86 442.079h-104.61c-12.57-22.19-26.93-55.96-23.13-95.41 2.33-24.25 10.52-40.14 18.18-57.11h104.62c-7.67 16.96-15.85 32.85-18.19 57.11-3.8 39.45 10.57 73.22 23.13 95.41z' fill='#fed402')
                                    path(d='m494.48 442.079h-104.62c-31.435-54.727-29.762-105.45-4.94-152.52h104.6l.01.02c-32.028 58.668-17.373 114.357 4.95 152.5z' fill='#fd4755')
                                    path(d='m503.23 245.499c-2.46 17.97-7.93 31.33-13.7 44.08l-.01-.02h-104.6c5.76-12.75 11.23-26.1 13.69-44.06 3.36-24.42 1.63-60.72-24.65-108.44h104.62c26.28 47.72 28 84.02 24.65 108.44z' fill='#fed402')
                                    path(d='m489.5 137.063h-319.101c-8.284 0-15-6.716-15-15 0-8.284 6.716-15 15-15h319.101c8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15z' fill='#918291')
                                    g
                                    path(d='m147.239 123.616 52.447 30.28c7.614 4.396 17.351 1.787 21.747-5.827 4.396-7.614 1.787-17.351-5.827-21.747l-53.769-31.044-24.157-12.658c-15.918-8.341-33.621-12.699-51.593-12.699h-86.087v96.504h13.749c10.007 0 19.842 2.603 28.538 7.554l81.924 46.637c7.614 4.396 17.351 1.787 21.747-5.827 4.396-7.614 1.787-17.351-5.827-21.747l-24.732-14.279 34.269-19.392z' fill='#fed2a4')
                                    g(fill='#ffbd86')
                                        path(d='m124.076 202.768-81.924-46.637c-8.696-4.951-18.531-7.554-28.538-7.554h-13.614v17.849h13.749c10.007 0 19.842 2.603 28.538 7.554l81.924 46.637c7.614 4.396 17.351 1.787 21.747-5.827 3.173-5.495 2.681-12.086-.692-16.987-4.616 6.933-13.875 9.189-21.19 4.965z')
                                        path(d='m220.741 131.082c-4.616 6.933-13.875 9.189-21.19 4.966l-49.198-28.404c-1.386-.8-3.104.271-2.995 1.868l.334 4.913c.418 6.15 3.871 11.688 9.209 14.77l42.785 24.702c7.614 4.396 17.351 1.787 21.747-5.827 3.173-5.496 2.681-12.087-.692-16.988z')
                                    path(d='m126.22 148.125 49.189 28.521c7.614 4.396 17.351 1.787 21.747-5.827 4.396-7.614 1.787-17.351-5.827-21.747l-44.09-25.455z' fill='#fed2a4')
                                    path(d='m175.409 158.004-28.803-16.629c-1.194-.689-2.711.007-2.965 1.362l-.899 4.775c-1.045 5.551 1.53 11.156 6.422 13.98l25.89 14.947c7.383 4.263 16.994 2.269 21.645-4.876 3.737-5.739 3.283-12.869-.428-18.018-4.721 6.546-13.724 8.58-20.862 4.459z' fill='#ffbd86')
                                    path(d='m115.399 178.764 35.072 20.249c7.614 4.396 17.351 1.787 21.747-5.827 4.396-7.614 1.787-17.351-5.827-21.747l-35.077-20.24z' fill='#fed2a4')
                                    path(d='m150.471 182.005-25.975-14.997c-.957-.552-2.18-.225-2.732.732l-1.763 3.054c-2.541 4.402-1.033 10.03 3.368 12.571l26.734 15.435c7.557 4.363 17.407 2.151 21.934-5.309 3.256-5.366 2.957-11.848-.163-16.782-4.538 7.192-13.973 9.585-21.403 5.296z' fill='#ffbd86')
                                path(d='m505.394 137.982c4.26-4.245 6.606-9.9 6.606-15.923 0-12.407-10.093-22.5-22.5-22.5h-267.026c.429-1.813.656-3.689.656-5.6 0-12.655-9.889-23.225-22.512-24.063l-102.011-6.792c-2.383-.255-7.999-.695-12.519-.682h-78.588c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h78.587c.073-.135 10.459.566 11.224.627 12.85 1.41 25.426 5.209 36.888 11.215l24.021 12.587 53.636 30.967c3.967 2.262 5.374 7.533 3.082 11.502-2.284 3.956-7.561 5.382-11.502 3.082l-52.447-30.28c-3.535-2.048-8.162-.864-10.245 2.745-2.048 3.549-.811 8.208 2.745 10.245l44.09 25.456c3.966 2.262 5.374 7.534 3.082 11.502-2.322 4.021-7.481 5.402-11.502 3.082l-34.411-19.867c-3.588-2.072-8.174-.842-10.245 2.745-2.038 3.531-.821 8.206 2.745 10.245l25.393 14.661c3.968 2.262 5.373 7.532 3.082 11.502-2.283 3.955-7.561 5.383-11.502 3.082l-15.713-9.072h-.001l-19.357-11.176c-3.587-2.073-8.174-.843-10.245 2.745-2.071 3.587-.842 8.174 2.745 10.245l24.732 14.279c3.967 2.262 5.373 7.532 3.082 11.502-2.297 3.979-7.564 5.382-11.541 3.059l-81.924-46.637c-9.81-5.584-20.961-8.536-32.249-8.536h-6.25c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h6.249c8.69 0 17.275 2.272 24.828 6.572l81.884 46.614c10.927 6.373 25.639 2.434 31.992-8.572 1.808-3.132 2.843-6.562 3.087-10.066 9.185 1.151 18.529-3.495 23.173-11.538 1.919-3.323 2.969-6.983 3.124-10.71 8.639.552 17.217-3.695 21.814-11.657 1.978-3.426 3.034-7.209 3.137-11.056 2.327.089 4.621-.166 6.92-.781 6.042-1.619 11.093-5.494 14.221-10.912s3.958-11.729 2.34-17.771c-1.619-6.043-5.495-11.093-10.912-14.221l-8.458-4.883c.221-.126 278.602-.385 278.602-.385 4.136 0 7.5 3.364 7.5 7.5 0 4.061-3.426 7.52-7.5 7.5h-236.231c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h11.595c18.662 35.273 25.964 68.871 21.697 99.922-5.537 40.303-27.879 59.586-31.912 101.47-3.13 32.512 4.967 66.097 24.069 99.822 1.332 2.351 3.824 3.804 6.526 3.804h104.602c.008 0 .015.001.022.001.008 0 .016-.001.023-.001h104.588c5.603.046 9.287-6.32 6.526-11.196-12.452-21.985-19.878-43.919-22.073-65.192-.425-4.12-4.11-7.11-8.23-6.69-4.12.425-7.116 4.11-6.69 8.23 2.032 19.686 8.078 39.767 18.005 59.849h-87.728c-16.042-29.692-22.804-59.005-20.091-87.188 1.994-20.702 8.483-34.888 15.354-49.906.064-.14.128-.281.192-.42h88.139c-6.182 13.763-12.041 28.567-13.998 48.889-.397 4.123 2.624 7.787 6.747 8.184.245.024.487.035.728.035 3.818 0 7.083-2.903 7.457-6.782 1.994-20.702 8.483-34.888 15.354-49.906 6.666-14.571 13.559-29.638 16.488-50.959 4.416-32.144-2.226-66.418-19.749-102.032 5.474-.343 10.579-2.611 14.483-6.515zm-299.946-37.577c-1.712 1.718-3.995 2.665-6.428 2.665h-8.69l-24.743-14.286c-.089-.051-.178-.101-.269-.148l-13.244-6.94 47.549 3.167c4.77.317 8.507 4.313 8.507 9.097 0 2.432-.946 4.715-2.682 6.445zm171.957 334.172h-87.738c-16.042-29.692-22.799-59.006-20.085-87.188 1.994-20.702 8.483-34.888 15.354-49.906.064-.14.128-.281.192-.42h88.139c-6.182 13.763-12.041 28.567-13.998 48.889-2.784 28.911 3.319 58.672 18.136 88.625zm13.775-190.096c-2.06 14.992-6.278 26.475-11.134 37.581h-88.34c4.156-10.239 7.792-21.536 9.716-35.539 4.413-32.124-2.218-66.374-19.715-101.964h87.776c18.662 35.273 25.963 68.872 21.697 99.922zm104.618 0c-2.06 14.992-6.279 26.476-11.134 37.581h-88.339c4.156-10.239 7.792-21.536 9.716-35.539 4.413-32.124-2.218-66.374-19.715-101.964h87.776c18.66 35.273 25.962 68.872 21.696 99.922z')

                    .moments__type-text  تسلل    
                .moments__team
                    .moments__team-logo
                        img(src="img/logos/4.png", alt="")
                    .moments__pl 
                        span.moments__pl-name.green ماركوس رشافورد
                        
        .moments__text  انتهت منافسات الدور ربع نهائي ببطولة كوبا أمريكا، بتأهل الرباعي البرازيل، بيرو، كولومبيا، الأرجنتين ، للدور نصف النهائي.وتأهل البرازيل بالفوز على تشيلي بهدف دون مقابل، كما .

    .moments__box.box-theme.mt-15
        .moments__info
            .moments__min '22
            
            .moments__action
                .moments__action-type
                    .moments__type-icon
                        svg.gray(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 511.5 511.5' height='512' viewBox='0 0 511.5 511.5' width='512')
                            g
                                path(d='m344 88.25c-26.792 0-52.393 6.138-76.092 18.243-22.599 11.543-42.622 28.396-57.904 48.737l11.992 9.01c3.428-4.562 7.068-8.895 10.902-12.99h42.749l27.714 48.5-27.714 48.5h-55.295l-21.852-38.242c3.326-10.606 7.81-20.844 13.398-30.503l-12.984-7.511c-14.663 25.348-22.413 54.31-22.413 83.756 0 92.36 75.14 167.5 167.5 167.5s167.5-75.14 167.5-167.5-75.141-167.5-167.501-167.5zm152.5 167.5c0 8.288-.665 16.423-1.944 24.356l-13.918-24.357 13.918-24.356c1.279 7.933 1.944 16.069 1.944 24.357zm-84.148-119.5-12.893-22.563c14.219 5.57 27.404 13.216 39.182 22.563zm-123.711-22.739-12.994 22.739h-26.53c11.999-9.583 25.307-17.229 39.524-22.739zm20.938-6.407c11.132-2.542 22.66-3.854 34.421-3.854 11.848 0 23.385 1.358 34.463 3.927l20.899 36.573-27.714 48.5h-55.295l-27.714-48.5zm6.774 100.146h55.295l27.714 48.5-27.714 48.5h-55.295l-27.714-48.5zm-40.705 168 12.893 22.563c-14.219-5.57-27.404-13.216-39.182-22.563zm-68.286-119.5-13.918 24.356c-1.279-7.933-1.944-16.068-1.944-24.356 0-8.184.657-16.326 1.95-24.346zm-8.857 45.733 21.848-38.233h55.295l27.714 48.5-27.714 48.5h-42.618c-15.592-16.547-27.533-36.57-34.525-58.767zm111.032 102.84-20.899-36.573 27.714-48.5h55.295l27.714 48.5-20.899 36.573c-11.078 2.569-22.615 3.927-34.463 3.927s-23.384-1.358-34.462-3.927zm102.815-29.073h26.289c-11.778 9.347-24.963 16.993-39.182 22.563zm42.618-15h-42.618l-27.714-48.5 27.714-48.5h19.648v-15h-19.648l-27.714-48.5 27.714-48.5h42.618c15.591 16.547 27.533 36.57 34.525 58.767l-21.848 38.233h-19.647v15h19.647l21.848 38.233c-6.992 22.197-18.933 42.22-34.525 58.767z')
                                path(d='m144 72.25h128v15h-128z')
                                path(d='m32 160.25h144v15h-144z')
                                path(d='m0 248.25h144v15h-144z')
                                path(d='m32 336.25h144v15h-144z')
                                path(d='m144 424.25h128v15h-128z')
                                path(d='m224 304.25h16v15h-16z')
                                path(d='m256 304.25h16v15h-16z')
                                path(d='m416 192.25h16v15h-16z')
                                path(d='m448 192.25h16v15h-16z')

                    .moments__type-text  تسديدة قوية    
                .moments__team
                    .moments__team-logo
                        img(src="img/logos/4.png", alt="")
                    .moments__pl 
                        span.moments__pl-name.green ماركوس رشافورد
                        
        .moments__text  انتهت منافسات الدور ربع نهائي ببطولة كوبا أمريكا، بتأهل الرباعي البرازيل، بيرو، كولومبيا، الأرجنتين ، للدور نصف النهائي.وتأهل البرازيل بالفوز على تشيلي بهدف دون مقابل، كما .
    
    .moments__box.box-theme.mt-15
        .moments__info
            .moments__min '22
            
            .moments__action
                .moments__action-type
                    .moments__type-icon
                        svg.yellow-icon(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 300 300' style='enable-background:new 0 0 300 300;' xml:space='preserve')
                            g
                                path(d='M150,0C67.29,0,0,67.29,0,150s67.29,150,150,150s150-67.29,150-150S232.71,0,150,0z M150,270c-66.168,0-120-53.832-120-120   S83.832,30,150,30s120,53.832,120,120S216.168,270,150,270z')
                                path(d='M195.031,75.387C183.477,66.802,169.331,65,159.5,65h-38.846c-5.522,0-10,4.478-10,10v150c0,5.523,4.478,10,10,10h7.691   c5.522,0,10-4.477,10-10v-53.46H159.5c9.831,0,23.977-1.802,35.531-10.388c8.355-6.207,18.314-18.352,18.314-40.961v-3.843   C213.346,93.739,203.387,81.594,195.031,75.387z M185.27,119.809c0,10.484-2.671,24.424-25.77,24.424h-21.154V92.308H159.5   c23.099,0,25.77,13.939,25.77,24.424V119.809z')

                    .moments__type-text  ضربة جزاء      
                .moments__team
                    .moments__team-logo
                        img(src="img/logos/4.png", alt="")
                    .moments__pl 
                        span.moments__pl-name.green ماركوس رشافورد
                        
        .moments__text  انتهت منافسات الدور ربع نهائي ببطولة كوبا أمريكا، بتأهل الرباعي البرازيل، بيرو، كولومبيا، الأرجنتين ، للدور نصف النهائي.وتأهل البرازيل بالفوز على تشيلي بهدف دون مقابل، كما .
    

    .moments__box.box-theme.mt-15
        .moments__info
            .moments__min '22
            
            .moments__action
                .moments__action-type
                    .moments__type-icon
                        svg.green-icon(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 300 300' style='enable-background:new 0 0 300 300;' xml:space='preserve')
                            g
                                path(d='M150,0C67.29,0,0,67.29,0,150s67.29,150,150,150s150-67.29,150-150S232.71,0,150,0z M150,270c-66.168,0-120-53.832-120-120   S83.832,30,150,30s120,53.832,120,120S216.168,270,150,270z')
                                path(d='M195.031,75.387C183.477,66.802,169.331,65,159.5,65h-38.846c-5.522,0-10,4.478-10,10v150c0,5.523,4.478,10,10,10h7.691   c5.522,0,10-4.477,10-10v-53.46H159.5c9.831,0,23.977-1.802,35.531-10.388c8.355-6.207,18.314-18.352,18.314-40.961v-3.843   C213.346,93.739,203.387,81.594,195.031,75.387z M185.27,119.809c0,10.484-2.671,24.424-25.77,24.424h-21.154V92.308H159.5   c23.099,0,25.77,13.939,25.77,24.424V119.809z')

                    .moments__type-text  هدف من ضربة جزاء     
                .moments__team
                    .moments__team-logo
                        img(src="img/logos/4.png", alt="")
                    .moments__pl 
                        span.moments__pl-name.green ماركوس رشافورد
                        
        .moments__text  انتهت منافسات الدور ربع نهائي ببطولة كوبا أمريكا، بتأهل الرباعي البرازيل، بيرو، كولومبيا، الأرجنتين ، للدور نصف النهائي.وتأهل البرازيل بالفوز على تشيلي بهدف دون مقابل، كما .
    
    .moments__box.box-theme.mt-15
        .moments__info
            .moments__min '22
            
            .moments__action
                .moments__action-type
                    .moments__type-icon
                        svg.red-icon(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 300 300' style='enable-background:new 0 0 300 300;' xml:space='preserve')
                            g
                                path(d='M150,0C67.29,0,0,67.29,0,150s67.29,150,150,150s150-67.29,150-150S232.71,0,150,0z M150,270c-66.168,0-120-53.832-120-120   S83.832,30,150,30s120,53.832,120,120S216.168,270,150,270z')
                                path(d='M195.031,75.387C183.477,66.802,169.331,65,159.5,65h-38.846c-5.522,0-10,4.478-10,10v150c0,5.523,4.478,10,10,10h7.691   c5.522,0,10-4.477,10-10v-53.46H159.5c9.831,0,23.977-1.802,35.531-10.388c8.355-6.207,18.314-18.352,18.314-40.961v-3.843   C213.346,93.739,203.387,81.594,195.031,75.387z M185.27,119.809c0,10.484-2.671,24.424-25.77,24.424h-21.154V92.308H159.5   c23.099,0,25.77,13.939,25.77,24.424V119.809z')

                    .moments__type-text  ضربة جزاء ضائعة     
                .moments__team
                    .moments__team-logo
                        img(src="img/logos/4.png", alt="")
                    .moments__pl 
                        span.moments__pl-name.green ماركوس رشافورد
                        
        .moments__text  انتهت منافسات الدور ربع نهائي ببطولة كوبا أمريكا، بتأهل الرباعي البرازيل، بيرو، كولومبيا، الأرجنتين ، للدور نصف النهائي.وتأهل البرازيل بالفوز على تشيلي بهدف دون مقابل، كما .
    
    .moments__box.box-theme.mt-15
        .moments__info
            .moments__min '22
            
            .moments__action
                .moments__action-type
                    .moments__type-icon
                        svg.green-icon(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 511.997 511.997' height='512' viewBox='0 0 511.997 511.997' width='512')
                            g
                                path(d='m147.382 363.56-10.748 10.749c-2.929 2.929-2.929 7.678.001 10.607 2.927 2.929 7.677 2.929 10.607 0l10.748-10.749c2.929-2.929 2.929-7.678-.001-10.606-2.928-2.93-7.677-2.929-10.607-.001zm26.313 26.312-10.749 10.749c-2.93 2.929-2.93 7.677-.001 10.606 2.928 2.928 7.677 2.93 10.606 0l10.749-10.749c2.93-2.929 2.93-7.677.001-10.606-2.928-2.928-7.677-2.929-10.606 0zm80.62-155.108c-4.126-.287-7.712 2.836-7.996 6.969-.604 8.789 2.617 17.397 8.837 23.617 6.199 6.198 14.794 9.44 23.616 8.836 4.133-.284 7.253-3.864 6.969-7.996-.284-4.133-3.863-7.253-7.996-6.969-4.479.307-8.83-1.327-11.982-4.479s-4.785-7.52-4.479-11.982c.284-4.132-2.837-7.712-6.969-7.996zm248.128 14.66c-7.906-21.72-32.009-32.96-53.729-25.054l-53.446 19.453 64.903-45.446c18.978-13.287 23.586-39.402 10.295-58.383-13.286-18.976-39.403-23.586-58.383-10.294l-39.871 27.918 38.469-45.846c14.892-17.748 12.583-44.164-5.167-59.058-17.743-14.89-44.164-12.584-59.058 5.167l-59.115 70.451 32.025-68.678c9.768-20.949.672-45.939-20.276-55.708-18.42-8.59-40.274-2.78-51.965 13.81-2.386 3.386-1.575 8.065 1.811 10.451 3.388 2.387 8.065 1.574 10.451-1.811 7.502-10.648 21.532-14.373 33.363-8.855 13.453 6.273 19.294 22.322 13.021 35.775l-50.168 107.583c-2.007 4.305-.556 9.282 3.45 11.834 4.005 2.551 9.13 1.764 12.185-1.876l86.708-103.335c9.563-11.396 26.526-12.883 37.926-3.317 11.396 9.563 12.883 26.527 3.318 37.925l-66.063 78.73c-3.055 3.638-2.942 8.821.266 12.324 3.21 3.504 8.363 4.068 12.256 1.344l30.665-21.472c-.246 18.356 2.198 39.266 7.159 60.714l-31.973 22.388c-3.892 2.724-5.125 7.76-2.932 11.974 2.192 4.214 7.027 6.091 11.49 4.469l31.125-11.329c5.911 17.893 13.221 34.519 21.811 49.612-20.424 8.671-39.283 21.349-54.95 37.015l-41.211 41.211c-2.929 2.929-2.929 7.678 0 10.606 2.93 2.929 7.678 2.929 10.607 0l41.21-41.211c16.228-16.227 36.203-28.953 57.766-36.8l50.973-18.552c21.721-7.906 32.96-32.009 25.054-53.729zm-110.601-87.241 28.844-20.197c12.189-8.533 28.958-5.578 37.492 6.611 8.533 12.187 5.578 28.957-6.611 37.492l-54.775 38.354c-4.7-22.531-6.471-44.582-4.95-62.26zm80.416 126.875-45.075 16.406c-8.573-14.751-16.044-31.584-21.893-49.326l48.554-17.672c13.942-5.077 29.425 2.141 34.503 16.09 5.089 13.979-2.106 29.412-16.089 34.502zm-249.481-94.702-8.485 8.485c-2.929 2.929-2.929 7.678 0 10.607 2.93 2.929 7.678 2.929 10.607 0l8.485-8.485c2.929-2.929 2.929-7.678 0-10.606-2.93-2.93-7.678-2.93-10.607-.001zm95.988 112.485c-2.929 2.929-2.929 7.678.001 10.607 2.928 2.929 7.677 2.928 10.607-.001 8.346-8.347 8.346-21.927 0-30.273-4.044-4.043-9.419-6.27-15.137-6.27s-11.093 2.227-15.137 6.27c-2.929 2.929-2.929 7.678 0 10.606 2.93 2.929 7.678 2.929 10.607 0 2.496-2.497 6.563-2.497 9.059 0 2.498 2.499 2.498 6.563 0 9.061zm-26.89 107.229-21.313 21.313-30.541-30.541c-.183-2.621-.642-5.226-1.394-7.763 28.38-37.008 28.358-85.595-.623-114.576-27.85-27.85-74.556-28.832-111.011-3.198l-29.087-29.087 4.345-111.749c25.653 6.157 53.724 5.845 78.251-.221l.67 9.854c.314 4.619 3.712 8.436 8.263 9.285 4.55.848 9.096-1.489 11.053-5.686l44.105-94.584c1.751-3.754.127-8.216-3.627-9.967-3.753-1.749-8.216-.126-9.967 3.628l-36.14 77.501-1.857-27.302c-1.855-27.319-24.759-48.719-52.142-48.719-28.188 0-51.127 22.064-52.223 50.231l-5.242 134.817c-10.47-5.698-23.873-4.13-32.72 4.716l-35.582 35.582c-10.761 10.761-10.761 28.272 0 39.033l139.867 139.867c6.212 6.212 14.293 9.867 22.973 10.463l36.96 36.96c10.761 10.761 28.272 10.762 39.034 0l23.073-23.074c9.33-9.331 10.565-23.732 3.715-34.412l21.766-21.765c2.93-2.929 2.93-7.677.001-10.607-2.93-2.928-7.679-2.929-10.607.001zm-188.249-310.999c.781-20.083 17.137-35.814 37.234-35.814 19.523 0 35.854 15.258 37.177 34.736l1.43 21.035c-24.118 6.494-52.345 6.567-76.623.149zm123.77 190.037c22.315 22.315 23.072 59.443 3.003 89.645-.272-.29-.539-.582-.822-.865l-91.797-91.797c30.158-19.96 67.486-19.114 89.616 3.017zm-61.828 152.788-139.867-139.868c-4.913-4.913-4.913-12.907 0-17.82l35.582-35.581c4.911-4.912 12.906-4.913 17.818 0l139.867 139.867c8.21 8.209 8.21 21.566 0 29.776l-23.626 23.626c-8.225 8.227-21.545 8.229-29.774 0zm100.825 24.351-23.072 23.072c-4.912 4.913-12.907 4.912-17.819 0l-29.676-29.677c3.714-1.752 7.136-4.151 10.125-7.14l23.626-23.625c3.029-3.029 5.402-6.469 7.125-10.14l29.691 29.691c4.913 4.912 4.913 12.906 0 17.819z')

                    .moments__type-text  تصدي أسطوري       
                .moments__team
                    .moments__team-logo
                        img(src="img/logos/4.png", alt="")
                    .moments__pl 
                        span.moments__pl-name.green ماركوس رشافورد
                        
        .moments__text  انتهت منافسات الدور ربع نهائي ببطولة كوبا أمريكا، بتأهل الرباعي البرازيل، بيرو، كولومبيا، الأرجنتين ، للدور نصف النهائي.وتأهل البرازيل بالفوز على تشيلي بهدف دون مقابل، كما .
