-if(!_post) _post = ''
.most-players-card.box-theme
    .most-players-card__head.bottom-grad2 #{_post.title}
    a(href="player.html").most-players-card__player.first.bottom-grad2
        .most-players-card__info
            .most-players-card__info-row
                .most-players-card__name 1. ماركوس راشفورد
                .most-players-card__score 29
            .most-players-card__club
                .most-players-card__club-logo
                    img(src="img/logos/1.png", alt="")
                .most-players-card__club-name التعاون 
        .most-players-card__img
            img(src="img/logos/99.png", alt="")
    -for(let x = 0 ; x < 4 ; x++)
        a(href="player.html").most-players-card__player.second
            .most-players-card__info
                .most-players-card__info-row
                    .most-players-card__name ماركوس راشفورد
                    .most-players-card__score 29
                .most-players-card__club
                    .most-players-card__club-logo
                        img(src="img/logos/1.png", alt="")
                    .most-players-card__club-name التعاون 
            .most-players-card__img
                img(src="img/logos/99.png", alt="")
    a(href="statistics-players.html").most-players-card__btn كل القائمة