.post-news(class=post.modifier)
    a.post-news__link(href="#")
    //- -if(post.match)
    //-     .post-news__img.bottom-grad
    //-         img(src=post.img)
    //-         -if(post.isVideo)
    //-             span.post-news__video
    //-                 svg#Iconly_Bulk_Play(data-name='Iconly/Bulk/Play' xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
    //-                     g#Play
    //-                         path#Fill_1(data-name='Fill 1' d='M50,25.012A25,25,0,1,1,25,0,25.03,25.03,0,0,1,50,25.012' fill='#d91d1d')
    //-                         path#Fill_4(data-name='Fill 4' d='M17.5,10.012a2.882,2.882,0,0,1-.6,1.774,9.652,9.652,0,0,1-.7.778l-.149.146A37.881,37.881,0,0,1,6.14,19.32,8.687,8.687,0,0,1,3.828,20h-.1A3.136,3.136,0,0,1,.969,18.35a13.655,13.655,0,0,1-.6-2.211A44.072,44.072,0,0,1,0,9.988,38.032,38.032,0,0,1,.423,3.645,15.954,15.954,0,0,1,.87,1.871,3.189,3.189,0,0,1,2.262.365,3.555,3.555,0,0,1,3.828,0,8.607,8.607,0,0,1,5.891.559,38.06,38.06,0,0,1,16.033,7.266c.348.34.721.756.82.851a3.024,3.024,0,0,1,.646,1.9' transform='translate(17.5 15)' fill='#fff')
    //-         -if(post.miniVideo)
    //-             span.post-news__video
    //-                 svg#Iconly_Bulk_Play(data-name='Iconly/Bulk/Play' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 30 30')
    //-                     defs
    //-                         lineargradient#linear-gradient(x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox')
    //-                             stop(offset='0' stop-color='#24a557')
    //-                             stop(offset='1' stop-color='#bafb3c')
    //-                     g#Play
    //-                         path#Fill_1(data-name='Fill 1' d='M30,15.007A15,15,0,1,1,15,0,15.018,15.018,0,0,1,30,15.007' fill='url(#linear-gradient)')
    //-                         path#Fill_4(data-name='Fill 4' d='M10.5,6.007a1.729,1.729,0,0,1-.358,1.064,5.791,5.791,0,0,1-.418.467l-.089.087a22.729,22.729,0,0,1-5.951,3.966A5.212,5.212,0,0,1,2.3,12h-.06a1.882,1.882,0,0,1-1.656-.99A8.193,8.193,0,0,1,.224,9.683,26.443,26.443,0,0,1,0,5.993,22.819,22.819,0,0,1,.254,2.187,9.572,9.572,0,0,1,.522,1.123a1.913,1.913,0,0,1,.835-.9A2.133,2.133,0,0,1,2.3,0,5.164,5.164,0,0,1,3.535.335,22.836,22.836,0,0,1,9.62,4.36c.209.2.433.453.492.51A1.814,1.814,0,0,1,10.5,6.007' transform='translate(10.5 9)' fill='#fff')
    -if(!post.match)
        .post-news__img
            img.lazy(data-src=post.img  alt="alt")
            -if(post.isVideo)
                span.post-news__video
                    svg#Iconly_Bulk_Play(data-name='Iconly/Bulk/Play' xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
                        g#Play
                            path#Fill_1(data-name='Fill 1' d='M50,25.012A25,25,0,1,1,25,0,25.03,25.03,0,0,1,50,25.012' fill='#d91d1d')
                            path#Fill_4(data-name='Fill 4' d='M17.5,10.012a2.882,2.882,0,0,1-.6,1.774,9.652,9.652,0,0,1-.7.778l-.149.146A37.881,37.881,0,0,1,6.14,19.32,8.687,8.687,0,0,1,3.828,20h-.1A3.136,3.136,0,0,1,.969,18.35a13.655,13.655,0,0,1-.6-2.211A44.072,44.072,0,0,1,0,9.988,38.032,38.032,0,0,1,.423,3.645,15.954,15.954,0,0,1,.87,1.871,3.189,3.189,0,0,1,2.262.365,3.555,3.555,0,0,1,3.828,0,8.607,8.607,0,0,1,5.891.559,38.06,38.06,0,0,1,16.033,7.266c.348.34.721.756.82.851a3.024,3.024,0,0,1,.646,1.9' transform='translate(17.5 15)' fill='#fff')
            -if(post.miniVideo)
                span.post-news__video
                    svg#Iconly_Bulk_Play(data-name='Iconly/Bulk/Play' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 30 30')
                        defs
                            lineargradient#linear-gradient(x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox')
                                stop(offset='0' stop-color='#24a557')
                                stop(offset='1' stop-color='#bafb3c')
                        g#Play
                            path#Fill_1(data-name='Fill 1' d='M30,15.007A15,15,0,1,1,15,0,15.018,15.018,0,0,1,30,15.007' fill='url(#linear-gradient)')
                            path#Fill_4(data-name='Fill 4' d='M10.5,6.007a1.729,1.729,0,0,1-.358,1.064,5.791,5.791,0,0,1-.418.467l-.089.087a22.729,22.729,0,0,1-5.951,3.966A5.212,5.212,0,0,1,2.3,12h-.06a1.882,1.882,0,0,1-1.656-.99A8.193,8.193,0,0,1,.224,9.683,26.443,26.443,0,0,1,0,5.993,22.819,22.819,0,0,1,.254,2.187,9.572,9.572,0,0,1,.522,1.123a1.913,1.913,0,0,1,.835-.9A2.133,2.133,0,0,1,2.3,0,5.164,5.164,0,0,1,3.535.335,22.836,22.836,0,0,1,9.62,4.36c.209.2.433.453.492.51A1.814,1.814,0,0,1,10.5,6.007' transform='translate(10.5 9)' fill='#fff')

    .post-news__data
        -if(post.category)
            a.post-news__category(href="##")
                span.icon
                    svg.news-grad(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='15' viewBox='0 0 30 15')
                        defs
                            lineargradient#linear-gradient(x1='0.92' y1='0.5' x2='0' y2='0.5' gradientUnits='objectBoundingBox')
                                stop(offset='0' stop-color='#24a557')
                                stop(offset='1' stop-color='#bafb3c')
                        rect#your_logo_here(data-name='your logo here' width='30' height='15' rx='2' fill='url(#linear-gradient)')
                p.text-gradient كرة عالمية
        -if(post.infographic)
            a.post-news__category(href="##")
                span.icon
                    svg#Iconly_Bulk_Graph(data-name='Iconly/Bulk/Graph' xmlns='http://www.w3.org/2000/svg' width='19.02' height='19.02' viewBox='0 0 19.02 19.02')
                        g#Graph
                            path#Path(d='M7.753.613a1.008,1.008,0,0,1,.095.313l.265,3.937h0l.131,1.979a2.035,2.035,0,0,0,.095.6.992.992,0,0,0,.956.6l6.331-.414a1.044,1.044,0,0,1,.736.285,1.008,1.008,0,0,1,.3.579l.011.133a8.256,8.256,0,0,1-6.547,7.435A8.422,8.422,0,0,1,1.009,12,7.812,7.812,0,0,1,.061,9.013,5.723,5.723,0,0,1,0,8.075,8.269,8.269,0,0,1,6.642.013,1.038,1.038,0,0,1,7.753.613Z' transform='translate(0 2.769)' fill='#171c19')
                            path#Path-2(data-name='Path' d='M.807,0A8.981,8.981,0,0,1,9.49,7.429l-.007.031h0l-.019.045,0,.124a.761.761,0,0,1-.182.449.787.787,0,0,1-.44.258l-.1.014-7.3.473a.872.872,0,0,1-.666-.216A.84.84,0,0,1,.5,8.1L.006.8a.116.116,0,0,1,0-.076A.746.746,0,0,1,.252.2.775.775,0,0,1,.807,0Z' transform='translate(9.53)' fill='#17a654' opacity='0.4')
                p إنفوجرافيك
        -if(post.video_keyword)
            .post-news__video_keyword 
                span.icon 
                    svg(xmlns='http://www.w3.org/2000/svg' width='14.25' height='16.286' viewBox='0 0 14.25 16.286')
                        path#Fill_4(data-name='Fill 4' d='M14.25,8.153A2.347,2.347,0,0,1,13.765,9.6a7.861,7.861,0,0,1-.567.633l-.121.119A30.847,30.847,0,0,1,5,15.732a7.074,7.074,0,0,1-1.883.554H3.036A2.554,2.554,0,0,1,.789,14.943a11.119,11.119,0,0,1-.486-1.8A35.889,35.889,0,0,1,0,8.133,30.97,30.97,0,0,1,.344,2.968,12.991,12.991,0,0,1,.708,1.524,2.6,2.6,0,0,1,1.842.3,2.9,2.9,0,0,1,3.117,0,7.009,7.009,0,0,1,4.8.455a30.993,30.993,0,0,1,8.259,5.462c.283.277.587.615.668.693a2.463,2.463,0,0,1,.526,1.544' fill='#d91d1d')
                p فيديو
        p.post-news__title #{post.caption}
        -if(post.abstract)
            p.post-news__abstract إذا كنت تفعل هذه الحركة أثناء التقاط صورة فهي دليل على كبتك الجنسي.. هل تفعلها ؟ إذا كنت تفعل هذه الحركة أثناء التقاط صورة فهي دليل على كبتك الجنسي.. هل تفعلها 
        -if(post.readmore)
            a.btn.btn--primary.btn--radius.post-news__readmore(href="##") إقرأ المزيد
        -if(post.info)
            .post-news__info 
                .post-news__time منذ ساعة
                .post-news__views
                    span.icon
                        svg#Iconly_Light-outline_Show(data-name='Iconly/Light-outline/Show' xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21')
                            g#Show(transform='translate(1.79 3.58)')
                                path#Show-2(data-name='Show' d='M8.692,14.316c-3.5-.116-6.676-2.585-8.51-6.6L.054,7.424a.665.665,0,0,1,0-.527A12.774,12.774,0,0,1,3.807,1.843,8.357,8.357,0,0,1,8.952,0l.256,0C12.7.121,15.884,2.591,17.718,6.61l.125.28a.667.667,0,0,1,0,.533,12.783,12.783,0,0,1-3.754,5.054,8.357,8.357,0,0,1-5.144,1.843ZM4.771,2.791a11.028,11.028,0,0,0-3.226,4.07l-.14.3.151.323a11.191,11.191,0,0,0,3.025,3.9,7.142,7.142,0,0,0,3.9,1.584l.238.012.23,0,.228,0a7.107,7.107,0,0,0,4.148-1.606,11.336,11.336,0,0,0,3.156-4.2l.009-.022A11.452,11.452,0,0,0,13.43,3.024,7.184,7.184,0,0,0,9.411,1.35l-.238-.012-.214,0A7.005,7.005,0,0,0,4.771,2.791Zm.678,4.37a3.5,3.5,0,1,1,3.5,3.478A3.494,3.494,0,0,1,5.449,7.161Zm1.343,0A2.158,2.158,0,1,0,8.95,5.016,2.154,2.154,0,0,0,6.792,7.161Z' transform='translate(0)' fill='#17a654')
                    p 96565
                -if(post.length)
                    .post-news__length 
                        span.icon
                            svg(xmlns='http://www.w3.org/2000/svg' width='11' height='12.572' viewBox='0 0 11 12.572')
                                path#Fill_4(data-name='Fill 4' d='M11,6.293a1.811,1.811,0,0,1-.375,1.115,6.068,6.068,0,0,1-.437.489l-.094.092a23.811,23.811,0,0,1-6.234,4.155,5.46,5.46,0,0,1-1.453.428H2.344A1.971,1.971,0,0,1,.609,11.534a8.583,8.583,0,0,1-.375-1.39A27.7,27.7,0,0,1,0,6.278,23.906,23.906,0,0,1,.266,2.291,10.028,10.028,0,0,1,.547,1.176,2,2,0,0,1,1.422.229,2.235,2.235,0,0,1,2.406,0,5.41,5.41,0,0,1,3.7.351a23.923,23.923,0,0,1,6.375,4.216c.219.214.453.475.516.535A1.9,1.9,0,0,1,11,6.293' fill='#d91d1d')
                        p 05:35
