.profile-intro.box-theme.line-under
    .profile-intro__info
        .profile-intro__main
            img(src="img/logos/27.png")
            .profile-intro__data
                h1.profile-intro__title كأس دوري الأمير محمد بن سلمان
                .img-beside-text
                    img(src="img/saudi.jpg")
                    p السعودية
        .profile-intro__side
            .select-theme.select-theme--mini
                .select-theme__current(tabindex='1')
                    .select-theme__value
                        input#1.select-theme__input.comp-select-season(type='radio', value='', data-url='https://www.facebook.com', name='season', checked='checked')
                        p.select-theme__input-text 2021
                    .select-theme__value
                        input#2.select-theme__input.comp-select-season(type='radio', value='', data-url='https://www.youtube.com', name='season')
                        p.select-theme__input-text 2020
                    .select-theme__value
                        input#3.select-theme__input.comp-select-season(type='radio', value='', data-url='https://www.so3ody.com', name='season')
                        p.select-theme__input-text 2019
                    span.icon.select-theme__icon
                        svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 185.344 185.344', style='enable-background:new 0 0 185.344 185.344;', xml:space='preserve')
                            g
                                g
                                path(d='M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18\
                                c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0\
                                c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z')
                ul.select-theme__list
                    li
                        label.select-box__option(for='1', aria-hidden='aria-hidden') 2021
                    li
                        label.select-box__option(for='2', aria-hidden='aria-hidden') 2020
                    li
                        label.select-box__option(for='3', aria-hidden='aria-hidden') 2019
            //- .select-box
                select
                    option(value='Option 1')  2021
                    option(value='Option 2')  2020
                    option(value='Option 3')  2019
                    option(value='Option 4')  2018 
    .progress-bar
        p.start يبدأ 12 سبمتبر
        .progress-bar__bar
            span(style="width:70%;")
        p.end ينتهي 25 مايو


