.switch-matches-view
    .side-matches.box-theme
        .calender.bottom-grad
            .calender__live.active مباشر
            .calender__days.mr-max
                a(href='#').calender__days-link أمس 
                a(href='#').calender__days-link.active اليوم
                a(href='#').calender__days-link غداً
        .scroll-matches-vertical
            -for(let x = 0 ; x < 2 ; x++)
                .bottom-grad
                    .comp-title
                        a(href="#4")
                            .comp-title__img
                                img(src="./img/logos/2.png", alt="")
                            p الدوري الانجليزي الممتاز 
                        p.mr-max الجولة 14
                    .side-matches__holder.bottom-grad
                        .side-match-box
                            a(href="#1").side-match-box__teamA
                                p مانشستر يونايتد
                                img(src="./img/logos/4.png", alt="")
                            a(href="#3").side-match-box__status
                                .side-match-box__result-box
                                    .side-match-box__result 0 : 0
                                    .side-match-box__progress-bar
                                        .side-match-box__progress-point(style="width: 40%;")
                                    .side-match-box__time.live مباشر '18
                            a(href="#2").side-match-box__teamB
                                p مانشستر سيتي
                                img(src="./img/logos/1.png", alt="")
                        .side-match-box
                            a(href="#1").side-match-box__teamA
                                p مانشستر يونايتد
                                img(src="./img/logos/4.png", alt="")
                            a(href="#3").side-match-box__status
                                .side-match-box__result-box
                                    .side-match-box__result 0 : 0
                                    .side-match-box__progress-bar
                                        .side-match-box__progress-point.ended(style="width: 100%;")
                                    .side-match-box__time.ended انتهت
                            a(href="#2").side-match-box__teamB
                                p مانشستر سيتي
                                img(src="./img/logos/1.png", alt="")
                        .side-match-box
                            a(href="#1").side-match-box__teamA
                                p مانشستر يونايتد
                                img(src="./img/logos/4.png", alt="")
                            a(href="#3").side-match-box__status
                                .side-match-box__result-box
                                    .side-match-box__result 0 : 0
                                    .side-match-box__progress-bar
                                        .side-match-box__progress-point.fixtrue(style="width: 100%;")
                                    .side-match-box__time.fixtrue 08:00 م
                            a(href="#2").side-match-box__teamB
                                p مانشستر سيتي
                                img(src="./img/logos/1.png", alt="")
                    .comp-title
                        a(href="#4")
                            .comp-title__img
                                img(src="./img/logos/2.png", alt="")
                            p الدوري الانجليزي الممتاز 
                        p.mr-max الجولة 19
                    .side-matches__holder
                        .side-match-box
                            a(href="#1").side-match-box__teamA
                                p مانشستر يونايتد
                                img(src="./img/logos/4.png", alt="")
                            a(href="#3").side-match-box__status
                                .side-match-box__result-box
                                    .side-match-box__result 0 : 0
                                    .side-match-box__progress-bar
                                        .side-match-box__progress-point(style="width: 50%;")
                                    .side-match-box__time.live استراحة
                            a(href="#2").side-match-box__teamB
                                p مانشستر سيتي
                                img(src="./img/logos/1.png", alt="")
                        .side-match-box
                            a(href="#1").side-match-box__teamA
                                p مانشستر يونايتد
                                img(src="./img/logos/4.png", alt="")
                            a(href="#3").side-match-box__status
                                .side-match-box__result-box
                                    .side-match-box__result 0 : 0
                                    .side-match-box__progress-bar
                                        .side-match-box__progress-point.fixtrue(style="width: 100%;")
                                    .side-match-box__time.fixtrue ألغيت
                            a(href="#2").side-match-box__teamB
                                p مانشستر سيتي
                                img(src="./img/logos/1.png", alt="")
        a(href="#5").side-matches__btn كل المباريات