.statistics.box-theme.mt-15
    -for(let x = 0; x < 10; x++)
        .statistics__row
            .statistics__head دقة التمرير
            .statistics__line
                .statistics__team.team-A
                    .statistics__value 55
                    .statistics__progress-bar
                        .statistics__progress-value(style="width:70%")
                .statistics__team.team-B
                    .statistics__value 45
                    .statistics__progress-bar
                        .statistics__progress-value(style="width:70%")
