-let arr2 = ['11','12','13','14','15']
.stories
    -for(let i=0; i<5; i++)
        a(href='#96').story-card
            img.story-card__img(src='img/posters/'+arr2[i]+'.jpg', alt="")
            .story-card__title 
                p هالاند سفاح اوروبا الجديد
            span.story-card__time منذ ساعتين
            .story-card__logo
                .story-card__logo-holder
                    img(src="img/logos/1.png", alt="")
                p مانشستر سيتي 