.summary-box.box-theme
    .summary-box__head.bottom-grad2
        .comp-title.comp-title--single-match
            a(href="#4")
                .comp-title__img
                    img(src="./img/logos/2.png", alt="")
                p الدوري الانجليزي الممتاز 
        .summary-box__info
            .summary-box__info-item
                .summary-box__info-icon
                    svg#Capa_1(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512')
                        g
                            g
                                path(d='m511.997 205.76c0-.048.003-.097.003-.145 0-25.079-27.369-46.642-79.147-62.354-16.936-5.139-35.85-9.448-56.2-12.87v-18.932h55.807c3.636 0 6.985-1.974 8.747-5.153 1.762-3.181 1.659-7.066-.269-10.148l-14.646-23.421 14.646-23.419c1.928-3.083 2.03-6.969.269-10.149-1.762-3.18-5.111-5.153-8.747-5.153h-65.807c-5.522 0-10 4.478-10 10v83.359c-31.341-4.199-65.458-6.408-100.652-6.408-7.693 0-15.331.11-22.903.319v-29.827h55.807c3.636 0 6.985-1.974 8.747-5.153 1.762-3.181 1.659-7.066-.269-10.148l-14.646-23.421 14.646-23.419c1.928-3.083 2.03-6.969.269-10.149-1.762-3.18-5.111-5.153-8.747-5.153h-65.807c-5.523 0-10 4.478-10 10v98.064c-45.795 2.403-88.359 8.648-123.556 18.205v-28.825h55.807c3.636 0 6.985-1.974 8.747-5.153 1.762-3.181 1.659-7.066-.269-10.148l-14.647-23.423 14.646-23.419c1.928-3.083 2.031-6.969.269-10.149s-5.111-5.153-8.747-5.153h-65.807c-5.523 0-10 4.478-10 10v102.325c-45.549 15.399-69.541 35.796-69.541 59.275 0 .055.003.113.003.169v138.483c0 .023-.003.045-.003.068v68.99c0 14.765 10.018 36.291 57.745 54.993 33.454 13.11 80.499 22.698 132.471 27.002.002 0 .004 0 .006.001 21.27 1.768 43.4 2.664 65.778 2.664s44.509-.896 65.778-2.664c.002 0 .004 0 .006-.001 51.972-4.304 99.017-13.893 132.471-27.002 47.726-18.702 57.745-40.228 57.745-54.993v-68.99c0-.02-.003-.038-.003-.058zm-135.345-151.745h37.759l-8.393 13.419c-2.028 3.244-2.028 7.361 0 10.604l8.393 13.421h-37.759zm-143.555-20h37.759l-8.393 13.419c-2.028 3.244-2.028 7.361 0 10.604l8.393 13.421h-37.759zm137.845 343.103c-5.522 0-10 4.478-10 10v14.641c-9.577 1.4-19.612 2.629-30.093 3.658-.938-18.56-8.609-35.883-21.852-49.136-11.776-11.766-26.776-19.119-42.998-21.27v-44.804c33.155-.408 65.371-2.836 94.942-7.01v13.509c0 5.522 4.478 10 10 10s10-4.478 10-10v-16.67c21.194-3.724 40.668-8.395 57.702-13.898v117.558c-15.994 5.603-35.338 10.672-57.702 14.778v-11.355c.001-5.523-4.476-10.001-9.999-10.001zm-189.793 28.299c-10.48-1.029-20.515-2.258-30.092-3.658v-118.562c29.571 4.175 61.788 6.603 94.943 7.01v44.815c-35.362 4.738-63.003 34.208-64.851 70.395zm-161.146-61.082v-104.249c7.437 5.927 17.445 11.913 30.836 17.68.008.003.015.008.023.011.815.351 1.66.693 2.493 1.039v116.808c-21.665-10.147-33.325-21.252-33.353-31.253 0-.012.001-.024.001-.036zm235.997-74.059c-74.034 0-143.753-10.24-189.126-27.584 5.064-8.053 19.958-18.473 49.994-27.558 37.056-11.209 86.468-17.382 139.132-17.382s102.076 6.173 139.132 17.382c30.036 9.085 44.93 19.505 49.994 27.558-45.373 17.344-115.092 27.584-189.126 27.584zm-182.645-4.139c17.034 5.504 36.508 10.174 57.702 13.898v118.438c-22.364-4.106-41.708-9.175-57.702-14.778zm385.29-7.32c.833-.346 1.678-.689 2.493-1.04.01-.004.02-.01.03-.014 13.388-5.767 23.394-11.752 30.83-17.678v104.25c0 .011.001.021.002.031-.024 10.002-11.685 21.11-33.354 31.258v-116.807zm-369.104-204.802h37.758l-8.392 13.419c-2.029 3.244-2.029 7.361 0 10.604l8.393 13.421h-37.759zm-4.586 108.384c45.548-13.821 106.292-21.434 171.045-21.434 64.752 0 125.497 7.612 171.045 21.434 47.853 14.521 64.926 31.825 64.954 43.188 0 .011-.002.021-.002.032v.069c-.053 9.222-10.271 19.483-28.437 28.855-8.021-15.305-29.276-28.46-62.638-38.552-38.882-11.762-90.35-18.238-144.922-18.238-54.573 0-106.041 6.477-144.923 18.238-33.362 10.091-54.617 23.246-62.638 38.552-18.157-9.368-28.373-19.624-28.435-28.843v-.081c0-.012-.002-.025-.002-.037.032-11.364 17.108-28.663 64.953-43.183zm-64.955 250.926v-34.507c8.673 6.904 20.844 13.879 37.746 20.502 31.476 12.332 74.985 21.551 123.304 26.182v48.908c-101.061-9.936-161.05-38.371-161.05-61.085zm181.05 62.768v-66.808c0-30.3 24.65-54.95 54.95-54.95 14.673 0 28.475 5.716 38.855 16.089 10.379 10.387 16.095 24.188 16.095 38.861v66.808c-17.885 1.257-36.324 1.893-54.95 1.893s-37.066-.636-54.95-1.893zm290.95-62.768c0 22.714-59.989 51.148-161.05 61.085v-48.908c48.319-4.631 91.828-13.85 123.304-26.182 16.902-6.623 29.072-13.598 37.746-20.502z')
                                path(d='m380.18 338.27c-1.611-3.865-5.581-6.387-9.77-6.16-4.165.226-7.814 3.1-9.03 7.084-1.213 3.977.248 8.467 3.606 10.934 3.281 2.41 7.766 2.6 11.231.458 4.121-2.549 5.794-7.846 3.963-12.316z')

                .summary-box__info-text أولدترافورد
            .summary-box__info-item
                .summary-box__info-icon
                    svg#Capa_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                        g
                            g
                                path(d='M496,176h-96c-4.256,0-8.32,1.696-11.328,4.672L361.376,208H320v-16c0-8.832-7.168-16-16-16H160    C71.776,176,0,247.776,0,336s71.776,160,160,160c79.232,0,145.536-57.056,158.016-134.272l184-74.912    c6.048-2.464,9.984-8.32,9.984-14.816v-80C512,183.168,504.832,176,496,176z M160,416c-44.192,0-80-35.808-80-80s35.808-80,80-80    s80,35.808,80,80C240,380.192,204.192,416,160,416z')
                        g
                            g
                                path(d='M352,16c-8.832,0-16,7.168-16,16v96c0,8.832,7.168,16,16,16c8.832,0,16-7.168,16-16V32C368,23.168,360.832,16,352,16z')
                        g
                            g
                                path(d='M300.8,118.4l-48-64c-5.312-7.104-15.36-8.512-22.4-3.2c-7.072,5.312-8.512,15.328-3.2,22.4l48,64    c3.136,4.192,7.936,6.4,12.8,6.4c3.328,0,6.72-1.056,9.6-3.2C304.672,135.488,306.08,125.472,300.8,118.4z')
                        g
                            g
                                path(d='M473.568,51.2c-7.04-5.248-17.056-3.904-22.4,3.2l-48,64c-5.28,7.072-3.84,17.088,3.232,22.4    c2.88,2.144,6.272,3.2,9.6,3.2c4.832,0,9.664-2.208,12.8-6.4l48-64C482.08,66.528,480.64,56.512,473.568,51.2z')
                        

                    
                .summary-box__info-text مصطفى غربال
            .summary-box__info-item
                .summary-box__info-icon
                    svg#Capa_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 477.867 477.867' style='enable-background:new 0 0 477.867 477.867;' xml:space='preserve')
                        g
                            g
                                path(d='M119.467,0C110.041,0,102.4,7.641,102.4,17.067V51.2h34.133V17.067C136.533,7.641,128.892,0,119.467,0z')
                        g
                            g
                                path(d='M358.4,0c-9.426,0-17.067,7.641-17.067,17.067V51.2h34.133V17.067C375.467,7.641,367.826,0,358.4,0z')
                        g
                            g
                                path(d='M426.667,51.2h-51.2v68.267c0,9.426-7.641,17.067-17.067,17.067s-17.067-7.641-17.067-17.067V51.2h-204.8v68.267    c0,9.426-7.641,17.067-17.067,17.067s-17.067-7.641-17.067-17.067V51.2H51.2C22.923,51.2,0,74.123,0,102.4v324.267    c0,28.277,22.923,51.2,51.2,51.2h375.467c28.277,0,51.2-22.923,51.2-51.2V102.4C477.867,74.123,454.944,51.2,426.667,51.2z     M443.733,426.667c0,9.426-7.641,17.067-17.067,17.067H51.2c-9.426,0-17.067-7.641-17.067-17.067V204.8h409.6V426.667z')
                        g
                            g
                                path(d='M136.533,238.933H102.4c-9.426,0-17.067,7.641-17.067,17.067s7.641,17.067,17.067,17.067h34.133    c9.426,0,17.067-7.641,17.067-17.067S145.959,238.933,136.533,238.933z')
                        g
                            g
                                path(d='M256,238.933h-34.133c-9.426,0-17.067,7.641-17.067,17.067s7.641,17.067,17.067,17.067H256    c9.426,0,17.067-7.641,17.067-17.067S265.426,238.933,256,238.933z')
                        g
                            g
                                path(d='M375.467,238.933h-34.133c-9.426,0-17.067,7.641-17.067,17.067s7.641,17.067,17.067,17.067h34.133    c9.426,0,17.067-7.641,17.067-17.067S384.892,238.933,375.467,238.933z')
                        g
                            g
                                path(d='M136.533,307.2H102.4c-9.426,0-17.067,7.641-17.067,17.067c0,9.426,7.641,17.067,17.067,17.067h34.133    c9.426,0,17.067-7.641,17.067-17.067C153.6,314.841,145.959,307.2,136.533,307.2z')
                        g
                            g
                                path(d='M256,307.2h-34.133c-9.426,0-17.067,7.641-17.067,17.067c0,9.426,7.641,17.067,17.067,17.067H256    c9.426,0,17.067-7.641,17.067-17.067C273.067,314.841,265.426,307.2,256,307.2z')
                        g
                            g
                                path(d='M375.467,307.2h-34.133c-9.426,0-17.067,7.641-17.067,17.067c0,9.426,7.641,17.067,17.067,17.067h34.133    c9.426,0,17.067-7.641,17.067-17.067C392.533,314.841,384.892,307.2,375.467,307.2z')
                        g
                            g
                                path(d='M136.533,375.467H102.4c-9.426,0-17.067,7.641-17.067,17.067S92.974,409.6,102.4,409.6h34.133    c9.426,0,17.067-7.641,17.067-17.067S145.959,375.467,136.533,375.467z')
                        g
                            g
                                path(d='M256,375.467h-34.133c-9.426,0-17.067,7.641-17.067,17.067s7.641,17.067,17.067,17.067H256    c9.426,0,17.067-7.641,17.067-17.067S265.426,375.467,256,375.467z')
                        g
                            g
                                path(d='M375.467,375.467h-34.133c-9.426,0-17.067,7.641-17.067,17.067s7.641,17.067,17.067,17.067h34.133    c9.426,0,17.067-7.641,17.067-17.067S384.892,375.467,375.467,375.467z')

                .summary-box__info-text الأحد 20 يونيو 2021
    .summary-box__result
        a(href='#121').summary-box__team.home
            .summary-box__team-name مانشستر سيتي
            .summary-box__team-logo
                img(src="img/logos/1.png", alt="")
            
        .summary-box__status
            .summary-box__team-score.score-A 3
            .summary-box__match-status.ended انتهت
            .summary-box__team-score.score-B 2
        a(href='#121').summary-box__team.away
            .summary-box__team-name مانشستر يونايتد
            .summary-box__team-logo
                img(src="img/logos/4.png", alt="")
            
    .summary-box__events.bottom-grad2
        .summary-box__team-event.event-A
            .summary-box__event-row
                .summary-box__event-icon
                    svg(xmlns='http://www.w3.org/2000/svg' width='32' height='31.062' viewBox='0 0 32 31.062')
                        path#football.cls-1(d='M451.544,456.447a14.439,14.439,0,0,1,5.075-3.272,16.1,16.1,0,0,1,6.207-1.271,16.6,16.6,0,0,1,6.207,1.271,14.912,14.912,0,0,1,5.078,3.339,15.287,15.287,0,0,1,3.4,4.876,14.569,14.569,0,0,1,1.283,6.078,14.262,14.262,0,0,1-1.27,6.012,14.855,14.855,0,0,1-3.4,4.943,17.186,17.186,0,0,1-5.078,3.339,16.593,16.593,0,0,1-6.207,1.2,16.107,16.107,0,0,1-6.207-1.2,16.662,16.662,0,0,1-5.142-3.339,14.808,14.808,0,0,1-3.42-4.944,15.352,15.352,0,0,1-1.271-6.012,15.681,15.681,0,0,1,1.271-6.077,16.538,16.538,0,0,1,3.472-4.943Zm20.1-1c-.133-.133-.267-.2-.4-.336a18.36,18.36,0,0,0-2.538-1.335,16.158,16.158,0,0,0-5.879-1.135,17.062,17.062,0,0,0-4.07.535,7.608,7.608,0,0,1,2.2,1.468,8.976,8.976,0,0,1,2.671,0,12.847,12.847,0,0,1,3.473.737,10.381,10.381,0,0,1,2.4,1.067,25.682,25.682,0,0,1,2.472-.8.9.9,0,0,1-.334-.2Zm-14.561,3.873,2.739,7.214,6.546,1.27c3.74-3.74,7.282-5.141,3.339-10.085a12.23,12.23,0,0,0-2.938-1.4,14.4,14.4,0,0,0-3.272-.734,11.32,11.32,0,0,0-2.6.066Zm20.373,7.615a13.405,13.405,0,0,1,.133,3.274,6.024,6.024,0,0,0,.336-.67c.066-.668.134-1.4.134-2.072a14.517,14.517,0,0,0-1.338-6.144,17.846,17.846,0,0,1-.066,2.739A10.868,10.868,0,0,1,477.459,466.934Zm-1.335,5.677a14.442,14.442,0,0,0,.467-2.34,12.893,12.893,0,0,0-.734-5.478c-4.009-3.339-5.411.334-8.685,3.608l.536,5.885c4.81,1.536,5.279,2.8,8.418-1.671Zm-10.486,9.419a18.148,18.148,0,0,0,3.806-1.2,19.7,19.7,0,0,0,2.939-1.87c-1.468-2.539,2.137-1.47-5.143-3.807l-6.077,2.537c-1.07,4.477-1.271,4.141,4.477,4.343Zm-15.364-6.145a14.156,14.156,0,0,0,3.274,3.338c4.543,3.072,5.743,1.8,6.678-1.8l-4.273-4.339c-4.942-.4-5.543-1.806-5.947,2.4a1.357,1.357,0,0,1,.268.4Zm5.614-3.809,3-5.142-2.739-7.215-3.875.2a13.518,13.518,0,0,0-2.137,2.2,10.806,10.806,0,0,0-1.8,3.341c.867,7.213,1.2,6.077,7.548,6.614Zm-7.682-8.751a13.15,13.15,0,0,1,1.135-1.8,14.377,14.377,0,0,1,2.471-2.471,6.822,6.822,0,0,1,1.871-3.472.065.065,0,0,1-.02.047.064.064,0,0,1-.048.019c-.067.066-.133.133-.2.133a19.007,19.007,0,0,0-2.4,2.271,14.346,14.346,0,0,0-2.806,5.277Z' transform='translate(-446.799 -451.904)')

                .summary-box__event-maker كيفين دي بروين '19
            .summary-box__event-row
                .summary-box__event-icon
                    svg(xmlns='http://www.w3.org/2000/svg' width='32' height='31.062' viewBox='0 0 32 31.062')
                        path#football.cls-1(d='M451.544,456.447a14.439,14.439,0,0,1,5.075-3.272,16.1,16.1,0,0,1,6.207-1.271,16.6,16.6,0,0,1,6.207,1.271,14.912,14.912,0,0,1,5.078,3.339,15.287,15.287,0,0,1,3.4,4.876,14.569,14.569,0,0,1,1.283,6.078,14.262,14.262,0,0,1-1.27,6.012,14.855,14.855,0,0,1-3.4,4.943,17.186,17.186,0,0,1-5.078,3.339,16.593,16.593,0,0,1-6.207,1.2,16.107,16.107,0,0,1-6.207-1.2,16.662,16.662,0,0,1-5.142-3.339,14.808,14.808,0,0,1-3.42-4.944,15.352,15.352,0,0,1-1.271-6.012,15.681,15.681,0,0,1,1.271-6.077,16.538,16.538,0,0,1,3.472-4.943Zm20.1-1c-.133-.133-.267-.2-.4-.336a18.36,18.36,0,0,0-2.538-1.335,16.158,16.158,0,0,0-5.879-1.135,17.062,17.062,0,0,0-4.07.535,7.608,7.608,0,0,1,2.2,1.468,8.976,8.976,0,0,1,2.671,0,12.847,12.847,0,0,1,3.473.737,10.381,10.381,0,0,1,2.4,1.067,25.682,25.682,0,0,1,2.472-.8.9.9,0,0,1-.334-.2Zm-14.561,3.873,2.739,7.214,6.546,1.27c3.74-3.74,7.282-5.141,3.339-10.085a12.23,12.23,0,0,0-2.938-1.4,14.4,14.4,0,0,0-3.272-.734,11.32,11.32,0,0,0-2.6.066Zm20.373,7.615a13.405,13.405,0,0,1,.133,3.274,6.024,6.024,0,0,0,.336-.67c.066-.668.134-1.4.134-2.072a14.517,14.517,0,0,0-1.338-6.144,17.846,17.846,0,0,1-.066,2.739A10.868,10.868,0,0,1,477.459,466.934Zm-1.335,5.677a14.442,14.442,0,0,0,.467-2.34,12.893,12.893,0,0,0-.734-5.478c-4.009-3.339-5.411.334-8.685,3.608l.536,5.885c4.81,1.536,5.279,2.8,8.418-1.671Zm-10.486,9.419a18.148,18.148,0,0,0,3.806-1.2,19.7,19.7,0,0,0,2.939-1.87c-1.468-2.539,2.137-1.47-5.143-3.807l-6.077,2.537c-1.07,4.477-1.271,4.141,4.477,4.343Zm-15.364-6.145a14.156,14.156,0,0,0,3.274,3.338c4.543,3.072,5.743,1.8,6.678-1.8l-4.273-4.339c-4.942-.4-5.543-1.806-5.947,2.4a1.357,1.357,0,0,1,.268.4Zm5.614-3.809,3-5.142-2.739-7.215-3.875.2a13.518,13.518,0,0,0-2.137,2.2,10.806,10.806,0,0,0-1.8,3.341c.867,7.213,1.2,6.077,7.548,6.614Zm-7.682-8.751a13.15,13.15,0,0,1,1.135-1.8,14.377,14.377,0,0,1,2.471-2.471,6.822,6.822,0,0,1,1.871-3.472.065.065,0,0,1-.02.047.064.064,0,0,1-.048.019c-.067.066-.133.133-.2.133a19.007,19.007,0,0,0-2.4,2.271,14.346,14.346,0,0,0-2.806,5.277Z' transform='translate(-446.799 -451.904)')

                .summary-box__event-maker كيفين دي بروين '19
            .summary-box__event-row
                .summary-box__event-icon
                    svg(xmlns='http://www.w3.org/2000/svg' width='32' height='31.062' viewBox='0 0 32 31.062')
                        path#football.cls-1(d='M451.544,456.447a14.439,14.439,0,0,1,5.075-3.272,16.1,16.1,0,0,1,6.207-1.271,16.6,16.6,0,0,1,6.207,1.271,14.912,14.912,0,0,1,5.078,3.339,15.287,15.287,0,0,1,3.4,4.876,14.569,14.569,0,0,1,1.283,6.078,14.262,14.262,0,0,1-1.27,6.012,14.855,14.855,0,0,1-3.4,4.943,17.186,17.186,0,0,1-5.078,3.339,16.593,16.593,0,0,1-6.207,1.2,16.107,16.107,0,0,1-6.207-1.2,16.662,16.662,0,0,1-5.142-3.339,14.808,14.808,0,0,1-3.42-4.944,15.352,15.352,0,0,1-1.271-6.012,15.681,15.681,0,0,1,1.271-6.077,16.538,16.538,0,0,1,3.472-4.943Zm20.1-1c-.133-.133-.267-.2-.4-.336a18.36,18.36,0,0,0-2.538-1.335,16.158,16.158,0,0,0-5.879-1.135,17.062,17.062,0,0,0-4.07.535,7.608,7.608,0,0,1,2.2,1.468,8.976,8.976,0,0,1,2.671,0,12.847,12.847,0,0,1,3.473.737,10.381,10.381,0,0,1,2.4,1.067,25.682,25.682,0,0,1,2.472-.8.9.9,0,0,1-.334-.2Zm-14.561,3.873,2.739,7.214,6.546,1.27c3.74-3.74,7.282-5.141,3.339-10.085a12.23,12.23,0,0,0-2.938-1.4,14.4,14.4,0,0,0-3.272-.734,11.32,11.32,0,0,0-2.6.066Zm20.373,7.615a13.405,13.405,0,0,1,.133,3.274,6.024,6.024,0,0,0,.336-.67c.066-.668.134-1.4.134-2.072a14.517,14.517,0,0,0-1.338-6.144,17.846,17.846,0,0,1-.066,2.739A10.868,10.868,0,0,1,477.459,466.934Zm-1.335,5.677a14.442,14.442,0,0,0,.467-2.34,12.893,12.893,0,0,0-.734-5.478c-4.009-3.339-5.411.334-8.685,3.608l.536,5.885c4.81,1.536,5.279,2.8,8.418-1.671Zm-10.486,9.419a18.148,18.148,0,0,0,3.806-1.2,19.7,19.7,0,0,0,2.939-1.87c-1.468-2.539,2.137-1.47-5.143-3.807l-6.077,2.537c-1.07,4.477-1.271,4.141,4.477,4.343Zm-15.364-6.145a14.156,14.156,0,0,0,3.274,3.338c4.543,3.072,5.743,1.8,6.678-1.8l-4.273-4.339c-4.942-.4-5.543-1.806-5.947,2.4a1.357,1.357,0,0,1,.268.4Zm5.614-3.809,3-5.142-2.739-7.215-3.875.2a13.518,13.518,0,0,0-2.137,2.2,10.806,10.806,0,0,0-1.8,3.341c.867,7.213,1.2,6.077,7.548,6.614Zm-7.682-8.751a13.15,13.15,0,0,1,1.135-1.8,14.377,14.377,0,0,1,2.471-2.471,6.822,6.822,0,0,1,1.871-3.472.065.065,0,0,1-.02.047.064.064,0,0,1-.048.019c-.067.066-.133.133-.2.133a19.007,19.007,0,0,0-2.4,2.271,14.346,14.346,0,0,0-2.806,5.277Z' transform='translate(-446.799 -451.904)')

                .summary-box__event-maker كيفين دي بروين '19
        .summary-box__team-event.event-B
            .summary-box__event-row
                .summary-box__event-icon
                    svg(xmlns='http://www.w3.org/2000/svg' width='32' height='31.062' viewBox='0 0 32 31.062')
                        path#football.cls-1(d='M451.544,456.447a14.439,14.439,0,0,1,5.075-3.272,16.1,16.1,0,0,1,6.207-1.271,16.6,16.6,0,0,1,6.207,1.271,14.912,14.912,0,0,1,5.078,3.339,15.287,15.287,0,0,1,3.4,4.876,14.569,14.569,0,0,1,1.283,6.078,14.262,14.262,0,0,1-1.27,6.012,14.855,14.855,0,0,1-3.4,4.943,17.186,17.186,0,0,1-5.078,3.339,16.593,16.593,0,0,1-6.207,1.2,16.107,16.107,0,0,1-6.207-1.2,16.662,16.662,0,0,1-5.142-3.339,14.808,14.808,0,0,1-3.42-4.944,15.352,15.352,0,0,1-1.271-6.012,15.681,15.681,0,0,1,1.271-6.077,16.538,16.538,0,0,1,3.472-4.943Zm20.1-1c-.133-.133-.267-.2-.4-.336a18.36,18.36,0,0,0-2.538-1.335,16.158,16.158,0,0,0-5.879-1.135,17.062,17.062,0,0,0-4.07.535,7.608,7.608,0,0,1,2.2,1.468,8.976,8.976,0,0,1,2.671,0,12.847,12.847,0,0,1,3.473.737,10.381,10.381,0,0,1,2.4,1.067,25.682,25.682,0,0,1,2.472-.8.9.9,0,0,1-.334-.2Zm-14.561,3.873,2.739,7.214,6.546,1.27c3.74-3.74,7.282-5.141,3.339-10.085a12.23,12.23,0,0,0-2.938-1.4,14.4,14.4,0,0,0-3.272-.734,11.32,11.32,0,0,0-2.6.066Zm20.373,7.615a13.405,13.405,0,0,1,.133,3.274,6.024,6.024,0,0,0,.336-.67c.066-.668.134-1.4.134-2.072a14.517,14.517,0,0,0-1.338-6.144,17.846,17.846,0,0,1-.066,2.739A10.868,10.868,0,0,1,477.459,466.934Zm-1.335,5.677a14.442,14.442,0,0,0,.467-2.34,12.893,12.893,0,0,0-.734-5.478c-4.009-3.339-5.411.334-8.685,3.608l.536,5.885c4.81,1.536,5.279,2.8,8.418-1.671Zm-10.486,9.419a18.148,18.148,0,0,0,3.806-1.2,19.7,19.7,0,0,0,2.939-1.87c-1.468-2.539,2.137-1.47-5.143-3.807l-6.077,2.537c-1.07,4.477-1.271,4.141,4.477,4.343Zm-15.364-6.145a14.156,14.156,0,0,0,3.274,3.338c4.543,3.072,5.743,1.8,6.678-1.8l-4.273-4.339c-4.942-.4-5.543-1.806-5.947,2.4a1.357,1.357,0,0,1,.268.4Zm5.614-3.809,3-5.142-2.739-7.215-3.875.2a13.518,13.518,0,0,0-2.137,2.2,10.806,10.806,0,0,0-1.8,3.341c.867,7.213,1.2,6.077,7.548,6.614Zm-7.682-8.751a13.15,13.15,0,0,1,1.135-1.8,14.377,14.377,0,0,1,2.471-2.471,6.822,6.822,0,0,1,1.871-3.472.065.065,0,0,1-.02.047.064.064,0,0,1-.048.019c-.067.066-.133.133-.2.133a19.007,19.007,0,0,0-2.4,2.271,14.346,14.346,0,0,0-2.806,5.277Z' transform='translate(-446.799 -451.904)')

                .summary-box__event-maker كيفين دي بروين '19
            .summary-box__event-row
                .summary-box__event-icon
                    svg(xmlns='http://www.w3.org/2000/svg' width='32' height='31.062' viewBox='0 0 32 31.062')
                        path#football.cls-1(d='M451.544,456.447a14.439,14.439,0,0,1,5.075-3.272,16.1,16.1,0,0,1,6.207-1.271,16.6,16.6,0,0,1,6.207,1.271,14.912,14.912,0,0,1,5.078,3.339,15.287,15.287,0,0,1,3.4,4.876,14.569,14.569,0,0,1,1.283,6.078,14.262,14.262,0,0,1-1.27,6.012,14.855,14.855,0,0,1-3.4,4.943,17.186,17.186,0,0,1-5.078,3.339,16.593,16.593,0,0,1-6.207,1.2,16.107,16.107,0,0,1-6.207-1.2,16.662,16.662,0,0,1-5.142-3.339,14.808,14.808,0,0,1-3.42-4.944,15.352,15.352,0,0,1-1.271-6.012,15.681,15.681,0,0,1,1.271-6.077,16.538,16.538,0,0,1,3.472-4.943Zm20.1-1c-.133-.133-.267-.2-.4-.336a18.36,18.36,0,0,0-2.538-1.335,16.158,16.158,0,0,0-5.879-1.135,17.062,17.062,0,0,0-4.07.535,7.608,7.608,0,0,1,2.2,1.468,8.976,8.976,0,0,1,2.671,0,12.847,12.847,0,0,1,3.473.737,10.381,10.381,0,0,1,2.4,1.067,25.682,25.682,0,0,1,2.472-.8.9.9,0,0,1-.334-.2Zm-14.561,3.873,2.739,7.214,6.546,1.27c3.74-3.74,7.282-5.141,3.339-10.085a12.23,12.23,0,0,0-2.938-1.4,14.4,14.4,0,0,0-3.272-.734,11.32,11.32,0,0,0-2.6.066Zm20.373,7.615a13.405,13.405,0,0,1,.133,3.274,6.024,6.024,0,0,0,.336-.67c.066-.668.134-1.4.134-2.072a14.517,14.517,0,0,0-1.338-6.144,17.846,17.846,0,0,1-.066,2.739A10.868,10.868,0,0,1,477.459,466.934Zm-1.335,5.677a14.442,14.442,0,0,0,.467-2.34,12.893,12.893,0,0,0-.734-5.478c-4.009-3.339-5.411.334-8.685,3.608l.536,5.885c4.81,1.536,5.279,2.8,8.418-1.671Zm-10.486,9.419a18.148,18.148,0,0,0,3.806-1.2,19.7,19.7,0,0,0,2.939-1.87c-1.468-2.539,2.137-1.47-5.143-3.807l-6.077,2.537c-1.07,4.477-1.271,4.141,4.477,4.343Zm-15.364-6.145a14.156,14.156,0,0,0,3.274,3.338c4.543,3.072,5.743,1.8,6.678-1.8l-4.273-4.339c-4.942-.4-5.543-1.806-5.947,2.4a1.357,1.357,0,0,1,.268.4Zm5.614-3.809,3-5.142-2.739-7.215-3.875.2a13.518,13.518,0,0,0-2.137,2.2,10.806,10.806,0,0,0-1.8,3.341c.867,7.213,1.2,6.077,7.548,6.614Zm-7.682-8.751a13.15,13.15,0,0,1,1.135-1.8,14.377,14.377,0,0,1,2.471-2.471,6.822,6.822,0,0,1,1.871-3.472.065.065,0,0,1-.02.047.064.064,0,0,1-.048.019c-.067.066-.133.133-.2.133a19.007,19.007,0,0,0-2.4,2.271,14.346,14.346,0,0,0-2.806,5.277Z' transform='translate(-446.799 -451.904)')

                .summary-box__event-maker كيفين دي بروين '19
    .summary-box__page-tabs
        .summary-box__tab.active ملخص
        .summary-box__tab  أحداث المباراة
        .summary-box__tab خطة اللعب
        .summary-box__tab إحصائيات


