.survey.box-theme.mt-15
    .side-title.bottom-grad استطلاع رأي
    .survey__content.relative.bottom-grad
        .survey__img 
            img(src="img/content/9.jpg", alt="")
        .survey__text.mt-15
            p كم عدد الأهداف التي سجلها كريستيانو رونالدو في مسيرته
    .survey__btns-box.mt-15
        .survey__btn  757 هدف
        .survey__btn 858 هدف
        .survey__btn 789 هدف
        