

-if(!type)
    .trend.box-theme.mt-15
        .trend__head.side-title.bottom-grad الأكثر قراءة
        .trend__box
            a(href="#6").trend__link
                .trend__num 1
                .trend__text
                    p تشيلسي يهزم ريال مدريد في مباراة تألف فيها نجولو كانتي
            a(href="#999").trend__article.trend__cat-link
                .icon
                    svg#Layer_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                        g
                            g
                                path(d='M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z')
                        
                span كرة عالمية
        .trend__box
            a(href="#6").trend__link
                .trend__num 2
                .trend__text
                    p تشيلسي يهزم ريال مدريد في مباراة تألف فيها نجولو كانتي
            a(href='#999').trend__video.trend__cat-link
                .icon
                    svg#Capa_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='163.861px' height='163.861px' viewBox='0 0 163.861 163.861' style='enable-background:new 0 0 163.861 163.861;' xml:space='preserve')
                        g
                            path(d='M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275   c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z')

                span فيديو
        .trend__box
            a(href="#6").trend__link
                .trend__num 3
                .trend__text
                    p تشيلسي يهزم ريال مدريد في مباراة تألف فيها نجولو كانتي
            a(href='#999').trend__info.trend__cat-link
                .icon
                    svg#Iconly_Bulk_Graph(xmlns='http://www.w3.org/2000/svg' data-name='Iconly/Bulk/Graph'  viewBox='0 0 24 24' style='')
                        g#Graph(transform='translate(2 2)')
                            path#Path(d='M8.153.644a1.06,1.06,0,0,1,.1.329l.278,4.14h0l.138,2.081a2.14,2.14,0,0,0,.1.631,1.043,1.043,0,0,0,1.005.631l6.657-.435a1.1,1.1,0,0,1,.774.3,1.06,1.06,0,0,1,.319.609l.012.14a8.682,8.682,0,0,1-6.884,7.818,8.856,8.856,0,0,1-9.592-4.263,8.214,8.214,0,0,1-1-3.146A6.018,6.018,0,0,1,0,8.491,8.7,8.7,0,0,1,6.984.013,1.091,1.091,0,0,1,8.153.644Z' transform='translate(0 2.911)' fill='' )
                            path#Path-2(data-name='Path' d='M.849,0a9.444,9.444,0,0,1,9.13,7.811l-.007.033h0l-.02.047,0,.13a.8.8,0,0,1-.192.472.827.827,0,0,1-.462.271l-.11.015-7.681.5a.917.917,0,0,1-.7-.227.884.884,0,0,1-.288-.537L.007.845a.122.122,0,0,1,0-.08A.785.785,0,0,1,.265.21.815.815,0,0,1,.849,0Z' transform='translate(10.021 0)' fill='#5be043' opacity='0.4')

                span انفوجرافيك
        .trend__box
            a(href="#6").trend__link
                .trend__num 4
                .trend__text
                    p تشيلسي يهزم ريال مدريد في مباراة تألف فيها نجولو كانتي
            a(href="#999").trend__article.trend__cat-link
                .icon
                    svg#Layer_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                        g
                            g
                                path(d='M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z')
                        
                span كرة عالمية
        .trend__box
            a(href="#6").trend__link
                .trend__num 5
                .trend__text
                    p تشيلسي يهزم ريال مدريد في مباراة تألف فيها نجولو كانتي
            a(href="#999").trend__article.trend__cat-link
                .icon
                    svg#Layer_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                        g
                            g
                                path(d='M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z')

                span كرة عالمية
-if(type == "search" )
    .trend.trend--search.box-theme
        .trend__head.side-title.bottom-grad المواضيع الأكثر بحثاً
        -for(let z = 0 ; z < 5 ; z++)
            .trend__box
                a(href="#6").trend__link
                    .trend__icon
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 512.542 512.542' style='enable-background:new 0 0 512.542 512.542;' xml:space='preserve')
                            g
                                g
                                    path(d='M481.28,376.961l-71.68-53.76c17.92-30.72,25.6-66.56,25.6-104.96c0-120.32-97.28-217.6-217.6-217.6S0,97.921,0,218.24    s97.28,217.6,217.6,217.6c38.4,0,71.68-10.24,104.96-25.6l53.76,71.68c28.16,35.84,81.92,40.96,115.2,7.68    C522.24,458.88,519.68,405.12,481.28,376.961z M217.6,384.641c-92.16,0-166.4-74.24-166.4-166.4s74.24-166.4,166.4-166.4    S384,126.081,384,218.24S309.76,384.641,217.6,384.641z')
  
                    .trend__text
                        p تشيلسي يهزم
                