header.header 
    .header__body
        .header__burger
            span
        a(href="#").header__logo
            img(src="img/logos/logo2.png", alt="")
        ul.header__nav
            li.header__mobile-close
                .icon
                    svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.642 19.642')
                        path(d='M6.343,6.343,23.156,23.156m-16.813,0L23.156,6.343' transform='translate(-4.929 -4.929)' fill='none' stroke='#17A654' stroke-linecap='square' stroke-width='2')

            li.header__link
                
                a(href='#').active الرئيسية
                    .header__section-icon
                        svg.icon-home(xmlns='http://www.w3.org/2000/svg' data-name='Iconly/Bold/Home' viewBox='0 0 24 24')
                            g(transform='translate(2.5 2)')
                                path(data-name='Home' d='M6.635,18.773V15.716A1.419,1.419,0,0,1,8.058,14.3h2.874a1.429,1.429,0,0,1,1.007.414,1.408,1.408,0,0,1,.417,1v3.058a1.213,1.213,0,0,0,.356.867,1.231,1.231,0,0,0,.871.36h1.961a3.46,3.46,0,0,0,2.443-1A3.41,3.41,0,0,0,19,16.578V7.867a2.473,2.473,0,0,0-.9-1.9L11.434.676A3.1,3.1,0,0,0,7.485.747L.967,5.965A2.474,2.474,0,0,0,0,7.867v8.7A3.444,3.444,0,0,0,3.456,20H5.372a1.231,1.231,0,0,0,1.236-1.218Z' fill='' )

            li.header__link
                
                a(href='#') أخبار
                    .header__section-icon
                        svg#Iconly_Bold_Document.icon-news(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' data-name='Iconly/Bold/Document'  viewBox='0 0 24 24')
                            defs
                                lineargradient#linear-gradient(x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox')
                                    stop(offset='0' stop-color='#24a557')
                                    stop(offset='0.53' stop-color='#73d349')
                                    stop(offset='1' stop-color='#bafb3c')
                            g#Document(transform='translate(3 2)')
                                path#Document-2(data-name='Document' d='M13.191,20H4.81C1.753,20,0,18.236,0,15.16V4.83A4.91,4.91,0,0,1,1.265,1.271,4.863,4.863,0,0,1,4.81,0h8.382C16.247,0,18,1.761,18,4.83V15.16a4.891,4.891,0,0,1-1.246,3.583A4.819,4.819,0,0,1,13.191,20ZM5,13.736a.78.78,0,0,0-.668.374.786.786,0,0,0,.653,1.206.7.7,0,0,0,.1-.006H12.92a.79.79,0,0,0,0-1.57H5.08A.8.8,0,0,0,5,13.736ZM5.08,9.179a.78.78,0,0,0,0,1.561H12.92a.78.78,0,0,0,0-1.561Zm0-4.529v.01h0a.779.779,0,0,0,0,1.559h2.99a.785.785,0,0,0,0-1.57Z' )

            li.header__link
                a(href='#') فيديوهات
                    .header__section-icon
                        svg.icon-videos(xmlns='http://www.w3.org/2000/svg' data-name='Iconly/Bold/Play'  viewBox='0 0 24 24')
                            g(transform='translate(2 2)')
                                path(data-name='Play' d='M10,20a10,10,0,1,1,10-9.994A10.008,10.008,0,0,1,10,20ZM8.861,6.03a1.338,1.338,0,0,0-.608.145,1.252,1.252,0,0,0-.541.6,6.314,6.314,0,0,0-.174.7A15.391,15.391,0,0,0,7.375,10a17.717,17.717,0,0,0,.145,2.441,1.1,1.1,0,0,1,.024.11,3.911,3.911,0,0,0,.207.768,1.21,1.21,0,0,0,1.072.656h.039a3.188,3.188,0,0,0,.9-.27,14.727,14.727,0,0,0,3.851-2.624l.058-.058a3.94,3.94,0,0,0,.27-.309,1.161,1.161,0,0,0,.231-.7,1.217,1.217,0,0,0-.251-.754l-.063-.068c-.064-.07-.162-.176-.254-.269A14.777,14.777,0,0,0,9.662,6.251,3.356,3.356,0,0,0,8.861,6.03Z' fill='')

            li.header__link
                a(href='#') بطولات
                    .header__section-icon
                        svg.icon-competitions(xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 20 19.414')
                            path(d='M449.765,454.743a9.025,9.025,0,0,1,3.172-2.045,10.059,10.059,0,0,1,3.879-.794,10.378,10.378,0,0,1,3.879.794,9.319,9.319,0,0,1,3.174,2.087A9.556,9.556,0,0,1,466,457.833a9.1,9.1,0,0,1,.8,3.8,8.913,8.913,0,0,1-.794,3.758,9.285,9.285,0,0,1-2.128,3.089,10.744,10.744,0,0,1-3.174,2.087,10.371,10.371,0,0,1-3.879.752,10.066,10.066,0,0,1-3.879-.752,10.414,10.414,0,0,1-3.214-2.087,9.256,9.256,0,0,1-2.137-3.09,9.6,9.6,0,0,1-.794-3.758,9.8,9.8,0,0,1,.794-3.8,10.337,10.337,0,0,1,2.17-3.089Zm12.565-.626c-.083-.083-.167-.127-.251-.21a11.475,11.475,0,0,0-1.586-.834,10.1,10.1,0,0,0-3.674-.71,10.666,10.666,0,0,0-2.544.335,4.754,4.754,0,0,1,1.378.918,5.606,5.606,0,0,1,1.669,0,8.029,8.029,0,0,1,2.171.46,6.489,6.489,0,0,1,1.5.667,16.061,16.061,0,0,1,1.545-.5.558.558,0,0,1-.209-.127Zm-9.1,2.42,1.712,4.509,4.091.794c2.338-2.338,4.551-3.213,2.087-6.3a7.644,7.644,0,0,0-1.837-.877,8.995,8.995,0,0,0-2.045-.459,7.079,7.079,0,0,0-1.628.041Zm12.733,4.759a8.378,8.378,0,0,1,.083,2.047,3.774,3.774,0,0,0,.21-.419c.041-.417.084-.876.084-1.295a9.072,9.072,0,0,0-.836-3.84,11.153,11.153,0,0,1-.041,1.712A6.793,6.793,0,0,1,465.961,461.3Zm-.834,3.548a9.023,9.023,0,0,0,.292-1.463,8.059,8.059,0,0,0-.459-3.424c-2.506-2.087-3.382.209-5.428,2.255l.335,3.678c3.006.96,3.3,1.753,5.261-1.044Zm-6.554,5.887a11.34,11.34,0,0,0,2.379-.752,12.311,12.311,0,0,0,1.837-1.169c-.918-1.587,1.335-.919-3.215-2.379l-3.8,1.586c-.669,2.8-.794,2.588,2.8,2.714Zm-9.6-3.84a8.85,8.85,0,0,0,2.047,2.086c2.84,1.92,3.589,1.127,4.174-1.127l-2.671-2.712c-3.089-.251-3.465-1.129-3.717,1.5a.847.847,0,0,1,.167.251Zm3.509-2.381,1.878-3.213-1.712-4.509-2.422.127a8.448,8.448,0,0,0-1.335,1.377,6.752,6.752,0,0,0-1.126,2.088c.542,4.508.75,3.8,4.717,4.134Zm-4.8-5.469a8.221,8.221,0,0,1,.709-1.128,8.982,8.982,0,0,1,1.545-1.545,4.264,4.264,0,0,1,1.17-2.17.041.041,0,0,1-.012.03.04.04,0,0,1-.03.012c-.042.041-.083.083-.127.083a11.877,11.877,0,0,0-1.5,1.419,8.965,8.965,0,0,0-1.754,3.3Z' transform='translate(-446.799 -451.904)' fill='' fill-rule='evenodd')

            li.header__link
                a(href='#') مباريات
                    .header__section-icon
                        svg.icon-matches(xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 23 15.069')
                            g(transform='translate(0 0.001)')
                                g(transform='translate(0 -0.001)')
                                    path(d='M2,10.965V8.584A1.586,1.586,0,0,1,3.581,7H13.1v3.987a3.569,3.569,0,0,0,0,7.094v3.987H3.581A1.581,1.581,0,0,1,2,20.485V18.1H5.966V10.965Zm23,0V8.584A1.581,1.581,0,0,0,23.419,7H13.9v3.987a3.569,3.569,0,0,1,0,7.094v3.987h9.523A1.586,1.586,0,0,0,25,20.485V18.1H21.034V10.965Zm-11.1.821a2.776,2.776,0,0,1,0,5.5v-5.5Zm-.793,5.5a2.776,2.776,0,0,1,0-5.5v5.5Zm8.724.028V11.759H25V17.31ZM2,17.31V11.759H5.172V17.31Z' transform='translate(-2 -7)' fill='' fill-rule='evenodd')

            li.header__link.header__more-links
                //- a(href='#') المزيد
                span المزيد
                    .header__section-icon
                        svg.icon-more(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 426.667 426.667' style='enable-background:new 0 0 426.667 426.667;' xml:space='preserve')
                            g
                                g
                                    circle(cx='42.667' cy='213.333' r='42.667')
                            g
                                g
                                    circle(cx='213.333' cy='213.333' r='42.667')
                            g
                                g
                                    circle(cx='384' cy='213.333' r='42.667')
                .arrow
                    svg.icon-arrow(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256' style='enable-background:new 0 0 256 256;' xml:space='preserve')
                        g
                            g
                                polygon(points='207.093,30.187 176.907,0 48.907,128 176.907,256 207.093,225.813 109.28,128 		')

                ul.header__megamenu
                    .header__list
                        a.active(href="#") الرئيسية
                        a(href="#") أخبار
                        a(href="#") كرة سعودية
                        a(href="#") كرة عربية
                        a(href="#") كرة عالمية
                        a(href="#") إنفوجرافيك
                        a(href="#") إنتقالات
                        a(href="#") مباريات
                        a(href="#") بطولات
                    .header__wrap
                        .header__column
                            p.header__column-title أهم البطولات
                            .header__column-box
                                -for(let i=0;i<13;i++)
                                    .img-beside-text
                                        a(href='competition.html')
                                        img(src="img/logos/27.png")
                                        p الدوري الإنجليزى الممتاز
                                a.all(href="#") كل البطولات
                        .header__column
                            p.header__column-title أهم الفرق
                            .header__column-box
                                -for(let i=0;i<13;i++)
                                    .img-beside-text
                                        a(href='team.html')
                                        img(src="img/logos/1.png")
                                        p باريس سان جيرمان
                                a.all(href="#") كل الفرق
            li.header__follow
                p تابعنا على
                .header__follow-icons.flex
                    a.header__follow-link(href="#")
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                            path(style='fill:#1976D2;' d='M384,176h-96v-64c0-17.664,14.336-32,32-32h32V0h-64l0,0c-53.024,0-96,42.976-96,96v80h-64v80h64v256  h96V256h64L384,176z')
    
                    a.header__follow-link(href="#")
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                            path(style='fill:#03A9F4;' d='M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016  c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992  c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056  c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152  c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792  c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44  C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568  C480.224,136.96,497.728,118.496,512,97.248z')
     
                    a.header__follow-link(href="#")
                        svg#Capa_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                            lineargradient#SVGID_1_(gradientUnits='userSpaceOnUse' x1='-46.0041' y1='634.1208' x2='-32.9334' y2='647.1917' gradientTransform='matrix(32 0 0 -32 1519 20757)')
                                stop(offset='0' style='stop-color:#FFC107')
                                stop(offset='0.507' style='stop-color:#F44336')
                                stop(offset='0.99' style='stop-color:#9C27B0')
                            path(style='fill:url(#SVGID_1_);' d='M352,0H160C71.648,0,0,71.648,0,160v192c0,88.352,71.648,160,160,160h192  c88.352,0,160-71.648,160-160V160C512,71.648,440.352,0,352,0z M464,352c0,61.76-50.24,112-112,112H160c-61.76,0-112-50.24-112-112  V160C48,98.24,98.24,48,160,48h192c61.76,0,112,50.24,112,112V352z')
                            lineargradient#SVGID_2_(gradientUnits='userSpaceOnUse' x1='-42.2971' y1='637.8279' x2='-36.6404' y2='643.4846' gradientTransform='matrix(32 0 0 -32 1519 20757)')
                                stop(offset='0' style='stop-color:#FFC107')
                                stop(offset='0.507' style='stop-color:#F44336')
                                stop(offset='0.99' style='stop-color:#9C27B0')
                            path(style='fill:url(#SVGID_2_);' d='M256,128c-70.688,0-128,57.312-128,128s57.312,128,128,128s128-57.312,128-128  S326.688,128,256,128z M256,336c-44.096,0-80-35.904-80-80c0-44.128,35.904-80,80-80s80,35.872,80,80  C336,300.096,300.096,336,256,336z')
                            lineargradient#SVGID_3_(gradientUnits='userSpaceOnUse' x1='-35.5456' y1='644.5793' x2='-34.7919' y2='645.3331' gradientTransform='matrix(32 0 0 -32 1519 20757)')
                                stop(offset='0' style='stop-color:#FFC107')
                                stop(offset='0.507' style='stop-color:#F44336')
                                stop(offset='0.99' style='stop-color:#9C27B0')
                            circle(style='fill:url(#SVGID_3_);' cx='393.6' cy='118.4' r='17.056')
     
                    a.header__follow-link(href="#")
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 511.117 511.117' style='enable-background:new 0 0 511.117 511.117;' xml:space='preserve')
                            path(style='fill:#FFF900;' d='M256,493.903c-0.883,0-2.648,0-3.531,0c-0.883,0-1.766,0-2.648,0  c-30.014,0-45.903-8.828-64.441-22.069c-13.241-8.828-25.6-17.655-39.724-20.303c-7.945-0.883-15.007-1.766-22.069-1.766  c-12.359,0-22.069,1.766-29.131,3.531c-4.414,0.883-7.945,1.766-10.593,1.766s-6.179-0.883-7.945-5.297  c-0.883-4.414-1.766-7.945-2.648-11.476c-1.766-9.71-3.531-15.89-7.945-16.772C16.772,414.455,3.531,403.862,0,396.8  c0-1.766,0-2.648,0-3.531c0-2.648,1.766-5.297,4.414-5.297c74.152-12.359,107.697-88.276,108.579-90.924l0,0  c4.414-8.828,5.297-16.772,2.648-23.834c-5.297-12.359-22.069-17.655-32.662-21.186c-2.648-0.883-5.297-1.766-7.062-2.648  c-22.069-8.828-23.834-17.655-22.952-22.069c1.766-7.945,11.476-13.241,20.303-13.241c2.648,0,4.414,0,6.179,0.883  c9.71,4.414,18.538,7.062,26.483,7.062c10.593,0,15.007-4.414,15.89-5.297c0-5.297-0.883-10.593-0.883-15.89  c-2.648-35.31-5.297-78.566,6.179-103.283C159.779,23.393,230.4,17.214,251.586,17.214c0.883,0,8.828,0,8.828,0h0.883  c21.186,0,91.807,6.179,125.352,80.331c11.476,24.717,7.945,68.855,6.179,103.283v1.766c0,5.297-0.883,9.71-0.883,14.124  c0.883,0.883,4.414,4.414,14.124,5.297l0,0c7.062,0,15.89-2.648,24.717-7.062c2.648-0.883,5.297-1.766,7.945-1.766  c3.531,0,6.179,0.883,8.828,1.766l0,0c7.062,2.648,12.359,7.945,12.359,13.241c0,5.297-3.531,13.241-22.952,20.303  c-1.766,0.883-4.414,1.766-7.062,2.648c-10.593,3.531-27.365,8.828-32.662,21.186c-2.648,6.179-1.766,14.124,2.648,23.834l0,0  c1.766,3.531,32.662,79.448,106.814,91.807c2.648,0.883,4.414,2.648,4.414,5.297c0,0.883,0,1.766-0.883,3.531  c-2.648,7.062-15.007,16.772-63.559,24.717c-3.531,0.883-5.297,5.297-7.945,16.772c-0.883,3.531-1.766,7.945-2.648,11.476  s-3.531,5.297-7.062,5.297h-0.883c-2.648,0-6.179-0.883-10.593-1.766c-7.945-1.766-17.655-2.648-29.131-2.648  c-7.062,0-14.124,0.883-21.186,1.766c-14.124,2.648-26.483,11.476-39.724,20.303C309.848,485.959,286.014,493.903,256,493.903')
    
                    a.header__follow-link(href="#")
                        svg(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 -77 512.00213 512' width='512pt')
                            path(d='m501.453125 56.09375c-5.902344-21.933594-23.195313-39.222656-45.125-45.128906-40.066406-10.964844-200.332031-10.964844-200.332031-10.964844s-160.261719 0-200.328125 10.546875c-21.507813 5.902344-39.222657 23.617187-45.125 45.546875-10.542969 40.0625-10.542969 123.148438-10.542969 123.148438s0 83.503906 10.542969 123.148437c5.90625 21.929687 23.195312 39.222656 45.128906 45.128906 40.484375 10.964844 200.328125 10.964844 200.328125 10.964844s160.261719 0 200.328125-10.546875c21.933594-5.902344 39.222656-23.195312 45.128906-45.125 10.542969-40.066406 10.542969-123.148438 10.542969-123.148438s.421875-83.507812-10.546875-123.570312zm0 0' fill='#f00')
                            path(d='m204.96875 256 133.269531-76.757812-133.269531-76.757813zm0 0' fill='#fff')
            li.header__link.menu-footer
                .footer__bottom
                    a(href="#99").footer__logo
                        img(src="img/logos/logo.png", alt="")
                    .footer__terms 
                        .footer__item
                            a(href="#66") الشروط و الأحكام
                        .footer__item
                            a(href="#66") سياسة الخصوصية
                        .footer__item
                            a(href="#66") اعلن معنا
                    .footer__rights.mr-max  جميع الحقوق محفوظة - 2021 ©
                        

        .header__search
            .header__discount
                a(href="#")
                    img(src="img/discount.png")
            .header__search-box
                input(type="search", name="" , placeholder="اكتب هنا ...")
                .enter-search
                    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 512 512' enable-background='new 0 0 512 512')
                        g
                            path(d='m495,466.1l-110.1-110.1c31.1-37.7 48-84.6 48-134 0-56.4-21.9-109.3-61.8-149.2-39.8-39.9-92.8-61.8-149.1-61.8-56.3,0-109.3,21.9-149.2,61.8-39.9,39.8-61.8,92.8-61.8,149.2 0,56.3 21.9,109.3 61.8,149.2 39.8,39.8 92.8,61.8 149.2,61.8 49.5,0 96.4-16.9 134-48l110.1,110c8,8 20.9,8 28.9,0 8-8 8-20.9 0-28.9zm-393.3-123.9c-32.2-32.1-49.9-74.8-49.9-120.2 0-45.4 17.7-88.2 49.8-120.3 32.1-32.1 74.8-49.8 120.3-49.8 45.4,0 88.2,17.7 120.3,49.8 32.1,32.1 49.8,74.8 49.8,120.3 0,45.4-17.7,88.2-49.8,120.3-32.1,32.1-74.9,49.8-120.3,49.8-45.4,0-88.1-17.7-120.2-49.9z')

            .icon.switch-icon
                svg.search-icon(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 512 512' enable-background='new 0 0 512 512')
                    g
                        path(d='m495,466.1l-110.1-110.1c31.1-37.7 48-84.6 48-134 0-56.4-21.9-109.3-61.8-149.2-39.8-39.9-92.8-61.8-149.1-61.8-56.3,0-109.3,21.9-149.2,61.8-39.9,39.8-61.8,92.8-61.8,149.2 0,56.3 21.9,109.3 61.8,149.2 39.8,39.8 92.8,61.8 149.2,61.8 49.5,0 96.4-16.9 134-48l110.1,110c8,8 20.9,8 28.9,0 8-8 8-20.9 0-28.9zm-393.3-123.9c-32.2-32.1-49.9-74.8-49.9-120.2 0-45.4 17.7-88.2 49.8-120.3 32.1-32.1 74.8-49.8 120.3-49.8 45.4,0 88.2,17.7 120.3,49.8 32.1,32.1 49.8,74.8 49.8,120.3 0,45.4-17.7,88.2-49.8,120.3-32.1,32.1-74.9,49.8-120.3,49.8-45.4,0-88.1-17.7-120.2-49.9z')

                svg.close-icon(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
                    path(fill='none' d='M0 0h24v24H0z')
                    path(d='M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z')
