<!DOCTYPE html>
html(dir='rtl')
  head
    link(rel="icon" type="image/png" href="img/fav.png" )
    link(rel='stylesheet' href='css/style.css')
    meta( name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(charset="UTF-8")
    title So3ody
  body
    .pre-loader.active
      .lds-ellipsis
        div
        div
        div
    #app.wrapper
      include ./_header.pug
      
      
      block content
      include ./_footer.pug
      script(src="js/bundle.js") 

    