#app-content.container 
    .layout
        .box-404
            .inner-404
                img(src="img/404.gif")
                h1 الصفحة غير موجودة
                a.btn.btn--primary.btn--viewall(href='index.html') الرئيسية 


