#app-content.container 
    
    .layout
        main.layout__item.layout__item--large.active(id="layout_large")
            .breadcrumb 
                
                        
                .breadcrumb__section
                    li 
                        a(href="#") الرئيسية
                    li 
                        span من نحن
            .text-page.box-theme.p-15
                h1 من نحن
                p برعاية سعادة السمو الملكي الأمير محمد بن سلمان ودعماً لرؤية ٢٠٣٠ أطلقنا بوابة سعودي دوت كوم لتكون بوابة رياضية شاملة.
                p  وذلك وفق بيئة عمل محترفة وشبكة مراسلين ومحررين متخصصين في المجال الرياضي تعمل على مدار الساعة لنقل الفعاليات الرياضية أولاً بأول من قلب الحدث بمصداقية وشفافية دائمة مع خلق قيمة مضافة للمحتوى المقروء والمرئي وانشاء قاعدة بيانات لأهم البطولات والفرق واللاعبين على المستوى المحلي والعربي والعالمي.
                p  سعودي دوت كوم – تم أطلاقه في يناير ٢٠١٨ وهو ثمرة جهد لمجموعة من الشباب العربي الذي يحمل أحلاماً كبيرة في تطوير المنظومة الإعلامية الرياضية داخل المملكة العربية السعودية.
                p ويحتوي الموقع على العديد من الأقسام والصفحات المتخصصة إضافة الى مركز مباريات متكامل لنقل الأحداث الخاصة بالمباريات أولاً بأول، والتي تلقى اهتمام وشغف القارئ كما يضم مجموعة من الخدمات التفاعلية التي من شأنها تعزيز مكانة البوابة في الوطن العربي مثل التوقعات واستطلاعات الرأي. 
                p تحتل البوابة الأن مكانة متقدمة في السوق العربي بواقع ٢ مليون مستخدم شهرياً وفقاً لإحصائيات موقع جوجل الإحصائي متصدراً كذلك موقع أليكسا ليكون واحد من البوابات العشرة الأولى طبقاً للموقع ذاته على مستوى المملكة العربية السعودية.
                p  يعمل في البوابة قرابة المائة متخصص على مدار الساعة ما بين محرر، مترجم، مراسل، أخصائي فيديو وصور، إضافة الى فريق من المطورين والفنيين لمراعة خلق بيئة عمل محترفة لنقل الحدث بكل مصداقية وشفافية نابذة للتعصب بين جماهير الموقع العريضة. 
                h1 رؤيتنا
                p تزامناً مع رؤية سعادة السمو الملكي الأمير محمد بن سلمان في تطوير المنظومة الرياضية في المملكة العربية السعودية فنحن في سعودي دوت كون – نأمل في تقديم خدمة إعلامية محترفة على مدار الساعة بهدف جعل القارئ على تواصل دائم بالأحداث الرياضية على المستوى المحلي والعربي والعالمي وأن تكون الرياضة جزء من نمط حياتنا اليومية  
                h1 هدفنا
                p أن تكون بوابة سعودي دوت كوم هي البوابة الرياضية الأولى والأشمل في الشرق الأوسط 
                      
        aside.layout__item.layout__item--mini(id="layout_mini")
            div.sticky-box
                .box-theme
                    p.formation-side__head.bottom-grad2 إتصل بنا
                    .p-15.usage-rules__contact
                        .usage-rules__contactRow
                            span  فريق التحرير : 
                            span.usage-rules__contactMail editor@so3ody.com 
                        .usage-rules__contactRow
                            span الإعلانات : 
                            span.usage-rules__contactMail info@mediapanarab.com 
                        .usage-rules__contactRow
                            span طلبات التوظيف : 
                            span.usage-rules__contactMail jobs@so3ody.com 
                        .usage-rules__contactRow
                            span الشكاوى والمقترحات : 
                            span.usage-rules__contactMail tellus@mediapanarab.com 
                .box-theme.mt-15
                    p.formation-side__head.bottom-grad2 للإعلان معنا
                    .p-15
                        .usage-rules__logo
                            a(href="#")
                                img(src="img/agency_ads.jpg")
                        .usage-rules__contact

                            .usage-rules__contactRow
                                span
                                span.mr-max Dubai Media City Shatha Tower 29th Flr 2901.

                            .usage-rules__contactRow
                                span تليفون : 
                                span.usage-rules__contactMail 150 5484 58 971+ 
                            .usage-rules__contactRow
                                span موقع : 
                                span.usage-rules__contactMail www.magadvint.com 
                            .usage-rules__contactRow
                                span البريد الالكتروني : 
                                span.usage-rules__contactMail info@magadvint.com 
                                