#app-content.container
    .layout
        main.layout__item.layout__item--large(id="layout_large")
            .breadcrumb 
                    .breadcrumb__category
                        h1 بطولات
                        
                    .breadcrumb__section
                        li 
                            a(href="#") الرئيسية
                        li 
                            span بطولات
            .all-competitions
                -for(let x = 0 ; x < 3; x++)
                    .all-competitions__title بطولات اسيا
                    .row
                        -for(let x = 0 ; x < 10; x++)
                            .col-md-3.col-sm-6.col-xs-12.mt-15
                                include ../components/_competition-card.pug


        aside.layout__item.layout__item--mini(id="layout_mini")
            div.sticky-box
                include ../components/_formation-side.pug
                .mt-15.box-theme.ads-card.p-15
                    img(src="img/300.jpeg", alt="")