#app-content.container
    .layout
        main.layout__item.layout__item--large.layout__item--maxwidth(id="layout_large")
            include ../components/_profile-intro
            .row.mobile-horizontal-scroll
                .col-md-3.col-sm-6.col-xs-12.mt-15
                    .statistics-box.box-theme.line-under
                        p.statistics-box__title جولات ملعوبة
                        .statistics-box__info
                            //- .statistics-box__percent
                            .statistics-box__icon
                                span.icon.icon--large.green
                                    svg#Capa_1(enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg')
                                        path(d='m502 68.498h-492c-5.522 0-10 4.478-10 10v355.004c0 5.522 4.478 10 10 10h492c5.522 0 10-4.478 10-10v-355.004c0-5.522-4.478-10-10-10zm-256 252.724c-31.653-4.833-55.979-32.24-55.979-65.222s24.326-60.389 55.979-65.222zm20-130.444c31.653 4.833 55.979 32.24 55.979 65.222s-24.326 60.389-55.979 65.222zm-246-4.65h59.511v139.744h-59.511zm0 159.744h69.511c5.522 0 10-4.478 10-10v-159.744c0-5.522-4.478-10-10-10h-69.511v-77.63h226v82.102c-42.715 4.97-75.979 41.373-75.979 85.4s33.263 80.43 75.979 85.4v82.102h-226zm246 77.63v-82.102c42.715-4.97 75.979-41.373 75.979-85.4s-33.264-80.43-75.979-85.4v-82.102h226v77.63h-69.511c-5.522 0-10 4.478-10 10v159.744c0 5.522 4.478 10 10 10h69.511v77.63zm226-97.63h-59.511v-139.744h59.511z')
                            .statistics-box__data
                                p 30 جولة
                                span.green 480 مباراة
                .col-md-3.col-sm-6.col-xs-12.mt-15
                        .statistics-box.box-theme.line-under
                            p.statistics-box__title أهداف
                            .statistics-box__info
                                .statistics-box__icon
                                    span.icon.icon--large.green
                                        svg#Capa_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='72.371px' height='72.372px' viewBox='0 0 72.371 72.372' style='enable-background:new 0 0 72.371 72.372;' xml:space='preserve')
                                            g
                                                path(d='M22.57,2.648c-4.489,1.82-8.517,4.496-11.971,7.949C7.144,14.051,4.471,18.08,2.65,22.568C0.892,26.904,0,31.486,0,36.186\
                                                c0,4.699,0.892,9.281,2.65,13.615c1.821,4.489,4.495,8.518,7.949,11.971c3.454,3.455,7.481,6.129,11.971,7.949\
                                                c4.336,1.76,8.917,2.649,13.617,2.649c4.7,0,9.28-0.892,13.616-2.649c4.488-1.82,8.518-4.494,11.971-7.949\
                                                c3.455-3.453,6.129-7.48,7.949-11.971c1.758-4.334,2.648-8.916,2.648-13.615c0-4.7-0.891-9.282-2.648-13.618\
                                                c-1.82-4.488-4.496-8.518-7.949-11.971s-7.479-6.129-11.971-7.949C45.467,0.891,40.887,0,36.187,0\
                                                C31.487,0,26.906,0.891,22.57,2.648z M9.044,51.419c-1.743-1.094-3.349-2.354-4.771-3.838c-2.172-6.112-2.54-12.729-1.101-19.01\
                                                c0.677-1.335,1.447-2.617,2.318-3.845c0.269-0.379,0.518-0.774,0.806-1.142l8.166,4.832c0,0.064,0,0.134,0,0.205\
                                                c-0.021,4.392,0.425,8.752,1.313,13.049c0.003,0.02,0.006,0.031,0.01,0.049l-6.333,9.93C9.314,51.579,9.177,51.503,9.044,51.419z\
                                                M33.324,68.206c1.409,0.719,2.858,1.326,4.347,1.82c-6.325,0.275-12.713-1.207-18.36-4.447L33,68.018\
                                                C33.105,68.085,33.212,68.149,33.324,68.206z M33.274,65.735L17.12,62.856c-1.89-2.295-3.59-4.723-5.051-7.318\
                                                c-0.372-0.66-0.787-1.301-1.102-1.99l6.327-9.92c0.14,0.035,0.296,0.072,0.473,0.119c3.958,1.059,7.986,1.812,12.042,2.402\
                                                c0.237,0.033,0.435,0.062,0.604,0.08l7.584,13.113c-1.316,1.85-2.647,3.69-4.007,5.51C33.764,65.155,33.524,65.446,33.274,65.735z\
                                                M60.15,60.149c-1.286,1.287-2.651,2.447-4.08,3.481c-0.237-1.894-0.646-3.75-1.223-5.563l8.092-15.096\
                                                c2.229-1.015,4.379-2.166,6.375-3.593c0.261-0.185,0.478-0.392,0.646-0.618C69.374,46.561,66.104,54.196,60.15,60.149z\
                                                M59.791,40.571c0.301,0.574,0.598,1.154,0.896,1.742l-7.816,14.58c-0.045,0.01-0.088,0.02-0.133,0.026\
                                                c-4.225,0.789-8.484,1.209-12.779,1.229l-7.8-13.487c1.214-2.254,2.417-4.517,3.61-6.781c0.81-1.536,1.606-3.082,2.401-4.627\
                                                l16.143-1.658C56.29,34.495,58.163,37.457,59.791,40.571z M56.516,23.277c-0.766,2.023-1.586,4.025-2.401,6.031l-15.726,1.615\
                                                c-0.188-0.248-0.383-0.492-0.588-0.725c-1.857-2.103-3.726-4.193-5.592-6.289c0.017-0.021,0.034-0.037,0.051-0.056\
                                                c-0.753-0.752-1.508-1.504-2.261-2.258l4.378-13.181c0.302-0.08,0.606-0.147,0.913-0.18c2.38-0.242,4.763-0.516,7.149-0.654\
                                                c1.461-0.082,2.93-0.129,4.416-0.024l10.832,12.209C57.314,20.943,56.95,22.124,56.516,23.277z M60.15,12.221\
                                                c2.988,2.99,5.302,6.402,6.938,10.047c-2.024-1.393-4.188-2.539-6.463-3.473c-0.354-0.146-0.717-0.275-1.086-0.402L48.877,6.376\
                                                c0.074-0.519,0.113-1.039,0.129-1.563C53.062,6.464,56.864,8.936,60.15,12.221z M25.334,4.182c0.042,0.031,0.062,0.057,0.086,0.064\
                                                c2.437,0.842,4.654,2.082,6.744,3.553l-4.09,12.317c-0.021,0.006-0.041,0.012-0.061,0.021c-0.837,0.346-1.69,0.656-2.514,1.031\
                                                c-3.395,1.543-6.705,3.252-9.823,5.301l-8.071-4.775c0.012-0.252,0.055-0.508,0.141-0.736c0.542-1.444,1.075-2.896,1.688-4.311\
                                                c0.472-1.09,1.01-2.143,1.597-3.172c0.384-0.424,0.782-0.844,1.192-1.254c3.833-3.832,8.363-6.553,13.186-8.162\
                                                C25.384,4.098,25.358,4.139,25.334,4.182z')


                                .statistics-box__data
                                    p 900 هدف
                                    span.green 300
                                    span.slash / 
                                    span.green 90
                .col-md-3.col-sm-6.col-xs-12.mt-15
                    .statistics-box.box-theme.line-under
                        p.statistics-box__title كروت صفراء
                        .statistics-box__info
                            .statistics-box__icon
                                span.icon.icon--large.yellow
                                    svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.263 15.316')
                                        g(transform='translate(-5.842 -2.842)')
                                            rect#Rectangle_1534.cls-1(data-name='Rectangle 1534' width='10.105' height='15.158' rx='2' transform='translate(5.921 2.921)')
                                            rect#Rectangle_1535.cls-2(data-name='Rectangle 1535' width='9.263' height='14.316' rx='2' transform='translate(6.342 3.342)')

                            .statistics-box__data
                                p 120
                                span.green 300
                                span.slash / 
                                span.green 90
                .col-md-3.col-sm-6.col-xs-12.mt-15
                    .statistics-box.box-theme.line-under
                        p.statistics-box__title كروت حمراء
                        .statistics-box__info
                            .statistics-box__icon
                                span.icon.icon--large.red
                                    svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.263 15.316')
                                        g(transform='translate(-5.842 -2.842)')
                                            rect#Rectangle_1534.cls-1(data-name='Rectangle 1534' width='10.105' height='15.158' rx='2' transform='translate(5.921 2.921)')
                                            rect#Rectangle_1535.cls-2(data-name='Rectangle 1535' width='9.263' height='14.316' rx='2' transform='translate(6.342 3.342)')

                            .statistics-box__data
                                p 150
                                span.green 300
                                span.slash / 
                                span.green 90
            .competition-table
                .table-box.box-theme.mt-15
                    .formation-side
                        .formation-side__head.bottom-grad2 جدول الترتيب
                    .inner-body
                        .table-box__row.table-box__row--head
                            .table-box__col.table-box__col--first #
                            .table-box__col.table-box__col--large الفريق
                            .table-box__col لعب 
                            .table-box__col فوز 
                            .table-box__col تعادل
                            .table-box__col خسارة 
                            .table-box__col فرق أهداف
                            .table-box__col أخر مباريات
                            .table-box__col.mark نقاط
                        -for(let i = 1 ; i < 5 ; i++)
                            .table-box__row
                                .table-box__col.table-box__col--first
                                    span.number #{i}
                                .table-box__col.table-box__col--large 
                                    .img-beside-text
                                        a(href='team.html')
                                        img(src="img/logos/1.png")
                                        p باريس سان جيرمان
                                .table-box__col.number 25 
                                .table-box__col.number 25
                                .table-box__col.number 25
                                .table-box__col.number 25 
                                .table-box__col.number 25
                                .table-box__col.last-results
                                    svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                            path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                            path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                    svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                        path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                        path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                    svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                        g
                                            g#remove-circle
                                                path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                    svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                        g
                                            g#remove-circle
                                                path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                    svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                        path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                        path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                

                                .table-box__col.number.mark 25
            .common-title
                p جدول الترتيب  
            .competition-table
                .table-box.box-theme.mt-15.bottom-grad2
                    .table-tabs.flex 
                        .table-tabs__tab.active المجموعة الأولى
                        .table-tabs__tab المجموعة الثانية
                        .table-tabs__tab المجموعة الثالثة
                        .table-tabs__tab المجموعة الرابعة
                        .table-tabs__tab المجموعة الخامسة
                        .table-tabs__tab المجموعة السادسة
                        .table-tabs__tab المجموعة السابعة
                    
                    .inner-body.table-switch-content.switch-content.active
                        .table-box__row.table-box__row--head
                            .table-box__col.table-box__col--first #
                            .table-box__col.table-box__col--large الفريق
                            .table-box__col لعب 
                            .table-box__col فوز 
                            .table-box__col تعادل
                            .table-box__col خسارة 
                            .table-box__col فرق أهداف
                            .table-box__col أخر مباريات
                            .table-box__col.mark نقاط
                        -for(let i = 1 ; i < 5 ; i++)
                            .table-box__row
                                .table-box__col.table-box__col--first
                                    span.number #{i}
                                .table-box__col.table-box__col--large 
                                    .img-beside-text
                                        a(href='team.html')
                                        img(src="img/logos/4.png")
                                        p  مانشستر يونايتد 
                                .table-box__col.number 25 
                                .table-box__col.number 25
                                .table-box__col.number 25
                                .table-box__col.number 25 
                                .table-box__col.number 25
                                .table-box__col.last-results
                                    svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                            path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                            path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                    svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                        path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                        path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                    svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                        g
                                            g#remove-circle
                                                path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                    svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                        g
                                            g#remove-circle
                                                path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                    svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                        path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                        path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                
                                .table-box__col.number.mark 25
                    -for(let x = 0 ; x < 6 ; x++)
                        .inner-body.table-switch-content.switch-content
                            .table-box__row.table-box__row--head
                                .table-box__col.table-box__col--first #
                                .table-box__col.table-box__col--large الفريق
                                .table-box__col لعب 
                                .table-box__col فوز 
                                .table-box__col تعادل
                                .table-box__col خسارة 
                                .table-box__col فرق أهداف
                                .table-box__col أخر مباريات
                                .table-box__col.mark نقاط
                            -for(let i = 1 ; i < 5 ; i++)
                                .table-box__row
                                    .table-box__col.table-box__col--first
                                        span.number #{i}
                                    .table-box__col.table-box__col--large 
                                        .img-beside-text
                                            a(href='team.html')
                                            img(src="img/logos/1.png")
                                            p باريس سان جيرمان
                                    .table-box__col.number 25 
                                    .table-box__col.number 25
                                    .table-box__col.number 25
                                    .table-box__col.number 25 
                                    .table-box__col.number 25
                                    .table-box__col.last-results
                                        svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                            path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                            path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                        svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                            g
                                                g#remove-circle
                                                    path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                        svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                            g
                                                g#remove-circle
                                                    path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                        svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                            path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                            path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                    
                                    .table-box__col.number.mark 25
                
            include ../components/_knock-out

            .competition-matches.mt-15
                .common-title
                    p مباريات
                    .select-theme.select-theme--noshadow
                        .select-theme__current(tabindex='1')
                            .select-theme__value
                                input#4.select-theme__input(type='radio', value='1', name='round', checked='checked')
                                p.select-theme__input-text الجولة 22
                            .select-theme__value
                                input#5.select-theme__input(type='radio', value='2', name='round')
                                p.select-theme__input-text الجولة 23
                            .select-theme__value
                                input#6.select-theme__input(type='radio', value='3', name='round')
                                p.select-theme__input-text الجولة 24
                            span.icon.select-theme__icon
                                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 185.344 185.344', style='enable-background:new 0 0 185.344 185.344;', xml:space='preserve')
                                    g
                                        g
                                        path(d='M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18\
                                        c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0\
                                        c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z')
                        ul.select-theme__list
                            li
                                label.select-box__option(for='4', aria-hidden='aria-hidden') الجولة 22
                            li
                                label.select-box__option(for='5', aria-hidden='aria-hidden') الجولة 23
                            li
                                label.select-box__option(for='6', aria-hidden='aria-hidden') الجولة 24
                    //- .select-box
                        select
                            option(value='Option 1')  الجولة 22
                            option(value='Option 2')  الجولة 24
                            option(value='Option 3')  الجولة 18
                             
                    //- a(href="#") كل الإحصائيات
                -for(let i=0;i<2;i++)
                    .competition-matches__head
                        p الأحد 27/11/2021
                        
                    .competition-matches__body.mb-15
                        .match-card-wide
                            .match-card-wide__match
                                a(href="team.html").match-card-wide__team.teamA
                                    .match-card-wide__team-name
                                        p.match-card-wide__text مانشستر يونايتد
                                        .match-card-wide__icons
                                            svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                            svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                            svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                g
                                                    g#remove-circle
                                                        path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                            svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                g
                                                    g#remove-circle
                                                        path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                            svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                    .match-card-wide__team-logo
                                        img(src="./img/logos/4.png", alt="")
                                .match-card-wide__center
                                    .match-card-wide__result-box.match-ended
                                        .match-card-wide__result 3 : 2
                                            .match-card-wide__bottom-line
                                        .match-card-wide__time انتهت
                                a(href="team.html").match-card-wide__team.teamB
                                    .match-card-wide__team-name
                                        p.match-card-wide__text مانشستر سيتي
                                        .match-card-wide__icons
                                            svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                            svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                            svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                g
                                                    g#remove-circle
                                                        path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                            svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                g
                                                    g#remove-circle
                                                        path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                            svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                    .match-card-wide__team-logo
                                        img(src="./img/logos/1.png", alt="")
                            .match-card-wide__link
                                a(href="single-match.html").match-card-wide__btn.btn.btn--primary تقرير المباراة
                        .match-card-wide
                            .match-card-wide__match
                                a(href="team.html").match-card-wide__team.teamA
                                    .match-card-wide__team-name
                                        p.match-card-wide__text مانشستر يونايتد
                                        .match-card-wide__icons
                                            svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                            svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                            svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                g
                                                    g#remove-circle
                                                        path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                            svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                g
                                                    g#remove-circle
                                                        path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                            svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                    .match-card-wide__team-logo
                                        img(src="./img/logos/4.png", alt="")
                                .match-card-wide__center
                                    .match-card-wide__result-box
                                        .match-card-wide__result - : -
                                            .match-card-wide__bottom-line
                                        .match-card-wide__time 09:15
                                a(href="team.html").match-card-wide__team.teamB
                                    .match-card-wide__team-name
                                        p.match-card-wide__text مانشستر سيتي
                                        .match-card-wide__icons
                                            svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                            svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                            svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                g
                                                    g#remove-circle
                                                        path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                            svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                g
                                                    g#remove-circle
                                                        path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                            svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                    .match-card-wide__team-logo
                                        img(src="./img/logos/1.png", alt="")
                            .match-card-wide__link
                                a(href="single-match.html").match-card-wide__btn.btn.btn--primary تقرير المباراة
            //- a.btn.btn--primary.btn--viewall(href='#') كل المباريات                
            


            
            .common-title
                p إحصائيات اللاعبين
                a(href="statistics-players.html") كل الإحصائيات
            .most-players
                .row.mobile-horizontal-scroll
                    -let arr =   ['هدافين','صناعة أهداف','كلين شيت','عدد المشاركات']

                    -for(let x = 0 ; x < 4 ; x++)
                        -let _post = {title:arr[x]}
                        .col-md-3.col-sm-6.col-xs-12.mt-15
                            include ../components/_most-players.pug
            .common-title.mt-15
                p إحصائيات الفرق
                a(href="statistics-teams.html") كل الإحصائيات
            .most-players
                .row.mobile-horizontal-scroll
                    -let _arr =   ['أهداف','صناعة الأكثر فوز','كروت صفراء','كروت حمراء']
                        -for(let x = 0 ; x < 4 ; x++)
                            .col-md-3.col-sm-6.col-xs-12.mt-15
                                .most-players-card.most-players-card--teams.box-theme
                                    .most-players-card__head.bottom-grad2 #{_arr[x]}
                                    a(href="player.html").most-players-card__player.first.bottom-grad2
                                        .most-players-card__info
                                            .most-players-card__info-row
                                                .most-players-card__name 1. الهلال 
                                                .most-players-card__score 29
                                            
                                        .most-players-card__img
                                            img(src="img/logos/1.png", alt="")
                                    -for(let x = 0 ; x < 4 ; x++)
                                        a(href="player.html").most-players-card__player.second
                                            .most-players-card__info
                                                .most-players-card__info-row
                                                    .most-players-card__name 1. الهلال 
                                                    .most-players-card__score 29
                                            
                                            .most-players-card__img
                                                img(src="img/logos/1.png", alt="")
                                    a(href="player.html").most-players-card__btn كل القائمة
            
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        aside.layout__item.layout__item--mini(id="layout_mini")
            div.sticky-box
                //- include ../components/_side-matches
                .box-theme.ads-card.p-15
                    img(src="img/300.jpeg", alt="")