#app-content.container 
    .recommended-teams.box-theme
        -let arr = ['1','2','3','4','1','2','3','4','1','2','3','4','1','2','3','4','1','2','3','4']
        -for(let i=0;i<arr.length;i++)
            a(href="team.html")
                img(src='img/logos/'+arr[i]+'.png')
    //- .main-tabs 
        li.active(data-tab="layout_large") أخبار
        li(data-tab="layout_mini") مباريات
    .layout
        main.layout__item.layout__item--large(id="layout_large")
            
            .group-grid 
                .group-grid__top
                    .group-grid__main 
                        -for(let i=0; i<=0; i++)
                            -
                                let post = {
                                    img:data.content[i].img,
                                    caption:data.content[i].title,
                                    modifier:'post-news--over post-news--large',
                                    category:true,
                                    readmore:true
                                }
                            include ../components/_post-news.pug
                    
                    .home-matches
                    .group-grid__aside
                        .group-grid__video
                            -for(let i=1; i<=1; i++)
                                -
                                    let post = {
                                        img:data.content[i].img,
                                        caption:data.content[i].title,
                                        modifier:'post-news--card',
                                        
                                        
                                        isVideo:true,
                                        video_keyword:true
                                    }
                                include ../components/_post-news.pug
                        .group-grid__others 
                            -for(let i=2; i<=3; i++)
                                .post-news.post-news--horizontal.post-news--mini
                                    a.post-news__link(href='single-news.html')
                                    .post-news__img
                                        span.post-news__video
                                            svg#Iconly_Bulk_Play(data-name='Iconly/Bulk/Play' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 30 30')
                                                defs
                                                    lineargradient#linear-gradient(x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox')
                                                        stop(offset='0' stop-color='#24a557')
                                                        stop(offset='1' stop-color='#bafb3c')
                                                g#Play
                                                    path#Fill_1(data-name='Fill 1' d='M30,15.007A15,15,0,1,1,15,0,15.018,15.018,0,0,1,30,15.007' fill='url(#linear-gradient)')
                                                    path#Fill_4(data-name='Fill 4' d='M10.5,6.007a1.729,1.729,0,0,1-.358,1.064,5.791,5.791,0,0,1-.418.467l-.089.087a22.729,22.729,0,0,1-5.951,3.966A5.212,5.212,0,0,1,2.3,12h-.06a1.882,1.882,0,0,1-1.656-.99A8.193,8.193,0,0,1,.224,9.683,26.443,26.443,0,0,1,0,5.993,22.819,22.819,0,0,1,.254,2.187,9.572,9.572,0,0,1,.522,1.123a1.913,1.913,0,0,1,.835-.9A2.133,2.133,0,0,1,2.3,0,5.164,5.164,0,0,1,3.535.335,22.836,22.836,0,0,1,9.62,4.36c.209.2.433.453.492.51A1.814,1.814,0,0,1,10.5,6.007' transform='translate(10.5 9)' fill='#fff')
                                    .post-news__data
                                        p.post-news__title صراع مع الأهلي وعودة المتألق.. الكفاءة المالية تحدد حارس النصر المنتظر صراع مع الأهلي وعودة المتألق.. الكفاءة المالية تحدد حارس النصر المنتظر

                                //- -
                                //-     let post = {
                                //-         img:data.content[i].img,
                                //-         caption:data.content[i].title,
                                //-         modifier:'post-news--horizontal',
                                //-         miniVideo:true,
                                //-     }
                                //- include ../components/_post-news.pug
                .group-grid__bottom
                    -for(let i=3; i<=4; i++)
                        .group-grid__wrap
                            -
                                let post = {
                                    img:data.content[i].img,
                                    caption:data.content[i].title,
                                    modifier:'post-news--horizontal',
                                    category:true     
                                }
                            include ../components/_post-news.pug
                    -for(let i=4; i<=4; i++)
                        .group-grid__wrap
                            -
                                let post = {
                                    img:data.content[i].img,
                                    caption:data.content[i].title,
                                    modifier:'post-news--horizontal',
                                    //- category:true
                                    infographic:true     
                                }
                            include ../components/_post-news.pug
            .main-title
                p أخر الأخبار
                .main-title__side
                    span.active الكل
                    span أخبار
                    span إنفوجرافيك


                    //- a(href="#").active الكل
                    //- a(href="#") أخبار
                    //- a(href="#") إنفوجرافيك
            .row 
                -for(let i=0; i<=0; i++)
                    .col-md-4.col-sm-6
                        -
                            let post = {
                                img:data.content[i].img,
                                caption:data.content[i].title,
                                modifier:'post-news--card',
                                category:true,
                                info:true   
                            }
                        include ../components/_post-news.pug
                -for(let i=1; i<=2; i++)
                    .col-md-4.col-sm-6
                        -
                            let post = {
                                img:data.content[i].img,
                                caption:data.content[i].title,
                                modifier:'post-news--card post-news--mobile',
                                category:true,
                                info:true   
                            }
                        include ../components/_post-news.pug
                -for(let i=0; i<=2; i++)
                    .col-md-4.col-sm-6
                        -
                            let post = {
                                img:data.content[i].img,
                                caption:data.content[i].title,
                                modifier:'post-news--card post-news--mobile',
                                infographic:true,
                                info:true   
                            }
                        include ../components/_post-news.pug
            a.btn.btn--primary.btn--viewall(href="news.html") المزيد 
            .main-title
                p أهم البطولات
                .main-title__side
                    a(href="all-competitions.html") كل البطولات
            .row.home-competitions
                -for(let i=0;i<6;i++)
                    .col-md-2.col-sm-4.col-xs-6
                        .competition_view.box-theme 
                            a(href="competition.html")
                            img(src="img/logos/1.png")
                            p كأس دوري الأمير محمد بن سلمان
            .main-title
                p فيديوهات
                .main-title__side
                    a(href="videos.html") كل الفيديوهات
            .videos-grid
                .videos-grid__box.videos-grid__box--main
                    -for(let i=0; i<1; i++)
                        -
                            let post = {
                                img:data.content[i].img,
                                caption:data.content[i].title,
                                modifier:'post-news--card post-news--video',
                                isVideo:true,
                                info:true,
                                abstract:true,
                                //- length:true,
                            }
                        include ../components/_post-news.pug
                .videos-grid__box.videos-grid__box--others
                    -for(let i=1; i<5; i++)
                        -
                            let post = {
                                img:data.content[i].img,
                                caption:data.content[i].title,
                                modifier:'post-news--card post-news--video post-news--mobile',
                                isVideo:true,
                                info:true,
                                //- length:true,
                            }
                        include ../components/_post-news.pug
            a.btn.btn--primary.btn--viewall(href="#") كل الفيديوهات 
            .main-title
                p قصص
                .main-title__side
                    a(href="stories.html") كل القصص
            include ../components/_stories.pug      
            //- .group-grid__bottom.mt-15
                   
                   


        aside.layout__item.layout__item--mini(id="layout_mini")
            div.sticky-box
                include ../components/_side-matches.pug
                include ../components/_trend.pug
                include ../components/_survey.pug
                .mt-15.box-theme.ads-card.p-15
                    img(src="img/300.jpeg", alt="")

.break-news
    .break-news__head
        p عاجل
    .break-news__title
        a(href="#") صحف العالم اليوم الأحد| مدرب جديد في برشلونة.. ويوفنتوس يبيع نجمه إلى مانشستر سيتي
    .break-news__close
        span.icon
            svg#Layer_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve')
                g
                    g
                        path(d='M294.111,256.001L504.109,46.003c10.523-10.524,10.523-27.586,0-38.109c-10.524-10.524-27.587-10.524-38.11,0L256,217.892\
                        L46.002,7.894c-10.524-10.524-27.586-10.524-38.109,0s-10.524,27.586,0,38.109l209.998,209.998L7.893,465.999\
                        c-10.524,10.524-10.524,27.586,0,38.109c10.524,10.524,27.586,10.523,38.109,0L256,294.11l209.997,209.998\
                        c10.524,10.524,27.587,10.523,38.11,0c10.523-10.524,10.523-27.586,0-38.109L294.111,256.001z')
