#app-content.container(page-type="player")
    .layout
        main.layout__item.layout__item--large(id="layout_large")
            .profile-intro.box-theme.line-under
                .profile-intro__info
                    .profile-intro__main.player-intro
                        img(src="img/logos/99.png")
                        .profile-intro__data
                            h1.profile-intro__title فهد المولد   
                            .img-beside-text
                                img(src="img/saudi.jpg")
                                p السعودية
                    .profile-intro__side
                        .flex
                            .select-theme.select-theme--mini.select-theme--img.select-comp
                                .select-theme__current(tabindex='2')
                                    .select-theme__value
                                        input#4.select-theme__input(type='radio', value='1', player-id='12203', name='competition', checked='checked')
                                        .select-theme__input-text.flex
                                            img(src="img/logos/1.png", alt="")
                                            p الدوري
                                    .select-theme__value
                                        input#5.select-theme__input(type='radio', value='2', player-id='12201', name='competition')
                                        .select-theme__input-text.flex
                                            img(src="img/logos/1.png", alt="")
                                            p الكاس
                                    .select-theme__value
                                        input#6.select-theme__input(type='radio', value='6', player-id='12202', name='competition')
                                        .select-theme__input-text.flex
                                            img(src="img/logos/1.png", alt="")
                                            p دوري الابطال
                                    span.icon.select-theme__icon
                                        svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 185.344 185.344', style='enable-background:new 0 0 185.344 185.344;', xml:space='preserve')
                                            g
                                                g
                                                path(d='M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18\
                                                c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0\
                                                c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z')
                                ul.select-theme__list
                                    li
                                        label.select-box__option(for='4', aria-hidden='aria-hidden').flex
                                            img(src="img/logos/1.png", alt="")
                                            p الدوري
                                    li
                                        label.select-box__option(for='5', aria-hidden='aria-hidden').flex
                                            img(src="img/logos/1.png", alt="")
                                            p الكاس
                                    li
                                        label.select-box__option(for='6', aria-hidden='aria-hidden').flex
                                            img(src="img/logos/1.png", alt="")
                                            p دوري الابطال
                            .select-theme.select-theme--mini.mr-15.select-season
                                .select-theme__current(tabindex='1')
                                    .select-theme__value
                                        input#1.select-theme__input(type='radio', value='1', name='season', checked='checked')
                                        p.select-theme__input-text 2021
                                    .select-theme__value
                                        input#2.select-theme__input(type='radio', value='2', name='season')
                                        p.select-theme__input-text 2020
                                    .select-theme__value
                                        input#3.select-theme__input(type='radio', value='3', name='season')
                                        p.select-theme__input-text 2019
                                    span.icon.select-theme__icon
                                        svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 185.344 185.344', style='enable-background:new 0 0 185.344 185.344;', xml:space='preserve')
                                            g
                                                g
                                                path(d='M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18\
                                                c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0\
                                                c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z')
                                ul.select-theme__list
                                    li
                                        label.select-box__option(for='1', aria-hidden='aria-hidden') 2021
                                    li
                                        label.select-box__option(for='2', aria-hidden='aria-hidden') 2020
                                    li
                                        label.select-box__option(for='3', aria-hidden='aria-hidden') 2019
                        
                        //- .select-theme.select-theme--mini
                        //-     .select-theme__current(tabindex='1')
                        //-         .select-theme__value
                        //-             input#1.select-theme__input(type='radio', value='1', name='season', checked='checked')
                        //-             p.select-theme__input-text 2021
                        //-         .select-theme__value
                        //-             input#2.select-theme__input(type='radio', value='2', name='season')
                        //-             p.select-theme__input-text 2020
                        //-         .select-theme__value
                        //-             input#3.select-theme__input(type='radio', value='3', name='season')
                        //-             p.select-theme__input-text 2019
                        //-         span.icon.select-theme__icon
                        //-             svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 185.344 185.344', style='enable-background:new 0 0 185.344 185.344;', xml:space='preserve')
                        //-                 g
                        //-                     g
                        //-                     path(d='M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18\
                        //-                     c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0\
                        //-                     c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z')
                        //-     ul.select-theme__list
                        //-         li
                        //-             label.select-box__option(for='1', aria-hidden='aria-hidden') 2021
                        //-         li
                        //-             label.select-box__option(for='2', aria-hidden='aria-hidden') 2020
                        //-         li
                        //-             label.select-box__option(for='3', aria-hidden='aria-hidden') 2019
                        //- .select-box
                        //-     select
                        //-         option(value='Option 1')  2021
                        //-         option(value='Option 2')  2020
                        //-         option(value='Option 3')  2019
                        //-         option(value='Option 4')  2018 
                .profile-intro__team-info
                    .profile-intro__item
                        .profile-intro__type تاريخ الميلاد  :
                        .profile-intro__type-green 23مارس1990 
                    .profile-intro__item
                        .profile-intro__type  المركز : 
                        .profile-intro__type-green مهاجم 
                    .profile-intro__item
                        .profile-intro__type  رقم قميص الفريق : 
                        .profile-intro__type-green  4 
                    .profile-intro__item
                        .profile-intro__type رقم قميص المنتخب : 
                        .profile-intro__type-green 14  
                    .profile-intro__item
                        .profile-intro__type القدم المفضلة   : 
                        .profile-intro__type-green اليسار  

            .flex.mt-15
                
                .competition-head-tabs.flex
                    .competition-tab.table-tabs__tab.active
                        .img-beside-text
                            img(src="img/logos/226.png", alt="")
                            p الدوري السعودي
                    .competition-tab.table-tabs__tab
                        .img-beside-text
                            img(src="img/logos/226.png", alt="")
                            p الدوري الاوروبي
                    .competition-tab.table-tabs__tab
                        .img-beside-text
                            img(src="img/logos/226.png", alt="")
                            p الدوري المصري
            
            .common-title.mt-15
                        p  جدول الترتيب
            .switch-content.table-switch-content.active
                    
                    //- div content all
                    .table-box.box-theme.mt-15
                        .table-box__row.table-box__row--head
                                .table-box__col.table-box__col--first #
                                .table-box__col.table-box__col--large الفريق
                                .table-box__col لعب 
                                .table-box__col فوز 
                                .table-box__col تعادل
                                .table-box__col خسارة 
                                .table-box__col فرق أهداف
                                .table-box__col أخر مباريات
                                .table-box__col.mark نقاط
                        .inner-body
                            
                            -for(let i = 1 ; i < 5 ; i++)
                                .table-box__row
                                    .table-box__col.table-box__col--first
                                        span.number #{i}
                                    .table-box__col.table-box__col--large 
                                        .img-beside-text
                                            a(href='team.html')
                                            img(src="img/logos/2.png")
                                            p  مانشستر يونايتد 
                                    .table-box__col.number 25 
                                    .table-box__col.number 25
                                    .table-box__col.number 25
                                    .table-box__col.number 25 
                                    .table-box__col.number 25
                                    .table-box__col.last-results
                                        svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                            path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                            path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                        svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                            g
                                                g#remove-circle
                                                    path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                        svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                            g
                                                g#remove-circle
                                                    path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                        svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                            path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                            path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                    
                                    .table-box__col.number.mark 25

                        
                    .competition-matches.box-theme.mt-15
                        .competition-matches__head
                            p مباريات
                            p الجولة
                                span 14
                        .competition-matches__body
                            .match-card-wide
                                .match-card-wide__match
                                    a(href="team.html").match-card-wide__team.teamA
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر يونايتد
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/4.png", alt="")
                                    .match-card-wide__center
                                        .match-card-wide__result-box.match-ended
                                            .match-card-wide__result 3 : 2
                                                .match-card-wide__bottom-line
                                            .match-card-wide__time انتهت
                                    a(href="team.html").match-card-wide__team.teamB
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر سيتي
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/1.png", alt="")
                                .match-card-wide__link
                                    a(href="single-match.html").match-card-wide__btn.btn.btn--primary تقرير المباراة
                            .match-card-wide
                                .match-card-wide__match
                                    a(href="team.html").match-card-wide__team.teamA
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر يونايتد
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/4.png", alt="")
                                    .match-card-wide__center
                                        .match-card-wide__result-box
                                            .match-card-wide__result - : -
                                                .match-card-wide__bottom-line
                                            .match-card-wide__time 09:15
                                    a(href="team.html").match-card-wide__team.teamB
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر سيتي
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/1.png", alt="")
                                .match-card-wide__link
                                    a(href="single-match.html").match-card-wide__btn.btn.btn--primary تقرير المباراة
                    a.btn.btn--primary.btn--viewall(href='#') كل المباريات                
                
            -for(let n = 0 ; n < 2 ; n++)
                .switch-content.table-switch-content
                    
                    //- div content all
                    .table-box.box-theme.mt-15
                        .table-box__row.table-box__row--head
                                .table-box__col.table-box__col--first #
                                .table-box__col.table-box__col--large الفريق
                                .table-box__col لعب 
                                .table-box__col فوز 
                                .table-box__col تعادل
                                .table-box__col خسارة 
                                .table-box__col فرق أهداف
                                .table-box__col أخر مباريات
                                .table-box__col.mark نقاط
                        .inner-body
                            
                            -for(let i = 1 ; i < 5 ; i++)
                                .table-box__row
                                    .table-box__col.table-box__col--first
                                        span.number #{i}
                                    .table-box__col.table-box__col--large 
                                        .img-beside-text
                                            a(href='team.html')
                                            img(src="img/logos/2.png")
                                            p  مانشستر يونايتد 
                                    .table-box__col.number 25 
                                    .table-box__col.number 25
                                    .table-box__col.number 25
                                    .table-box__col.number 25 
                                    .table-box__col.number 25
                                    .table-box__col.last-results
                                        svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                            path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                            path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                        svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                            g
                                                g#remove-circle
                                                    path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                        svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                            g
                                                g#remove-circle
                                                    path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                        svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                            path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                            path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                    
                                    .table-box__col.number.mark 25

                        
                    .competition-matches.box-theme.mt-15
                        .competition-matches__head
                            p مباريات
                            p الجولة
                                span 14
                        .competition-matches__body
                            .match-card-wide
                                .match-card-wide__match
                                    a(href="team.html").match-card-wide__team.teamA
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر يونايتد
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/4.png", alt="")
                                    .match-card-wide__center
                                        .match-card-wide__result-box.match-ended
                                            .match-card-wide__result 3 : 2
                                                .match-card-wide__bottom-line
                                            .match-card-wide__time انتهت
                                    a(href="team.html").match-card-wide__team.teamB
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر سيتي
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/1.png", alt="")
                                .match-card-wide__link
                                    a(href="single-match.html").match-card-wide__btn.btn.btn--primary تقرير المباراة
                            .match-card-wide
                                .match-card-wide__match
                                    a(href="team.html").match-card-wide__team.teamA
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر يونايتد
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/4.png", alt="")
                                    .match-card-wide__center
                                        .match-card-wide__result-box
                                            .match-card-wide__result - : -
                                                .match-card-wide__bottom-line
                                            .match-card-wide__time 09:15
                                    a(href="team.html").match-card-wide__team.teamB
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر سيتي
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/1.png", alt="")
                                .match-card-wide__link
                                    a(href="single-match.html").match-card-wide__btn.btn.btn--primary تقرير المباراة
                    a.btn.btn--primary.btn--viewall(href='matches.html') كل المباريات                

            .common-title.mt-15
                        p  انتقالات اللاعب
            .box-theme.player-transfer
                .transfers-box
                    .competition-table.competition-table--common
                        .table-box.table-box--common
                            .inner-body
                                .table-box__row.table-box__row--head
                                    //- .table-box__col #
                                    //- .table-box__col اللاعب
                                    //- .table-box__col.empty
                                    .table-box__col التاريخ
                                    .table-box__col من 
                                    .table-box__col إلي 
                                    .table-box__col النوع 
                                    //- .table-box__col القيمة 
                                    //- .table-box__col الجنسية
                                    
                                    
                                -for(let i = 1 ; i < 4 ; i++)
                                    .table-box__row
                                        //- .table-box__col.empty
                                        .table-box__col
                                            span.number 20 نوفمبر 2011
                                        
                                        //- .table-box__col.mini 20 نوفمبر 2021
                                        .table-box__col 
                                            .img-beside-text
                                                a(href='team.html')
                                                img(src="img/logos/1.png")
                                                p باريس سان جيرمان 
                                        .table-box__col 
                                            .img-beside-text
                                                a(href='team.html')
                                                img(src="img/logos/1.png")
                                                p باريس سان جيرمان
                                        
                                        .table-box__col.number.mark انتقال حر
                                        //- .table-box__col.number.mark 25
                
            //- .flex.mt-15
            //-     .common-title.mt-15
            //-         p  إحصائيات اللاعب 
            //-     .competition-head-tabs.flex
            //-         .competition-tab.player-stat-tab.active
            //-             .img-beside-text
            //-                 img(src="img/logos/226.png", alt="")
            //-                 p الدوري السعودي
            //-         .competition-tab.player-stat-tab
            //-             .img-beside-text
            //-                 img(src="img/logos/226.png", alt="")
            //-                 p الدوري الاوروبي
            //-         .competition-tab.player-stat-tab
            //-             .img-beside-text
            //-                 img(src="img/logos/226.png", alt="")
            //-                 p الدوري المصري
            
            
            
            //- .row.switch-content.player-stat.active
            //-     -for(let v = 0 ; v < 4 ; v++)
            //-         .col-md-3.col-sm-6.col-xs-12.mt-15
            //-             .stat-score.box-theme
            //-                 .stat-score__head.bottom-grad2 هجوم
            //-                 -for(let v = 0 ; v < 4 ; v++)
            //-                     .stat-score__cell.flex
            //-                         .stat-score__text أهداف
            //-                         .stat-score__score.flex
            //-                             .stat-score__gry 
            //-                             .stat-score__main 68
                                        
            //-                     .stat-score__cell.flex
            //-                         .stat-score__text ضربات ركنية
            //-                         .stat-score__score.flex
                                        
            //-                             .stat-score__gry (لكل مباراة)
            //-                             .stat-score__main 12
            
            //- .row.switch-content.player-stat
            //-     -for(let v = 0 ; v < 4 ; v++)
            //-         .col-md-3.col-sm-6.col-xs-12.mt-15
            //-             .stat-score.box-theme
            //-                 .stat-score__head.bottom-grad2 هجوم
            //-                 -for(let v = 0 ; v < 4 ; v++)
            //-                     .stat-score__cell.flex
            //-                         .stat-score__text أهداف
            //-                         .stat-score__score.flex
            //-                             .stat-score__gry 
            //-                             .stat-score__main 68
                                        
            //-                     .stat-score__cell.flex
            //-                         .stat-score__text ضربات ركنية
            //-                         .stat-score__score.flex
                                        
            //-                             .stat-score__gry (لكل مباراة)
            //-                             .stat-score__main 12
            //- .row.switch-content.player-stat
            //-     -for(let v = 0 ; v < 4 ; v++)
            //-         .col-md-3.col-sm-6.col-xs-12.mt-15
            //-             .stat-score.box-theme
            //-                 .stat-score__head.bottom-grad2 هجوم
            //-                 -for(let v = 0 ; v < 4 ; v++)
            //-                     .stat-score__cell.flex
            //-                         .stat-score__text أهداف
            //-                         .stat-score__score.flex
            //-                             .stat-score__gry 
            //-                             .stat-score__main 68
                                        
            //-                     .stat-score__cell.flex
            //-                         .stat-score__text ضربات ركنية
            //-                         .stat-score__score.flex
                                        
            //-                             .stat-score__gry (لكل مباراة)
            //-                             .stat-score__main 12
            
            
            //- .common-title.mt-15 
            //-     p أهم اللاعبين
            //-     a(href="#") كل الإحصائيات
            //- .most-players
            //-     .row
            //-         -for(let x = 0 ; x < 4 ; x++)
            //-             .col-md-3.col-sm-6.col-xs-12.mt-15
            //-                 include ../components/_most-players.pug
            
        

        
        
        
        
        aside.layout__item.layout__item--mini(id="layout_mini")
            div.sticky-box
                //- include ../components/_side-matches
                .player-stat.mb-15
                    .stat-score.box-theme
                        .stat-score__head.bottom-grad2 إحصائيات اللاعب
                        -for(let v = 0 ; v < 4 ; v++)
                            .stat-score__cell.flex
                                .stat-score__text أهداف
                                .stat-score__score.flex
                                    .stat-score__gry 
                                    .stat-score__main 68
                                    
                            .stat-score__cell.flex
                                .stat-score__text ضربات ركنية
                                .stat-score__score.flex
                                    
                                    .stat-score__gry (لكل مباراة)
                                    .stat-score__main 12
                .mt-15.box-theme.ads-card.p-15
                    img(src="img/300.jpeg", alt="")