#app-content.container
    .layout
        main.layout__item.layout__item--large(id="layout_large")
            .breadcrumb
                .breadcrumb__category
                    h1 نتائج البحث عن محمد صلاح 
                .breadcrumb__section
                    li 
                        a(href="#") الرئيسية
                    li 
                        span بحث
            .search-results
                .search-results__input.flex
                    .search-results__icon
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 512.542 512.542' style='enable-background:new 0 0 512.542 512.542;' xml:space='preserve')
                            g
                                g
                                    path(d='M481.28,376.961l-71.68-53.76c17.92-30.72,25.6-66.56,25.6-104.96c0-120.32-97.28-217.6-217.6-217.6S0,97.921,0,218.24    s97.28,217.6,217.6,217.6c38.4,0,71.68-10.24,104.96-25.6l53.76,71.68c28.16,35.84,81.92,40.96,115.2,7.68    C522.24,458.88,519.68,405.12,481.28,376.961z M217.6,384.641c-92.16,0-166.4-74.24-166.4-166.4s74.24-166.4,166.4-166.4    S384,126.081,384,218.24S309.76,384.641,217.6,384.641z')
  
                    input(type="search", name="" placeholder="برشلونة")
                    .search-results__icon.mr-max
                        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
                            path(fill='none' d='M0 0h24v24H0z')
                            path(d='M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z')
                
            .common-title.mt-15
                p.mt-15 فرق
        
            .row.mobile-horizontal-scroll.mt--15
                .col-md-3.col-sm-6.col-xs-12.mt-15
                    a(href="team.html").statistics-box.statistics-box--search.box-theme.line-under
                        //- p.statistics-box__title جولات ملعوبة
                        .statistics-box__info
                            //- .statistics-box__percent
                            .statistics-box__img 
                                img(src="img/logos/4.png", alt="")
                            .statistics-box__data
                                p  مانشستر يونايتد
                                span الدوري الانجليزي
                .col-md-3.col-sm-6.col-xs-12.mt-15
                    a(href="player.html").statistics-box.statistics-box--search.box-theme.line-under
                        //- p.statistics-box__title جولات ملعوبة
                        .statistics-box__info
                            //- .statistics-box__percent
                            .statistics-box__img 
                                img(src="img/logos/99.png", alt="")
                            .statistics-box__data
                                p  فهد المولد
                                span اتحاد جدة
                .col-md-3.col-sm-6.col-xs-12.mt-15
                    a(href="competition.html").statistics-box.statistics-box--search.box-theme.line-under
                        //- p.statistics-box__title جولات ملعوبة
                        .statistics-box__info
                            //- .statistics-box__percent
                            .statistics-box__img 
                                img(src="img/logos/226.png", alt="")
                            .statistics-box__data
                                p  دوري أبطال أسيا
                                span الاتحاد الأسيوي
            .main-title
                p كل النتائج
                //- .main-title__side
                //-     a(href="#") كل الأخبار
                .select-theme.mr-max
                    .select-theme__current(tabindex='1')
                        .select-theme__value
                            input#1.select-theme__input(type='radio', value='1', name='season', checked='checked')
                            p.select-theme__input-text الكل
                        .select-theme__value
                            input#2.select-theme__input(type='radio', value='2', name='season')
                            p.select-theme__input-text أخبار
                        .select-theme__value
                            input#3.select-theme__input(type='radio', value='3', name='season')
                            p.select-theme__input-text فيديوهات
                        span.icon.select-theme__icon
                            svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 185.344 185.344', style='enable-background:new 0 0 185.344 185.344;', xml:space='preserve')
                                g
                                    g
                                    path(d='M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18\
                                    c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0\
                                    c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z')
                    ul.select-theme__list
                        li
                            label.select-box__option(for='1', aria-hidden='aria-hidden') الكل
                        li
                            label.select-box__option(for='2', aria-hidden='aria-hidden') أخبار
                        li
                            label.select-box__option(for='3', aria-hidden='aria-hidden') فيديوهات
                
            .search-result-cards
                .row
                    -for(let i=0; i<3; i++) 
                        -for(let i=0; i<1; i++)
                            .col-md-4.col-sm-6
                                -
                                    let post = {
                                        img:data.content[i].img,
                                        caption:data.content[i].title,
                                        modifier:'post-news--card post-news--mobile',
                                        category:true,
                                        info:true   
                                    }
                                include ../components/_post-news.pug
                        -for(let i=0; i<1; i++)
                            .col-md-4.col-sm-6
                                -
                                    let post = {
                                        img:data.content[i].img,
                                        caption:data.content[i].title,
                                        modifier:'post-news--card post-news--video post-news--mobile',
                                        isVideo:true,
                                        info:true,
                                        //- length:true,
                                    }
                                include ../components/_post-news.pug
                a.btn.btn--primary.btn--viewall(href='#') عرض المزيد
            //- .main-title
            //-     p فيديوهات
            //-     .main-title__side
            //-         a(href="#") كل الفيديوهات
            //- .row
            //-     -for(let i=1; i<7; i++)
            //-         .col-md-4.col-sm-6
            //-             -
            //-                 let post = {
            //-                     img:data.content[i].img,
            //-                     caption:data.content[i].title,
            //-                     modifier:'post-news--card post-news--video post-news--mobile',
            //-                     isVideo:true,
            //-                     info:true,
            //-                     //- length:true,
            //-                 }
            //-             include ../components/_post-news.pug
        
        aside.layout__item.layout__item--mini.layout__item--tab(id="layout_mini")
            div.sticky-box
                -
                    let type = "search"
                        
                   
                include ../components/_trend.pug
                .mt-15.box-theme.ads-card.p-15
                    img(src="img/300.jpeg", alt="")