-let arr = ['1','2']
#app-content.container
    .layout
        main.layout__item.layout__item--large.layout__item--maxwidth(id="layout_large")
            .single-match
                include ../components/_summary-box.pug
                .single-match__tab-content
                    .match-events.box-theme
                        .match-events__teams
                            img(src="img/logos/1.png")
                            img(src="img/logos/4.png")
                        .match-events__content
                            .match-events__limit بداية المباراة
                            .match-events__track
                                -for(let i=0;i<2;i++)
                                    .match-events__event.match-events__event--home
                                        span.icon
                                            svg.scored-goal(xmlns='http://www.w3.org/2000/svg' width='32' height='31.062' viewBox='0 0 32 31.062')
                                                path#football.cls-1(d='M451.544,456.447a14.439,14.439,0,0,1,5.075-3.272,16.1,16.1,0,0,1,6.207-1.271,16.6,16.6,0,0,1,6.207,1.271,14.912,14.912,0,0,1,5.078,3.339,15.287,15.287,0,0,1,3.4,4.876,14.569,14.569,0,0,1,1.283,6.078,14.262,14.262,0,0,1-1.27,6.012,14.855,14.855,0,0,1-3.4,4.943,17.186,17.186,0,0,1-5.078,3.339,16.593,16.593,0,0,1-6.207,1.2,16.107,16.107,0,0,1-6.207-1.2,16.662,16.662,0,0,1-5.142-3.339,14.808,14.808,0,0,1-3.42-4.944,15.352,15.352,0,0,1-1.271-6.012,15.681,15.681,0,0,1,1.271-6.077,16.538,16.538,0,0,1,3.472-4.943Zm20.1-1c-.133-.133-.267-.2-.4-.336a18.36,18.36,0,0,0-2.538-1.335,16.158,16.158,0,0,0-5.879-1.135,17.062,17.062,0,0,0-4.07.535,7.608,7.608,0,0,1,2.2,1.468,8.976,8.976,0,0,1,2.671,0,12.847,12.847,0,0,1,3.473.737,10.381,10.381,0,0,1,2.4,1.067,25.682,25.682,0,0,1,2.472-.8.9.9,0,0,1-.334-.2Zm-14.561,3.873,2.739,7.214,6.546,1.27c3.74-3.74,7.282-5.141,3.339-10.085a12.23,12.23,0,0,0-2.938-1.4,14.4,14.4,0,0,0-3.272-.734,11.32,11.32,0,0,0-2.6.066Zm20.373,7.615a13.405,13.405,0,0,1,.133,3.274,6.024,6.024,0,0,0,.336-.67c.066-.668.134-1.4.134-2.072a14.517,14.517,0,0,0-1.338-6.144,17.846,17.846,0,0,1-.066,2.739A10.868,10.868,0,0,1,477.459,466.934Zm-1.335,5.677a14.442,14.442,0,0,0,.467-2.34,12.893,12.893,0,0,0-.734-5.478c-4.009-3.339-5.411.334-8.685,3.608l.536,5.885c4.81,1.536,5.279,2.8,8.418-1.671Zm-10.486,9.419a18.148,18.148,0,0,0,3.806-1.2,19.7,19.7,0,0,0,2.939-1.87c-1.468-2.539,2.137-1.47-5.143-3.807l-6.077,2.537c-1.07,4.477-1.271,4.141,4.477,4.343Zm-15.364-6.145a14.156,14.156,0,0,0,3.274,3.338c4.543,3.072,5.743,1.8,6.678-1.8l-4.273-4.339c-4.942-.4-5.543-1.806-5.947,2.4a1.357,1.357,0,0,1,.268.4Zm5.614-3.809,3-5.142-2.739-7.215-3.875.2a13.518,13.518,0,0,0-2.137,2.2,10.806,10.806,0,0,0-1.8,3.341c.867,7.213,1.2,6.077,7.548,6.614Zm-7.682-8.751a13.15,13.15,0,0,1,1.135-1.8,14.377,14.377,0,0,1,2.471-2.471,6.822,6.822,0,0,1,1.871-3.472.065.065,0,0,1-.02.047.064.064,0,0,1-.048.019c-.067.066-.133.133-.2.133a19.007,19.007,0,0,0-2.4,2.271,14.346,14.346,0,0,0-2.806,5.277Z' transform='translate(-446.799 -451.904)')

                                        p.minute 11'
                                    .match-events__event.match-events__event--away
                                        span.icon
                                            svg.yellow-card(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.263 15.316')
                                                g(transform='translate(-5.842 -2.842)')
                                                    rect#Rectangle_1534.cls-1(data-name='Rectangle 1534' width='10.105' height='15.158' rx='2' transform='translate(5.921 2.921)')
                                                    rect#Rectangle_1535.cls-2(data-name='Rectangle 1535' width='9.263' height='14.316' rx='2' transform='translate(6.342 3.342)')

                                        p.minute 11'
                                    .match-events__event.match-events__event--home
                                        span.icon
                                            svg.red-card(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.263 15.316')
                                                g(transform='translate(-5.842 -2.842)')
                                                    rect#Rectangle_1534.cls-1(data-name='Rectangle 1534' width='10.105' height='15.158' rx='2' transform='translate(5.921 2.921)')
                                                    rect#Rectangle_1535.cls-2(data-name='Rectangle 1535' width='9.263' height='14.316' rx='2' transform='translate(6.342 3.342)')

                                        p.minute 11'
                                    .match-events__event.match-events__event--away
                                        span.icon
                                            svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')
                                                 
                                                g#icon(transform='translate(0 0)')
                                                    g#Group_198(data-name='Group 198')
                                                        path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                                                g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                                    g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                                        path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')


                                        p.minute 17'
                                    .match-events__event.match-events__event--home
                                        span.icon
                                            svg.own-goal(xmlns='http://www.w3.org/2000/svg' width='32' height='31.062' viewBox='0 0 32 31.062')
                                                path#football.cls-1(d='M451.544,456.447a14.439,14.439,0,0,1,5.075-3.272,16.1,16.1,0,0,1,6.207-1.271,16.6,16.6,0,0,1,6.207,1.271,14.912,14.912,0,0,1,5.078,3.339,15.287,15.287,0,0,1,3.4,4.876,14.569,14.569,0,0,1,1.283,6.078,14.262,14.262,0,0,1-1.27,6.012,14.855,14.855,0,0,1-3.4,4.943,17.186,17.186,0,0,1-5.078,3.339,16.593,16.593,0,0,1-6.207,1.2,16.107,16.107,0,0,1-6.207-1.2,16.662,16.662,0,0,1-5.142-3.339,14.808,14.808,0,0,1-3.42-4.944,15.352,15.352,0,0,1-1.271-6.012,15.681,15.681,0,0,1,1.271-6.077,16.538,16.538,0,0,1,3.472-4.943Zm20.1-1c-.133-.133-.267-.2-.4-.336a18.36,18.36,0,0,0-2.538-1.335,16.158,16.158,0,0,0-5.879-1.135,17.062,17.062,0,0,0-4.07.535,7.608,7.608,0,0,1,2.2,1.468,8.976,8.976,0,0,1,2.671,0,12.847,12.847,0,0,1,3.473.737,10.381,10.381,0,0,1,2.4,1.067,25.682,25.682,0,0,1,2.472-.8.9.9,0,0,1-.334-.2Zm-14.561,3.873,2.739,7.214,6.546,1.27c3.74-3.74,7.282-5.141,3.339-10.085a12.23,12.23,0,0,0-2.938-1.4,14.4,14.4,0,0,0-3.272-.734,11.32,11.32,0,0,0-2.6.066Zm20.373,7.615a13.405,13.405,0,0,1,.133,3.274,6.024,6.024,0,0,0,.336-.67c.066-.668.134-1.4.134-2.072a14.517,14.517,0,0,0-1.338-6.144,17.846,17.846,0,0,1-.066,2.739A10.868,10.868,0,0,1,477.459,466.934Zm-1.335,5.677a14.442,14.442,0,0,0,.467-2.34,12.893,12.893,0,0,0-.734-5.478c-4.009-3.339-5.411.334-8.685,3.608l.536,5.885c4.81,1.536,5.279,2.8,8.418-1.671Zm-10.486,9.419a18.148,18.148,0,0,0,3.806-1.2,19.7,19.7,0,0,0,2.939-1.87c-1.468-2.539,2.137-1.47-5.143-3.807l-6.077,2.537c-1.07,4.477-1.271,4.141,4.477,4.343Zm-15.364-6.145a14.156,14.156,0,0,0,3.274,3.338c4.543,3.072,5.743,1.8,6.678-1.8l-4.273-4.339c-4.942-.4-5.543-1.806-5.947,2.4a1.357,1.357,0,0,1,.268.4Zm5.614-3.809,3-5.142-2.739-7.215-3.875.2a13.518,13.518,0,0,0-2.137,2.2,10.806,10.806,0,0,0-1.8,3.341c.867,7.213,1.2,6.077,7.548,6.614Zm-7.682-8.751a13.15,13.15,0,0,1,1.135-1.8,14.377,14.377,0,0,1,2.471-2.471,6.822,6.822,0,0,1,1.871-3.472.065.065,0,0,1-.02.047.064.064,0,0,1-.048.019c-.067.066-.133.133-.2.133a19.007,19.007,0,0,0-2.4,2.271,14.346,14.346,0,0,0-2.806,5.277Z' transform='translate(-446.799 -451.904)')

                                        p.minute 11'
                                    .match-events__event.match-events__event--away
                                        span.icon
                                            svg#_20-shoe.assist(xmlns='http://www.w3.org/2000/svg' data-name='20-shoe' viewBox='0 0 96 96' width='512' height='512')
                                                g#Glyph
                                                    path(d='M67.08,25.305C64.9,18.123,59.291,16,56,16a4,4,0,0,0-3.123,1.5c-2.823,3.528-6.031,7.283-8.964,10.5,6.955-2.18,13.6-4,16.087-4A19.718,19.718,0,0,1,67.08,25.305Z')
                                                    path(d='M24.522,38.994C3.1,47.369,0,52.123,0,56c0,3.409,2.967,4.8,6.814,5.538l-.736,3.678,7.844,1.568.858-4.29c2.5.215,5.43.407,8.741.576l-.481,3.365,7.92,1.13.594-4.155c.877.03,1.759.06,2.675.088,1.674.051,3.378.1,5.092.137a57.521,57.521,0,0,0-7.649-15.916A50.511,50.511,0,0,0,24.522,38.994Z')
                                                    path(d='M39.984,33.46c-2.472.815-4.954,1.663-7.318,2.5,6.9,7.606,13.177,19.162,14.879,27.834-2.518-.04-5.043-.087-7.545-.145V68h8V63.805l-.085,0c2.558.04,5.1.073,7.6.1C53.639,54.8,46.6,41.03,39.984,33.46Z')
                                                    path(d='M96,48c0-13-4.308-17.965-5.172-18.828a4,4,0,0,0-6.406,1.039c-.028.058-3,5.712-8.313,5.788a16.362,16.362,0,0,1-2.812-2.06C70.271,31.433,66.128,28,60,28c-1.579,0-6.182,1.176-11.791,2.861,7.712,9.858,13.778,24.174,15.377,33.1q2.271.012,4.414.019V68h8V64h4v4h8V62.427C93.16,60.059,96,55.087,96,48ZM62,40a4,4,0,1,1,4-4A4,4,0,0,1,62,40Z')

                                        p.minute 11'
                            .match-events__limit الإستراحة
                            .match-events__track
                                -for(let i=0;i<2;i++)
                                    .match-events__event.match-events__event--home
                                        span.icon
                                            svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32')
                                                g#Group_2107(data-name='Group 2107' transform='translate(-1730 -2160)')
                                                    circle#Ellipse_178.cls-11(style="fill: #fed831;" data-name='Ellipse 178' cx='16' cy='16' r='16' transform='translate(1730 2160)')
                                                    text#P.cls-22(style="fill: #2d2d2d;font-size: 20px;font-family: Almarai-Bold, Almarai;font-weight: 700;" transform='translate(1753 2183)')
                                                        tspan(x='0' y='0') P
                                        p.minute 75'
                                    .match-events__event.match-events__event--away
                                        span.icon
                                           svg(xmlns='http://www.w3.org/2000/svg' width='30.499' height='36' viewBox='0 0 30.499 36')
                                                g#Group_2110(data-name='Group 2110' transform='translate(-1735.334 -1366)')
                                                    rect#Rectangle_1534.cls-1(data-name='Rectangle 1534' style='fill: #ff2121;' width='21.333' height='32' rx='1' transform='translate(1735.334 1366)')
                                                    rect#Rectangle_1534-2.cls-2(data-name='Rectangle 1534' style='fill: #fed831;' width='21.333' height='32' rx='1' transform='translate(1744.5 1370)')

                                        p.minute 75'
                                    .match-events__event.match-events__event--home
                                        span.icon
                                            svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32')
                                                g#Group_2109(data-name='Group 2109' transform='translate(-1730 -2424)')
                                                    circle#Ellipse_180.cls-1(data-name='Ellipse 180' style='fill: #27a757;' cx='16' cy='16' r='16' transform='translate(1730 2424)')
                                                    path#football.cls-2(style='fill: #fff;fill-rule: evenodd;' d='M448.282,453.324a4.513,4.513,0,0,1,1.586-1.023,5.031,5.031,0,0,1,1.94-.4,5.19,5.19,0,0,1,1.94.4,4.661,4.661,0,0,1,1.587,1.044,4.778,4.778,0,0,1,1.064,1.524,4.553,4.553,0,0,1,.4,1.9,4.456,4.456,0,0,1-.4,1.879,4.642,4.642,0,0,1-1.064,1.545,5.371,5.371,0,0,1-1.587,1.044,5.185,5.185,0,0,1-1.94.376,5.033,5.033,0,0,1-1.94-.376,5.206,5.206,0,0,1-1.607-1.044,4.627,4.627,0,0,1-1.069-1.545,4.8,4.8,0,0,1-.4-1.879,4.9,4.9,0,0,1,.4-1.9,5.168,5.168,0,0,1,1.085-1.545Zm6.282-.313c-.042-.042-.083-.064-.125-.1a5.739,5.739,0,0,0-.793-.417,5.049,5.049,0,0,0-1.837-.355,5.333,5.333,0,0,0-1.272.167,2.378,2.378,0,0,1,.689.459,2.8,2.8,0,0,1,.835,0,4.015,4.015,0,0,1,1.085.23,3.246,3.246,0,0,1,.751.334,8.028,8.028,0,0,1,.772-.25.279.279,0,0,1-.1-.064Zm-4.55,1.21.856,2.254,2.046.4c1.169-1.169,2.276-1.607,1.044-3.152a3.822,3.822,0,0,0-.918-.438,4.5,4.5,0,0,0-1.023-.229,3.538,3.538,0,0,0-.814.021Zm6.366,2.38a4.189,4.189,0,0,1,.042,1.023,1.881,1.881,0,0,0,.1-.209c.021-.209.042-.438.042-.647a4.536,4.536,0,0,0-.418-1.92,5.575,5.575,0,0,1-.021.856A3.394,3.394,0,0,1,456.38,456.6Zm-.417,1.774a4.508,4.508,0,0,0,.146-.731,4.029,4.029,0,0,0-.229-1.712c-1.253-1.044-1.691.1-2.714,1.128l.168,1.839c1.5.48,1.65.876,2.631-.522Zm-3.277,2.943a5.67,5.67,0,0,0,1.19-.376,6.161,6.161,0,0,0,.918-.584c-.459-.793.668-.459-1.607-1.19l-1.9.793c-.335,1.4-.4,1.294,1.4,1.357Zm-4.8-1.92a4.423,4.423,0,0,0,1.023,1.043c1.42.96,1.795.564,2.087-.564l-1.335-1.356c-1.544-.126-1.732-.564-1.859.751a.423.423,0,0,1,.084.125Zm1.754-1.19.939-1.607-.856-2.255-1.211.064a4.224,4.224,0,0,0-.668.689,3.376,3.376,0,0,0-.563,1.044c.271,2.254.375,1.9,2.359,2.067Zm-2.4-2.735a4.109,4.109,0,0,1,.355-.564,4.492,4.492,0,0,1,.772-.772,2.131,2.131,0,0,1,.585-1.085.02.02,0,0,1-.006.015.02.02,0,0,1-.015.006c-.021.021-.042.042-.064.042a5.939,5.939,0,0,0-.751.71,4.484,4.484,0,0,0-.877,1.649Z' transform='translate(1299.201 1983.243)')
                                                    text#P.cls-3(style='font-size: 16px;font-family: Almarai-Bold, Almarai;font-weight: 700;fill: #fff;' transform='translate(1745 2445.5)')
                                                        tspan(x='0' y='0') P

                                        p.minute 75'
                                    .match-events__event.match-events__event--away
                                        span.icon
                                            svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32')
                                                g#Group_2108(data-name='Group 2108' transform='translate(-1730 -2292)')
                                                    circle#Ellipse_179.cls-1(data-name='Ellipse 179' style='fill: #ff2121;' cx='16' cy='16' r='16' transform='translate(1730 2292)')
                                                    text#P.cls-2(style='fill: #fff;font-size: 16px;font-family: Almarai-Bold, Almarai;font-weight: 700;' transform='translate(1744.815 2313.5)')
                                                        tspan(x='0' y='0') P
                                                    g#Group_1997(data-name='Group 1997' transform='translate(0.184 0.174)')
                                                        line#Line_69.cls-3(data-name='Line 69' style='fill: none;stroke: #fff;stroke-width: 2px;' x1='5.061' y2='9.399' transform='matrix(0.966, 0.259, -0.259, 0.966, 1749.782, 2302.631)')
                                                        line#Line_70.cls-3(data-name='Line 70' style='fill: none;stroke: #fff;stroke-width: 2px;' x1='5.061' y2='9.399' transform='matrix(0.259, -0.966, 0.966, 0.259, 1745.816, 2309.054)')
                                        p.minute 75'
                            .match-events__limit نهاية المباراة
                    .match-media
                        .row
                            -for(let i=1; i<3; i++)
                                .col-md-6.col-sm-12.col-xs-12.videos-grid__box--main.mt-15
                                    -
                                        let post = {
                                            img:data.content[i].img,
                                            caption:data.content[i].title,
                                            modifier:'post-news--card post-news--video',
                                            isVideo:true,
                                            info:true,
                                            abstract:true,
                                            length:true
                                            
                                        }

                                    include ../components/_post-news.pug
                    include ../components/_leaderboard.pug
                    
                    .single-match__matches-box.box-theme
                        .formation-side
                            .formation-side__head.bottom-grad2 مواجهات مباشرة 
                        -for(let x = 0 ; x < 5 ; x++)
                            .side-match-box.side-match-box--fulldata
                                a(href="team.html").side-match-box__teamA
                                    p مانشستر يونايتد
                                    img(src="./img/logos/4.png", alt="")
                                a(href="single-match.html").side-match-box__status
                                    .side-match-box__result-box
                                        .side-match-box__result 3 : 2
                                        .side-match-box__progress-bar
                                            .side-match-box__progress-point.ended(style="width: 100%;")
                                        .side-match-box__time.ended انتهت
                                a(href="team.html").side-match-box__teamB
                                    p مانشستر سيتي
                                    img(src="./img/logos/1.png", alt="")
                                a(href="competition.html").side-match-box__comp
                                    img(src="./img/logos/2.png", alt="")
                                    p الدوري الانجليزي الممتاز
                                .side-match-box__date
                                    span 18 نوفمبر 2021
                
                .single-match__tab-content.active
                    //- .match-events.box-theme
                        .match-events__teams
                            img(src="img/logos/1.png")
                            img(src="img/logos/4.png")
                        .match-events__content
                            .match-events__limit بداية المباراة
                            .match-events__track
                                -for(let i=0;i<2;i++)
                                    .match-events__event.match-events__event--home
                                        span.icon
                                            svg.scored-goal(xmlns='http://www.w3.org/2000/svg' width='32' height='31.062' viewBox='0 0 32 31.062')
                                                path#football.cls-1(d='M451.544,456.447a14.439,14.439,0,0,1,5.075-3.272,16.1,16.1,0,0,1,6.207-1.271,16.6,16.6,0,0,1,6.207,1.271,14.912,14.912,0,0,1,5.078,3.339,15.287,15.287,0,0,1,3.4,4.876,14.569,14.569,0,0,1,1.283,6.078,14.262,14.262,0,0,1-1.27,6.012,14.855,14.855,0,0,1-3.4,4.943,17.186,17.186,0,0,1-5.078,3.339,16.593,16.593,0,0,1-6.207,1.2,16.107,16.107,0,0,1-6.207-1.2,16.662,16.662,0,0,1-5.142-3.339,14.808,14.808,0,0,1-3.42-4.944,15.352,15.352,0,0,1-1.271-6.012,15.681,15.681,0,0,1,1.271-6.077,16.538,16.538,0,0,1,3.472-4.943Zm20.1-1c-.133-.133-.267-.2-.4-.336a18.36,18.36,0,0,0-2.538-1.335,16.158,16.158,0,0,0-5.879-1.135,17.062,17.062,0,0,0-4.07.535,7.608,7.608,0,0,1,2.2,1.468,8.976,8.976,0,0,1,2.671,0,12.847,12.847,0,0,1,3.473.737,10.381,10.381,0,0,1,2.4,1.067,25.682,25.682,0,0,1,2.472-.8.9.9,0,0,1-.334-.2Zm-14.561,3.873,2.739,7.214,6.546,1.27c3.74-3.74,7.282-5.141,3.339-10.085a12.23,12.23,0,0,0-2.938-1.4,14.4,14.4,0,0,0-3.272-.734,11.32,11.32,0,0,0-2.6.066Zm20.373,7.615a13.405,13.405,0,0,1,.133,3.274,6.024,6.024,0,0,0,.336-.67c.066-.668.134-1.4.134-2.072a14.517,14.517,0,0,0-1.338-6.144,17.846,17.846,0,0,1-.066,2.739A10.868,10.868,0,0,1,477.459,466.934Zm-1.335,5.677a14.442,14.442,0,0,0,.467-2.34,12.893,12.893,0,0,0-.734-5.478c-4.009-3.339-5.411.334-8.685,3.608l.536,5.885c4.81,1.536,5.279,2.8,8.418-1.671Zm-10.486,9.419a18.148,18.148,0,0,0,3.806-1.2,19.7,19.7,0,0,0,2.939-1.87c-1.468-2.539,2.137-1.47-5.143-3.807l-6.077,2.537c-1.07,4.477-1.271,4.141,4.477,4.343Zm-15.364-6.145a14.156,14.156,0,0,0,3.274,3.338c4.543,3.072,5.743,1.8,6.678-1.8l-4.273-4.339c-4.942-.4-5.543-1.806-5.947,2.4a1.357,1.357,0,0,1,.268.4Zm5.614-3.809,3-5.142-2.739-7.215-3.875.2a13.518,13.518,0,0,0-2.137,2.2,10.806,10.806,0,0,0-1.8,3.341c.867,7.213,1.2,6.077,7.548,6.614Zm-7.682-8.751a13.15,13.15,0,0,1,1.135-1.8,14.377,14.377,0,0,1,2.471-2.471,6.822,6.822,0,0,1,1.871-3.472.065.065,0,0,1-.02.047.064.064,0,0,1-.048.019c-.067.066-.133.133-.2.133a19.007,19.007,0,0,0-2.4,2.271,14.346,14.346,0,0,0-2.806,5.277Z' transform='translate(-446.799 -451.904)')

                                        p.minute 11'
                                    .match-events__event.match-events__event--away
                                        span.icon
                                            svg.yellow-card(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.263 15.316')
                                                g(transform='translate(-5.842 -2.842)')
                                                    rect#Rectangle_1534.cls-1(data-name='Rectangle 1534' width='10.105' height='15.158' rx='2' transform='translate(5.921 2.921)')
                                                    rect#Rectangle_1535.cls-2(data-name='Rectangle 1535' width='9.263' height='14.316' rx='2' transform='translate(6.342 3.342)')

                                        p.minute 11'
                                    .match-events__event.match-events__event--home
                                        span.icon
                                            svg.red-card(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.263 15.316')
                                                g(transform='translate(-5.842 -2.842)')
                                                    rect#Rectangle_1534.cls-1(data-name='Rectangle 1534' width='10.105' height='15.158' rx='2' transform='translate(5.921 2.921)')
                                                    rect#Rectangle_1535.cls-2(data-name='Rectangle 1535' width='9.263' height='14.316' rx='2' transform='translate(6.342 3.342)')

                                        p.minute 11'
                                    .match-events__event.match-events__event--away
                                        span.icon
                                            svg#Group_1995(data-name='Group 1995' xmlns='http://www.w3.org/2000/svg' width='25.305' height='32.004' viewBox='0 0 25.305 32.004')
                                                 
                                                g#icon(transform='translate(0 0)')
                                                    g#Group_198(data-name='Group 198')
                                                        path#Path_170.cls-1(style="fill: #17a654;" data-name='Path 170' d='M10.249,1.5a.77.77,0,0,0-.837.166L.225,8.882a.767.767,0,0,0,0,1.086L9.413,17.15a.762.762,0,0,0,.542.226.8.8,0,0,0,.3-.058.754.754,0,0,0,.459-.71v-4.3c9.825,0,14.122,2.771,13.468,11.6C28.338,9.783,20.35,6.591,10.708,6.591V2.207A.754.754,0,0,0,10.249,1.5Z' transform='translate(0 -1.44)')
                                                g#icon-2(data-name='icon' transform='translate(0 16.742)')
                                                    g#Group_198-2( style="fill: #ff2121;" data-name='Group 198' transform='translate(0 0)')
                                                        path#Path_170-2.cls-2(data-name='Path 170' d='M10.229,16.662a.523.523,0,0,0,.569-.113l6.242-4.9a.521.521,0,0,0,0-.738L10.8,6.028a.518.518,0,0,0-.368-.154.545.545,0,0,0-.2.04.513.513,0,0,0-.312.482V9.319C3.242,9.319.322,7.436.767,1.44-2.061,11.034,3.367,13.2,9.917,13.2v2.979A.512.512,0,0,0,10.229,16.662Z' transform='translate(0 -1.44)')


                                        p.minute 17'
                                    .match-events__event.match-events__event--home
                                        span.icon
                                            svg.own-goal(xmlns='http://www.w3.org/2000/svg' width='32' height='31.062' viewBox='0 0 32 31.062')
                                                path#football.cls-1(d='M451.544,456.447a14.439,14.439,0,0,1,5.075-3.272,16.1,16.1,0,0,1,6.207-1.271,16.6,16.6,0,0,1,6.207,1.271,14.912,14.912,0,0,1,5.078,3.339,15.287,15.287,0,0,1,3.4,4.876,14.569,14.569,0,0,1,1.283,6.078,14.262,14.262,0,0,1-1.27,6.012,14.855,14.855,0,0,1-3.4,4.943,17.186,17.186,0,0,1-5.078,3.339,16.593,16.593,0,0,1-6.207,1.2,16.107,16.107,0,0,1-6.207-1.2,16.662,16.662,0,0,1-5.142-3.339,14.808,14.808,0,0,1-3.42-4.944,15.352,15.352,0,0,1-1.271-6.012,15.681,15.681,0,0,1,1.271-6.077,16.538,16.538,0,0,1,3.472-4.943Zm20.1-1c-.133-.133-.267-.2-.4-.336a18.36,18.36,0,0,0-2.538-1.335,16.158,16.158,0,0,0-5.879-1.135,17.062,17.062,0,0,0-4.07.535,7.608,7.608,0,0,1,2.2,1.468,8.976,8.976,0,0,1,2.671,0,12.847,12.847,0,0,1,3.473.737,10.381,10.381,0,0,1,2.4,1.067,25.682,25.682,0,0,1,2.472-.8.9.9,0,0,1-.334-.2Zm-14.561,3.873,2.739,7.214,6.546,1.27c3.74-3.74,7.282-5.141,3.339-10.085a12.23,12.23,0,0,0-2.938-1.4,14.4,14.4,0,0,0-3.272-.734,11.32,11.32,0,0,0-2.6.066Zm20.373,7.615a13.405,13.405,0,0,1,.133,3.274,6.024,6.024,0,0,0,.336-.67c.066-.668.134-1.4.134-2.072a14.517,14.517,0,0,0-1.338-6.144,17.846,17.846,0,0,1-.066,2.739A10.868,10.868,0,0,1,477.459,466.934Zm-1.335,5.677a14.442,14.442,0,0,0,.467-2.34,12.893,12.893,0,0,0-.734-5.478c-4.009-3.339-5.411.334-8.685,3.608l.536,5.885c4.81,1.536,5.279,2.8,8.418-1.671Zm-10.486,9.419a18.148,18.148,0,0,0,3.806-1.2,19.7,19.7,0,0,0,2.939-1.87c-1.468-2.539,2.137-1.47-5.143-3.807l-6.077,2.537c-1.07,4.477-1.271,4.141,4.477,4.343Zm-15.364-6.145a14.156,14.156,0,0,0,3.274,3.338c4.543,3.072,5.743,1.8,6.678-1.8l-4.273-4.339c-4.942-.4-5.543-1.806-5.947,2.4a1.357,1.357,0,0,1,.268.4Zm5.614-3.809,3-5.142-2.739-7.215-3.875.2a13.518,13.518,0,0,0-2.137,2.2,10.806,10.806,0,0,0-1.8,3.341c.867,7.213,1.2,6.077,7.548,6.614Zm-7.682-8.751a13.15,13.15,0,0,1,1.135-1.8,14.377,14.377,0,0,1,2.471-2.471,6.822,6.822,0,0,1,1.871-3.472.065.065,0,0,1-.02.047.064.064,0,0,1-.048.019c-.067.066-.133.133-.2.133a19.007,19.007,0,0,0-2.4,2.271,14.346,14.346,0,0,0-2.806,5.277Z' transform='translate(-446.799 -451.904)')

                                        p.minute 11'
                                    .match-events__event.match-events__event--away
                                        span.icon
                                            svg#_20-shoe.assist(xmlns='http://www.w3.org/2000/svg' data-name='20-shoe' viewBox='0 0 96 96' width='512' height='512')
                                                g#Glyph
                                                    path(d='M67.08,25.305C64.9,18.123,59.291,16,56,16a4,4,0,0,0-3.123,1.5c-2.823,3.528-6.031,7.283-8.964,10.5,6.955-2.18,13.6-4,16.087-4A19.718,19.718,0,0,1,67.08,25.305Z')
                                                    path(d='M24.522,38.994C3.1,47.369,0,52.123,0,56c0,3.409,2.967,4.8,6.814,5.538l-.736,3.678,7.844,1.568.858-4.29c2.5.215,5.43.407,8.741.576l-.481,3.365,7.92,1.13.594-4.155c.877.03,1.759.06,2.675.088,1.674.051,3.378.1,5.092.137a57.521,57.521,0,0,0-7.649-15.916A50.511,50.511,0,0,0,24.522,38.994Z')
                                                    path(d='M39.984,33.46c-2.472.815-4.954,1.663-7.318,2.5,6.9,7.606,13.177,19.162,14.879,27.834-2.518-.04-5.043-.087-7.545-.145V68h8V63.805l-.085,0c2.558.04,5.1.073,7.6.1C53.639,54.8,46.6,41.03,39.984,33.46Z')
                                                    path(d='M96,48c0-13-4.308-17.965-5.172-18.828a4,4,0,0,0-6.406,1.039c-.028.058-3,5.712-8.313,5.788a16.362,16.362,0,0,1-2.812-2.06C70.271,31.433,66.128,28,60,28c-1.579,0-6.182,1.176-11.791,2.861,7.712,9.858,13.778,24.174,15.377,33.1q2.271.012,4.414.019V68h8V64h4v4h8V62.427C93.16,60.059,96,55.087,96,48ZM62,40a4,4,0,1,1,4-4A4,4,0,0,1,62,40Z')

                                        p.minute 11'
                            .match-events__limit الإستراحة
                            .match-events__track
                                -for(let i=0;i<2;i++)
                                    .match-events__event.match-events__event--home
                                        span.icon
                                            svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32')
                                                g#Group_2107(data-name='Group 2107' transform='translate(-1730 -2160)')
                                                    circle#Ellipse_178.cls-11(style="fill: #fed831;" data-name='Ellipse 178' cx='16' cy='16' r='16' transform='translate(1730 2160)')
                                                    text#P.cls-22(style="fill: #2d2d2d;font-size: 20px;font-family: Almarai-Bold, Almarai;font-weight: 700;" transform='translate(1753 2183)')
                                                        tspan(x='0' y='0') P
                                        p.minute 75'
                                    .match-events__event.match-events__event--away
                                        span.icon
                                           svg(xmlns='http://www.w3.org/2000/svg' width='30.499' height='36' viewBox='0 0 30.499 36')
                                                g#Group_2110(data-name='Group 2110' transform='translate(-1735.334 -1366)')
                                                    rect#Rectangle_1534.cls-1(data-name='Rectangle 1534' style='fill: #ff2121;' width='21.333' height='32' rx='1' transform='translate(1735.334 1366)')
                                                    rect#Rectangle_1534-2.cls-2(data-name='Rectangle 1534' style='fill: #fed831;' width='21.333' height='32' rx='1' transform='translate(1744.5 1370)')

                                        p.minute 75'
                                    .match-events__event.match-events__event--home
                                        span.icon
                                            svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32')
                                                g#Group_2109(data-name='Group 2109' transform='translate(-1730 -2424)')
                                                    circle#Ellipse_180.cls-1(data-name='Ellipse 180' style='fill: #27a757;' cx='16' cy='16' r='16' transform='translate(1730 2424)')
                                                    path#football.cls-2(style='fill: #fff;fill-rule: evenodd;' d='M448.282,453.324a4.513,4.513,0,0,1,1.586-1.023,5.031,5.031,0,0,1,1.94-.4,5.19,5.19,0,0,1,1.94.4,4.661,4.661,0,0,1,1.587,1.044,4.778,4.778,0,0,1,1.064,1.524,4.553,4.553,0,0,1,.4,1.9,4.456,4.456,0,0,1-.4,1.879,4.642,4.642,0,0,1-1.064,1.545,5.371,5.371,0,0,1-1.587,1.044,5.185,5.185,0,0,1-1.94.376,5.033,5.033,0,0,1-1.94-.376,5.206,5.206,0,0,1-1.607-1.044,4.627,4.627,0,0,1-1.069-1.545,4.8,4.8,0,0,1-.4-1.879,4.9,4.9,0,0,1,.4-1.9,5.168,5.168,0,0,1,1.085-1.545Zm6.282-.313c-.042-.042-.083-.064-.125-.1a5.739,5.739,0,0,0-.793-.417,5.049,5.049,0,0,0-1.837-.355,5.333,5.333,0,0,0-1.272.167,2.378,2.378,0,0,1,.689.459,2.8,2.8,0,0,1,.835,0,4.015,4.015,0,0,1,1.085.23,3.246,3.246,0,0,1,.751.334,8.028,8.028,0,0,1,.772-.25.279.279,0,0,1-.1-.064Zm-4.55,1.21.856,2.254,2.046.4c1.169-1.169,2.276-1.607,1.044-3.152a3.822,3.822,0,0,0-.918-.438,4.5,4.5,0,0,0-1.023-.229,3.538,3.538,0,0,0-.814.021Zm6.366,2.38a4.189,4.189,0,0,1,.042,1.023,1.881,1.881,0,0,0,.1-.209c.021-.209.042-.438.042-.647a4.536,4.536,0,0,0-.418-1.92,5.575,5.575,0,0,1-.021.856A3.394,3.394,0,0,1,456.38,456.6Zm-.417,1.774a4.508,4.508,0,0,0,.146-.731,4.029,4.029,0,0,0-.229-1.712c-1.253-1.044-1.691.1-2.714,1.128l.168,1.839c1.5.48,1.65.876,2.631-.522Zm-3.277,2.943a5.67,5.67,0,0,0,1.19-.376,6.161,6.161,0,0,0,.918-.584c-.459-.793.668-.459-1.607-1.19l-1.9.793c-.335,1.4-.4,1.294,1.4,1.357Zm-4.8-1.92a4.423,4.423,0,0,0,1.023,1.043c1.42.96,1.795.564,2.087-.564l-1.335-1.356c-1.544-.126-1.732-.564-1.859.751a.423.423,0,0,1,.084.125Zm1.754-1.19.939-1.607-.856-2.255-1.211.064a4.224,4.224,0,0,0-.668.689,3.376,3.376,0,0,0-.563,1.044c.271,2.254.375,1.9,2.359,2.067Zm-2.4-2.735a4.109,4.109,0,0,1,.355-.564,4.492,4.492,0,0,1,.772-.772,2.131,2.131,0,0,1,.585-1.085.02.02,0,0,1-.006.015.02.02,0,0,1-.015.006c-.021.021-.042.042-.064.042a5.939,5.939,0,0,0-.751.71,4.484,4.484,0,0,0-.877,1.649Z' transform='translate(1299.201 1983.243)')
                                                    text#P.cls-3(style='font-size: 16px;font-family: Almarai-Bold, Almarai;font-weight: 700;fill: #fff;' transform='translate(1745 2445.5)')
                                                        tspan(x='0' y='0') P

                                        p.minute 75'
                                    .match-events__event.match-events__event--away
                                        span.icon
                                            svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32')
                                                g#Group_2108(data-name='Group 2108' transform='translate(-1730 -2292)')
                                                    circle#Ellipse_179.cls-1(data-name='Ellipse 179' style='fill: #ff2121;' cx='16' cy='16' r='16' transform='translate(1730 2292)')
                                                    text#P.cls-2(style='fill: #fff;font-size: 16px;font-family: Almarai-Bold, Almarai;font-weight: 700;' transform='translate(1744.815 2313.5)')
                                                        tspan(x='0' y='0') P
                                                    g#Group_1997(data-name='Group 1997' transform='translate(0.184 0.174)')
                                                        line#Line_69.cls-3(data-name='Line 69' style='fill: none;stroke: #fff;stroke-width: 2px;' x1='5.061' y2='9.399' transform='matrix(0.966, 0.259, -0.259, 0.966, 1749.782, 2302.631)')
                                                        line#Line_70.cls-3(data-name='Line 70' style='fill: none;stroke: #fff;stroke-width: 2px;' x1='5.061' y2='9.399' transform='matrix(0.259, -0.966, 0.966, 0.259, 1745.816, 2309.054)')
                                        p.minute 75'
                            .match-events__limit نهاية المباراة
                    
                    //- .formation-side.formation-side--match
                    //-     .formation-side__switch
                    //-         .formation-side__switch-tab.switch2.active
                    //-             .formation-side__switch-name أحداث المباراة 
                    //-         .formation-side__switch-tab.switch2
                    //-             .formation-side__switch-name لحظة بلحظة 
                    include ../components/_event-box.pug
                    //- include ../components/_moments.pug

                .single-match__tab-content
                        include ../components/_line-up.pug
                .single-match__tab-content
                    .row.mobile-horizontal-scroll
                        .col-md-3.col-sm-6.col-xs-12.mt-15
                            .statistics-box.box-theme.line-under
                                p.statistics-box__title الاستحواذ 
                                .statistics-box__info
                                    .progress-circle(data-percentage='75')
                                        span.progress-left
                                            span.progress-bar
                                        span.progress-right
                                            span.progress-bar
                                        .progress-value
                                            div 90%
                                                

                                    //- .statistics-box__percent
                                    //- .statistics-box__icon
                                    //-     span.icon.icon--large.grey
                                    //-         svg#Capa_1(enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg')
                                    //-             path(d='m502 68.498h-492c-5.522 0-10 4.478-10 10v355.004c0 5.522 4.478 10 10 10h492c5.522 0 10-4.478 10-10v-355.004c0-5.522-4.478-10-10-10zm-256 252.724c-31.653-4.833-55.979-32.24-55.979-65.222s24.326-60.389 55.979-65.222zm20-130.444c31.653 4.833 55.979 32.24 55.979 65.222s-24.326 60.389-55.979 65.222zm-246-4.65h59.511v139.744h-59.511zm0 159.744h69.511c5.522 0 10-4.478 10-10v-159.744c0-5.522-4.478-10-10-10h-69.511v-77.63h226v82.102c-42.715 4.97-75.979 41.373-75.979 85.4s33.263 80.43 75.979 85.4v82.102h-226zm246 77.63v-82.102c42.715-4.97 75.979-41.373 75.979-85.4s-33.264-80.43-75.979-85.4v-82.102h226v77.63h-69.511c-5.522 0-10 4.478-10 10v159.744c0 5.522 4.478 10 10 10h69.511v77.63zm226-97.63h-59.511v-139.744h59.511z')

                                    .statistics-box__data
                                        .flex
                                            span.green مانشستر سيتي 
                                            p.mr-15 10%   
                                        .flex
                                            span.green مانشستر سيتي 
                                            p.mr-15  90%
                                        //- span.green 480 مباراة
                        .col-md-3.col-sm-6.col-xs-12.mt-15
                                .statistics-box.box-theme.line-under
                                    p.statistics-box__title تسديدات
                                    .statistics-box__info
                                        .statistics-box__icon
                                            span.icon.icon--large.grey
                                                svg(xmlns='http://www.w3.org/2000/svg' width='50.594' height='52.727' viewBox='0 0 50.594 52.727')
                                                    path#kick_1_.cls-1(data-name='kick (1)' d='M68.13,25.453c.29-.29.622-.443.733-.332l1.7,1.7c.111.111-.037.443-.332.733l-1.255,1.255.337,1.846-1.846-.337-.9.9.337,1.846-1.846-.337L55.047,42.738l.337,1.846-1.846-.337-1.229,1.229.337,1.846L50.8,46.983l-.775.775.337,1.846-1.846-.337-.633.633c-.29.29-.617.438-.733.327l-1.7-1.7c-.111-.111.037-.443.327-.733L68.13,25.453ZM51.3,31.585,50.059,32.83l6.813,1.988-1.508,1.5-4.477-1.086-1.329,1.329,4.408,1.155L52.479,39.2,50.3,38.6l-1.16,1.16,2.157.627-6.987,6.987s-4.155-.369-2.014-3.849c0,0,7.941-9.9,6.718-19.183,0,0-.148-2.431,1.45-.364L41.728,0h9.465l6.154,16.273a1.456,1.456,0,0,1,.464-.427c.511-.264,1.434-.274,2.937,1.165l6.966,6.966-9.47,9.47L51.3,31.585ZM30.992,42.733A10.992,10.992,0,1,1,41.986,31.738,10.99,10.99,0,0,1,30.992,42.733Zm8.637-9.955c-.005.005-.438-.538-.438-.538A8.081,8.081,0,0,1,37.9,36.057l.654-.137a8.246,8.246,0,0,0,1.076-3.143ZM34.5,40.9c.216.111.422.216.58.3A10.4,10.4,0,0,0,38.638,38.7c-.026-.158-.063-.38-.1-.622-.095-.617-.221-1.382-.269-1.687l-.016-.1c-.079.021-.316.084-.638.174-.881.237-2.368.643-2.668.722a1.405,1.405,0,0,0-.274.369c-.29.453-.8,1.25-1.171,1.846-.163.264-.306.485-.39.617a.97.97,0,0,1-.079.121c.163.09.865.448,1.471.754ZM31,28.211c-.026.021-.116.079-.248.174-.743.527-2.874,2.03-3.032,2.141.179.543,1.2,3.691,1.266,3.886h4.018c.063-.2,1.086-3.343,1.244-3.833-.137-.163-2.267-1.672-3.011-2.2C31.118,28.3,31.029,28.232,31,28.211Zm.243-.227v-3L31,25.084l-.248-.095v3L31,27.81ZM27.3,36.927c.016.005.316.427.316.427l1.835-2.61h-.6L27.3,36.927Zm5.911-2.183h-.6l1.835,2.584.253-.4-1.487-2.188ZM31.05,40.286a9.106,9.106,0,0,0,1.619-.153l.369-.58a8.2,8.2,0,0,1-4.081-.032l.374.591A8.717,8.717,0,0,0,31.05,40.286Zm-4.113.875.585-.29c.606-.3,1.292-.643,1.445-.717a1.594,1.594,0,0,0-.095-.142c-.09-.142-.232-.369-.4-.633-.538-.854-1.324-2.093-1.366-2.162-.084-.021-1.629-.443-2.6-.707-.353-.095-.627-.174-.733-.2-.053.169-.2.97-.322,1.65-.042.232-.079.448-.111.622A10.357,10.357,0,0,0,26.937,41.161ZM23.52,35.9l.686.185a8.1,8.1,0,0,1-1.318-3.955l-.443.554A8.791,8.791,0,0,0,23.52,35.9Zm.986-6.4c-.026-.322-.116-1.629-.179-2.531-.021-.322-.042-.6-.053-.749a.577.577,0,0,0-.011-.116c-.174.032-.954.163-1.624.279-.237.042-.459.079-.633.111A10.306,10.306,0,0,0,20.694,30.7c.132.121.29.279.459.443.49.475,1.065,1.028,1.192,1.15.153-.2.327-.406.527-.664.432-.543,1.018-1.276,1.355-1.7a1.173,1.173,0,0,0,.279-.427Zm3.032,1.519-.19-.58-2.5-.759-.316.385,3.011.954ZM24.58,25.864l.047.707a8.225,8.225,0,0,1,3.522-2.589l-.659-.258A8.605,8.605,0,0,0,24.58,25.864ZM33.5,22.025c-.111-.221-.216-.422-.29-.575a10.4,10.4,0,0,0-2.162-.232,10.775,10.775,0,0,0-2.162.227c-.084.153-.2.353-.316.58-.322.58-.712,1.287-.8,1.445q.047.016.158.063l.7.269c.717.279,1.682.659,2.13.828.137.053.227.09.248.095l.243-.095c.459-.179,1.445-.559,2.167-.844.306-.116.559-.216.712-.279a.85.85,0,0,1,.121-.042c-.09-.153-.448-.854-.749-1.44Zm1.06,1.677-.664.258a8.177,8.177,0,0,1,3.485,2.5l.047-.691A8.663,8.663,0,0,0,34.562,23.7Zm2.6,5.959-2.515.78-.19.58,2.979-.981Zm2.3-3.253c-.691-.121-1.55-.269-1.73-.3-.005.095-.026.38-.053.743-.063.9-.163,2.31-.185,2.647a1.167,1.167,0,0,0,.274.427c.369.459,1.012,1.266,1.445,1.814.221.274.39.485.443.554.2-.2.8-.77,1.276-1.234.179-.174.343-.327.459-.443a10.268,10.268,0,0,0-1.3-4.1c-.169-.026-.4-.063-.633-.105ZM26.905,46.666a27.315,27.315,0,0,0,5.11,3.074,27.979,27.979,0,0,0,6.006,1.677,38.43,38.43,0,0,0,6.338.643l.026.258a33.882,33.882,0,0,1-6.5.4,30.029,30.029,0,0,1-6.544-1,13.779,13.779,0,0,1-6.117-3.053,9.157,9.157,0,0,1-2.953-6.143l.243-.09A22.085,22.085,0,0,0,26.905,46.666Z' transform='translate(-20.003 0)')

                                        .statistics-box__data
                                            .flex
                                                span.green مانشستر سيتي 
                                                p.mr-15.green 47   
                                            .flex
                                                span مانشستر سيتي 
                                                p.mr-15  37 
                                            //- span.slash / 
                                            //- span.green 90
                        .col-md-3.col-sm-6.col-xs-12.mt-15
                            .statistics-box.box-theme.line-under
                                p.statistics-box__title تسديدات على المرمى 
                                .statistics-box__info
                                    .statistics-box__icon
                                        span.icon.icon--large.grey
                                            svg(xmlns='http://www.w3.org/2000/svg' width='50.594' height='47.552' viewBox='0 0 50.594 47.552' )
                                                g#goalkeeper(transform='translate(0 -15.396)')
                                                    g#Group_2011(data-name='Group 2011' transform='translate(0 15.396)')
                                                        g#Group_2010(data-name='Group 2010' transform='translate(0 0)')
                                                            path#Path_917.cls-1(data-name='Path 917' d='M49.215,15.4H1.379A1.379,1.379,0,0,0,0,16.775V46.238a1.381,1.381,0,0,0,2.326,1l6.438-6.077a1.379,1.379,0,0,0,.392-1.336L3.764,18.155H46.83l-3.1,12.455,2.063,3.134,2.041-8.2-.025,18.947,1.331,3.126c.025,0,.049,0,.074,0a1.38,1.38,0,0,0,1.379-1.379V16.775A1.379,1.379,0,0,0,49.215,15.4ZM6.284,39.711,2.759,43.039v-17.5Z' transform='translate(0 -15.396)')
                                                    g#Group_2013(data-name='Group 2013' transform='translate(13.753 27.351)')
                                                        g#Group_2012(data-name='Group 2012' transform='translate(0 0)')
                                                            path#Path_918.cls-1(data-name='Path 918' d='M173.931,159.376l-3.767-8.849a2.207,2.207,0,0,0-2.008-1.342l-4.974-.05-4.131-9.26,4.206-.155,3.706,5.6a1.655,1.655,0,0,0,2.762-1.826l-4.219-6.38a1.661,1.661,0,0,0-1.442-.741l-5.8.214a3.516,3.516,0,0,0-1.281.293l-8.227,3.6-5.483-.577-1.441-3.23a5.459,5.459,0,0,1-2.658,2.168l1.464,3.282a1.655,1.655,0,0,0,1.338.972l8.175.86,11.886,26.7a2.207,2.207,0,0,0,2.984,1.091,2.241,2.241,0,0,0,1.031-2.926L159.8,154.7l.009,0,2.583-1.152,4.273.043,3.2,7.521a2.207,2.207,0,1,0,4.061-1.729Z' transform='translate(-139.176 -136.376)')
                                                    g#Group_2015(data-name='Group 2015' transform='translate(21.694 20.867)')
                                                        g#Group_2014(data-name='Group 2014' transform='translate(0 0)')
                                                            circle#Ellipse_183.cls-1(data-name='Ellipse 183' cx='3.83' cy='3.83' r='3.83')
                                                    g#Group_2017(data-name='Group 2017' transform='translate(7.952 20.866)')
                                                        g#Group_2016(data-name='Group 2016')
                                                            path#Path_919.cls-1(data-name='Path 919' d='M87.8,73.022a3.83,3.83,0,1,0-3.5,5.392A3.831,3.831,0,0,0,87.8,73.022Z' transform='translate(-80.467 -70.751)')


                                    .statistics-box__data
                                        .flex
                                            span.green مانشستر سيتي 
                                            p.mr-15.green 47   
                                        .flex
                                            span مانشستر سيتي 
                                            p.mr-15  37 
                        .col-md-3.col-sm-6.col-xs-12.mt-15
                            .statistics-box.box-theme.line-under
                                p.statistics-box__title أخطاء 
                                .statistics-box__info
                                    .statistics-box__icon
                                        span.icon.icon--large.grey
                                            svg#glove_1_(data-name='glove (1)' xmlns='http://www.w3.org/2000/svg' width='27.27' height='49.728' viewBox='0 0 27.27 49.728')
                                                path#Path_927.cls-1(data-name='Path 927' d='M23.26,15.239H20.853V3.208a3.208,3.208,0,1,0-6.416,0v8.467a3.144,3.144,0,0,0-4.01.662,3.166,3.166,0,0,0-4.812,0A3.195,3.195,0,0,0,0,14.437v14.47a7.224,7.224,0,0,0,1.738,4.7l1.723,2.01a5.622,5.622,0,0,1,1.352,3.654V40.1h-1.6v6.416H5.614v3.208H23.26V46.519h2.406V40.1h-1.6V36.995a5.628,5.628,0,0,1,.739-2.786l1.518-2.656a7.231,7.231,0,0,0,.951-3.582V19.249A4.015,4.015,0,0,0,23.26,15.239Zm2.406,4.01v8.722c0,.044-.007.087-.009.132a6.937,6.937,0,0,0-4.879,2.587,7.009,7.009,0,0,0-1.529,4.361v.239a4.813,4.813,0,1,1-9.625-.067,6.384,6.384,0,0,0-3.082-5.444,6.353,6.353,0,0,0-3.267-.9H1.6v-2.05a3.144,3.144,0,0,0,4.01-.662,3.166,3.166,0,0,0,4.812,0,3.195,3.195,0,0,0,5.614-2.1V21.655h2.842A11.409,11.409,0,0,0,16.041,29.2v1.281h1.6V29.2a9.826,9.826,0,0,1,3.513-7.542h1.3v-1.6H15.239a1.6,1.6,0,1,1,0-3.208H23.26A2.409,2.409,0,0,1,25.666,19.249ZM16.041,3.208a1.6,1.6,0,0,1,3.208,0V15.239H16.041Zm-3.208,9.625a1.606,1.606,0,0,1,1.6,1.6v.916a3.193,3.193,0,0,0,0,6.189v2.52a1.6,1.6,0,0,1-3.208,0V14.437A1.606,1.606,0,0,1,12.833,12.833Zm-4.812,0a1.606,1.606,0,0,1,1.6,1.6v9.625a1.6,1.6,0,1,1-3.208,0V14.437A1.606,1.606,0,0,1,8.021,12.833ZM1.6,14.437a1.6,1.6,0,1,1,3.208,0v9.625a1.6,1.6,0,1,1-3.208,0ZM4.678,34.57,2.956,32.56A5.608,5.608,0,0,1,1.85,30.478H3.276a4.749,4.749,0,0,1,2.441.676,4.8,4.8,0,0,1,2.3,4.136A6.4,6.4,0,0,0,10.207,40.1H6.416v-.835A7.224,7.224,0,0,0,4.678,34.57Zm.134,7.137H18.447a1.6,1.6,0,0,1,0,3.208H4.812Zm16.843,6.416H7.218v-1.6H21.655Zm2.406-3.208H21.209a3.107,3.107,0,0,0,0-3.208h2.852Zm-.653-11.5a7.231,7.231,0,0,0-.951,3.582V40.1H18.667a6.4,6.4,0,0,0,2.186-4.812v-.239a5.4,5.4,0,0,1,1.177-3.358,5.343,5.343,0,0,1,3.332-1.939,5.635,5.635,0,0,1-.437,1Zm0,0')
                                                path#Path_928.cls-1(data-name='Path 928' d='M113.6,339.65a1.574,1.574,0,0,1,.163-.686l-1.449-.69A3.179,3.179,0,0,0,112,339.65a3.195,3.195,0,0,0,4.585,2.89l-.69-1.449A1.608,1.608,0,0,1,113.6,339.65Zm0,0' transform='translate(-100.771 -304.359)')
                                                path#Path_929.cls-1(data-name='Path 929' d='M131.643,320a3.185,3.185,0,0,0-1.377.318l.69,1.449a1.608,1.608,0,0,1,2.291,1.441,1.573,1.573,0,0,1-.163.686l1.449.69a3.179,3.179,0,0,0,.318-1.376A3.211,3.211,0,0,0,131.643,320Zm0,0' transform='translate(-117.206 -287.918)')


                                    .statistics-box__data
                                        .flex
                                            span.green مانشستر سيتي 
                                            p.mr-15.green 47   
                                        .flex
                                            span.green مانشستر سيتي 
                                            p.mr-15  37 
                    
                    include ../components/_statistics.pug
                    //- .common-title.mt-15
                    //-     p اهم اللاعبين  
                    //- .row.mobile-horizontal-scroll
                    //-     .col-md-3.col-sm-6.col-xs-12.mt-15
                    //-         .most-players-card.box-theme
                    //-             a(href="#123").most-players-card__player.first.bottom-grad2
                    //-                 .most-players-card__info
                    //-                     .most-players-card__info-row
                    //-                         .most-players-card__name 1. ماركوس راشفورد
                    //-                         .most-players-card__score 29
                    //-                     .most-players-card__club
                    //-                         .most-players-card__club-logo
                    //-                             img(src="img/logos/1.png", alt="")
                    //-                         .most-players-card__club-name التعاون 
                    //-                 .most-players-card__img
                    //-                     img(src="img/logos/99.png", alt="")



        aside.layout__item.layout__item--mini.layout__item--nomobile(id="layout_mini")
            div.sticky-box
                include ../components/_formation-side.pug
                .mt-15.box-theme.ads-card.p-15
                    img(src="img/300.jpeg", alt="")
                