#app-content.container
    .layout
        main.layout__item.layout__item--large.mt-15.layout__item--large-single(id="layout_large")
            
            .single-wrapper
                .social-share
                    div.float-box
                        .social-share__item.fb-share
                            .icon
                                svg#Bold(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='512' viewBox='0 0 24 24' width='512')
                                    path(d='m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z')

                        .social-share__item.tw-share
                            .icon
                                svg#Capa_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                                    g
                                        g
                                            path(d='M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016    c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992    c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056    c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152    c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792    c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44    C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568    C480.224,136.96,497.728,118.496,512,97.248z')

                        .social-share__item.wt-share
                            .icon
                                svg(xmlns='http://www.w3.org/2000/svg' height='682pt' viewBox='-23 -21 682 682.66669' width='682pt')
                                    path(d='m544.386719 93.007812c-59.875-59.945312-139.503907-92.9726558-224.335938-93.007812-174.804687 0-317.070312 142.261719-317.140625 317.113281-.023437 55.894531 14.578125 110.457031 42.332032 158.550781l-44.992188 164.335938 168.121094-44.101562c46.324218 25.269531 98.476562 38.585937 151.550781 38.601562h.132813c174.785156 0 317.066406-142.273438 317.132812-317.132812.035156-84.742188-32.921875-164.417969-92.800781-224.359376zm-224.335938 487.933594h-.109375c-47.296875-.019531-93.683594-12.730468-134.160156-36.742187l-9.621094-5.714844-99.765625 26.171875 26.628907-97.269531-6.269532-9.972657c-26.386718-41.96875-40.320312-90.476562-40.296875-140.28125.054688-145.332031 118.304688-263.570312 263.699219-263.570312 70.40625.023438 136.589844 27.476562 186.355469 77.300781s77.15625 116.050781 77.132812 186.484375c-.0625 145.34375-118.304687 263.59375-263.59375 263.59375zm144.585938-197.417968c-7.921875-3.96875-46.882813-23.132813-54.148438-25.78125-7.257812-2.644532-12.546875-3.960938-17.824219 3.96875-5.285156 7.929687-20.46875 25.78125-25.09375 31.066406-4.625 5.289062-9.242187 5.953125-17.167968 1.984375-7.925782-3.964844-33.457032-12.335938-63.726563-39.332031-23.554687-21.011719-39.457031-46.960938-44.082031-54.890626-4.617188-7.9375-.039062-11.8125 3.476562-16.171874 8.578126-10.652344 17.167969-21.820313 19.808594-27.105469 2.644532-5.289063 1.320313-9.917969-.664062-13.882813-1.976563-3.964844-17.824219-42.96875-24.425782-58.839844-6.4375-15.445312-12.964843-13.359374-17.832031-13.601562-4.617187-.230469-9.902343-.277344-15.1875-.277344-5.28125 0-13.867187 1.980469-21.132812 9.917969-7.261719 7.933594-27.730469 27.101563-27.730469 66.105469s28.394531 76.683594 32.355469 81.972656c3.960937 5.289062 55.878906 85.328125 135.367187 119.648438 18.90625 8.171874 33.664063 13.042968 45.175782 16.695312 18.984374 6.03125 36.253906 5.179688 49.910156 3.140625 15.226562-2.277344 46.878906-19.171875 53.488281-37.679687 6.601563-18.511719 6.601563-34.375 4.617187-37.683594-1.976562-3.304688-7.261718-5.285156-15.183593-9.253906zm0 0' fill-rule='evenodd')

                        .social-share__item.msg-share
                            .icon
                                svg#Capa_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 477.867 477.867' style='enable-background:new 0 0 477.867 477.867;' xml:space='preserve')
                                    g
                                        g
                                            path(d='M460.8,68.267H17.067C7.641,68.267,0,75.908,0,85.333v307.2c0,9.426,7.641,17.067,17.067,17.067H460.8    c9.426,0,17.067-7.641,17.067-17.067v-307.2C477.867,75.908,470.226,68.267,460.8,68.267z M432.811,102.4L238.933,251.529    L45.056,102.4H432.811z M443.733,375.467h-409.6V137.062L228.54,286.6c6.13,4.707,14.657,4.707,20.787,0l194.406-149.538V375.467z'    )
                            a(href='mailto:?subject= "add subject"&body= shared item' title='Share by Email')
  
                        .social-share__item.cp-share
                            .icon
                                svg#Capa_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 352.804 352.804' style='enable-background:new 0 0 352.804 352.804;' xml:space='preserve')
                                    g
                                        path(d='M318.54,57.282h-47.652V15c0-8.284-6.716-15-15-15H34.264c-8.284,0-15,6.716-15,15v265.522c0,8.284,6.716,15,15,15h47.651   v42.281c0,8.284,6.716,15,15,15H318.54c8.284,0,15-6.716,15-15V72.282C333.54,63.998,326.824,57.282,318.54,57.282z    M49.264,265.522V30h191.623v27.282H96.916c-8.284,0-15,6.716-15,15v193.24H49.264z M303.54,322.804H111.916V87.282H303.54V322.804   z')
                            input#copyTxt(type="" value="www.facebook.com").cp-share-input 
                                 
                .main-content
                    
                    .single-content.box-theme
                        .single-content__top
                            .single-content__heading
                                span.icon
                                    svg.news-grad(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='15' viewBox='0 0 30 15')
                                        defs
                                            lineargradient#linear-gradient(x1='0.92' y1='0.5' x2='0' y2='0.5' gradientUnits='objectBoundingBox')
                                                stop(offset='0' stop-color='#24a557')
                                                stop(offset='1' stop-color='#bafb3c')
                                        rect#your_logo_here(data-name='your logo here' width='30' height='15' rx='2' fill='url(#linear-gradient)')
                                        
                                .breadcrumb 
                                    .breadcrumb__section
                                        li 
                                            a(href="#") الرئيسية
                                        li 
                                            a(href="#") كرة عالمية
                                        li 
                                            span مستقبل زيدان في مهب الريح
                            //- .single-content__top-icon
                            //-     a.post-news__category(href="##")
                            //-         span.icon
                            //-             svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='15' viewBox='0 0 30 15')
                            //-                 defs
                            //-                     lineargradient#linear-gradient(x1='0.92' y1='0.5' x2='0' y2='0.5' gradientUnits='objectBoundingBox')
                            //-                         stop(offset='0' stop-color='#24a557')
                            //-                         stop(offset='1' stop-color='#bafb3c')
                            //-                 rect#your_logo_here(data-name='your logo here' width='30' height='15' rx='2' fill='url(#linear-gradient)')
                            //-         p.text-gradient كرة عالمية
                            .single-content__title
                                h1 مستقبل زيدان في مهب الريح .. فرنسا تترقب و يوفينتوس يستعد للتحرك
                            .single-content__status-bar
                                .single-content__writter.bold كتب : محمد فتح الله
                                .single-content__writter  13 مارس 2010
                                .single-content__hits
                                    .icon
                                        svg(data-name='Iconly/Light-outline/Show' xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21')
                                            g(transform='translate(1.79 3.58)')
                                                path#Show-2(data-name='Show' d='M8.692,14.316c-3.5-.116-6.676-2.585-8.51-6.6L.054,7.424a.665.665,0,0,1,0-.527A12.774,12.774,0,0,1,3.807,1.843,8.357,8.357,0,0,1,8.952,0l.256,0C12.7.121,15.884,2.591,17.718,6.61l.125.28a.667.667,0,0,1,0,.533,12.783,12.783,0,0,1-3.754,5.054,8.357,8.357,0,0,1-5.144,1.843ZM4.771,2.791a11.028,11.028,0,0,0-3.226,4.07l-.14.3.151.323a11.191,11.191,0,0,0,3.025,3.9,7.142,7.142,0,0,0,3.9,1.584l.238.012.23,0,.228,0a7.107,7.107,0,0,0,4.148-1.606,11.336,11.336,0,0,0,3.156-4.2l.009-.022A11.452,11.452,0,0,0,13.43,3.024,7.184,7.184,0,0,0,9.411,1.35l-.238-.012-.214,0A7.005,7.005,0,0,0,4.771,2.791Zm.678,4.37a3.5,3.5,0,1,1,3.5,3.478A3.494,3.494,0,0,1,5.449,7.161Zm1.343,0A2.158,2.158,0,1,0,8.95,5.016,2.154,2.154,0,0,0,6.792,7.161Z' transform='translate(0)' fill='#17a654')

                                    span 12789        
                            
                        .single-content__img.mt-15
                            img(src="img/content/8.jpg", alt="")
                        
                        //- .single-content__imgs-group.flex
                        //-     -for(let x=7 ; x < 10 ; x++)
                        //-         .single-content__img-group-holder
                        //-             img(src="img/content/7.jpg", alt="")
                        //-     .single-content__img-group-holder.view-all
                        //-         img(src="img/content/7.jpg", alt="")
                        //-         .view-all__btn-layer
                        //-              .view-all__btn.flex.btn.btn--radius.btn--primary
                        //-                 svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                        //-                     g
                        //-                         g
                        //-                             g
                        //-                                 path(d='M256,157c-68.925,0-125,56.075-125,125s56.075,125,125,125s125-56.075,125-125S324.925,157,256,157z M256,367     c-46.869,0-85-38.131-85-85c0-46.869,38.131-85,85-85s85,38.131,85,85C341,328.869,302.869,367,256,367z')
                        //-                                 path(d='M452,97h-73.575c-2.329,0-4.428-1.271-5.508-3.327L352.562,50.9c-0.056-0.117-0.112-0.233-0.171-0.349     C344.512,34.791,328.67,25,311.049,25H202.376c-17.621,0-33.463,9.791-41.342,25.552c-0.059,0.116-0.115,0.232-0.171,0.349     l-20.356,42.775C139.427,95.729,137.329,97,135,97H60c-33.084,0-60,26.916-60,60v270c0,33.084,26.916,60,60,60h392     c33.084,0,60-26.916,60-60V157C512,123.916,485.084,97,452,97z M472,426.999c0,11.028-8.972,20-20,20H60     c-11.028,0-20-8.972-20-20V157c0-11.028,8.972-20,20-20h75c17.62,0,33.462-9.79,41.342-25.55c0.059-0.116,0.115-0.233,0.172-0.35     l20.356-42.775c1.079-2.054,3.177-3.325,5.506-3.325h108.673c2.329,0,4.427,1.271,5.506,3.324l20.356,42.775     c0.057,0.117,0.113,0.234,0.172,0.35c7.88,15.76,23.722,25.55,41.342,25.55H452c11.028,0,20,8.972,20,20V426.999z')
                        //-                                 rect(x='392' y='177' width='40' height='40')
 
                        //-                 span عرض الكل




                        .follow-us.flex
                            p.follow-us__p تابعنا عبر :
                            .follow-us__box.flex
                                .follow-us__item.relative 
                                    a(href="#79" target='blank')
                                    .icon-img
                                        img(src="img/365.jpg", alt="")
                                    span 365 Scores
                                .follow-us__item.relative 
                                    a(href="#79" target='blank')
                                    .icon
                                        svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512')
                                            g
                                                path(d='m444.5 15.519h-188.5l-188.5 150.889h377z' fill='#0f9d58')
                                                path(d='m67.5 15.519h188.5v150.89h-188.5z' fill='#31aa52')
                                                path(d='m270.015 206.578h286.322v144.567h-286.322z' fill='#eb4132' transform='matrix(.195 -.981 .981 .195 59.066 629.696)')
                                                path(d='m384.468 76.078-128.468 25.554-200.142 331.742 384.469-76.475z' fill='#f8a808')
                                                path(d='m0 152.553 55.858 280.821 200.142-39.81v-291.932z' fill='#fbbd00')
                                                path(d='m459.5 201.481h-203.5l-60 147.5 60 147.5h203.5z' fill='#4175df')
                                                path(d='m52.5 201.481h203.5v295h-203.5z' fill='#4086f4')
                                                g(fill='#e3e7ea')
                                                    path(d='m317.5 273.981h82v30h-82z')
                                                    path(d='m317.5 333.981h82v30h-82z')
                                                    path(d='m317.5 393.981h82v30h-82z')
                                                path(d='m256 333.981h-56v30h55.503c-6.616 24.453-28.986 42.5-55.503 42.5-31.706 0-57.5-25.794-57.5-57.5s25.794-57.5 57.5-57.5c13.558 0 26.479 4.718 36.8 13.335l19.2-23.042c-15.707-13.114-35.37-20.293-56-20.293-48.248 0-87.5 39.252-87.5 87.5s39.252 87.5 87.5 87.5c21.284 0 40.815-7.642 56-20.322l11.5-52.178z' fill='#fff')
                                                path(d='m256 333.981v82.178c19.238-16.064 31.5-40.214 31.5-67.178v-15z' fill='#e3e7ea')

                                    span Google News
                                .follow-us__item.relative 
                                    a(href="#79" target='blank')
                                    .icon
                                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                                            path(style='fill:#03A9F4;' d='M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016  c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992  c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056  c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152  c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792  c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44  C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568  C480.224,136.96,497.728,118.496,512,97.248z')

                                    span  تويتر
                                .follow-us__item.relative 
                                    a(href="#79" target='blank')
                                    .icon
                                        svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='512' viewBox='0 0 24 24' width='512')
                                            circle(cx='12' cy='12' fill='#039be5' r='12')
                                            path(d='m5.491 11.74 11.57-4.461c.537-.194 1.006.131.832.943l.001-.001-1.97 9.281c-.146.658-.537.818-1.084.508l-3-2.211-1.447 1.394c-.16.16-.295.295-.605.295l.213-3.053 5.56-5.023c.242-.213-.054-.333-.373-.121l-6.871 4.326-2.962-.924c-.643-.204-.657-.643.136-.953z' fill='#fff')

                                    span تليجرام
                                
                                
                        
                        .single-content__article
                            h6 موقف متأزم مع الريال و خلافات مع بيريز
                            p كشفت صحيفة "ذا صن" مستقبل هاري كين، مهاجم فريق الكرة الأول بنادي توتنهام الإنجليزي، خلال الانتقالات الصيفية المقبلة. كشفت صحيفة "ذا صن" مستقبل هاري كين، مهاجم فريق الكرة الأول بنادي توتنهام الإنجليزي، خلال الانتقالات الصيفية المقبلة.
                            p كشفت صحيفة "ذا صن" مستقبل هاري كين، مهاجم فريق الكرة الأول بنادي توتنهام الإنجليزي، خلال الانتقالات الصيفية المقبلة. كشفت صحيفة "ذا صن" مستقبل هاري كين، مهاجم فريق الكرة الأول بنادي توتنهام الإنجليزي، خلال الانتقالات الصيفية المقبلة.
                            h6 موقف متأزم مع الريال و خلافات مع بيريز
                            p كشفت صحيفة "ذا صن" مستقبل هاري كين، مهاجم فريق الكرة الأول بنادي توتنهام الإنجليزي، خلال الانتقالات الصيفية المقبلة. كشفت صحيفة "ذا صن" مستقبل هاري كين، مهاجم فريق الكرة الأول بنادي توتنهام الإنجليزي، خلال الانتقالات الصيفية المقبلة.
                        .single-content__tags.mt-15
                            a(href='#12').single-content__tags-item الدوري الأسباني
                            a(href='#12').single-content__tags-item ريال مدريد
                            a(href='#12').single-content__tags-item زيدان
                            a(href='#12').single-content__tags-item يوفينتوس
                            a(href='#12').single-content__tags-item فرنسا
            .main-title
                p موضوعات متعلقة
            .row 
                -for(let i=0; i<=2; i++)
                    .col-md-4.col-sm-6
                        -
                            let post = {
                                img:data.content[i].img,
                                caption:data.content[i].title,
                                modifier:'post-news--card post-news--mobile',
                                category:true,
                                info:true   
                            }
                        include ../components/_post-news.pug
                -for(let i=0; i<=2; i++)
                    .col-md-4.col-sm-6
                        -
                            let post = {
                                img:data.content[i].img,
                                caption:data.content[i].title,
                                modifier:'post-news--card post-news--mobile',
                                infographic:true,
                                info:true   
                            }
                        include ../components/_post-news.pug
        aside.layout__item.layout__item--mini.layout__item--mini-single(id="layout_mini")
            div.sticky-box
                //- include ../components/_side-matches.pug
                include ../components/_trend.pug
                include ../components/_survey.pug
                .mt-15.box-theme.ads-card.p-15
                    img(src="img/300.jpeg", alt="")
.action-message تم النسخ
