#app-content.container
    .layout
        main.layout__item.layout__item--large(id="layout_large")
            .breadcrumb 
                .breadcrumb__category
                    h1 إحصائيات لاعبي الدوري السعودي
                    //- .breadcrumb__others 
                        a.active(href="#")  كل الأخبار
                        a(href="#")  كرة سعودية
                        a(href="#")  كرة عربية
                        a(href="#")  كرة عالمية
                        a(href="#")  إنفوجرافيك
                //- .breadcrumb__section
                    li 
                        a(href="#") الرئيسية
                    li 
                        span أخبار
            //- .primary-title.mb-15
            //-     h1  إحصائيات لاعبي الدوري السعودي
            .box-theme
                .select-group
                    .select-theme.select-theme--noshadow.select-theme--bordered
                        .select-theme__current(tabindex='1')
                            .select-theme__value
                                input#1.select-theme__input(type='radio', value='1', name='scorers', checked='checked')
                                p.select-theme__input-text الهدافين
                            .select-theme__value
                                input#2.select-theme__input(type='radio', value='2', name='scorers')
                                p.select-theme__input-text صناعة اهداف 
                            .select-theme__value
                                input#3.select-theme__input(type='radio', value='3', name='scorers')
                                p.select-theme__input-text فوز 
                            span.icon.select-theme__icon
                                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 185.344 185.344', style='enable-background:new 0 0 185.344 185.344;', xml:space='preserve')
                                    g
                                        g
                                        path(d='M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18\
                                        c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0\
                                        c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z')
                        ul.select-theme__list
                            li
                                label.select-box__option(for='1', aria-hidden='aria-hidden') الهدافين
                            li
                                label.select-box__option(for='2', aria-hidden='aria-hidden') صناعة اهداف
                            li
                                label.select-box__option(for='3', aria-hidden='aria-hidden') فوز
                    .select-theme.select-theme--noshadow.select-theme--bordered
                        .select-theme__current(tabindex='1')
                            .select-theme__value
                                input#4.select-theme__input(type='radio', value='4', name='season', checked='checked')
                                p.select-theme__input-text موسم 2020
                            .select-theme__value
                                input#5.select-theme__input(type='radio', value='5', name='season')
                                p.select-theme__input-text 2كل الفرق
                            .select-theme__value
                                input#6.select-theme__input(type='radio', value='6', name='season')
                                p.select-theme__input-text 3كل الفرق
                            span.icon.select-theme__icon
                                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 185.344 185.344', style='enable-background:new 0 0 185.344 185.344;', xml:space='preserve')
                                    g
                                        g
                                        path(d='M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18\
                                        c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0\
                                        c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z')
                        ul.select-theme__list
                            li
                                label.select-box__option(for='4', aria-hidden='aria-hidden') موسم 2020
                            li
                                label.select-box__option(for='5', aria-hidden='aria-hidden') 2كل الفرق
                            li
                                label.select-box__option(for='6', aria-hidden='aria-hidden') 3كل الفرق
                    .select-theme.select-theme--noshadow.select-theme--bordered
                        .select-theme__current(tabindex='1')
                            .select-theme__value
                                input#7.select-theme__input(type='radio', value='7', name='teams', checked='checked')
                                p.select-theme__input-text الفرق
                            .select-theme__value
                                input#8.select-theme__input(type='radio', value='8', name='teams')
                                p.select-theme__input-text 2كل الفرق
                            .select-theme__value
                                input#9.select-theme__input(type='radio', value='9', name='teams')
                                p.select-theme__input-text 3كل الفرق
                            span.icon.select-theme__icon
                                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 185.344 185.344', style='enable-background:new 0 0 185.344 185.344;', xml:space='preserve')
                                    g
                                        g
                                        path(d='M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18\
                                        c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0\
                                        c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z')
                        ul.select-theme__list
                            li
                                label.select-box__option(for='7', aria-hidden='aria-hidden') الفرق
                            li
                                label.select-box__option(for='8', aria-hidden='aria-hidden') 2كل الفرق
                            li
                                label.select-box__option(for='9', aria-hidden='aria-hidden') 3كل الفرق
                                
                    //- .select-box
                    //-     select.statistics-topscorers
                    //-         option(value='Option 1')  الهدافين
                    //-         option(value='Option 2')  الهدافين
                    //-         option(value='Option 3')  الهدافين
                    //-         option(value='Option 4')  الهدافين 
                    //- .select-box
                    //-     select.statistics-season
                    //-         option(value='Option 1')  موسم 2020
                    //-         option(value='Option 2')  موسم
                    //-         option(value='Option 3')  موسم
                    //-         option(value='Option 4')  موسم 
                    //- .select-box
                    //-     select.statistics-allteams
                    //-         option(value='Option 1')  كل الفرق
                    //-         option(value='Option 2')  الفرق
                    //-         option(value='Option 3')  الفرق
                    //-         option(value='Option 4')  الفرق 
                
                .competition-table.competition-table--common
                    .table-box.table-box--common
                        .inner-body
                            .table-box__row.table-box__row--head
                                .table-box__col #
                                .table-box__col اللاعب
                                .table-box__col الفريق 
                                .table-box__col الجنسية
                                .table-box__col العدد 
                                
                            -for(let i = 1 ; i < 20 ; i++)
                                .table-box__row
                                    .table-box__col
                                        span.number #{i}
                                    .table-box__col 
                                        .img-beside-text
                                            a(href='team.html')
                                            img(src="img/logos/99.png")
                                            p محمد أحمد محمد
                                    .table-box__col 
                                        .img-beside-text
                                            a(href='team.html')
                                            img(src="img/logos/1.png")
                                            p باريس سان جيرمان 
                                    .table-box__col 
                                        .img-beside-text
                                            a(href='team.html')
                                            img(src="img/logos/27.png")
                                            p الأرجنتين
                                    
                                    .table-box__col.number.mark 25
            a.btn.btn--primary.btn--viewall(href='#') المزيد     


            //-.competition-table
                .table-box.box-theme.mt-15
                    .formation-side
                        .formation-side__head.bottom-grad2 جدول الترتيب
                    .inner-body
                        .table-box__row.table-box__row--head
                            .table-box__col.table-box__col--first #
                            .table-box__col.table-box__col--large الفريق
                            .table-box__col لعب 
                            .table-box__col فوز 
                            .table-box__col تعادل
                            .table-box__col خسارة 
                            .table-box__col فرق أهداف
                            .table-box__col أخر مباريات
                            .table-box__col.mark نقاط
                        -for(let i = 1 ; i < 5 ; i++)
                            .table-box__row
                                .table-box__col.table-box__col--first
                                    span.number #{i}
                                .table-box__col.table-box__col--large 
                                    .img-beside-text
                                        a(href='team.html')
                                        img(src="img/logos/1.png")
                                        p باريس سان جيرمان
                                .table-box__col.number 25 
                                .table-box__col.number 25
                                .table-box__col.number 25
                                .table-box__col.number 25 
                                .table-box__col.number 25
                                .table-box__col.last-results
                                    svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                            path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                            path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                    svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                        path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                        path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                    svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                        g
                                            g#remove-circle
                                                path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                    svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                        g
                                            g#remove-circle
                                                path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                    svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                        path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                        path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                

                                .table-box__col.number.mark 25
            
        
        
        
        
        
        
        
        
        aside.layout__item.layout__item--mini(id="layout_mini")
            div.sticky-box
                -for(let i=0;i<3;i++)
                    .most-players-card.box-theme.mb-15
                        .most-players-card__head.bottom-grad2 عدد المشاركات
                        a.most-players-card__player.first.bottom-grad2(href='#123')
                            .most-players-card__info
                                .most-players-card__info-row
                                    .most-players-card__name 1. ماركوس راشفورد
                                    .most-players-card__score 29
                                .most-players-card__club
                                    .most-players-card__club-logo
                                        img(src='img/logos/1.png' alt='')
                                    .most-players-card__club-name التعاون 
                            .most-players-card__img
                                img(src='img/logos/99.png' alt='')
                        a.most-players-card__player.second(href='#123')
                            .most-players-card__info
                                .most-players-card__info-row
                                    .most-players-card__name ماركوس راشفورد
                                    .most-players-card__score 29
                                .most-players-card__club
                                    .most-players-card__club-logo
                                        img(src='img/logos/1.png' alt='')
                                    .most-players-card__club-name التعاون 
                            .most-players-card__img
                                img(src='img/logos/99.png' alt='')
                        a.most-players-card__player.second(href='#123')
                            .most-players-card__info
                                .most-players-card__info-row
                                    .most-players-card__name ماركوس راشفورد
                                    .most-players-card__score 29
                                .most-players-card__club
                                    .most-players-card__club-logo
                                        img(src='img/logos/1.png' alt='')
                                    .most-players-card__club-name التعاون 
                            .most-players-card__img
                                img(src='img/logos/99.png' alt='')
                        a.most-players-card__player.second(href='#123')
                            .most-players-card__info
                                .most-players-card__info-row
                                    .most-players-card__name ماركوس راشفورد
                                    .most-players-card__score 29
                                .most-players-card__club
                                    .most-players-card__club-logo
                                        img(src='img/logos/1.png' alt='')
                                    .most-players-card__club-name التعاون 
                            .most-players-card__img
                                img(src='img/logos/99.png' alt='')
                        a.most-players-card__player.second(href='#123')
                            .most-players-card__info
                                .most-players-card__info-row
                                    .most-players-card__name ماركوس راشفورد
                                    .most-players-card__score 29
                                .most-players-card__club
                                    .most-players-card__club-logo
                                        img(src='img/logos/1.png' alt='')
                                    .most-players-card__club-name التعاون 
                            .most-players-card__img
                                img(src='img/logos/99.png' alt='')
                        a.most-players-card__btn(href='#123') كل القائمة

                //- include ../components/_side-matches