#app-content.container 
    
    .layout
        main.layout__item.layout__item--large.layout__item--tab.active(id="layout_large")
            .breadcrumb 
                .breadcrumb__category
                    h1 قصص
                    .breadcrumb__others 
                        a.active(href="#")  الأكثر مشاهدة
                        a(href="#")   سعودية
                        a(href="#")   عربية
                        a(href="#")   عالمية
                        
                .breadcrumb__section
                    li 
                        a(href="#") الرئيسية
                    li 
                        span قصص
            -let arr2 = ['11','12','13','14','15']
            -for(let x = 0 ; x < 3 ; x++)
                .category-block.mt-15
                    .common-title
                        p الأكثر مشاهدة
                    .stories.stories--page
                        -for(let i=0; i<10; i++)
                            a(href='#96').story-card.mt-15
                                img.story-card__img(src='img/posters/'+arr2[i]+'.jpg', alt="")
                                .story-card__title 
                                    p هالاند سفاح اوروبا الجديد هالاند سفاح اوروبا الجديد هالاند سفاح اوروبا الجديد 
                                span.story-card__time منذ ساعتين
                                .story-card__logo
                                    .story-card__logo-holder
                                        img(src="img/logos/1.png", alt="")
                                    p مانشستر سيتي 
        aside.layout__item.layout__item--mini.layout__item--tab(id="layout_mini")
            div.sticky-box
                .box-theme.ads-card.p-15
                    img(src="img/300.jpeg", alt="")
                .mt-15
                include ../components/_side-matches.pug
                include ../components/_trend.pug
                include ../components/_survey.pug