#app-content.container(page-type="team")
    .layout
        main.layout__item.layout__item--large(id="layout_large")
            .profile-intro.box-theme.line-under
                .profile-intro__info
                    .profile-intro__main
                        img(src="img/logos/4.png")
                        .profile-intro__data
                            h1.profile-intro__title ماشستر يونايتد  
                            .img-beside-text
                                img(src="img/saudi.jpg")
                                p السعودية
                    .profile-intro__side
                        .flex
                            .select-theme.select-theme--mini.select-theme--img.select-comp
                                .select-theme__current(tabindex='2')
                                    .select-theme__value
                                        input#4.select-theme__input(type='radio', value='1', name='competition', checked='checked')
                                        .select-theme__input-text.flex
                                            img(src="img/logos/1.png", alt="")
                                            p الدوري
                                    .select-theme__value
                                        input#5.select-theme__input(type='radio', value='2', name='competition')
                                        .select-theme__input-text.flex
                                            img(src="img/logos/1.png", alt="")
                                            p الكاس
                                    .select-theme__value
                                        input#6.select-theme__input(type='radio', value='3', name='competition')
                                        .select-theme__input-text.flex
                                            img(src="img/logos/1.png", alt="")
                                            p دوري الابطال
                                    span.icon.select-theme__icon
                                        svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 185.344 185.344', style='enable-background:new 0 0 185.344 185.344;', xml:space='preserve')
                                            g
                                                g
                                                path(d='M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18\
                                                c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0\
                                                c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z')
                                ul.select-theme__list
                                    li
                                        label.select-box__option(for='4', aria-hidden='aria-hidden').flex
                                            img(src="img/logos/1.png", alt="")
                                            p الدوري
                                    li
                                        label.select-box__option(for='5', aria-hidden='aria-hidden').flex
                                            img(src="img/logos/1.png", alt="")
                                            p الكاس
                                    li
                                        label.select-box__option(for='6', aria-hidden='aria-hidden').flex
                                            img(src="img/logos/1.png", alt="")
                                            p دوري الابطال
                            .select-theme.select-theme--mini.mr-15.select-season
                                .select-theme__current(tabindex='1')
                                    .select-theme__value
                                        input#1.select-theme__input(type='radio', value='1', name='season', checked='checked')
                                        p.select-theme__input-text 2021
                                    .select-theme__value
                                        input#2.select-theme__input(type='radio', value='2', name='season')
                                        p.select-theme__input-text 2020
                                    .select-theme__value
                                        input#3.select-theme__input(type='radio', value='3', name='season')
                                        p.select-theme__input-text 2019
                                    span.icon.select-theme__icon
                                        svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 185.344 185.344', style='enable-background:new 0 0 185.344 185.344;', xml:space='preserve')
                                            g
                                                g
                                                path(d='M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18\
                                                c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0\
                                                c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z')
                                ul.select-theme__list
                                    li
                                        label.select-box__option(for='1', aria-hidden='aria-hidden') 2021
                                    li
                                        label.select-box__option(for='2', aria-hidden='aria-hidden') 2020
                                    li
                                        label.select-box__option(for='3', aria-hidden='aria-hidden') 2019
                            
                        //- .select-box
                            select
                                option(value='Option 1')  2021
                                option(value='Option 2')  2020
                                option(value='Option 3')  2019
                                option(value='Option 4')  2018 
                .profile-intro__team-info
                    .profile-intro__item
                        .profile-intro__type المدير الفني :
                        .profile-intro__type-green بيتسو موسيماني
                    .profile-intro__item
                        .profile-intro__type لاعبين أجانب : 
                        .profile-intro__type-green 5 لاعبين 
                    .profile-intro__item
                        .profile-intro__type لاعبين دوليين : 
                        .profile-intro__type-green  4 لاعبين
                    .profile-intro__item
                        .profile-intro__type الملعب : 
                        .profile-intro__type-green ستاد السلام الدولي
                    
            .flex.mt-15
                
                .competition-head-tabs.flex
                    .competition-tab.table-tabs__tab.active
                        .img-beside-text
                            img(src="img/logos/226.png", alt="")
                            p الدوري السعودي
                    .competition-tab.table-tabs__tab
                        .img-beside-text
                            img(src="img/logos/226.png", alt="")
                            p الدوري الاوروبي
                    .competition-tab.table-tabs__tab
                        .img-beside-text
                            img(src="img/logos/226.png", alt="")
                            p الدوري المصري
            
            
            
            .switch-content.table-switch-content.active
                    .competition-matches.mt-15
                        .competition-matches__head
                            p مباريات
                            .matches-switcher.flex
                                div.matches-switcher__tab.active السابقة
                                div.matches-switcher__tab القادمة
                        .competition-matches__body.box-theme
                            .match-card-wide
                                .match-card-wide__match
                                    a(href="team.html").match-card-wide__team.teamA
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر يونايتد
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/4.png", alt="")
                                    .match-card-wide__center
                                        .match-card-wide__result-box.match-ended
                                            .match-card-wide__result 3 : 2
                                                .match-card-wide__bottom-line
                                            .match-card-wide__time انتهت
                                    a(href="team.html").match-card-wide__team.teamB
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر سيتي
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/1.png", alt="")
                                .match-card-wide__link
                                    a(href="single-match.html").match-card-wide__btn.btn.btn--primary تقرير المباراة
                            .match-card-wide
                                .match-card-wide__match
                                    a(href="team.html").match-card-wide__team.teamA
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر يونايتد
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/4.png", alt="")
                                    .match-card-wide__center
                                        .match-card-wide__result-box
                                            .match-card-wide__result - : -
                                                .match-card-wide__bottom-line
                                            .match-card-wide__time 09:15
                                    a(href="team.html").match-card-wide__team.teamB
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر سيتي
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/1.png", alt="")
                                .match-card-wide__link
                                    a(href="single-match.html").match-card-wide__btn.btn.btn--primary تقرير المباراة
                    a.btn.btn--primary.btn--viewall(href='#') كل المباريات                


                    .common-title.mt-15
                        p  جدول الترتيب
                    //- div content all
                    .table-box.box-theme.mt-15
                        .table-box__row.table-box__row--head
                                .table-box__col.table-box__col--first #
                                .table-box__col.table-box__col--large الفريق
                                .table-box__col لعب 
                                .table-box__col فوز 
                                .table-box__col تعادل
                                .table-box__col خسارة 
                                .table-box__col فرق أهداف
                                .table-box__col أخر مباريات
                                .table-box__col.mark نقاط
                        .inner-body
                            
                            -for(let i = 1 ; i < 5 ; i++)
                                .table-box__row
                                    .table-box__col.table-box__col--first
                                        span.number #{i}
                                    .table-box__col.table-box__col--large 
                                        .img-beside-text
                                            a(href='team.html')
                                            img(src="img/logos/2.png")
                                            p  مانشستر يونايتد 
                                    .table-box__col.number 25 
                                    .table-box__col.number 25
                                    .table-box__col.number 25
                                    .table-box__col.number 25 
                                    .table-box__col.number 25
                                    .table-box__col.last-results
                                        svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                            path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                            path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                        svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                            g
                                                g#remove-circle
                                                    path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                        svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                            g
                                                g#remove-circle
                                                    path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                        svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                            path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                            path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                    
                                    .table-box__col.number.mark 25

                        
                    
                    .row.mobile-horizontal-scroll
                        .col-md-3.col-sm-6.col-xs-12.mt-15
                            .statistics-box.box-theme.line-under
                                p.statistics-box__title مباريات 
                                .statistics-box__info
                                    //- .statistics-box__percent
                                    .statistics-box__icon
                                        span.icon.icon--large.grey
                                            svg#Capa_1(enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg')
                                                path(d='m502 68.498h-492c-5.522 0-10 4.478-10 10v355.004c0 5.522 4.478 10 10 10h492c5.522 0 10-4.478 10-10v-355.004c0-5.522-4.478-10-10-10zm-256 252.724c-31.653-4.833-55.979-32.24-55.979-65.222s24.326-60.389 55.979-65.222zm20-130.444c31.653 4.833 55.979 32.24 55.979 65.222s-24.326 60.389-55.979 65.222zm-246-4.65h59.511v139.744h-59.511zm0 159.744h69.511c5.522 0 10-4.478 10-10v-159.744c0-5.522-4.478-10-10-10h-69.511v-77.63h226v82.102c-42.715 4.97-75.979 41.373-75.979 85.4s33.263 80.43 75.979 85.4v82.102h-226zm246 77.63v-82.102c42.715-4.97 75.979-41.373 75.979-85.4s-33.264-80.43-75.979-85.4v-82.102h226v77.63h-69.511c-5.522 0-10 4.478-10 10v159.744c0 5.522 4.478 10 10 10h69.511v77.63zm226-97.63h-59.511v-139.744h59.511z')

                                    .statistics-box__data
                                        p 30 مباراة
                                        //- span.green 480 مباراة
                        .col-md-3.col-sm-6.col-xs-12.mt-15
                                .statistics-box.box-theme.line-under
                                    p.statistics-box__title أهداف
                                    .statistics-box__info
                                        .statistics-box__icon
                                            span.icon.icon--large.grey
                                                svg#Capa_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='72.371px' height='72.372px' viewBox='0 0 72.371 72.372' style='enable-background:new 0 0 72.371 72.372;' xml:space='preserve')
                                                    g
                                                        path(d='M22.57,2.648c-4.489,1.82-8.517,4.496-11.971,7.949C7.144,14.051,4.471,18.08,2.65,22.568C0.892,26.904,0,31.486,0,36.186\
                                                        c0,4.699,0.892,9.281,2.65,13.615c1.821,4.489,4.495,8.518,7.949,11.971c3.454,3.455,7.481,6.129,11.971,7.949\
                                                        c4.336,1.76,8.917,2.649,13.617,2.649c4.7,0,9.28-0.892,13.616-2.649c4.488-1.82,8.518-4.494,11.971-7.949\
                                                        c3.455-3.453,6.129-7.48,7.949-11.971c1.758-4.334,2.648-8.916,2.648-13.615c0-4.7-0.891-9.282-2.648-13.618\
                                                        c-1.82-4.488-4.496-8.518-7.949-11.971s-7.479-6.129-11.971-7.949C45.467,0.891,40.887,0,36.187,0\
                                                        C31.487,0,26.906,0.891,22.57,2.648z M9.044,51.419c-1.743-1.094-3.349-2.354-4.771-3.838c-2.172-6.112-2.54-12.729-1.101-19.01\
                                                        c0.677-1.335,1.447-2.617,2.318-3.845c0.269-0.379,0.518-0.774,0.806-1.142l8.166,4.832c0,0.064,0,0.134,0,0.205\
                                                        c-0.021,4.392,0.425,8.752,1.313,13.049c0.003,0.02,0.006,0.031,0.01,0.049l-6.333,9.93C9.314,51.579,9.177,51.503,9.044,51.419z\
                                                        M33.324,68.206c1.409,0.719,2.858,1.326,4.347,1.82c-6.325,0.275-12.713-1.207-18.36-4.447L33,68.018\
                                                        C33.105,68.085,33.212,68.149,33.324,68.206z M33.274,65.735L17.12,62.856c-1.89-2.295-3.59-4.723-5.051-7.318\
                                                        c-0.372-0.66-0.787-1.301-1.102-1.99l6.327-9.92c0.14,0.035,0.296,0.072,0.473,0.119c3.958,1.059,7.986,1.812,12.042,2.402\
                                                        c0.237,0.033,0.435,0.062,0.604,0.08l7.584,13.113c-1.316,1.85-2.647,3.69-4.007,5.51C33.764,65.155,33.524,65.446,33.274,65.735z\
                                                        M60.15,60.149c-1.286,1.287-2.651,2.447-4.08,3.481c-0.237-1.894-0.646-3.75-1.223-5.563l8.092-15.096\
                                                        c2.229-1.015,4.379-2.166,6.375-3.593c0.261-0.185,0.478-0.392,0.646-0.618C69.374,46.561,66.104,54.196,60.15,60.149z\
                                                        M59.791,40.571c0.301,0.574,0.598,1.154,0.896,1.742l-7.816,14.58c-0.045,0.01-0.088,0.02-0.133,0.026\
                                                        c-4.225,0.789-8.484,1.209-12.779,1.229l-7.8-13.487c1.214-2.254,2.417-4.517,3.61-6.781c0.81-1.536,1.606-3.082,2.401-4.627\
                                                        l16.143-1.658C56.29,34.495,58.163,37.457,59.791,40.571z M56.516,23.277c-0.766,2.023-1.586,4.025-2.401,6.031l-15.726,1.615\
                                                        c-0.188-0.248-0.383-0.492-0.588-0.725c-1.857-2.103-3.726-4.193-5.592-6.289c0.017-0.021,0.034-0.037,0.051-0.056\
                                                        c-0.753-0.752-1.508-1.504-2.261-2.258l4.378-13.181c0.302-0.08,0.606-0.147,0.913-0.18c2.38-0.242,4.763-0.516,7.149-0.654\
                                                        c1.461-0.082,2.93-0.129,4.416-0.024l10.832,12.209C57.314,20.943,56.95,22.124,56.516,23.277z M60.15,12.221\
                                                        c2.988,2.99,5.302,6.402,6.938,10.047c-2.024-1.393-4.188-2.539-6.463-3.473c-0.354-0.146-0.717-0.275-1.086-0.402L48.877,6.376\
                                                        c0.074-0.519,0.113-1.039,0.129-1.563C53.062,6.464,56.864,8.936,60.15,12.221z M25.334,4.182c0.042,0.031,0.062,0.057,0.086,0.064\
                                                        c2.437,0.842,4.654,2.082,6.744,3.553l-4.09,12.317c-0.021,0.006-0.041,0.012-0.061,0.021c-0.837,0.346-1.69,0.656-2.514,1.031\
                                                        c-3.395,1.543-6.705,3.252-9.823,5.301l-8.071-4.775c0.012-0.252,0.055-0.508,0.141-0.736c0.542-1.444,1.075-2.896,1.688-4.311\
                                                        c0.472-1.09,1.01-2.143,1.597-3.172c0.384-0.424,0.782-0.844,1.192-1.254c3.833-3.832,8.363-6.553,13.186-8.162\
                                                        C25.384,4.098,25.358,4.139,25.334,4.182z')


                                        .statistics-box__data
                                            span.green سجل 68
                                            p إستقبل 150
                                        
                                            //- span.slash / 
                                            //- span.green 90
                        .col-md-3.col-sm-6.col-xs-12.mt-15
                            .statistics-box.box-theme.line-under
                                p.statistics-box__title محاولات 
                                .statistics-box__info
                                    .statistics-box__icon
                                        span.icon.icon--large.grey
                                            svg(xmlns='http://www.w3.org/2000/svg' width='50.594' height='52.727' viewBox='0 0 50.594 52.727')
                                                path#kick_1_.cls-1(data-name='kick (1)' d='M68.13,25.453c.29-.29.622-.443.733-.332l1.7,1.7c.111.111-.037.443-.332.733l-1.255,1.255.337,1.846-1.846-.337-.9.9.337,1.846-1.846-.337L55.047,42.738l.337,1.846-1.846-.337-1.229,1.229.337,1.846L50.8,46.983l-.775.775.337,1.846-1.846-.337-.633.633c-.29.29-.617.438-.733.327l-1.7-1.7c-.111-.111.037-.443.327-.733L68.13,25.453ZM51.3,31.585,50.059,32.83l6.813,1.988-1.508,1.5-4.477-1.086-1.329,1.329,4.408,1.155L52.479,39.2,50.3,38.6l-1.16,1.16,2.157.627-6.987,6.987s-4.155-.369-2.014-3.849c0,0,7.941-9.9,6.718-19.183,0,0-.148-2.431,1.45-.364L41.728,0h9.465l6.154,16.273a1.456,1.456,0,0,1,.464-.427c.511-.264,1.434-.274,2.937,1.165l6.966,6.966-9.47,9.47L51.3,31.585ZM30.992,42.733A10.992,10.992,0,1,1,41.986,31.738,10.99,10.99,0,0,1,30.992,42.733Zm8.637-9.955c-.005.005-.438-.538-.438-.538A8.081,8.081,0,0,1,37.9,36.057l.654-.137a8.246,8.246,0,0,0,1.076-3.143ZM34.5,40.9c.216.111.422.216.58.3A10.4,10.4,0,0,0,38.638,38.7c-.026-.158-.063-.38-.1-.622-.095-.617-.221-1.382-.269-1.687l-.016-.1c-.079.021-.316.084-.638.174-.881.237-2.368.643-2.668.722a1.405,1.405,0,0,0-.274.369c-.29.453-.8,1.25-1.171,1.846-.163.264-.306.485-.39.617a.97.97,0,0,1-.079.121c.163.09.865.448,1.471.754ZM31,28.211c-.026.021-.116.079-.248.174-.743.527-2.874,2.03-3.032,2.141.179.543,1.2,3.691,1.266,3.886h4.018c.063-.2,1.086-3.343,1.244-3.833-.137-.163-2.267-1.672-3.011-2.2C31.118,28.3,31.029,28.232,31,28.211Zm.243-.227v-3L31,25.084l-.248-.095v3L31,27.81ZM27.3,36.927c.016.005.316.427.316.427l1.835-2.61h-.6L27.3,36.927Zm5.911-2.183h-.6l1.835,2.584.253-.4-1.487-2.188ZM31.05,40.286a9.106,9.106,0,0,0,1.619-.153l.369-.58a8.2,8.2,0,0,1-4.081-.032l.374.591A8.717,8.717,0,0,0,31.05,40.286Zm-4.113.875.585-.29c.606-.3,1.292-.643,1.445-.717a1.594,1.594,0,0,0-.095-.142c-.09-.142-.232-.369-.4-.633-.538-.854-1.324-2.093-1.366-2.162-.084-.021-1.629-.443-2.6-.707-.353-.095-.627-.174-.733-.2-.053.169-.2.97-.322,1.65-.042.232-.079.448-.111.622A10.357,10.357,0,0,0,26.937,41.161ZM23.52,35.9l.686.185a8.1,8.1,0,0,1-1.318-3.955l-.443.554A8.791,8.791,0,0,0,23.52,35.9Zm.986-6.4c-.026-.322-.116-1.629-.179-2.531-.021-.322-.042-.6-.053-.749a.577.577,0,0,0-.011-.116c-.174.032-.954.163-1.624.279-.237.042-.459.079-.633.111A10.306,10.306,0,0,0,20.694,30.7c.132.121.29.279.459.443.49.475,1.065,1.028,1.192,1.15.153-.2.327-.406.527-.664.432-.543,1.018-1.276,1.355-1.7a1.173,1.173,0,0,0,.279-.427Zm3.032,1.519-.19-.58-2.5-.759-.316.385,3.011.954ZM24.58,25.864l.047.707a8.225,8.225,0,0,1,3.522-2.589l-.659-.258A8.605,8.605,0,0,0,24.58,25.864ZM33.5,22.025c-.111-.221-.216-.422-.29-.575a10.4,10.4,0,0,0-2.162-.232,10.775,10.775,0,0,0-2.162.227c-.084.153-.2.353-.316.58-.322.58-.712,1.287-.8,1.445q.047.016.158.063l.7.269c.717.279,1.682.659,2.13.828.137.053.227.09.248.095l.243-.095c.459-.179,1.445-.559,2.167-.844.306-.116.559-.216.712-.279a.85.85,0,0,1,.121-.042c-.09-.153-.448-.854-.749-1.44Zm1.06,1.677-.664.258a8.177,8.177,0,0,1,3.485,2.5l.047-.691A8.663,8.663,0,0,0,34.562,23.7Zm2.6,5.959-2.515.78-.19.58,2.979-.981Zm2.3-3.253c-.691-.121-1.55-.269-1.73-.3-.005.095-.026.38-.053.743-.063.9-.163,2.31-.185,2.647a1.167,1.167,0,0,0,.274.427c.369.459,1.012,1.266,1.445,1.814.221.274.39.485.443.554.2-.2.8-.77,1.276-1.234.179-.174.343-.327.459-.443a10.268,10.268,0,0,0-1.3-4.1c-.169-.026-.4-.063-.633-.105ZM26.905,46.666a27.315,27.315,0,0,0,5.11,3.074,27.979,27.979,0,0,0,6.006,1.677,38.43,38.43,0,0,0,6.338.643l.026.258a33.882,33.882,0,0,1-6.5.4,30.029,30.029,0,0,1-6.544-1,13.779,13.779,0,0,1-6.117-3.053,9.157,9.157,0,0,1-2.953-6.143l.243-.09A22.085,22.085,0,0,0,26.905,46.666Z' transform='translate(-20.003 0)')


                                    .statistics-box__data
                                        span.green اجمالي 68
                                        p علي المرمي 150
                        .col-md-3.col-sm-6.col-xs-12.mt-15
                            .statistics-box.box-theme.line-under
                                p.statistics-box__title كلين شيت 
                                .statistics-box__info
                                    .statistics-box__icon
                                        span.icon.icon--large.grey
                                            svg#glove_1_(data-name='glove (1)' xmlns='http://www.w3.org/2000/svg' width='27.27' height='49.728' viewBox='0 0 27.27 49.728')
                                                path#Path_927.cls-1(data-name='Path 927' d='M23.26,15.239H20.853V3.208a3.208,3.208,0,1,0-6.416,0v8.467a3.144,3.144,0,0,0-4.01.662,3.166,3.166,0,0,0-4.812,0A3.195,3.195,0,0,0,0,14.437v14.47a7.224,7.224,0,0,0,1.738,4.7l1.723,2.01a5.622,5.622,0,0,1,1.352,3.654V40.1h-1.6v6.416H5.614v3.208H23.26V46.519h2.406V40.1h-1.6V36.995a5.628,5.628,0,0,1,.739-2.786l1.518-2.656a7.231,7.231,0,0,0,.951-3.582V19.249A4.015,4.015,0,0,0,23.26,15.239Zm2.406,4.01v8.722c0,.044-.007.087-.009.132a6.937,6.937,0,0,0-4.879,2.587,7.009,7.009,0,0,0-1.529,4.361v.239a4.813,4.813,0,1,1-9.625-.067,6.384,6.384,0,0,0-3.082-5.444,6.353,6.353,0,0,0-3.267-.9H1.6v-2.05a3.144,3.144,0,0,0,4.01-.662,3.166,3.166,0,0,0,4.812,0,3.195,3.195,0,0,0,5.614-2.1V21.655h2.842A11.409,11.409,0,0,0,16.041,29.2v1.281h1.6V29.2a9.826,9.826,0,0,1,3.513-7.542h1.3v-1.6H15.239a1.6,1.6,0,1,1,0-3.208H23.26A2.409,2.409,0,0,1,25.666,19.249ZM16.041,3.208a1.6,1.6,0,0,1,3.208,0V15.239H16.041Zm-3.208,9.625a1.606,1.606,0,0,1,1.6,1.6v.916a3.193,3.193,0,0,0,0,6.189v2.52a1.6,1.6,0,0,1-3.208,0V14.437A1.606,1.606,0,0,1,12.833,12.833Zm-4.812,0a1.606,1.606,0,0,1,1.6,1.6v9.625a1.6,1.6,0,1,1-3.208,0V14.437A1.606,1.606,0,0,1,8.021,12.833ZM1.6,14.437a1.6,1.6,0,1,1,3.208,0v9.625a1.6,1.6,0,1,1-3.208,0ZM4.678,34.57,2.956,32.56A5.608,5.608,0,0,1,1.85,30.478H3.276a4.749,4.749,0,0,1,2.441.676,4.8,4.8,0,0,1,2.3,4.136A6.4,6.4,0,0,0,10.207,40.1H6.416v-.835A7.224,7.224,0,0,0,4.678,34.57Zm.134,7.137H18.447a1.6,1.6,0,0,1,0,3.208H4.812Zm16.843,6.416H7.218v-1.6H21.655Zm2.406-3.208H21.209a3.107,3.107,0,0,0,0-3.208h2.852Zm-.653-11.5a7.231,7.231,0,0,0-.951,3.582V40.1H18.667a6.4,6.4,0,0,0,2.186-4.812v-.239a5.4,5.4,0,0,1,1.177-3.358,5.343,5.343,0,0,1,3.332-1.939,5.635,5.635,0,0,1-.437,1Zm0,0')
                                                path#Path_928.cls-1(data-name='Path 928' d='M113.6,339.65a1.574,1.574,0,0,1,.163-.686l-1.449-.69A3.179,3.179,0,0,0,112,339.65a3.195,3.195,0,0,0,4.585,2.89l-.69-1.449A1.608,1.608,0,0,1,113.6,339.65Zm0,0' transform='translate(-100.771 -304.359)')
                                                path#Path_929.cls-1(data-name='Path 929' d='M131.643,320a3.185,3.185,0,0,0-1.377.318l.69,1.449a1.608,1.608,0,0,1,2.291,1.441,1.573,1.573,0,0,1-.163.686l1.449.69a3.179,3.179,0,0,0,.318-1.376A3.211,3.211,0,0,0,131.643,320Zm0,0' transform='translate(-117.206 -287.918)')


                                    .statistics-box__data
                                        span.green  شباك نظيفة 90
                    
                    //- .common-title.mt-15
                    //-     p إحصائيات تفصيلية

                    //- .row.mobile-horizontal-scroll
                    //-     -for(let v = 0 ; v < 4 ; v++)
                    //-         .col-md-3.col-sm-6.col-xs-12.mt-15
                    //-             .stat-score.box-theme
                    //-                 .stat-score__head.bottom-grad2 هجوم
                    //-                 -for(let v = 0 ; v < 4 ; v++)
                    //-                     .stat-score__cell.flex
                    //-                         .stat-score__text أهداف
                    //-                         .stat-score__score.flex
                    //-                             .stat-score__gry 
                    //-                             .stat-score__main 68
                                                
                    //-                     .stat-score__cell.flex
                    //-                         .stat-score__text ضربات ركنية
                    //-                         .stat-score__score.flex
                                                
                    //-                             .stat-score__gry (لكل مباراة)
                    //-                             .stat-score__main 12
                    
                    
                    .common-title.mt-15 
                        p أهم اللاعبين
                        a(href="statistics-players.html") كل الإحصائيات

                    .most-players
                        -let arr =   ['هدافين','صناعة أهداف','كلين شيت','عدد المشاركات']
                        .row
                            -for(let x = 0 ; x < 4 ; x++)
                                -let _post = {title:arr[x]}
                                .col-md-3.col-sm-6.col-xs-12.mt-15
                                    include ../components/_most-players.pug
            
            -for(let n = 0 ; n < 2 ; n++)
                .switch-content.table-switch-content
                    .common-title.mt-15
                        p  جدول الترتيب
                    //- div content all
                    .table-box.box-theme.mt-15
                        .table-box__row.table-box__row--head
                                .table-box__col.table-box__col--first #
                                .table-box__col.table-box__col--large الفريق
                                .table-box__col لعب 
                                .table-box__col فوز 
                                .table-box__col تعادل
                                .table-box__col خسارة 
                                .table-box__col فرق أهداف
                                .table-box__col أخر مباريات
                                .table-box__col.mark نقاط
                        .inner-body
                            
                            -for(let i = 1 ; i < 5 ; i++)
                                .table-box__row
                                    .table-box__col.table-box__col--first
                                        span.number #{i}
                                    .table-box__col.table-box__col--large 
                                        .img-beside-text
                                            a(href='team.html')
                                            img(src="img/logos/2.png")
                                            p  مانشستر يونايتد 
                                    .table-box__col.number 25 
                                    .table-box__col.number 25
                                    .table-box__col.number 25
                                    .table-box__col.number 25 
                                    .table-box__col.number 25
                                    .table-box__col.last-results
                                        svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                            path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                            path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                        svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                            g
                                                g#remove-circle
                                                    path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                        svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                            g
                                                g#remove-circle
                                                    path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                        svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                            path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                            path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                    
                                    .table-box__col.number.mark 25

                        
                    .competition-matches.box-theme.mt-15
                        .competition-matches__head
                            p مباريات
                            p الجولة
                                span 14
                        .competition-matches__body
                            .match-card-wide
                                .match-card-wide__match
                                    a(href="team.html").match-card-wide__team.teamA
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر يونايتد
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/4.png", alt="")
                                    .match-card-wide__center
                                        .match-card-wide__result-box.match-ended
                                            .match-card-wide__result 3 : 2
                                                .match-card-wide__bottom-line
                                            .match-card-wide__time انتهت
                                    a(href="team.html").match-card-wide__team.teamB
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر سيتي
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/1.png", alt="")
                                .match-card-wide__link
                                    a(href="single-match.html").match-card-wide__btn.btn.btn--primary تقرير المباراة
                            .match-card-wide
                                .match-card-wide__match
                                    a(href="team.html").match-card-wide__team.teamA
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر يونايتد
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/4.png", alt="")
                                    .match-card-wide__center
                                        .match-card-wide__result-box
                                            .match-card-wide__result - : -
                                                .match-card-wide__bottom-line
                                            .match-card-wide__time 09:15
                                    a(href="team.html").match-card-wide__team.teamB
                                        .match-card-wide__team-name
                                            p.match-card-wide__text مانشستر سيتي
                                            .match-card-wide__icons
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                                svg.lose(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#f44336')
                                                    path(d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='#fafafa')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.draw(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='fill: #bebebe;' xml:space='preserve')
                                                    g
                                                        g#remove-circle
                                                            path(d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-255v-51h255V280.5z    ')
                                                svg.win(xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 0 512 512' width='512pt')
                                                    path(d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='#17A654')
                                                    path(d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='#fafafa')
                                        .match-card-wide__team-logo
                                            img(src="./img/logos/1.png", alt="")
                                .match-card-wide__link
                                    a(href="single-match.html").match-card-wide__btn.btn.btn--primary تقرير المباراة
                    a.btn.btn--primary.btn--viewall(href='matches.html') كل المباريات                
                
                    
                    .row.mobile-horizontal-scroll
                        .col-md-3.col-sm-6.col-xs-12.mt-15
                            .statistics-box.box-theme.line-under
                                p.statistics-box__title مباريات 
                                .statistics-box__info
                                    //- .statistics-box__percent
                                    .statistics-box__icon
                                        span.icon.icon--large.grey
                                            svg#Capa_1(enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg')
                                                path(d='m502 68.498h-492c-5.522 0-10 4.478-10 10v355.004c0 5.522 4.478 10 10 10h492c5.522 0 10-4.478 10-10v-355.004c0-5.522-4.478-10-10-10zm-256 252.724c-31.653-4.833-55.979-32.24-55.979-65.222s24.326-60.389 55.979-65.222zm20-130.444c31.653 4.833 55.979 32.24 55.979 65.222s-24.326 60.389-55.979 65.222zm-246-4.65h59.511v139.744h-59.511zm0 159.744h69.511c5.522 0 10-4.478 10-10v-159.744c0-5.522-4.478-10-10-10h-69.511v-77.63h226v82.102c-42.715 4.97-75.979 41.373-75.979 85.4s33.263 80.43 75.979 85.4v82.102h-226zm246 77.63v-82.102c42.715-4.97 75.979-41.373 75.979-85.4s-33.264-80.43-75.979-85.4v-82.102h226v77.63h-69.511c-5.522 0-10 4.478-10 10v159.744c0 5.522 4.478 10 10 10h69.511v77.63zm226-97.63h-59.511v-139.744h59.511z')

                                    .statistics-box__data
                                        p 30 مباراة
                                        //- span.green 480 مباراة
                        .col-md-3.col-sm-6.col-xs-12.mt-15
                                .statistics-box.box-theme.line-under
                                    p.statistics-box__title أهداف
                                    .statistics-box__info
                                        .statistics-box__icon
                                            span.icon.icon--large.grey
                                                svg#Capa_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='72.371px' height='72.372px' viewBox='0 0 72.371 72.372' style='enable-background:new 0 0 72.371 72.372;' xml:space='preserve')
                                                    g
                                                        path(d='M22.57,2.648c-4.489,1.82-8.517,4.496-11.971,7.949C7.144,14.051,4.471,18.08,2.65,22.568C0.892,26.904,0,31.486,0,36.186\
                                                        c0,4.699,0.892,9.281,2.65,13.615c1.821,4.489,4.495,8.518,7.949,11.971c3.454,3.455,7.481,6.129,11.971,7.949\
                                                        c4.336,1.76,8.917,2.649,13.617,2.649c4.7,0,9.28-0.892,13.616-2.649c4.488-1.82,8.518-4.494,11.971-7.949\
                                                        c3.455-3.453,6.129-7.48,7.949-11.971c1.758-4.334,2.648-8.916,2.648-13.615c0-4.7-0.891-9.282-2.648-13.618\
                                                        c-1.82-4.488-4.496-8.518-7.949-11.971s-7.479-6.129-11.971-7.949C45.467,0.891,40.887,0,36.187,0\
                                                        C31.487,0,26.906,0.891,22.57,2.648z M9.044,51.419c-1.743-1.094-3.349-2.354-4.771-3.838c-2.172-6.112-2.54-12.729-1.101-19.01\
                                                        c0.677-1.335,1.447-2.617,2.318-3.845c0.269-0.379,0.518-0.774,0.806-1.142l8.166,4.832c0,0.064,0,0.134,0,0.205\
                                                        c-0.021,4.392,0.425,8.752,1.313,13.049c0.003,0.02,0.006,0.031,0.01,0.049l-6.333,9.93C9.314,51.579,9.177,51.503,9.044,51.419z\
                                                        M33.324,68.206c1.409,0.719,2.858,1.326,4.347,1.82c-6.325,0.275-12.713-1.207-18.36-4.447L33,68.018\
                                                        C33.105,68.085,33.212,68.149,33.324,68.206z M33.274,65.735L17.12,62.856c-1.89-2.295-3.59-4.723-5.051-7.318\
                                                        c-0.372-0.66-0.787-1.301-1.102-1.99l6.327-9.92c0.14,0.035,0.296,0.072,0.473,0.119c3.958,1.059,7.986,1.812,12.042,2.402\
                                                        c0.237,0.033,0.435,0.062,0.604,0.08l7.584,13.113c-1.316,1.85-2.647,3.69-4.007,5.51C33.764,65.155,33.524,65.446,33.274,65.735z\
                                                        M60.15,60.149c-1.286,1.287-2.651,2.447-4.08,3.481c-0.237-1.894-0.646-3.75-1.223-5.563l8.092-15.096\
                                                        c2.229-1.015,4.379-2.166,6.375-3.593c0.261-0.185,0.478-0.392,0.646-0.618C69.374,46.561,66.104,54.196,60.15,60.149z\
                                                        M59.791,40.571c0.301,0.574,0.598,1.154,0.896,1.742l-7.816,14.58c-0.045,0.01-0.088,0.02-0.133,0.026\
                                                        c-4.225,0.789-8.484,1.209-12.779,1.229l-7.8-13.487c1.214-2.254,2.417-4.517,3.61-6.781c0.81-1.536,1.606-3.082,2.401-4.627\
                                                        l16.143-1.658C56.29,34.495,58.163,37.457,59.791,40.571z M56.516,23.277c-0.766,2.023-1.586,4.025-2.401,6.031l-15.726,1.615\
                                                        c-0.188-0.248-0.383-0.492-0.588-0.725c-1.857-2.103-3.726-4.193-5.592-6.289c0.017-0.021,0.034-0.037,0.051-0.056\
                                                        c-0.753-0.752-1.508-1.504-2.261-2.258l4.378-13.181c0.302-0.08,0.606-0.147,0.913-0.18c2.38-0.242,4.763-0.516,7.149-0.654\
                                                        c1.461-0.082,2.93-0.129,4.416-0.024l10.832,12.209C57.314,20.943,56.95,22.124,56.516,23.277z M60.15,12.221\
                                                        c2.988,2.99,5.302,6.402,6.938,10.047c-2.024-1.393-4.188-2.539-6.463-3.473c-0.354-0.146-0.717-0.275-1.086-0.402L48.877,6.376\
                                                        c0.074-0.519,0.113-1.039,0.129-1.563C53.062,6.464,56.864,8.936,60.15,12.221z M25.334,4.182c0.042,0.031,0.062,0.057,0.086,0.064\
                                                        c2.437,0.842,4.654,2.082,6.744,3.553l-4.09,12.317c-0.021,0.006-0.041,0.012-0.061,0.021c-0.837,0.346-1.69,0.656-2.514,1.031\
                                                        c-3.395,1.543-6.705,3.252-9.823,5.301l-8.071-4.775c0.012-0.252,0.055-0.508,0.141-0.736c0.542-1.444,1.075-2.896,1.688-4.311\
                                                        c0.472-1.09,1.01-2.143,1.597-3.172c0.384-0.424,0.782-0.844,1.192-1.254c3.833-3.832,8.363-6.553,13.186-8.162\
                                                        C25.384,4.098,25.358,4.139,25.334,4.182z')


                                        .statistics-box__data
                                            span.green سجل 68
                                            p إستقبل 150
                                        
                                            //- span.slash / 
                                            //- span.green 90
                        .col-md-3.col-sm-6.col-xs-12.mt-15
                            .statistics-box.box-theme.line-under
                                p.statistics-box__title محاولات 
                                .statistics-box__info
                                    .statistics-box__icon
                                        span.icon.icon--large.grey
                                            svg(xmlns='http://www.w3.org/2000/svg' width='50.594' height='52.727' viewBox='0 0 50.594 52.727')
                                                path#kick_1_.cls-1(data-name='kick (1)' d='M68.13,25.453c.29-.29.622-.443.733-.332l1.7,1.7c.111.111-.037.443-.332.733l-1.255,1.255.337,1.846-1.846-.337-.9.9.337,1.846-1.846-.337L55.047,42.738l.337,1.846-1.846-.337-1.229,1.229.337,1.846L50.8,46.983l-.775.775.337,1.846-1.846-.337-.633.633c-.29.29-.617.438-.733.327l-1.7-1.7c-.111-.111.037-.443.327-.733L68.13,25.453ZM51.3,31.585,50.059,32.83l6.813,1.988-1.508,1.5-4.477-1.086-1.329,1.329,4.408,1.155L52.479,39.2,50.3,38.6l-1.16,1.16,2.157.627-6.987,6.987s-4.155-.369-2.014-3.849c0,0,7.941-9.9,6.718-19.183,0,0-.148-2.431,1.45-.364L41.728,0h9.465l6.154,16.273a1.456,1.456,0,0,1,.464-.427c.511-.264,1.434-.274,2.937,1.165l6.966,6.966-9.47,9.47L51.3,31.585ZM30.992,42.733A10.992,10.992,0,1,1,41.986,31.738,10.99,10.99,0,0,1,30.992,42.733Zm8.637-9.955c-.005.005-.438-.538-.438-.538A8.081,8.081,0,0,1,37.9,36.057l.654-.137a8.246,8.246,0,0,0,1.076-3.143ZM34.5,40.9c.216.111.422.216.58.3A10.4,10.4,0,0,0,38.638,38.7c-.026-.158-.063-.38-.1-.622-.095-.617-.221-1.382-.269-1.687l-.016-.1c-.079.021-.316.084-.638.174-.881.237-2.368.643-2.668.722a1.405,1.405,0,0,0-.274.369c-.29.453-.8,1.25-1.171,1.846-.163.264-.306.485-.39.617a.97.97,0,0,1-.079.121c.163.09.865.448,1.471.754ZM31,28.211c-.026.021-.116.079-.248.174-.743.527-2.874,2.03-3.032,2.141.179.543,1.2,3.691,1.266,3.886h4.018c.063-.2,1.086-3.343,1.244-3.833-.137-.163-2.267-1.672-3.011-2.2C31.118,28.3,31.029,28.232,31,28.211Zm.243-.227v-3L31,25.084l-.248-.095v3L31,27.81ZM27.3,36.927c.016.005.316.427.316.427l1.835-2.61h-.6L27.3,36.927Zm5.911-2.183h-.6l1.835,2.584.253-.4-1.487-2.188ZM31.05,40.286a9.106,9.106,0,0,0,1.619-.153l.369-.58a8.2,8.2,0,0,1-4.081-.032l.374.591A8.717,8.717,0,0,0,31.05,40.286Zm-4.113.875.585-.29c.606-.3,1.292-.643,1.445-.717a1.594,1.594,0,0,0-.095-.142c-.09-.142-.232-.369-.4-.633-.538-.854-1.324-2.093-1.366-2.162-.084-.021-1.629-.443-2.6-.707-.353-.095-.627-.174-.733-.2-.053.169-.2.97-.322,1.65-.042.232-.079.448-.111.622A10.357,10.357,0,0,0,26.937,41.161ZM23.52,35.9l.686.185a8.1,8.1,0,0,1-1.318-3.955l-.443.554A8.791,8.791,0,0,0,23.52,35.9Zm.986-6.4c-.026-.322-.116-1.629-.179-2.531-.021-.322-.042-.6-.053-.749a.577.577,0,0,0-.011-.116c-.174.032-.954.163-1.624.279-.237.042-.459.079-.633.111A10.306,10.306,0,0,0,20.694,30.7c.132.121.29.279.459.443.49.475,1.065,1.028,1.192,1.15.153-.2.327-.406.527-.664.432-.543,1.018-1.276,1.355-1.7a1.173,1.173,0,0,0,.279-.427Zm3.032,1.519-.19-.58-2.5-.759-.316.385,3.011.954ZM24.58,25.864l.047.707a8.225,8.225,0,0,1,3.522-2.589l-.659-.258A8.605,8.605,0,0,0,24.58,25.864ZM33.5,22.025c-.111-.221-.216-.422-.29-.575a10.4,10.4,0,0,0-2.162-.232,10.775,10.775,0,0,0-2.162.227c-.084.153-.2.353-.316.58-.322.58-.712,1.287-.8,1.445q.047.016.158.063l.7.269c.717.279,1.682.659,2.13.828.137.053.227.09.248.095l.243-.095c.459-.179,1.445-.559,2.167-.844.306-.116.559-.216.712-.279a.85.85,0,0,1,.121-.042c-.09-.153-.448-.854-.749-1.44Zm1.06,1.677-.664.258a8.177,8.177,0,0,1,3.485,2.5l.047-.691A8.663,8.663,0,0,0,34.562,23.7Zm2.6,5.959-2.515.78-.19.58,2.979-.981Zm2.3-3.253c-.691-.121-1.55-.269-1.73-.3-.005.095-.026.38-.053.743-.063.9-.163,2.31-.185,2.647a1.167,1.167,0,0,0,.274.427c.369.459,1.012,1.266,1.445,1.814.221.274.39.485.443.554.2-.2.8-.77,1.276-1.234.179-.174.343-.327.459-.443a10.268,10.268,0,0,0-1.3-4.1c-.169-.026-.4-.063-.633-.105ZM26.905,46.666a27.315,27.315,0,0,0,5.11,3.074,27.979,27.979,0,0,0,6.006,1.677,38.43,38.43,0,0,0,6.338.643l.026.258a33.882,33.882,0,0,1-6.5.4,30.029,30.029,0,0,1-6.544-1,13.779,13.779,0,0,1-6.117-3.053,9.157,9.157,0,0,1-2.953-6.143l.243-.09A22.085,22.085,0,0,0,26.905,46.666Z' transform='translate(-20.003 0)')


                                    .statistics-box__data
                                        span.green اجمالي 68
                                        p علي المرمي 150
                        .col-md-3.col-sm-6.col-xs-12.mt-15
                            .statistics-box.box-theme.line-under
                                p.statistics-box__title كلين شيت 
                                .statistics-box__info
                                    .statistics-box__icon
                                        span.icon.icon--large.grey
                                            svg#glove_1_(data-name='glove (1)' xmlns='http://www.w3.org/2000/svg' width='27.27' height='49.728' viewBox='0 0 27.27 49.728')
                                                path#Path_927.cls-1(data-name='Path 927' d='M23.26,15.239H20.853V3.208a3.208,3.208,0,1,0-6.416,0v8.467a3.144,3.144,0,0,0-4.01.662,3.166,3.166,0,0,0-4.812,0A3.195,3.195,0,0,0,0,14.437v14.47a7.224,7.224,0,0,0,1.738,4.7l1.723,2.01a5.622,5.622,0,0,1,1.352,3.654V40.1h-1.6v6.416H5.614v3.208H23.26V46.519h2.406V40.1h-1.6V36.995a5.628,5.628,0,0,1,.739-2.786l1.518-2.656a7.231,7.231,0,0,0,.951-3.582V19.249A4.015,4.015,0,0,0,23.26,15.239Zm2.406,4.01v8.722c0,.044-.007.087-.009.132a6.937,6.937,0,0,0-4.879,2.587,7.009,7.009,0,0,0-1.529,4.361v.239a4.813,4.813,0,1,1-9.625-.067,6.384,6.384,0,0,0-3.082-5.444,6.353,6.353,0,0,0-3.267-.9H1.6v-2.05a3.144,3.144,0,0,0,4.01-.662,3.166,3.166,0,0,0,4.812,0,3.195,3.195,0,0,0,5.614-2.1V21.655h2.842A11.409,11.409,0,0,0,16.041,29.2v1.281h1.6V29.2a9.826,9.826,0,0,1,3.513-7.542h1.3v-1.6H15.239a1.6,1.6,0,1,1,0-3.208H23.26A2.409,2.409,0,0,1,25.666,19.249ZM16.041,3.208a1.6,1.6,0,0,1,3.208,0V15.239H16.041Zm-3.208,9.625a1.606,1.606,0,0,1,1.6,1.6v.916a3.193,3.193,0,0,0,0,6.189v2.52a1.6,1.6,0,0,1-3.208,0V14.437A1.606,1.606,0,0,1,12.833,12.833Zm-4.812,0a1.606,1.606,0,0,1,1.6,1.6v9.625a1.6,1.6,0,1,1-3.208,0V14.437A1.606,1.606,0,0,1,8.021,12.833ZM1.6,14.437a1.6,1.6,0,1,1,3.208,0v9.625a1.6,1.6,0,1,1-3.208,0ZM4.678,34.57,2.956,32.56A5.608,5.608,0,0,1,1.85,30.478H3.276a4.749,4.749,0,0,1,2.441.676,4.8,4.8,0,0,1,2.3,4.136A6.4,6.4,0,0,0,10.207,40.1H6.416v-.835A7.224,7.224,0,0,0,4.678,34.57Zm.134,7.137H18.447a1.6,1.6,0,0,1,0,3.208H4.812Zm16.843,6.416H7.218v-1.6H21.655Zm2.406-3.208H21.209a3.107,3.107,0,0,0,0-3.208h2.852Zm-.653-11.5a7.231,7.231,0,0,0-.951,3.582V40.1H18.667a6.4,6.4,0,0,0,2.186-4.812v-.239a5.4,5.4,0,0,1,1.177-3.358,5.343,5.343,0,0,1,3.332-1.939,5.635,5.635,0,0,1-.437,1Zm0,0')
                                                path#Path_928.cls-1(data-name='Path 928' d='M113.6,339.65a1.574,1.574,0,0,1,.163-.686l-1.449-.69A3.179,3.179,0,0,0,112,339.65a3.195,3.195,0,0,0,4.585,2.89l-.69-1.449A1.608,1.608,0,0,1,113.6,339.65Zm0,0' transform='translate(-100.771 -304.359)')
                                                path#Path_929.cls-1(data-name='Path 929' d='M131.643,320a3.185,3.185,0,0,0-1.377.318l.69,1.449a1.608,1.608,0,0,1,2.291,1.441,1.573,1.573,0,0,1-.163.686l1.449.69a3.179,3.179,0,0,0,.318-1.376A3.211,3.211,0,0,0,131.643,320Zm0,0' transform='translate(-117.206 -287.918)')


                                    .statistics-box__data
                                        span.green  شباك نظيفة 90
                    
                    //- .common-title.mt-15
                    //-     p إحصائيات تفصيلية

                    //- .row.mobile-horizontal-scroll
                    //-     -for(let v = 0 ; v < 4 ; v++)
                    //-         .col-md-3.col-sm-6.col-xs-12.mt-15
                    //-             .stat-score.box-theme
                    //-                 .stat-score__head.bottom-grad2 هجوم
                    //-                 -for(let v = 0 ; v < 4 ; v++)
                    //-                     .stat-score__cell.flex
                    //-                         .stat-score__text أهداف
                    //-                         .stat-score__score.flex
                    //-                             .stat-score__gry 
                    //-                             .stat-score__main 68
                                                
                    //-                     .stat-score__cell.flex
                    //-                         .stat-score__text ضربات ركنية
                    //-                         .stat-score__score.flex
                                                
                    //-                             .stat-score__gry (لكل مباراة)
                    //-                             .stat-score__main 12
                    
                    
                    .common-title.mt-15 
                        p أهم اللاعبين
                        a(href="statistics-players.html") كل الإحصائيات

                    .most-players
                        -let arr =   ['هدافين','صناعة أهداف','كلين شيت','عدد المشاركات']
                        .row
                            -for(let x = 0 ; x < 4 ; x++)
                                -let _post = {title:arr[x]}
                                .col-md-3.col-sm-6.col-xs-12.mt-15
                                    include ../components/_most-players.pug
            .common-title.mt-15 
                p قائمة اللاعبين
            .players-list.most-players-card.mt-15
                -for(let r = 0 ; r < 30 ; r++)
                    a(href="player.html").most-players-card__player.single-player.bottom-grad.box-theme.mt-15
                        .most-players-card__info.bottom-grad2
                            .most-players-card__info-row
                                .most-players-card__name 1. ماركوس راشفورد
                                .most-players-card__score مهاجم
                            .most-players-card__club
                                .most-players-card__club-logo
                                    img(src="img/logos/1.png", alt="")
                                .most-players-card__club-name التعاون 
                                .most-players-card__pl-num.mr-max 29
                        .most-players-card__img
                            img(src="img/logos/99.png", alt="")
        

        
        
        
        
        aside.layout__item.layout__item--mini(id="layout_mini")
            div.sticky-box
                //- include ../components/_side-matches
                .box-theme.ads-card.p-15
                    img(src="img/300.jpeg", alt="")