#app-content.container 
    
    .layout
        main.layout__item.layout__item--large.active(id="layout_large")
            .breadcrumb 
                
                        
                .breadcrumb__section
                    li 
                        a(href="#") الرئيسية
                    li 
                        span سياسة الاستخدام
            .text-page.box-theme.p-15
                h1 شروط الإستخدام
                p 1- سعودي دوت كوم - هي بوابة رياضية شاملة، انطلقت خصيصاً للمجتمع السعودي المهتم بمتابعة الأخبار الرياضية في الساحة المحلية والعالمية. وعلامة تجارية مسجلة يحتوى الموقع على مركز مباريات متكامل ، اضافة الى الأخبار الحصرية للفرق واللاعبين في الدوري السعودي للمحترفين، كما يتضمن أقسام خاصة لأهم الأندية والدوريات العالمية التي تهم قطاع كبير من متابعي كرة القدم بالمملكة العربية السعودية
                p 2- سعودي دوت كوم وهو ملك لشركة ميديا بان آراب ومقرها دولة الإمارات العربية المتحدة وفقاً لقوانين مدينة الإبداع بالمنطقة الحرة وذلك بموجب القيد رقم ٨٦٩٨/٢٠١٦
                p 3- جميع المواد التي يتم نشرها على موقع سعودي دوت كوم - على سبيل المثال لا الحصر - الأخبار، المقابلات الصحفية، المعلومات، الصور، الرسومات التفاعلية، الإعلانات - محمية بحقوق التأليف والنشر وحقوق الملكية الفكرية وحقوق العلامة التجارية وحقوق المؤلف لدى العلامة التجارية للموقع والمملوكة لشركة ميديا بان آراب والشركات المرتبطة بها أو أطراف أخرى رخصت لها موادها لموقع سعودي دوت كوم
                p 4- إن جميع المواد المنشورة على الموقع مخصصة للاستخدام الشخصي غير التجاري، ولا يجوز نسخ أو نشر إو إعادة إنتاج هذه المواد أو تعديلها أو تحميلها أو تخزينها أو توزيعها عن طريق البريد الإلكتروني أو أية وسيلة إلكترونية أخرى
                p 5- إن أي تعدٍ أو استعمال دون وجه حق – خلافاً لما تقدم - لتلك المواد يشكل انتهاكا لحقوق التأليف والعلامات التجارية وحقوق الملكية الأخرى الخاصة بشركة ميديا بان آراب وموقع سعودي دوت كوم وهذا أمر محظور ما لم يكن هناك خطاب رسمي بذلك
                p 6- إن استخدام المواد بصورة مخالفة لما تقدم، يعرض الفاعل للمساءلة القانونية والملاحقة المدنية أو الجنائية، كما يكون ملزماً بالتعويض عن أي ضرر يلحق بالشركة و بالموقع نتيجة هذا التعدي، وعن أي ربحٍ فائت مترتب على الاستعمال غير المصرح به خلافاً لما تقدم والقوانين ذات الصلة.
                p 7- لن تكون شركة ميديا بان آراب وموقع سعودي دوت كوم مسؤولة تجاه مستخدمي موقعها "سعودي دوت كوم" عن الأضرار أياً كان نوعها، سواء كانت مستندة على مسؤولية تقصيرية بما في ذلك على سبيل المثال لا الحصر أي أضرار مباشرة أو غير مباشرة ناتجة عن أي أخطاء أو إغفال في التشغيل الفني للموقع.
                p 8- المواد التي يتم نشرها في أقسام (الأهداف، الراي) لا تعتبر حق من حقوق الموقع ولا يتم استغلالها اعلانياً بأي حال من الأحوال
                p 9- تتعهد شركة ميديا بان آراب بالمحافظة على البيانات الخاصة لمستخدمي موقعها وخصوصياتهم مع حفظ كامل حقوقها في عمل دراسات وأبحاث لتطوير خدماتها في تقديم المحتوى المقروء والمسموع والمرئي
        
        aside.layout__item.layout__item--mini(id="layout_mini")
            div.sticky-box
                .box-theme
                    p.formation-side__head.bottom-grad2 العنوان
                    .p-15
                        .usage-rules__logo
                            a(href="#")
                                img(src="img/mpa.png")
                        p.usage-rules__adress * الأمارات العربية المتحدة ، مكتب ٣٠٨ مدينة دبي للإنتاج
                
                .box-theme.mt-15
                    p.formation-side__head.bottom-grad2 إتصل بنا
                    .p-15.usage-rules__contact
                        .usage-rules__contactRow
                            span  فريق التحرير : 
                            span.usage-rules__contactMail editor@so3ody.com 
                        .usage-rules__contactRow
                            span الإعلانات : 
                            span.usage-rules__contactMail info@mediapanarab.com 
                        .usage-rules__contactRow
                            span طلبات التوظيف : 
                            span.usage-rules__contactMail jobs@so3ody.com 
                        .usage-rules__contactRow
                            span الشكاوى والمقترحات : 
                            span.usage-rules__contactMail tellus@mediapanarab.com 

                .box-theme.ads-card.p-15.mt-15
                    img(src="img/300.jpeg", alt="")
               
                