#app-content.container
    .layout
        main.layout__item.layout__item--large(id="layout_large")
            //- .primary-title.mb-15
            //-     h1  إنتقالات
            .breadcrumb 
                .breadcrumb__category
                    h1 إنتقالات
                    .breadcrumb__others 
                        a(href="#")  جدول الإنتقالات
                        a.active(href="#")  أخبار الميركاتو


                        
                .breadcrumb__section
                    li 
                        a(href="#") الرئيسية
                    li 
                        span إنتقالات
            //- .box-theme
            .row
                -for(let i=0; i<=0; i++)
                    .col-md-4.col-sm-6
                        -
                            let post = {
                                img:data.content[i].img,
                                caption:data.content[i].title,
                                modifier:'post-news--card',
                                category:true,
                                info:true   
                            }
                        include ../components/_post-news.pug
                -for(let i=1; i<=8; i++)
                    .col-md-4.col-sm-6
                        -
                            let post = {
                                img:data.content[i].img,
                                caption:data.content[i].title,
                                modifier:'post-news--card post-news--mobile',
                                category:true,
                                info:true   
                            }
                        include ../components/_post-news.pug
                -for(let i=0; i<=8; i++)
                    .col-md-4.col-sm-6
                        -
                            let post = {
                                img:data.content[i].img,
                                caption:data.content[i].title,
                                modifier:'post-news--card post-news--mobile',
                                category:true,
                                info:true   
                            }
                        include ../components/_post-news.pug
            a.btn.btn--primary.btn--viewall(href="#") عرض المزيد   
            
        
        
        
        
        
        
        
        
        aside.layout__item.layout__item--mini(id="layout_mini")
            div.sticky-box
                .trend.box-theme.mt-15
                    .trend__head.side-title.bottom-grad أخبار الميركاتو
                    -for(let i=1; i<7; i++)
                        -
                            let post = {
                                img:data.content[i].img,
                                caption:data.content[i].title,
                                modifier:'post-news--horizontal post-news--playlist post-news--transfers',
                                //- isVideo:true,
                                info:true,
                                //- length:true,
                            }
                        include ../components/_post-news.pug

                //- include ../components/_side-matches