#app-content.container 
    //- .main-tabs 
    //-     li.active(data-tab="layout_large") أخبار
    //-     li(data-tab="layout_mini") مباريات
    .layout
        main.layout__item.layout__item--large(id="layout_large")
            .breadcrumb 
                .breadcrumb__category
                    h1 فيديوهات
                    .breadcrumb__others 
                        a.active(href="#")  الأكثر مشاهدة
                        a(href="#")  الدوري السعودي
                        a(href="#")  أهداف الأسبوع
                        a(href="#")  المزيد
                        //- a(href="#")  إنفوجرافيك
                .breadcrumb__section
                    li 
                        a(href="#") الرئيسية
                    li 
                        span فيديوهات
            .row
                -for(let i=0; i<=0; i++)
                    .col-md-4.col-sm-6
                        -
                            let post = {
                                img:data.content[i].img,
                                caption:data.content[i].title,
                                modifier:'post-news--card post-news--video',
                                isVideo:true,
                                info:true,
                                //- abstract:true,
                                //- length:true,
                            }
                        include ../components/_post-news.pug
                -for(let i=1; i<=8; i++)
                    .col-md-4.col-sm-6
                        -
                            let post = {
                                img:data.content[i].img,
                                caption:data.content[i].title,
                                modifier:'post-news--card post-news--video post-news--mobile',
                                isVideo:true,
                                info:true,
                                //- abstract:true,
                                //- length:true,
                            }
                        include ../components/_post-news.pug
                -for(let i=0; i<=8; i++)
                    .col-md-4.col-sm-6
                        -
                            let post = {
                                img:data.content[i].img,
                                caption:data.content[i].title,
                                modifier:'post-news--card post-news--video post-news--mobile',
                                isVideo:true,
                                info:true,
                                //- abstract:true,
                                length:true,
                            }
                        include ../components/_post-news.pug
            a.btn.btn--primary.btn--viewall(href="#") عرض المزيد        
                   


        aside.layout__item.layout__item--mini(id="layout_mini")
            div.sticky-box
                include ../components/_side-matches.pug
                include ../components/_trend.pug
                include ../components/_survey.pug

